[2015-02-03 10:08] phreaknerd commented on #5620
I suggest to create an contributers.txt. Similiar to mediawiki.

[2015-02-03 11:25] jhass commented on #5620
Maybe we can just place a notice that directs to https://github.com/diaspora/diaspora/graphs/contributors ?

[2015-02-03 11:51] phreaknerd commented on #5620
Or place a humans.txt in root? Like https://github.com/humans.txt
I thing the list should be in the repo as a "physical" credit for all devs/translators/testers...

[2015-02-03 12:17] jhass commented on #5620
We demanded contributors to do the changelog changes themselves for some time. That lead to an incredible amount of conflicts and delays in PRs, so if we can have something automatic, I'd prefer that highly, since we do have many short-lived contributors.

[2015-02-03 12:21] phreaknerd commented on #5620
Ack.

[2015-02-03 13:09] Flaburgan commented on #5589
PR from @AugierLe42e is now merged, this can be closed.

[2015-02-03 13:38] #5589 closed

[2015-02-03 15:05] Flaburgan commented on #5618
I guess https://github.com/diaspora/diaspora/pull/5619 closed this one.

[2015-02-03 15:21] #5618 closed

[2015-02-03 21:29] Debakel opened #5621 "Resize images on client-side before uploading"
Instead of limiting the file size to 4 MB, high resolution images should be automatically resized on the client side before uploading them to the server. People are used to upload images straight from their camera and it's inconvenient to resize them manually.

One (easy) way to do this is described here: https://hacks.mozilla.org/2011/01/how-to-develop-a-html5-image-uploader/
##

<bountysource-pl

[2015-02-04 13:42] sam09 commented on #5540
Can you describe how to replicate the bug?

[2015-02-04 13:57] Flaburgan commented on #5540
@sam09 I think the title says all, you need to create a get request like described.

[2015-02-04 21:06] dadall commented on #5616
Here is a [topic](https://diaspote.org/posts/1898#e9eb17208d530132cd05001d92b033b9) about the same problem

[2015-02-05 07:41] Faldrian commented on #5366
I also would like an UI change for this. This situation just happened to me and I wrote a nice long helpful comment to explain something to a new person - and it gave me an error. Luckily I had the comment saved (just in case) - but if I had known this person is ignoring me, I would never have written the comment.

So I would like to extend this issue (if you are okay with that): The interaction-o

[2015-02-05 10:59] SansPseudoFix commented on #5366
:+1: @Faldrian

[2015-02-05 20:26] jaywink commented on #5591
Fixed via #5601

[2015-02-05 20:26] #5591 closed

[2015-02-06 00:35] sammy8806 opened #5625 "Disable sending Mails to User if already deleted"
Actually if a User deactivated his Account and somebody tries to send him a message an mail is sent to f.e. ```deletedaccount_30@example.org```.
This generates junk in the mailqueue.

[2015-02-06 00:37] jhass commented on #5625
Just something the AccountDeleter needs to do, plus a migration that does it for all already deleted users would be nice.

[2015-02-06 08:26] Anime-Machina commented on #5538
Still did not happen again, after aome time attempting to get the old logs fixed no results. We need to wait rill it happens at sone one else or my pod.

Work around: restart diaspora*

[2015-02-06 08:27] Anime-Machina commented on #5538
Wrong topic, ignore that

[2015-02-06 08:30] Anime-Machina commented on #5250
Any updates? O.o

It is still hapening

[2015-02-06 08:42] Flaburgan commented on #5250
@Anime-Machina are you running the last develop code? @jaywink fixed some javascript problem, but probably not that.

[2015-02-06 09:09] Anime-Machina commented on #5250
@Flaburgan I am not running latest develop due MySQL issue's which is being worked by dimaursu16 (IRC). The patch should be out soon after that ill try to verify it at the moment I am running head-p3674a5a0

[2015-02-06 16:32] marienfressinaud opened #5626 "Different rendering with <p> tag"
An easy one. I found a small rendering problem with `<p>` tag. If you have a look at my screenshot, you'll see on the first post there is no space between paragraph and list (this is the problem). In the second post, we can see a little margin (that's ok).

![capture d ecran de 2015-02-06 17 19 05](https://cloud.githubusercontent.com/assets/1436309/6082881/c11c1e5a-ae24-11e4-8b48-ad429a0b91f4.png)

[2015-02-06 16:35] Flaburgan commented on #5626
Okay, now you have to stop open issues and start to fix 'em all!

[2015-02-06 16:38] marienfressinaud commented on #5626
No time for that and I still don't build my Docker image for D* development :p It will come… one day ;).

[2015-02-06 17:38] marienfressinaud commented on #4326
I think I found your bug: this is just because just-published post are in the future! (see my screenshot). It seems once the current time has reached the last published post time, preview works as expected.

![capture d ecran de 2015-02-06 18 32 57](https://cloud.githubusercontent.com/assets/1436309/6084158/f5859392-ae2e-11e4-982c-5b52b058ec87.png)

Up to you to fix the bug :p

[2015-02-06 18:56] jhass commented on #4326
Wow, good catch!

[2015-02-06 21:27] sedrubal opened #5628 "automatically refresh site after changing membership"
Hi,

It would be nice, if the site automatically reloads after changing the membership with somebody.

[2015-02-06 21:29] jhass commented on #5628
Which page are you talking about exactly?

[2015-02-06 21:33] sedrubal opened #5629 "I have to search twice until I find something"
When I search someone, I often get
[code]

And when I search again, I can found the person.

[2015-02-06 21:36] sedrubal opened #5630 "membership dropdown sometimes broken"
![snapshot](https://cloud.githubusercontent.com/assets/5571650/6088770/615d88e2-ae5a-11e4-9491-89a826bca22c.png)

[2015-02-06 21:42] sedrubal opened #5631 "People's preview broken"
The preview for people appeares and dissappears sometimes, when I move the cursor on the avatar of a person.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/8359666-people-s-preview-broken?utm_campaign=plugin&utm_content=tracker%2F522&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysourc

[2015-02-06 21:47] sedrubal commented on #5628
Oh sorry.

I mean the user's page: `/people/<user hash/id>`

[2015-02-06 22:08] jhass commented on #5628
I believe your feature is already implemented in the current development head, if I misunderstood you and it's still not there after the next release (and after your pod updated to it), please reopen this issue.

[2015-02-06 22:08] #5628 closed

[2015-02-06 22:10] jhass commented on #5630
Please try uploading the screenshot again, wait till it no longer says "Uploading" before you submit the issue/comment.

[2015-02-06 22:12] jhass commented on #5629
This is unfortunately an architectural side effect that we can't do much about without heavy changes. I fear I have to say this is a won't fix for now.

[2015-02-06 22:12] #5629 closed

[2015-02-06 22:22] sedrubal commented on #5628
:+1:

[2015-02-06 22:23] sedrubal commented on #5629
ok

[2015-02-06 22:46] sedrubal commented on #5630
aah now it works ;)

[2015-02-06 23:35] jhass commented on #5630
That bug should be fixed in develop, although we have #5615 now.

[2015-02-06 23:35] #5630 closed

[2015-02-07 07:31] svbergerem commented on #4326
I was able to reproduce the bug (see #5275) and the last post in the stream had been posted more than 20 minutes ago.

[2015-02-07 08:05] svbergerem commented on #5617
Conversations are still rendered by the server: https://github.com/diaspora/diaspora/blob/develop/app/views/messages/_message.haml#L14

We are using [Redcarpet](https://github.com/vmg/redcarpet) as the markdown renderer. #4585 could fix this issue.

[2015-02-07 08:36] marienfressinaud commented on #4326
@svbergerem > I'm quite confident in my suggestion. Have a look to my following screenshot:

![capture d ecran de 2015-02-07 08 25 42](https://cloud.githubusercontent.com/assets/1436309/6091430/a2a6f512-aeab-11e4-80bb-82a89e4a96f6.png)

I have put my PC one hour earlier (8:25 instead of 9:25 ; btw, it is easy to reproduce now :)) and the bug happens with the first post which has been posted at 9:0

[2015-02-07 10:56] svbergerem commented on #4326
@marienfressinaud I don't say that posts from the future don't trigger this bug (and also #5275). When we add a post to the stream we first add it to a list of posts. We sort that list by date and check afterwards, if our new post is the first one in that list. In that case we would add the post to the top of the stream. Otherwise we would append it to the stream.

https://github.com/diaspora/dias

[2015-02-07 11:57] rebeka-catalina opened #5633 "Problem with contacts"
I have got problems with the contact list. Already long time ago I have seen that several contacts in my list are listed more times. I don't mean same person with 2 or 3 accounts, I mean the same account is listed up to 3 and 4 times in my list.
But yesterday I realised that other accounts aren't listet at all, but I know that it must be listed.
I know for sure, that the person still is sharing wi

[2015-02-07 12:24] Flaburgan commented on #5633
Can you tell us which server you are registered on?

[2015-02-07 12:26] #5615 closed

[2015-02-07 12:27] rebeka-catalina commented on #5633
Oh sorry, I forgot it :) Sure, it's diasp.de

[2015-02-07 12:27] jhass commented on #5633
Until somebody finds a way to reproduce, I'm not sure what we can do about this.

[2015-02-07 12:38] rebeka-catalina commented on #5633
Ok, just to clarify : Did you understand the problem as I described above ? My english is not the very best, I know and I'm sorry for it.
Or if you understood the problem : How can I give you more informations ?

[2015-02-07 12:49] jhass commented on #5633
Yes I think so and I doubt you can. We need a way to reproduce it with fresh accounts, so we can inspect the state in a local development installation.

[2015-02-07 12:52] goobertron commented on #5633
I know for sure, that the person still is sharing with me and I am sharing with her.

To confirm this, you could go to the profile page for that person (in diasp.de) and check that they are allocated to one or more aspect in the aspects dropdown. (You can check whether they are sharing with you by the colour of the bar under their main profile picture: if green, they are sharing with you; if grey,

[2015-02-07 12:58] rebeka-catalina commented on #5633
Some minutes ago I gave it a try with cliaspora.
I didn't think on it yesterday when I tried to find her in my contactlist.
`cliaspora list contacts | grep name` gave me back her ID, name and handle.
Perhaps not a Pod/Diaspora problem ?

[2015-02-07 13:14] rebeka-catalina commented on #5633
@goob : The problem with this is : When I send a search-query with her name she is not listed. Maybe she hasn't acitvated the search-option in her profile. In my contactlist she wasn't listed and that time I just remembered her name, but not her whole handle (name@somepod.org).
Now as I tried it with cliaspora and got the information I could go to her profile and yes I can confirm, that we are sti

[2015-02-07 13:27] marienfressinaud commented on #4326
Ok, I understand! I didn't pay enough attention to your comment (https://github.com/diaspora/diaspora/issues/5275#issuecomment-67144130).

An easy solution may be to add the preview post in a dedicated "box"? So it could help later for preview of comments (#4973) and private messages (#5210). Actually, it seems to me it is quite a hack to use infinite scroll methods in order to add a single post o

[2015-02-07 14:21] rebeka-catalina commented on #5633
Others also confirmed the problem. I've posted the problem publicly and one person answered that he has also seen more than once listed contacts - I asked him for the pod, because he also moved yesterday to another pod and he said he has had the problem on the old pod, but he didn't answer yet.
And just now I got an answer from another person, who's registered on wk3.org and she's got both problem

[2015-02-07 15:01] goob commented on #5633
@rebeka-catalina | @goobertron

[2015-02-07 15:15] rebeka-catalina commented on #5633
Sorry :-)

[2015-02-07 22:15] jaywink commented on #5250
This is an old bug. WHen you comment on something, it messes up the counts.

I can't find an old issue for this but it's been there for a looong time afaict.

[2015-02-07 22:50] Anime-Machina commented on #5250
It happens before comments aswel, but comments do make it worse...
On Feb 7, 2015 11:15 PM, "Jason Robinson" <notifications@github.com> wrote:

[2015-02-08 01:09] dimaursu commented on #5524
So, is this issue solved? I can assume from the current code that the issue is still here - because the "inactive" class is not removed before firing the AJAX request.

[2015-02-08 05:39] rivendale2010 opened #5636 "photo federation - develop"
running develop

when i post an uploaded photo to public, and the photo appears for my person under /photos for users logged in to the remote pod -- the corresponding post is NOT ever entered into the stream on the remote pod

on my local pod the post appears in the /stream and the photo is under my /photos as expected

[2015-02-08 20:44] jaywink commented on #5636
I'm not sure we can track single federation issues via the issue tracker. Especially as this could be very related to the remote pod sidekiq health.. :/

[2015-02-08 21:21] jhass commented on #5625
@sammy8806 can you check your DB whether disable_email is set to true for said user?

[2015-02-08 21:37] jaywink commented on #5604
Fixed via #5638

[2015-02-08 21:37] #5604 closed

[2015-02-09 01:29] #5373 closed

[2015-02-09 09:16] aka001 commented on #5626
I want to work on the issue. Is the issue already addressed?

[2015-02-09 11:03] svbergerem commented on #5626
@aka001 There is already a pull request for this issue: #5627

[2015-02-09 11:05] aka001 commented on #5626
okay.

[2015-02-09 12:22] TheRadialActive opened #5641 "Mentions aren't visible in notification title"
The notifications have the first line of the connected post as a title. If a mention is in the first line of the connected post, the mention won't get shown in the title.

![bildschirmfoto vom 2015-02-09 13 16 11](https://cloud.githubusercontent.com/assets/828436/6106058/5a7b7344-b05e-11e4-8d48-e1eb90cec077.png)

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://w

[2015-02-09 16:24] kas70 opened #5642 "add possibility to add people to private messages after creating one"
this could be some sort of replacement for groups, which many people are missing on d*.

[2015-02-09 19:41] goobertron commented on #5642
I disagree, because private conversations are private, therefore if one contributes to a private conversation, you don't want to find that someone has later added someone to the conversation without your agreement. You'd have to build in a function whereby every existing participant agrees to the addition before the person is added, or something like that. This suggestion needs Loomio discussion a

[2015-02-09 20:59] jaywink commented on #5085
Well I just went through the effort of creating a pod, creating a facebook app and following our wiki to make the integration - and everything worked smoothly - *there was at no point any need to submit anything for review*.

![](http://i.imgur.com/yRMHlqa.png)
![](http://i.imgur.com/QHbYmbP.png)

So closing this unless someone can prove that our current documentation is somehow out of date and pu

[2015-02-09 23:28] aka001 commented on #5564
I have made an attempt to solve this bug. Please review the pr:
https://github.com/diaspora/diaspora/pull/5643

[2015-02-10 04:37] svbergerem commented on #3998
I fixed this issue by scrolling to the first unread message. If there is no unread message right now I scroll to the top of the conversation. I could also scroll to the bottom and focus the form. Any opinions which solution is the preferred one? I will open a PR once #5417 has been merged to get rid of the conflicts first. I will also have to write some tests but the fix itself is ready.

[2015-02-10 04:39] svbergerem commented on #4818
I fixed this. See https://github.com/diaspora/diaspora/issues/3998#issuecomment-73643220. I will open a PR once #5417 has been merged.

[2015-02-10 04:46] svbergerem commented on #4572
I fixed this bug and will open a PR soon. See https://github.com/diaspora/diaspora/issues/3998#issuecomment-73643220.

[2015-02-10 09:47] qtheuret commented on #5085
@jaywink Did you try to link your Diaspora account with a Facebook account that is not an administrator of the Facebook application ?
I did that and if I link my Diaspora account with a Facbook account that is an administrator of the FB app, it works well but if I link it with a normal Facebook account, no message were sent to Facebook.

[2015-02-10 11:33] jhass commented on #5642
Please take this to Loomio then, we can reopen this issue once a decision has been made.

[2015-02-10 11:33] #5642 closed

[2015-02-10 13:21] Anime-Machina opened #5645 "[Notifications] Some people are not receiving notifications....?"
Had a ping today from some one on my pod that he or she is not receiving any notifications. It was a private post so I personally will not post his name unless he volunteers for it. Also I am not suffering from it my self so there must be some thing cache related.

Although facts on a row:

- I still get notifications by email,
- Last notification was about 5 hours ago, (I did not posted/reshared

[2015-02-10 13:26] Anime-Machina commented on #5522
***bump*** following it now!

[2015-02-10 16:47] goobertron commented on #5645
Linked to #5522.

[2015-02-10 17:20] svbergerem commented on #4866
Alright, #5417 fixed the two remaining issues. I'll close this issue now.

@goobertron you wanted to open a new issue about the post titles. I don't know if you did that so now you should get a notification as a reminder. ;)

[2015-02-10 17:20] #4866 closed

[2015-02-10 17:51] goobertron commented on #4866
Thanks for your care, Steffen. I did open a new issue, #5066, but forgot to link it to this one. It's great that you notified me, just in case.

[2015-02-10 18:46] davidbaumann commented on #5642
If the newly added user can only see the new messages, and can only be added by the creator of the group, I don't see a problem here.
It just has to be obvious, that some new user has been added.

[2015-02-10 19:11] svbergerem commented on #5370
I'll close this. @balasankarc if you still want this feature please create a thread on loomio. We can reopen this issue after a loomio vote.

[2015-02-10 19:11] #5370 closed

[2015-02-10 20:02] jaywink commented on #5085
@qtheuret OK I'll try that too and report back.

[2015-02-10 20:17] jaywink opened #5651 "Log in required to view profile on remote pod but not on local pod"
When viewing a profile on the home pod of that user, no login is required (which IMHO is correct behaviour since some information is currently always public).

However, when viewing this profile on another pod, log in is required.

For example, without logging in to either pod:

https://pod.jpope.org/u/hackernews OR https://pod.jpope.org/people/3f7b5360ad9a0131671600155811f2b8 <--- no log in requi

[2015-02-10 21:38] DeadSuperHero commented on #5651
It might be worthwhile to bring RedMatrix's MagicAuth system to Diaspora.

Basically, a user can view a profile on another pod and interact with it
(comment, like, message). It's also nifty because it takes permissions into
consideration; if I visit a link to a private post on Jason's pod, the post
would be visible to me since we are connected with one another.

All I know is that it's extremely h

[2015-02-10 23:02] Flaburgan commented on #5651
This is indeed a nice feature but it completely changes the way diaspora* is working. We don't need to federate the content everywhere if it is possible to go and see it on the pod of the writer.

[2015-02-10 23:27] DeadSuperHero commented on #5651
@Flaburgan It depends on how one defines the meaning of federating content. In Red, statuses and photos can still be federated between servers (assuming photos are included in a post), but certain things like photo albums can be kept on the remote pod for people to interact with, no federation needed. (This has actually been a historic problem with attempting photo album federation on Diaspora)

A

[2015-02-11 00:16] svbergerem commented on #5330
Here is a failing spec for this issue:

[code]

[2015-02-11 13:10] #5246 closed

[2015-02-11 13:20] #4572 closed

[2015-02-11 13:20] #4818 closed

[2015-02-11 13:20] #3998 closed

[2015-02-11 13:24] jhass commented on #5645
I think this is actually not only linked, but a duplicate. Our notification system is another thing that needs a redesign in the mid-term. As it is currently quite a bit weaved into the federation code, hopefully a nicer solution will fall at hand once that part is better decoupled from the application. For now, I don't think it makes much sense to have too many issues open about it.

[2015-02-11 13:24] #5645 closed

[2015-02-11 22:17] svbergerem commented on #4266
When someone comments on a limited post the subject still includes the beginning of the limited post.

[2015-02-12 01:16] #5616 closed

[2015-02-12 11:47] fscz opened #5656 "Tests not running from bin/rspec or bin/rake spec"
1
--
[code]
--

2
--
[code]
--

[2015-02-12 20:36] jaywink opened #5660 "Ability to mention whole aspects"
Currently, if you have a small set of people you want to ping in a message, it requires typing each name individually. It would be handy to be able to mention a whole aspect. Internally it could still be converted into separate mentions (for example explode the people as individual mentions on post save) - as long as the user doesn't have to do more than type `@aspectname`.

[2015-02-12 22:42] rivendale2010 commented on #5636
it was happening with all remote pods. the photo would be there but the post not, there was one exception that i'm aware of which was pod.geraspora.de, so thought it might have been an issue with compatibility between new and old versions

but it has since resolved itself :) not sure why. i did pull new updates and make some other config changes on my end, none of which i see a connection to, but

[2015-02-12 22:42] #5636 closed

[2015-02-12 23:04] jhass commented on #5660
If we do this, and I still have to form an opinion on whether I think that's a good idea tbh., I think it should be purely a convenience feature of the client side app, possibly replacing the `@aspectname` with the individual mentions the moment you press enter on the dropdown.

[2015-02-12 23:28] davux commented on #4137
Respectful bump. Any news?

[2015-02-12 23:35] jhass commented on #5656
I edited code fences into your post to make it readable at all.

If you have multiple issues, open multiple for them.

About 1, I did not verification work, but this looks like an incompatibility between a recent bundler and spring. I updated spring to the latest version, let's see if that fixed it for you.

About 2, make sure to always set `DB=postgres`, ideally export it in your $SHELLrc or use

[2015-02-12 23:35] #5656 closed

[2015-02-13 02:05] svbergerem commented on #5583
This is a duplicate of #4395.

[2015-02-13 02:05] #5583 closed

[2015-02-13 10:21] Flaburgan commented on #4137
@gavioto @davux when this is indeed interesting, I know nobody on the core team who has time to work on it. So if you want to, or find someone who wants to, you are welcome.

[2015-02-13 11:10] sam09 opened #5662 "The privacy page button has weird text"
Clicking on the profile page and then going to privacy settings, one can view the button with weird text.
![screenshot from 2015-02-07 02 52 50](https://cloud.githubusercontent.com/assets/6648290/6186402/e41b5964-b39e-11e4-997c-a9a064106e95.png)

The button text should be something more clear.

[2015-02-13 11:22] Flaburgan commented on #5662
Wow, right. This is the privacy settings page though, can you edit the title of your issue?

[2015-02-13 11:24] sam09 commented on #5662
Sorry.Fixed it.

[2015-02-13 11:31] Flaburgan commented on #5662
This is because of a missing translation `translation missing: en.users.privacy_settings.change`

[2015-02-13 11:34] svbergerem commented on #5662
`users.edit.change` exists so we could just use that.

[2015-02-13 12:45] #5569 closed

[2015-02-13 19:00] mdeboer commented on #3767
The changes required were quite simple if I remember correctly but require someone with more experience with the diaspora code base than me I guess. I just don't have the time nor the experience with diaspora to make and test those changes.

It boils down to adjusting the app permissions to request 'manage_pages' and requesting a list of user managed pages as I explained in the issue. There must b

[2015-02-14 20:58] awirstam opened #5668 "Image upload"
cant upload images to my diaspora server.
I run it locally on one on my computers.
 get this message: A problem occurred while uploading file login.png
 the image is still uploaded to the folder on my server even though im uploading from another computer.

[2015-02-14 21:19] #5529 closed

[2015-02-14 22:07] jhass commented on #5668
This is a setup issue. On IRC the following error message was provided:

[2015-02-14 22:07] #5668 closed

[2015-02-15 00:22] awirstam commented on #5668
So how do i fix it?

[2015-02-15 12:28] AugierLe42e opened #5670 "Refactor registrations"
Currently, the registration form block is written in [new.html.erb](https://github.com/diaspora/diaspora/blob/develop/app/views/registrations/new.html.erb#L22) and repeated in [new.mobile.haml](https://github.com/diaspora/diaspora/blob/develop/app/views/registrations/new.mobile.haml#L17).

 * [x] The form should be separated in _new.html.haml to let it be included in other pages (e.g splash page)

[2015-02-15 12:31] svbergerem commented on #5670
#5391 fixes the second point.

[2015-02-15 12:59] AugierLe42e commented on #5670
@svbergerem right ! À propos, what is [resource and resource_name](https://github.com/diaspora/diaspora/blob/develop/app/views/registrations/new.mobile.haml#L17) about ?

[2015-02-15 13:17] jhass commented on #5670
Devise supports using more than one model for authentication, so you could for example have `User` and `Admin` as completely distinct stuff, see https://github.com/plataformatec/devise#configuring-multiple-models

[2015-02-15 15:00] #2874 closed

[2015-02-15 18:30] giniouxe commented on #5662
Just submitted a PR.

[2015-02-15 19:39] #5662 closed

[2015-02-15 22:57] giniouxe commented on #4975
What about a link description which could explain where the link points, by changing  the alt text ?

[2015-02-15 23:01] #4055 closed

[2015-02-15 23:03] Flaburgan commented on #4975
That would be already better indeed, but the alt text is currently the date. You think about putting both?

[2015-02-15 23:11] giniouxe commented on #4975
Exactly

[2015-02-15 23:16] Flaburgan commented on #4975
Why not. Let's wait for other opinions on that.
I still would like to see a ![](http://www.icone-png.com/png/2/1662.png) icon on hover.
![](http://sotravel.fr/site/wp-content/themes/ensconce/images/icons/link-icon.png) means target="_blank" to me. We use entypo so you can check there if there is some nice icons.

[2015-02-15 23:20] giniouxe commented on #5670
I'd like to work on this one when https://github.com/diaspora/diaspora/pull/5391 will be merged, if it's OK.

[2015-02-15 23:25] svbergerem commented on #5670
@giniouxe Sure. :)

[2015-02-16 05:59] Makailija opened #5673 "Notifications with the same date but a different year grouped together on the Notifications page"
I have two notifications with the same date, February 11th, but a different year, 2015 and 2014, grouped together on the Notifications page. I don't believe this is intended behavior, because it does not make sense to me why they should be grouped. Can someone confirm this behavior? Here is a screenshot:

![notifications3](https://cloud.githubusercontent.com/assets/2229403/6207638/bf6a7b6e-b5af-11

[2015-02-16 09:54] viisauksena opened #5674 "cross-pod picture bug in posts"
Making a Limited Post - on the sender Pod everything looks fine but at the receiving pod there is this extra thumbnail (see picture) ... the original post consists of [some text, some youtube link and a picture]
the receiving pod is on latest code
Code head-pe9179e33  https://pod.rauberhaus.de/source.tar.gz
![diaspora-picture-bug](https://cloud.githubusercontent.com/assets/10057308/6209786/b303a2e

[2015-02-16 11:33] svbergerem commented on #5674
Duplicate of #4697.

[2015-02-16 11:33] #5674 closed

[2015-02-16 12:24] goobertron commented on #5673
Hmm, that's odd. And definitely not desired behaviour.

Have checked against two of my accounts: my main account (on a pod running 0.4.1.2) doesn't have this problem; my account on a pod running develop unfortunately doesn't have frequent enough notifications for there to be any two notifications on the same date from different years. We'll need someone else on a pod running develop to check that.

[2015-02-16 12:33] goobertron commented on #5361
@svbergerem I've just thought of one possible non-cluttering (or not-particularly-cluttering) solution: place the year either *above* the list on each page, or *along with* the date at the top of the list on each page. If the page contained notifications from more than one year, add the year also to the most recent date from the previous year, wherever it appeared on the page. E.g.:

**04**
Januar

[2015-02-16 12:34] svbergerem commented on #5673
I don't know much about ruby but [this](https://github.com/diaspora/diaspora/blob/develop/app/controllers/notifications_controller.rb#L47) looks to me like we are only comparing month and day. This would have been an issue for quite some time. @goobertron The code looks like the two notifications have to be on the same page. Only in that case, and if they were created on the same day but in a diff

[2015-02-16 12:35] goobertron commented on #4975
A description in alt-text could be something like 'See original post from {timestamp}', I suppose.

I'd be happy with adding a permalink icon like the one in Fla's second paragraph, although I don't strongly feel it's necessary.

[2015-02-16 12:47] svbergerem commented on #4975
I'm not really keen on changing the title of the link. We only set the timestamp as the title everywhere else and I think we should keep it that way. With the extra 'See original post from …' I think the title would be too long. I just checked how facebook and twitter are doing this. Twitter also uses the timestamp as a link and doesn't have any additional information about the behavior. On hover

[2015-02-16 12:59] jhass commented on #5361
Why not add a separator when we go Jan -> Dec?

[code]

And also display that separator at the top if the first notifications year is not the current year.

[2015-02-16 17:12] goobertron commented on #5361
That could work!

[2015-02-16 17:21] goobertron commented on #5673
Hmm, interesting. That's plausible. If you're right, it would be a pretty rare use case (hardly any notifications during the year but two falling on the same date one year apart), but still a loophole worth fixing!

You're right, it's several dozen pages back to a year ago on my main account. @Makailija, can you confirm whether that notification from a year ago would have appeared on the same page

[2015-02-16 17:46] #5361 closed

[2015-02-16 18:00] goobertron commented on #5673
Fixed by #5676 so can be closed.

[2015-02-16 18:03] Makailija commented on #5673
@goobertron  Yes, the notification would have been on the same page, as you supposed.

Thanks for the great work, guys, you're awesome!

[2015-02-16 18:11] #5673 closed

[2015-02-17 01:53] svbergerem opened #5678 "MessageRenderer#escape refactor"
In [message_renderer.rb](https://github.com/diaspora/diaspora/blob/develop/lib/diaspora/message_renderer.rb#L43) we have a TODO

That PR has been merged.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/8635558-messagerenderer-escape-refactor?utm_campaign=plugin&utm_content=tracker%2F522&utm_medium=issues&utm_source=github)** We accep

[2015-02-17 03:03] jhass commented on #5678
Seems to be in a 4.2 release, not sure about 4.1 though?

[2015-02-17 03:06] svbergerem commented on #5678
@jhass https://github.com/rails/rails/pull/9102#issuecomment-48091832

[2015-02-17 03:09] jhass commented on #5678
Yes, merged into the respective branch. Doesn't mean it's released.

[2015-02-17 12:20] #5586 closed

[2015-02-17 23:35] svbergerem commented on #3397
No further information for more than 2,5 years.

[2015-02-17 23:35] #3397 closed

[2015-02-17 23:41] svbergerem commented on #3411
This is a controversial feature. If someone would still like to see this implemented please open a thread on loomio first.

[2015-02-17 23:41] #3411 closed

[2015-02-17 23:54] svbergerem commented on #3452
The error message says that the server can't split nil in `ConversationsController#create`. Since 2013 ([commit](https://github.com/diaspora/diaspora/commit/b3c859bcd53f9efb95a0f4d3f353aaa0255c0bb5)) we make sure that `params[:contact_ids]` is not nil before splitting it which should have fixed this bug.

[2015-02-17 23:54] #3452 closed

[2015-02-18 00:04] svbergerem commented on #3528
We trim the search query now so leading or trailing spaces shouldn't be an issue anymore. Is anyone still able to reproduce this? (no dispatched Webfinger request when searching for a user)

[2015-02-18 00:07] svbergerem commented on #3631
duplicate of #4975

[2015-02-18 00:07] #3631 closed

[2015-02-18 00:16] svbergerem commented on #3749
You won't get a 500 anymore. There might have been some confusion about 'sharing' and 'receiving' so I will close this. If anyone witnesses this bug again feel free to reopen.

[2015-02-18 00:16] #3749 closed

[2015-02-18 01:01] svbergerem commented on #2569
We tell devise that email addresses should be case insensitive: https://github.com/diaspora/diaspora/blob/develop/config/initializers/devise.rb#L64

[2015-02-18 01:25] margori commented on #1802
This bug made irrelevant by PR #5634

[2015-02-18 01:40] svbergerem commented on #1802
@margori The feature is still in our codebase. ([UsersController#L154](https://github.com/diaspora/diaspora/blob/develop/app/controllers/users_controller.rb#L154)). #5634 only remove a button that said "Photo exporting currently unavailable".

[2015-02-18 02:28] #4301 closed

[2015-02-18 03:08] svbergerem commented on #4760
I tried this on the develop and master branch and wasn't able to reproduce the bug. @wiegelmann are you still able to reproduce this?

[2015-02-18 03:25] svbergerem commented on #4767
I think I fixed this [here](https://github.com/diaspora/markdown-it-diaspora-mention/commit/b899597dee88c8b4b3384604db6fa74b27ad211e). The fix will be in the next release of markdown-it-diaspora-mention.

[2015-02-18 03:40] svbergerem commented on #5186
Already happens on Bootstrap pages.

[2015-02-18 07:17] viisauksena commented on #5558
i am startingto write a workaround script which does not affect diaspora code itself,
it uses msql querys and Curl to obtain the defined idea above - as a shellscript
see https://github.com/viisauksena/diasp_group

[2015-02-18 11:39] WebDevFromScratch commented on #5366
I would like to jump in on this. I am new to using Diaspora though, so I'm probably going to need some time getting familiar with the code first.

[2015-02-18 11:49] svbergerem commented on #5366
@WebDevFromScratch Sure, you can ask if you have any questions.

@Faldrian AFAIK the list of ignored users is not federated so this would only work when both users are on the same pod, right?

[2015-02-18 11:58] Faldrian commented on #5366
@svbergerem
Hm.. but I don't understand how an action could fail so fast if my pod does not know the list of blocked users from a remote user. As far as I know there is no federation-roundtrip made before I get the ajax-response when commenting / interacting.
So there *must* be a list of blocked users present somehow.

[2015-02-18 12:00] jhass commented on #5366
Well, it's not unlikely that this only happens when the post author is local. The list of ignored people is most definitely not federated.

[2015-02-18 12:03] Faldrian commented on #5366
So if the person I interact with is on another pod, I will never know that interaction didn't succeed because I will get no error, no "missing comment" no nothing (because on local server the comment is stored when I comment...)?

[2015-02-18 12:08] jhass commented on #5366
Probably.

[2015-02-18 12:15] Faldrian commented on #5366
Somehow I don't like that local users and remote users are dealt with differently. That makes the network hard to understand for not-IT-savvy people. As I see it there are two options:

- make interaction with local users behave like interaction with remote users: Let the user comment, like, whatever ... but don't show that to the other user who is ignoring the interacting user.
- make interaction

[2015-02-18 12:49] jhass commented on #5366
I didn't come up with anything else either.

[2015-02-18 14:00] goobertron commented on #1802
Yes, it's still very important to implement photo exporting, and @margori if you could fix it, that would be fantastic!

[2015-02-18 14:39] Makailija opened #5681 "Mobile: Add the private profile contents to one's contacts' profile pages"
One should be able to see one's contacts' private profile contents, i.e. biography, location, gender and birthday, on their profile pages on the mobile view, like on the desktop view.

[2015-02-18 14:57] giniouxe commented on #5625
Is this still pending ?

[2015-02-18 15:02] jhass commented on #5625
See #5640

[2015-02-18 15:23] giniouxe commented on #5625
OK, thanks.

[2015-02-18 15:32] svbergerem commented on #5243
I'm not able to reproduce this with FF33 anymore.

[2015-02-18 15:59] jhass commented on #5243
I'm only on 65020004294a5982f36bb080c942e97da16abf18 but it still happens for me on FF35. The current behavior is that they don't vanish until scrolled off the screen.

[2015-02-18 16:10] svbergerem commented on #5243
I'm on https://github.com/diaspora/diaspora/commit/278ca84ec20fa446fe4134eae171c87eb4719772 and tested this with FF33 and FF35. I have no idea why that should have been fixed in between so I'll keep this open.

[2015-02-18 16:15] jhass commented on #5243
Just updated, still there for me.

[2015-02-18 16:16] jhass commented on #5243
Interestingly they also vanish after switching the tab, not after just tabbing away from Firefox.

[2015-02-18 17:38] #5244 closed

[2015-02-18 17:45] jhass commented on #5243
Fixed by #5682

[2015-02-18 17:45] #5243 closed

[2015-02-18 21:33] svbergerem opened #5684 "Allow additional profile fields (previously private profile) to be set public"
@jaywink tried to implement this in #4596 but closed the PR. I wasn't able to find a similar open issue.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/8693722-allow-additional-profile-fields-previously-private-profile-to-be-set-public?utm_campaign=plugin&utm_content=tracker%2F522&utm_medium=issues&utm_source=github)** We accept bou

[2015-02-19 02:44] #5564 closed

[2015-02-19 04:28] svbergerem commented on #5330
When a user creates a new conversation [deliver_to_local](https://github.com/diaspora/diaspora/blob/develop/lib/postzord/dispatcher.rb#L123) is called. That calls `Workers::Receive.perform_async` which calls [Postzord::Receiver::Private.parse_and_receive](https://github.com/diaspora/diaspora/blob/develop/lib/postzord/receiver/private.rb#L31).

In the logfile I can see `user:2 starting private rece

[2015-02-19 05:58] svbergerem commented on #5330
Forget what I wrote, I fixed this in #5686.

[2015-02-19 09:45] aka001 opened #5687 "<span ... > visible in html page in privacy page"
Instead of "Edit" text "<span .... >" is visible in privacy page.
![screenshot from 2015-02-19 15 14 00](https://cloud.githubusercontent.com/assets/4049383/6264444/1abb6d2e-b84a-11e4-94f2-dcf85427e0d4.png)

[2015-02-19 09:46] Flaburgan commented on #5687
This is already fixed in develop see https://github.com/diaspora/diaspora/issues/5662, please update your code.

[2015-02-19 09:49] aka001 commented on #5687
Okay got it. Thanks.

[2015-02-19 09:56] aka001 commented on #5315
I want to work on this issue.
I have a query, please clarify this.
By design, the email is not visible to other users.
So, is the issue about specifying in the settings page that the email isn't public?

[2015-02-19 10:00] Flaburgan commented on #5315
Yes, just add a explanation about it, like "Your email will never be seen by other users".
Maybe this should be indicated on the registration page too.

[2015-02-19 10:06] aka001 commented on #5315
Okay. I will do that and send a pr soon.

[2015-02-19 10:57] JamesC1 commented on #3528
I have performed my standard abuse-test:
- list new users on joindiaspora
- search for all of them on iliketoast
and not had any of the searches fail.

Is there anything that I could do in the user interface, that might
cause a search to be aborted, that iliketoast might interpret as a
caheable absence of a hit?

On 18/02/2015, Steffen van Bergerem <notifications@github.com> wrote:

[2015-02-19 11:31] #5687 closed

[2015-02-19 11:45] WebDevFromScratch commented on #5366
Okay, so I have been working on that and I have a question... Actually, a couple of questions ;)

So I implemented the initially requested fix, plus some extras. What I did:

* changed flash alert if commenting the post fails to sth more suggestive
* added flash alert if like fails
* fixed a bug in userLike method

And my question is, should I test it anyhow? I know the obvious answer would be 'su

[2015-02-19 11:58] jhass commented on #5366
Requires no test

Should at most be a RSpec controller if set in a server side action or a Jasmine test of the corresponding backbone view.

Should most likely also have a Jasmine test that fails without the change.

We have no problem at all with work in progress pull requests, especially if you want some feedback on your code early.

[2015-02-19 12:48] Makailija opened #5688 "[Mobile] It should be possible to see who has liked a post"
It should be possible to see who has liked a post in the mobile interface. Currently, you can only like & unlike posts by clicking the heart icon, and once you click the "reactions" link, you can see the amount of people who has liked a post, but as far as I can see, there is no way to see the list of the people who have liked the post.

[2015-02-19 13:13] #5330 closed

[2015-02-19 13:21] Flaburgan commented on #5330
<3

[2015-02-19 14:04] WebDevFromScratch opened #5690 "Re-sharing a post doesn't update the stream"
So, if you post a new message or comment, like, etc. the stream view updates. But when you re-share someone elses post it does not. Is it supposed to stay this way?

I hope I'm not repeating an issue here, I couldn't find a similar one (although it would be really weird if noone noticed this behaviour before).

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www

[2015-02-19 14:39] WebDevFromScratch commented on #5366
opened a pull request for this: https://github.com/diaspora/diaspora/pull/5689

[2015-02-19 14:46] jhass commented on #5690
Sure somebody noticed, but looks nobody cared to open an issue yet ;)

[2015-02-19 14:51] WebDevFromScratch commented on #5690
Okay ;) I can actually look into it, too.

[2015-02-19 21:52] svbergerem commented on #3528
Alright, I'll close this now. We can reopen this issue if anyone is able to reproduce it again.

[2015-02-19 21:52] #3528 closed

[2015-02-19 21:53] svbergerem commented on #3666
@Flaburgan Could you try to delete the comment again and share the logfile?

[2015-02-19 23:17] #5235 closed

[2015-02-20 02:11] #5625 closed

[2015-02-20 11:12] Makailija opened #5693 "[Mobile] Reshare count broken on streams"
On the mobile interface, the reshare count never shows the amount of reshares on streams. In the mobile "single post view", i.e. after clicking the timeago link, the amount of reshares is shown.

The same post on a stream:
![reshares-stream3](https://cloud.githubusercontent.com/assets/2229403/6285138/e267652e-b900-11e4-94ef-72d1890d3c33.png)
And in the single post view:
![reshares-spv](https://clo

[2015-02-21 01:08] rivendale2010 opened #5694 "pencil and check icons in left side bar, my aspect selection"
On a fresh install of develop branch the icons pencil.png and check_yes_ok.png in my aspect selection return 404. Pre-compile was done and browser caches were cleared.

The screen:
![untitled](https://cloud.githubusercontent.com/assets/1795059/6312032/41e378f2-b943-11e4-8327-7a3d760edb69.png)

The console log:
![untitled](https://cloud.githubusercontent.com/assets/1795059/6312049/85e83e66-b943-11e

[2015-02-21 05:36] rivendale2010 opened #5695 "on GUIDs and rendering posts from Redmatrix"
usually i can access any public post with /posts/GUID

but it does not work in case of redmatrix post having complex guid like 892dbd78f8b2ee24535f30a9791686f3b4dcca230e43fdd5d04401b165ff31c6@deadsuperhero.com

the post does exist with the full GUID in the database, but in the production log i can see that when it goes to render the post view it truncates the GUID at the period between deadsuperhe

[2015-02-21 09:01] PolynomialDivision opened #5696 "[Mobile] Clicking on right side of the screen activates a menu item"
Hi,

when I'm using Diaspora on my mobile (LG P880) with Fierfox for Android and I'm clicking somewhere on the right side of the screen I'm clicking on a menu item but the menu isn't open.
So when I'm clicking on the right side I go to settings or my activitys ...

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/8774963-mobile-clickin

[2015-02-21 09:29] Flaburgan commented on #5696
Could you please tell me which version of Firefox for Android you are using?

[2015-02-21 09:39] SansPseudoFix commented on #5696
Oh, indeed oO
Tried with Android 4.4.4 and Firefox 35.0 (with your web app @Flaburgan )

[2015-02-21 09:41] Flaburgan commented on #5696
We have to review and merge https://github.com/diaspora/diaspora/pull/5556 I'm sure it can improve the situation.

[2015-02-21 10:23] Polynomdivison commented on #5696
I'm using Firefox for Android 35.0.1

[2015-02-21 13:04] jhass commented on #5695
This is because of Rails format parameter, you can append .json or .xml to the post to get a respective representation. To allow dots in the component one would have to disable that feature and solely depend on the accept header, which I'm not sure we're specifying everywhere we're using that route for different formats. Besides I frequently slap .json on a post for debugging :P So I would tend to

[2015-02-21 14:44] jaywink commented on #3009
I doubt this is even workable and thus IMHO should be closed... From Facebook permission docs:

diaspora* is a web app - and thus, will not ever be granted this permission by Facebook.

[2015-02-21 15:14] svbergerem commented on #5363
Looks like Bootstrap 3 would fix this: http://getbootstrap.com/javascript/#modals-related-target (Open the modals and resize the textarea)

[2015-02-21 15:17] jaywink commented on #5260
The dates are wrong as discussed on various forums:

https://developers.facebook.com/docs/apps/upgrading#v1tov2

The problem I have is I can't figure out from anywhere *why* our current integration would even work, since we've *never* required afaict *publish_actions* - **and this is not changing in v2**.. Maybe time for a podmin poll..

But AFAICT our code should be all good with api v2. I don't

[2015-02-21 18:21] AugierLe42e opened #5697 "[Design] Fixed footer ?"
I wanted to pu that on Loomio, but I don't see any design section.
Here is how it looks like on [diaspote.org](https://diaspote.org) :

![fixedfooter1](https://cloud.githubusercontent.com/assets/3429231/6315310/b9d72712-b9fe-11e4-9b1d-25179bbd9234.png)
![fixedfooter2](https://cloud.githubusercontent.com/assets/3429231/6315311/b9e33e1c-b9fe-11e4-8f83-f199b8bae940.png)

<bountysource-plugin>
---
Wan

[2015-02-21 18:55] jhass commented on #5697
Sorry, but I don't like that at all.

[2015-02-21 18:58] svbergerem commented on #5697
I agree. Also let's wait until we ported everything to Bootstrap 3 and are doing the planned redesign before deciding if this should be implemented.

[2015-02-21 19:33] goobertron commented on #5697
Me neither, I'm afraid. It seems to unbalance the page to have the header bar reflected at the foot of the page; plus, it may look a bit odd especially on pages which have endless scrolling.

Thanks for coming up with new design ideas, Augier, and please don't stop, but I'm afraid this one doesn't work for me.

[2015-02-21 21:10] AugierLe42e commented on #5697
NP. I personally like that one. It shows off the '*powered by diaspora\* *' to me ;)

[2015-02-21 21:13] Flaburgan commented on #5697
I'm not a fan of the black background, but to see the footer at the bottom of the page even if there is no content before is a good idea imo, it currently looks not really smooth on the login page for example.

[2015-02-21 21:14] AugierLe42e commented on #5697
Me neither. :s

[2015-02-21 22:00] Flaburgan opened #5698 "Update the help section"
A lot of things changed in 0.5 so we need to update the help section. This task can be done by non-technical persons so don't hesitate to ask here if you want to help even if you know nothing about the codebase, we can help you.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/8788447-update-the-help-section?utm_campaign=plugin&utm_co

[2015-02-22 01:49] Raven24 commented on #5697
I think it might really work with the screen-filling picture, but not on the stream page, unfortunately

[2015-02-22 09:11] AugierLe42e commented on #5697
In fact, on the stream page, it' not  that weird. At the opposite, the current login page, for instance, with the footer at the three quarter of the page is really weird :

![footer](https://cloud.githubusercontent.com/assets/3429231/6318043/26b68e1e-ba7b-11e4-8237-4778120ee887.png)

[2015-02-22 10:19] jhass commented on #5697
That's why we replicated the footer contents in the right side bar. We should just hide the footer on the stream page though.

[2015-02-22 10:29] AugierLe42e commented on #5697
That's it... The right side bar is hidden on my computer and not clearly visible on my phone, which is why I've never noticed it.

[2015-02-23 15:38] #5690 closed

[2015-02-23 15:56] AugierLe42e opened #5700 "Let the user crop avatar"
This is an idea I've had in mind since I've seen avatar resizing mess on mobile.
I think it would be a cool idea to let the user crop its avatar when he uploads it.

I found a [jQuery plugin](https://github.com/fengyuanchen/cropper) that does it (maybe there's others). My main concern would be performance on low configurations.
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on

[2015-02-23 17:59] jhass commented on #5700
Ref #1511

[2015-02-23 19:08] dgets opened #5701 "URL shortening for crosspost links does not update current characters remaining"
My apologies if this was addressed in issue #2777; it didn't appear to be directly addressed in the primary issue, though I did see at least @stwf attempt to fix or at least put it into the schema.

The issue with the character feed not being accurate taking into account URL shortening is troublesome.  I do understand that the URLs _are_ truncated and that there is fallback for when the post blows

[2015-02-23 19:20] giniouxe commented on #5670
Hi,
Just to be precise, it's about creating a partial view for the desktop version of the form, or should I create one for the mobile version too ?
Thanks!

[2015-02-23 19:53] AugierLe42e commented on #5698
Maybe worth to make a list of changes @Flaburgan ?

[2015-02-23 20:28] jaywink opened #5702 "Configuration defaults - memory usage"
I'd like to change our defaults to make sure diaspora* uses the least amount of memory necessary in a basic production install. We can then adapt the install guides with some hints on how to raise performance.

Most pods however start small and someone running diaspora* on a small 1-2GB VM should be able to do so with default settings, not have to witness crashes and tune down.

Have I understood

[2015-02-23 20:36] jhass commented on #5702
I guess there's no point in reasoning about these, my reasoning is what the current values came out of. Somebody has to try with different values how they affect memory usage and performance.

[2015-02-23 20:38] jaywink commented on #5702
Sure I'd be glad to run some real field tests first - just wanted to open discussion as sick of constantly answering the OOM calls from new podmins running on <2 GB servers.. :)

[2015-02-23 20:40] jhass commented on #5702
I run a 2GB server with lots of stuff besides diaspora: https://usage.aeshna.de/aeshna.de/aeshna.aeshna.de/memory.html

[2015-02-23 21:34] rivendale2010 commented on #5695
if you are aware of it and don't think it's a problem in other areas then cool :) the logic in some of my scripts would work better if it were there but i can be fine without, i do still have post/123 which will at least work locally

[2015-02-23 21:34] #5695 closed

[2015-02-23 22:30] svbergerem commented on #5670
@giniouxe `_new.html.haml` would be only for the desktop version and I think that is what @AugierLe42e had in mind when opening this issue.

[2015-02-23 22:45] AugierLe42e commented on #5670
@svbergerem : Yes, it would let it to be included in another page e.g landing page like on diaspote.org :

![](https://cloud.githubusercontent.com/assets/3429231/6315310/b9d72712-b9fe-11e4-9b1d-25179bbd9234.png)

[2015-02-24 23:58] manwesulimo2004 commented on #4973
So, has this been implemented?

[2015-02-25 07:45] Flaburgan commented on #4973
Not at the moment, you can work on it if you want to.

[2015-02-25 08:03] norayr opened #5704 "no message if email is wrong while recovering password."
when user tries to recover the password, fiils email address, presses "Forget Password" link, nothing happens, if email does not present in database. It does not say that no user with that email registered.

User has to guess that email he/she entered is wrong and enter right email. Only then message happens that email has been sent to that address.

<bountysource-plugin>
---
Want to back this iss

[2015-02-25 08:41] Flaburgan commented on #5704
This has already been fixed in the coming version, see https://github.com/diaspora/diaspora/issues/5321

[2015-02-25 10:16] #5704 closed

[2015-02-25 11:55] BBK-SDP-2015-dhassa02 commented on #4973
@manwesulimo2004 Hey! We got an implementation working for this feature, but was not in line with core teams vision of how the feature would be best approached - so got shelved... would be happy to link the branch we were working on, if this would be of interest to you :)

[2015-02-25 13:28] goobertron commented on #4767
@svbergerem any way of testing your fix, so we could (hopefully) close this issue? Could we release the new version of markdown-it-diaspora-mention, or are there compatibility issues with diaspora code earlier than 0.5?

[2015-02-25 13:35] goobertron commented on #4973
@BBK-SDP-2015-dhassa02 would you be willing to complete your PR according to the current UX, as you said in a comment above? It would be great to get this implemented, and if you liked you could be part of creating an improved UX for all inputs in diaspora once everything has been ported to bootstrap.

[2015-02-25 19:56] svbergerem commented on #4767
@goobertron markdown-it-diaspora-mention has been integrated after the last release and this is just a ui fix so there are no compatibility issues with earlier releases.

I guess there is not much you can do right now. I will release a new version of markdown-it-diaspora-mention (and other markdown-it plugins) soon and update the version in the Gemfile afterwards. I don't have much time right now

[2015-02-25 22:38] goobertron commented on #4767
That's fantastic, thank you so much. Didn't want to put pressure on you, but I wasn't sure of the status of this. I really appreciate your work.

[2015-02-26 09:02] AugierLe42e commented on #5621
Related to #5700.

[2015-02-26 10:39] Flaburgan commented on #4035
We just reproduced the problem between diaspora-fr.org and diaspote.org.

The [original message](https://diaspote.org/posts/b0693a809cce013293530af502428d70) was posted on **diaspote.org** by dada@diaspote.org.
Here is how the message appears [on diaspora-fr.org](https://diaspora-fr.org/posts/b0693a809cce013293530af502428d70).

As you can see, some comments posted on diaspora-fr.org never reached

[2015-02-26 11:38] dadall commented on #4035
@Flaburgan : I have nothing related to b2e157e09f5201324e101e696c267a28. What is the problem with my SSL Cert ? It works perfectly since weeks now.

I'm still receiving messages on my post, it really seems to be a random problem :/

[2015-02-26 13:17] jhass commented on #4035
You mean you've seen it. We still do lack a way to reproduce it.

[2015-02-26 13:20] Flaburgan commented on #4035
Does that error message mean anything to you @jhass?

[2015-02-26 13:46] jhass commented on #4035
Sounds like a configuration issue: http://erdani.com/d/library/etc/c/curl/curl_error.ssl_cacert_badfile.html

[2015-02-26 14:53] Flaburgan commented on #4035
Well, I reach diaspote.org without problem:
[code]

[2015-02-26 15:18] jhass commented on #4035
Yeah, I suspect your `certificate_authorities` setting points to garbage.

[2015-02-26 15:49] Flaburgan commented on #4035
`certificate_authorities: '/etc/ssl/certs/ca-certificates.crt'` and the certificates are there. This is my production pod, I would have noticed that before ;)

However, curl doesn't look to have the c-ares even if it has AsynchDNS:
[code]
Is that a problem? I used @jaywink's  ppa to upgrade curl on Ubuntu 12.04 LTS.

[2015-02-26 18:43] SWW13 opened #5705 "invite registration not working in mobile view"
Unable to register new user in mobile view using invite link. (not allowed)
after switching over to normal view registration is possible.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/8977817-invite-registration-not-working-in-mobile-view?utm_campaign=plugin&utm_content=tracker%2F522&utm_medium=issues&utm_source=github)** We accept

[2015-02-26 21:39] svbergerem commented on #5705
@SWW13 Is this a duplicate of #5467?

[2015-02-26 21:43] SWW13 commented on #5705
I haven't found this bug by myself, but it sounds pretty much like a duplicate.
I think we can close this one as duplicate.

[2015-02-26 21:43] #5705 closed

[2015-02-27 08:48] aka001 commented on #5315
I will continue on this issue later. Meanwhile if someone wishes to fix this issue, feel free to do so.

[2015-02-27 08:49] aka001 commented on #5698
I would like to help with this issue. Please help me in getting started.

[2015-02-27 09:03] Flaburgan commented on #5698
@aka001 this is not a technical issue but only a check that actual help texts match the new version of diaspora*. So, simply open diaspora* running the last develop code, go to the help section, read and change it if needed to reflect the new diaspora* interface.

[2015-02-27 09:28] aka001 commented on #5698
@Flaburgan Okay. I will create a pr for the same.

[2015-02-27 09:43] aka001 commented on #5698
I have started with this pull request https://github.com/diaspora/diaspora/pull/5706 . Kindly have a look.

[2015-02-27 11:31] aka001 commented on #3824
@jhass The changes I make in script/server doesn't reflect when I run the command "rails server". The command "rails server" is also to the file "config/load_config.rb".
I don't know where am I going wrong. Please help me.

[2015-02-27 12:35] jhass commented on #3824
To run `script/server` you run, well, `script/server`. `bin/rails server` does not run the script and never will.

[2015-02-27 13:46] aka001 commented on #3824
@jhass Got that. Thanks. I have created a pr https://github.com/diaspora/diaspora/pull/5708 .

[2015-02-27 14:36] #5350 closed

[2015-02-27 14:53] #5598 closed

[2015-02-28 11:42] #4767 closed

[2015-02-28 16:34] jaywink commented on #4926
While this is important, no one is still working on it and we can't make 0.5 depend on this. Moving to next-next.

[2015-03-01 09:00] S-Ercan commented on #5631
Fixed and created PR https://github.com/diaspora/diaspora/pull/5714 for this.

The issue was the following:
If, on hover, your mouse pointer happened to be just off the border of the appearing hovercard, this would register as a `mouseleave` event in the hovercard and the hovercard would then get hidden again.
As a result, the `mouseenter` event in the original element that you hovered on was trig

[2015-03-01 16:00] jaywink commented on #4035
Am I to understand from [this test](https://sslcheck.globalsign.com/en_US/sslcheck?host=diaspote.org#149.91.83.42-srv-reg-cert-ssl-misc) that diaspote.org doesn't send the root CA correctly? Totally not an expert, but @dadall can you check your `certificate_authorities` setting points to a correct file AND it is readable by web server?

[2015-03-01 16:09] jaywink commented on #4035
Also, I wonder if turning on [this](https://github.com/diaspora/diaspora/blob/develop/config/diaspora.yml.example#L439) would help for debugging?

[2015-03-01 18:13] jhass commented on #4035
turning that on on a prod pod will just cover you completely in debug output  :P

`certificate_authorities` controls which CAs your pod trusts when making *outgoing* connections, that's all.

[2015-03-02 00:20] jhass commented on #4575
Fixed through the boostrap port.

[2015-03-02 00:20] #4575 closed

[2015-03-02 00:22] jhass commented on #5186
Indeed.

[2015-03-02 00:22] #5186 closed

[2015-03-02 03:07] jhass opened #5716 ":active link color in bootstrap header is blue"
Or whatever the pseudo class is there (happens during drag for example):

![](http://cloud.aeshna.de/u/mrzyx/screenshots/screenshot_20150302_040829.png)

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/9099258-active-link-color-in-bootstrap-header-is-blue?utm_campaign=plugin&utm_content=tracker%2F522&utm_medium=issues&utm_source=githu

[2015-03-02 08:37] Makailija opened #5717 "Regression: Month not localized correctly on notifications page"
I think #5676 introduced a tiny regression: the month on the notifications page is not correctly localized, like it is on 0.4.1.2. On diasp.net, which is running the development version of the code, the date on Finnish localization settings has the form "1 tammikuu" (1 January), which is ugly to the Finnish eye. On diasp.eu, which is running 0.4.1.2, the date has the form "1 tammikuuta" ("-ta" in

[2015-03-02 10:16] Flaburgan commented on #5717
Localization looks fine in French, I guess this is specific to finnish.

[2015-03-02 11:22] Makailija commented on #5717
At least the problem should not be with the Finnish locale file, because the string date.formats.fullmonth_day is [there](https://github.com/diaspora/diaspora/blob/develop/config/locales/diaspora/fi.yml#L349).

I am not a coder, but after staring the changes made in #5676 for a while it seems to me that the problem is rather that after it, the string date.formats.fullmonth_day is not used any more

[2015-03-02 12:01] Makailija commented on #5717
I also noticed that in 0.4.1.2 on some locales, such as pt-PT, pt-BR and es-AR, there is only the word "de" instead of the month on the notifications. On these locales, the string date.formats.fullmonth_day has the form "%d de %B", so apparently the original solution for parsing the month name out of that string is not optimal either.

[2015-03-02 12:10] jhass commented on #5717
Okay, tricky. #5676 separated getting the month into a [distinct method](https://github.com/diaspora/diaspora/pull/5676/files#diff-dc59178550cfc563d3d18c4b8f2cba2cR62) so it [can style them separately](https://github.com/diaspora/diaspora/pull/5676/files#diff-c13fac8e35d211d862c92883968c5593R54) without relying on the format, which in itself is more correct and probably should even have improved i

[2015-03-02 12:12] #5631 closed

[2015-03-02 12:15] Raven24 commented on #5717
could it be because the I18n.l is passed the date as string, not as a date object... ?

[2015-03-02 12:17] Flaburgan commented on #5694
I guess https://github.com/diaspora/diaspora/pull/5715 fixed that. At least, I can't reproduce.

[2015-03-02 12:21] jhass commented on #5694
I can: ![](http://cloud.aeshna.de/u/mrzyx/screenshots/screenshot_20150302_022732.png). That path is longer generated by Rails 4, you probably just happen to have an old version still floating around.

[2015-03-02 12:23] jhass commented on #5717
See my first link. The previous version was splitting on the result of `date.formats.fullmonth_day`, the new version formats with `%B` directly.

[2015-03-02 17:06] moormanator opened #5720 "Safari Login Problem"
A friend complained to me that he was having difficulty accessing both of his pods from Safari On Mac OS X 10.7 and 10.6. So I set up from my own Mac two new accounts on different pods:

https://pod.orkz.net  (code 0.4.1.2-p5cabd692 )
https://kosmospora.net (0.4.1.2-p0bfad313)

My Mac OS X version is 10.10.2 (Yosemite)
Safari is running on build 8.0.3
Firefox is running on build 36.0
Chrome is run

[2015-03-02 17:17] jhass commented on #5720
Can anybody reproduce this?

I'm sorry, but this sounds very much like you just entered the wrong credentials, I don't see how Browser choice could affect that.

[2015-03-02 18:53] Flaburgan commented on #5720
I confirm that I am able to log in on stable (diasp.org, framasphere.org and joindiaspora.com) and develop (diaspora-fr.org) pods using Mac OS Yosemite and Safari 8.

[2015-03-02 20:49] moormanator commented on #5720
OK, this is strange. When I was keying it in earlier this morning, I checked and double checked the login and password multiple times prior to submission. I even went back and forth 5 or 6 times between Chrome and Safari, logging in with chrome successfully, but having no luck with safari.  However, I stopped and waited 2 hours and now everything works.

However,  my friend in Berkeley is still ha

[2015-03-02 20:51] moormanator commented on #5720
Thanks, by the way for responding so quickly. Any work around for my friend would be greatly appreciated.

[2015-03-02 21:03] Flaburgan commented on #5720
10.7 is mavericks right? I'm able to log in to joindiaspora.com and framasphere.org on Mac OS 10.7 using Safari 7 and Firefox

[2015-03-02 21:23] moormanator commented on #5720
Thanks for testing with Safari 7. Very helpful. I'm going to call my Berkeley friend back tonight and walk through every step with him.

[2015-03-02 21:32] Flaburgan commented on #5720
Ask him if he is sure to try to sign in the right pod.

[2015-03-02 23:57] cmshawns commented on #3467
Looking at the growing bounty for this issue (which I'm happy to see), has anyone discussed how the bounty would actually work? "Create an API" is not a simple task and will likely involve many people and many contributions.

[2015-03-03 09:19] Flaburgan commented on #5330
@svbergerem you can claim the bounty btw: https://www.bountysource.com/issues/5216010-private-messages-do-not-make-notification-for-new-message-when-new-thread-is-open

[2015-03-03 12:47] goobertron commented on #5720
I have just logged in successfully to both pods using Mac OS 10.7.5 and Safari 6.0.5. So this issue is unreproduceable by me, using the OS and browser indicated.

If your friend now can't log-in using Firefox either, this suggests strongly that something is wrong in his set-up. I'd suggest using someone else's machine to see if he can log in; if that doesn't work, suggest he click the 'Forgot your

[2015-03-03 13:06] jhass commented on #5720
Closing for now, if anybody can reliably reproduce with a fresh account, please indicate so.

[2015-03-03 13:06] #5720 closed

[2015-03-03 15:33] DoctorJellyface opened #5723 "Mobile site: Menu is always present on Opera Mini (J2ME version)"
While browsing the D* mobile site on Opera Mini 8.0.35625 (J2ME) on my Sony Ericsson Hazel, the menu (with aspects, profile, etc., present in the top right) is always present, behind the other content. It's very hard to post something, because the buttons interfere with the controls.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/91

[2015-03-03 15:43] jhass commented on #5723
Maybe we should define which mobile browsers we support, I wouldn't be sure whether we want to support this one to be honest.

[2015-03-03 15:43] DoctorJellyface commented on #5723
I agree, but it works fine on all other pages. It seems like a minor fix.

[2015-03-03 15:45] Flaburgan commented on #5723
So, which page is this about?

[2015-03-03 15:48] DoctorJellyface commented on #5723
Oh, my fault, by other pages I meant **other sites**, sorry for that.

The bug seems present everywhere where the header bar is.

[2015-03-03 22:49] CannyFoxx opened #5725 "No connection with other pods"
Hello! Today I reinstalled my pod (he stand on production server) with wiping all data. After installation, i tried to follow some people from other pods. Some of them set automatically following. But now they don't follow me.
I tried to create account on other pod and follow myself on my pod. Data shown in this pod were outdated, and I have not received notification of the follow from another pod

[2015-03-03 23:20] Flaburgan commented on #5725
You said you wipe all data. Did you recreate user (with the same username) on a new pod but still using the same domain name? Because you cannot do that.

[2015-03-03 23:27] Flaburgan commented on #5607
Wow, this is actually a duplicate of https://github.com/diaspora/diaspora/issues/5018, closing.

[2015-03-03 23:27] #5607 closed

[2015-03-03 23:30] CannyFoxx commented on #5725
Yes, i used old domain with username. So, can i send some request to other pods for deleting old username?

[2015-03-03 23:33] Flaburgan commented on #5018
Btw, it is not only in the notification dropdown, but everywhere we call the title of a post: In the subject of the notification email, in the `<title>` of the SPV, in the atom feed...

[2015-03-03 23:36] gordon-morehouse opened #5726 "UX: "X" to close in post textarea can sometimes overlay text"
![diaspora x 2](https://cloud.githubusercontent.com/assets/304300/6475010/c71f1c0e-c1ba-11e4-82e4-a19d9f3e35b3.png)

Text in the post-entry textarea can sometimes be mashed together with the "X" to close, thus making it hard to see the "X." If a user clicks to place their cursor in the affected area, all text in the textbox is lost.

The X should be moved. See attached.

<bountysource-plugin>
---

[2015-03-03 23:39] Flaburgan commented on #5726
The publisher has be completely rewritten in the next release so this bug is not here anymore. Thanks for reporting anyway ;)

[2015-03-03 23:50] svbergerem commented on #5726
This is the new publisher:
![](https://cloud.githubusercontent.com/assets/3798614/6475271/740e999c-c208-11e4-96d0-c3be0fa51b30.png)

[2015-03-03 23:50] #5726 closed

[2015-03-04 00:28] gordon-morehouse commented on #5726
Sweet!

[2015-03-04 00:28] jhass commented on #5725
No you can't. Your options are to get a backup of your old DB, close your account and choose a different username (same for all usernames that existed on the previous installation) or reinstalling to a different domain name.

This is by design and a won't fix to prevent identity theft.

[2015-03-04 00:28] #5725 closed

[2015-03-04 00:46] #1802 closed

[2015-03-04 09:05] SansPseudoFix commented on #5716
This is for :focus. But what color is this suppose to be ? Stable version have ````a:focus```` black. Still ok ?

[2015-03-04 09:41] marienfressinaud opened #5727 "Add warning for old profile data"
With the new system to download profile data, user has to refresh its data before downloading them. Even if there is a date indication, it could be great to add a kind of warning message to indicate for instance if the last refresh is older than 2 weeks in order to prevent download of old data.

I don't know if this message should appear after an arbitrary time or if it is possible to know if a us

[2015-03-05 21:34] AugierLe42e opened #5732 "Use Formstone Boxer to display the photos"
[Formstone Boxer](http://formstone.it/components/boxer) is a jQuery plugin that lets you display the photos correctly in a full page. I'm using it in a school project. Very easy to use. It is MIT license. You can find demos on the website.

**Edit** : let me be a bit more precise : I don't propose this for design but to easier the code maintenance. Everything that let us reduce the code and rely o

[2015-03-05 21:43] jhass commented on #5732
I don't like the white border around it.

[2015-03-05 23:35] AugierLe42e commented on #5732
This can be overriden by CSS rules. And it will always be better than what we have now.

[2015-03-06 12:24] SansPseudoFix commented on #5732
Yeah, with some CSS rules, it could be pretty cool. And it's mobile friendly.

[2015-03-06 13:57] AugierLe42e commented on #5732
@SansPseudoFix : Do you want to take care of it ?

[2015-03-06 15:16] Flaburgan commented on #5732
Why? What's bothering you in what we have now? I see no bug, I don't want to waste time on something which works when we have so many things to do.

[2015-03-06 16:07] Flaburgan commented on #5283
With the port to bootstrap, the rightSide bar is not using images anymore. We should rename this issue indicate that it's about the header now.

[2015-03-06 17:47] sougonnatakumi commented on #4172
Wait. Was this about allowing logging in at diaspora* with a facebook/twitter account, or allowing a diaspora* account to be used to log into other sites the way facebook and twitter can be used?

[2015-03-06 22:43] #5018 closed

[2015-03-06 22:44] #5716 closed

[2015-03-07 15:09] AugierLe42e opened #5737 "Weird error message on too long tag"
Not sur this is an issue but raising it anyway.

![Text displayed : {"status":"500", "error":"Internal Server Error"}](https://cloud.githubusercontent.com/assets/3429231/6541793/28dab18e-c4e4-11e4-91eb-8d6472f2a8dc.png)

Tested on diaspora-fr.org

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/9297964-weird-error-message-on-too-long-

[2015-03-07 15:23] SansPseudoFix commented on #5737
And worst with dev enironment (error message is too long to post here).

[2015-03-07 15:29] AugierLe42e commented on #5737
Yeah ! \m/

[2015-03-07 16:50] jhass commented on #5737
One of you wants to dig the actual error out of the log?

[2015-03-07 16:51] jhass commented on #5737
Also this is two bugs, please open a separate one about the incorrect failure response formatting in the new publisher.

[2015-03-07 17:05] svbergerem commented on #5737
@jhass
[code]

[2015-03-07 18:10] jaywink opened #5739 "Fetch remote user public posts on fetch user"
Currently when adding a user previously unknown to current pod, profile of user is fetched but not earlier public posts. To allow seeing users previous public posts, a subset (10?) of them should be fetched also.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/9302355-fetch-remote-user-public-posts-on-fetch-user?utm_campaign=plugin&u

[2015-03-07 18:30] jhass commented on #5739
Uhm, we do this, don't we? https://github.com/diaspora/diaspora/blob/develop/app/workers/fetch_public_posts.rb

[2015-03-07 19:10] Raven24 commented on #5739
#3482 well, if it doesn't work, that's a regression then

[2015-03-08 15:38] jaywink commented on #5739
Well, [looking at the code](https://github.com/diaspora/diaspora/blob/develop/lib/diaspora/fetcher/public.rb#L78), it fetches `/people/[guid].json` which doesn't contains any posts - which could be a problem ;)

Check mine for example: https://iliketoast.net/people/7ed1555bc6ae03db.json

[2015-03-08 17:40] Raven24 opened #5742 "publisher doesn't clear char counter after closing"
... I test-posted to a service with character limit, and after the post was submitted, the char counter remained visible. see the screenshot:

![2015-03-08_publisher_counter](https://cloud.githubusercontent.com/assets/117366/6546806/64eeabba-c5c2-11e4-8af4-0979f3efec33.png)

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/9328672-publ

[2015-03-08 17:58] Raven24 commented on #5739
oh, you're right. that behaviour changed when I ported the profile page to backbone.js (#5180)
... that's why we tell people not to rely on our json endpoints :P

[2015-03-08 21:03] Flaburgan opened #5745 "Conversation pagination design is broken"
![screen](https://cloud.githubusercontent.com/assets/930064/6547667/ee63bab8-c5de-11e4-9d36-effaaa226f00.png)

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/9333521-conversation-pagination-design-is-broken?utm_campaign=plugin&utm_content=tracker%2F522&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https

[2015-03-09 19:01] #5694 closed

[2015-03-09 19:27] davidbaumann opened #5748 "Empty mention list"
Hello,

some functions like the stream in Diaspora take some seconds to load.
My mention list is empty, and it just looks like it was still loading to me.

Maybe an empty list should be like "You have not been mentioned yet" or something like that.

What do you think?

David.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/9358937-em

[2015-03-09 19:29] davidbaumann commented on #5367
Same thought here...

[2015-03-09 20:30] AugierLe42e commented on #5732
Hmm... I suppose we can also use [Bootstrap's carousel](http://getbootstrap.com/javascript/#carousel) ?

[2015-03-09 20:33] davidbaumann opened #5750 "Switch back to mobile version"
In chrome for Android, I cannot switch back to the mobile version.
I scroll down, but then the page loads more entries, so even if I manage to click, it's not working.

[2015-03-09 20:41] jhass commented on #5750
Use the link in the right sidebar.

[2015-03-09 20:41] #5750 closed

[2015-03-09 20:44] davidbaumann commented on #5750
Oh, thanks and sorry.
Maybe the link in the footer should be removed?

[2015-03-09 20:47] svbergerem commented on #5750
@davidbaumann #5298

[2015-03-09 21:37] Flaburgan commented on #5748
Yeah, we should add a message when streams are empty, especially on the profile user, it looks really weird.

[2015-03-10 10:41] jaywink commented on #5085
Reopening due to popular demand. Several reports indicate @qtheuret is correct, didn't have time to test myself.

[2015-03-10 10:43] jaywink commented on #5085
Btw, this is more of a documentation issue, not a code issue. This should be closed once the wiki instructions are fool proof.

[2015-03-10 11:02] qtheuret commented on #5085
To add more information to solve this issue, I read this on http://www.nextscripts.com/instructions/facebook-social-networks-auto-poster-setup-installation/ :

[2015-03-10 15:42] davidbaumann commented on #5748
I had a look into the source - but I have no idea where to fix this :D

[2015-03-10 16:06] Flaburgan opened #5753 "Hovercard never disappears"
Since https://github.com/diaspora/diaspora/pull/5714 is merged, we have a bug with persistent hovercard.

![capture du 2015-03-10 17 05 22](https://cloud.githubusercontent.com/assets/930064/6578982/af547582-c747-11e4-9260-6981cf1abe56.png)

It's not really easy to reproduce, try to mouse hover an avatar and when it appears move quickly elsewhere. I'm sure if you run the last develop code you alrea

[2015-03-10 16:43] jhass commented on #5753
Mmh, no, I can't reproduce.

[2015-03-10 16:43] #5742 closed

[2015-03-10 16:45] #5402 closed

[2015-03-10 17:54] marienfressinaud commented on #5753
I can't reproduce neither on diaspora-fr.org. Have you tried with different browsers?

[2015-03-10 19:21] SansPseudoFix commented on #5753
I have this bug too and it drives me crazy. It's hard to **reproduce** but I have this one many times. Tested with iceweasel 31.5.0.

[2015-03-10 19:43] SansPseudoFix commented on #5753
[Here](http://v.sanspseudofix.fr/diaspora_issue_5753.webm), a *wonderful* video to show you how to reproduce. But I'm surprised you didn't see it so far.

[2015-03-10 22:28] goobertron commented on #5753
Porn?? :P

[2015-03-10 23:40] SansPseudoFix commented on #5753
Oh. I didn't notice this way to understand this sentence. People will be disappointed I guess :D

[2015-03-11 08:21] svbergerem commented on #4881
We no longer have a grey background. I tried this in the desktop and mobile version.

[2015-03-11 08:21] #4881 closed

[2015-03-11 09:22] svbergerem commented on #4171
Looks like we have different opinions about this feature. If anyone still wants to implement this please open a proposal on loomio first. Otherwise we can close this.

[2015-03-11 09:24] svbergerem commented on #5024
Is anyone still able to reproduce this bug?

[2015-03-11 09:58] svbergerem commented on #5147
I can't reproduce this on develop with MariaDB. Maybe #5530 fixed this?

[2015-03-11 09:59] svbergerem commented on #5220
#5743 will fix this.

[2015-03-11 10:47] svbergerem commented on #4425
Posting a comment doesn't always scroll to the top of the page. If the post is long enough it scrolls to the end of the post. I think that happens because we rerender the comment stream so for a short moment the height of the page decreases if the comment stream is longer than the post.

[2015-03-11 11:06] svbergerem commented on #5144
@jhass Did you fix that with the rails4.2 update?

[2015-03-11 11:26] svbergerem commented on #3046
I changed the email address of a user on my dev pod to te+st@us.er6. After following the link I found in the logs to activate the email address I was still able to change my name (profile settings) and language (account settings). The email address in the database is te+st@us.er6.

To me it looks like this bug has been fixed.

[2015-03-11 11:34] jhass commented on #5144
Oh, right. Forgot I opened an issue about it, thanks for the reminder.

[2015-03-11 11:34] #5144 closed

[2015-03-11 11:39] jhass commented on #5147
Mmh, quite possible. Did anybody ever reproduce this on PostgreSQL?

[2015-03-11 11:41] #4534 closed

[2015-03-11 11:42] #5467 closed

[2015-03-11 11:56] svbergerem commented on #4877
The upstream issue https://github.com/vmg/redcarpet/issues/404 has been fixed in redcarpet 3.2.0 and we are using redcarpet 3.2.2. I have no account to test this but I guess this has been fixed.

[2015-03-11 12:24] svbergerem commented on #5266
#5743 will fix this.

[2015-03-11 12:25] jhass commented on #4877
Right, this should be fixed.

[2015-03-11 12:25] #4877 closed

[2015-03-11 16:08] gordon-morehouse commented on #4171
Can people put links to relevant things on loomio, and Diaspora-on-loomio itself, in any bug which ends up mentioning it? Forking conversations across silos is not helpful without at least a trail for the user to follow.

[2015-03-11 16:10] gordon-morehouse commented on #3233
NSFW posts in one's stream now have a 'show all' button which achieves most of the same functionality.

[2015-03-11 16:12] gordon-morehouse opened #5756 "Add 'always show NSFW' setting"
This could be in the user's settings right next to existing "mark my feed as NSFW" controls, or it could be in the "Show NSFW - Show All" controls in the Stream, or both.

[2015-03-11 16:12] gordon-morehouse commented on #5756
See #3233.

[2015-03-11 16:36] VeevenV commented on #5024
Yes, still reproducible. Just created [a new poll on joindiaspora.com](https://joindiaspora.com/posts/5742394).

[2015-03-11 16:40] RichKavanagh opened #5757 "Expanding the Comments on mobile view auto-scrolls to the very bottom"
When using mobile view, if you expand the comments the browser auto-scrolls all the way down to the very last comment.

You then have to manually scroll all the way back up again to read the first comment.

Expected behaviour would be click to expand comments - the comments expand and the current focus should not change, allowing the user to read the first comment, first.

<bountysource-plugin>
--

[2015-03-11 16:41] RichKavanagh commented on #5757
We can't add/suggest labels to issues? Is this a github thing?

[2015-03-11 16:41] svbergerem commented on #4171
@gordon-morehouse [Link to loomio](https://www.loomio.org/g/EseV9p4X/diaspora-community)

[2015-03-11 16:49] svbergerem commented on #5024
@VeevenV could you post the question and the answers here on github? In the json file for that post are also question marks for question and answers so I think they are even like that in the database.

Would be great to have an example to test on a development pod.

[2015-03-11 17:37] jhass commented on #5757
Only repository collaborators can set labels.

I'm tagging this as feature since this is essentially functionality you disagree with, not a bug.

[2015-03-11 20:26] RichKavanagh commented on #5757
Cool, good to know, thanks :+1:

Nope, I completely disagree with that. Every single web site in the world that has expanding comments doesn't auto-scroll to the very bottom of all the comments and then make the users manually scroll all the way back up again.

How do I get this 'feature' tag changed to a 'bug' tag mate?

[2015-03-11 20:34] jhass commented on #5757
It's not broken functionality, [there's code](https://github.com/diaspora/diaspora/blob/develop/app/assets/javascripts/mobile/mobile.js#L144) to provoke the behavior you describe.

[2015-03-11 20:41] RichKavanagh commented on #5757
Oh sweet!

Thanks for the explanation mate :)

[2015-03-11 20:41] RichKavanagh commented on #5757
Oh sweet!

Thanks for the explanation mate :)

[2015-03-11 20:46] jhass commented on #5757
Ugh, I tried to explain that the current behavior is intentional. While I don't follow why it was chosen either, there might be people who disagree with you. I'm not sure if posting a bounty is wise at this point.

[2015-03-11 20:49] RichKavanagh commented on #5757
Ugh?

Yup, you explained it perfectly, I understood you :)

Yup, that's life mate!

It'll never change if I don't.

[2015-03-11 21:12] kas70 commented on #5757
i agree with RichKavanagh.
this is very, very annoying for me.
thanks for opening an issue for that!

[2015-03-11 22:24] visualsayed commented on #5757
Could we convert this to an option so a user can choose his favourite way at settings page?

[2015-03-11 22:27] jhass commented on #5757
No, we should go with what the majority wants. Making everything configurable is just as confusing.

[2015-03-11 22:39] Flaburgan commented on #5757
The solution is easy: open comments when click on "Reaction", focus on the comment form when click on the comment icon.

[2015-03-12 13:41] svbergerem commented on #4288
Implemented by #5733.

[2015-03-12 13:41] #4288 closed

[2015-03-12 15:18] VeevenV commented on #5024
@svbergerem Here are the question and answers:

ఈ డయస్పోరా పోల్‌లో ప్రశ్నలూ జవాబులూ తెలుగులో కనిపిస్తున్నాయా?
* అవును
* కాదు

[2015-03-12 15:39] giniouxe commented on #5670
Hi,

Sorry it taked so long, but finally a submitted a PR : https://github.com/diaspora/diaspora/pull/5764

[2015-03-12 15:42] Flaburgan commented on #5024
To be honest, there are not rendered correctly here on github and in my webmail too. So this looks like not diaspora dependent.

[2015-03-12 15:44] jhass commented on #5024
@Flaburgan they are, you just miss the font:

![](http://cloud.aeshna.de/u/mrzyx/screenshots/screenshot_20150312_164409.png)

[2015-03-12 15:46] svbergerem commented on #5024
@Flaburgan You just need the right fonts. When you are using a debian based OS `fonts-telu` will help you. (The language is Telugu)

[2015-03-12 15:54] svbergerem commented on #5024
@VeevenV I am not able to reproduce this with the development version of diaspora* and MariaDB or PostgreSQL.
![](https://cloud.githubusercontent.com/assets/3798614/6621689/5bcc1630-c8d8-11e4-913d-76529a71f4b4.png)

We recently had some unicode related DB changes so I think we fixed this bug.

[2015-03-12 16:13] VeevenV commented on #5024
@svbergerem Great. Hoping the fix will be released with 0.5.0.0.

[2015-03-12 16:18] balasankarc opened #5765 "Incorrect hashtag split for Malayalam"
While giving hashtags in Malayalam language, the hashtag gets split at the character ്   (Unicode codepoint - +0D4D ) . This character is used to to join two consonants so as to form a conjunct and is part of a whole word. Hence, hashtag must not split at this character and must continue till a space is occured.
Example : ണ്മ is formed by ണ + ് + മ
In the post https://poddery.com/posts/1672504 , t

[2015-03-12 16:36] jhass commented on #5765
To clarify, the frontend code seems to parse it correctly, but 04D4 is not in `[[:alnum:]]`, so the backend associates the wrong tag.

[2015-03-12 16:45] svbergerem commented on #5765
After changing the markdown parser from pagedown to markdown-it this also won't be parsed in the frontend code because we now use [[[:alnum:]]](https://github.com/diaspora/diaspora/blob/develop/lib/assets/javascripts/posix-bracket-expressions.js#L7).

[2015-03-12 16:53] jhass commented on #5765
Am I missing something or would this be good to use?

[2015-03-12 23:17] offgridgal opened #5768 "password entry bypassed via Natural News Pod"
I never received the chance to enter my password when signing up via the natural news pod for Diaspora.

Now I have an account with a password which I am unaware of, its a Catch 22

Please help

Thank you

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/9497377-password-entry-bypassed-via-natural-news-pod?utm_campaign=plugin&utm_conte

[2015-03-12 23:32] jhass commented on #5768
Please contact your podmin via mail at share@naturalnews.com.

[2015-03-12 23:32] #5768 closed

[2015-03-12 23:54] offgridgal commented on #5768
Thank you Jonne for responding quickly.I have sent them an email. I
hope to hear from them soon. :)

Off grid Gal

On 12/03/2015 at 5:33 PM, "Jonne Haß"  wrote:

	Please contact your podmin via mail at share@naturalnews.com.

	—
Reply to this email directly or view it on GitHub.

[2015-03-13 16:16] RichKavanagh commented on #5757
Can we add a #mobile tag to this?

Also to add to the original issue, this does not happen on desktop mode, only on mobile.

If I click to expand a post in my stream (just tried one which had 49 comments), they all expand neatly downwards, nothing scrolls anywhere and the focus does not change. This behaviour only happens on mobile view and not on desktop view, it's quite inconsistent.

[2015-03-13 16:49] visualsayed commented on #5693
It just work fine and I can't reproduce this issue!

[2015-03-13 17:35] #5670 closed

[2015-03-13 20:24] gaupa opened #5770 "Ability to make reshares private"
I think it would be wonderful to be able to make re-shares only to a limited audiece, since many things I re-share I might want to share with friends but not with other followers. As it is now, I often choose not to re-share out of this reason.

[2015-03-13 20:27] gaupa opened #5771 "Share "Reshares" to Facebook"
Add a button to post reshares to Facebook, and let Facebook-users see how much awesome information that's flowing on Diaspora :)
##

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/9531940-share-reshares-to-facebook?utm_campaign=plugin&utm_content=tracker%2F522&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysour

[2015-03-14 02:27] svbergerem commented on #5549
Fixed by #5580.

[2015-03-14 02:27] #5549 closed

[2015-03-14 05:47] pravi opened #5772 "accessibility: new conversation labels are not correct"
'to' field is not read by orca. It just says entry, it should say 'to entry'.  Same for subject. Body is incorrectly read as subject.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/9545590-accessibility-new-conversation-labels-are-not-correct?utm_campaign=plugin&utm_content=tracker%2F522&utm_medium=issues&utm_source=github)** We acc

[2015-03-14 05:49] pravi commented on #5772
Reply field also missing label. It just says entry.

[2015-03-14 07:20] pravi opened #5773 "accessibility: aspect selection is not working with orca/keyboard"
Unable to select aspects using keyboard under orca.

I got two users who access diaspora with orca help. But they are not able use it well.

[2015-03-14 07:55] pravi opened #5774 "accessibility: mobile version is not accessible via orca"
The display switches to mobile version but orca still reads the desktop version.

[2015-03-14 08:02] pravi commented on #5774
Actually it is reading mobile only but the hidden menu is read before opening it causing confusion.

[2015-03-14 10:03] Makailija commented on #5693
Well, that's very strange... For me the problem appears both on Firefox and Chrome on Android and on Firefox and Chromium on Ubuntu. Neither 0.4.1.2 or develop is working for me. Can someone else confirm this?

[2015-03-14 13:12] goobertron commented on #5770
See #4467 and  #1644 (always good to use the search facility before opening an issue).

[2015-03-14 18:18] Flaburgan commented on #5774
This should be tested again when https://github.com/diaspora/diaspora/pull/5556 will be merged.

[2015-03-14 18:18] goobertron commented on #4466
Congratulations to everyone involved in completing Phase I - great work, everyone!

[2015-03-14 18:20] Flaburgan commented on #5773
There are probably a lot of accessibility problems in diaspora*. @pravi would you want to try to list every blocking points with your users, open a global issue about accessibility, and try to find developers with skills in accessibility? I don't think that we currently have a specialist about that in the diaspora* team.

[2015-03-14 18:52] Flaburgan opened #5778 "Mobile notification page broken"
[code]

I didn't success to reproduce. I didn't know we try to insert the aspect dropdown in the mobile notif page.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/9562914-mobile-notification-page-broken?utm_campaign=plugin&utm_content=tracker%2F522&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://

[2015-03-14 18:57] svbergerem commented on #5778
@Flaburgan I fixed that with #5766.

[2015-03-14 18:57] #5778 closed

[2015-03-14 19:18] goobertron commented on #5773
Once there's a global list it would definitely be worth requesting developers with such skills from the Diaspora HQ account, and possibly making a blog post about accessibility as well.

[2015-03-14 19:27] jhass commented on #5773
If the redesign really happens, that effort should be coordinated with or at least postponed after that. At least doing Bootstrap 3 first seems sensible to me.

[2015-03-14 19:29] Flaburgan commented on #5778
Oh, cool!

[2015-03-14 19:55] AugierLe42e opened #5779 "Infinite scroll doesn't display the correct loding image"
The current mobile image is the following:

![lodingimage](https://raw.githubusercontent.com/diaspora/diaspora/145aac4d2805eae332bd439c98a067b60c150668/app/assets/images/static-loader.png)

which is defined in [the spinner CSS](https://github.com/diaspora/diaspora/blob/145aac4d2805eae332bd439c98a067b60c150668/app/assets/stylesheets/new_styles/_spinner.scss#L24):

    mask-image: image-url('static-

[2015-03-14 21:17] AugierLe42e opened #5780 "Opening the dropdown doesn't update the notification count"
I though I solved the bug but seemd not. As @jhass  noticed [here](https://github.com/diaspora/diaspora/pull/5707#discussion-diff-25560611) I think the notifications should not be directly transmitted in HTML but in a JSON structure and rendered client side. This way, the total count of unread notifications could be transmitted too.
## <bountysource-plugin>

Want to back this issue? **[Post a boun

[2015-03-15 06:18] pravi commented on #5773
@flaburgan I will collect their feedbacks and make a global issue to track all accessibility issues.

[2015-03-15 11:45] svbergerem commented on #5016
@TheRadialActive @SuperTux88 #5776 improved the hover effect. The speed is still the same but it feels less buggy. It would be great if you could check if that fixes your issue.

[2015-03-15 14:25] visualsayed commented on #5737
ActsAsTaggableOn gem limits the tag name to a 255 chars length and it validates the length in the ActsAsTaggableOn::Tag model.

When the tag name length is greater than 255, an error is raised but not propagated to the StatusMessage model

The create method in the StatusMessagesController fails and executes:
` format.json { render :text => @status_message.errors.messages[:text].to_sentence, :statu

[2015-03-15 14:29] visualsayed commented on #5693
@Makailija
Could you please send the steps you used to reporduce this issue?

[2015-03-15 14:32] jhass commented on #5737
LGTM, thank you!

[2015-03-15 15:10] Makailija commented on #5693
1. Log in.
2. Change to the mobile interface, you are if not already in it.
3. On your stream (or on any stream, for that matter) scroll to any public post except your own that has likes or comments. (Only public posts can be reshared.)
4. Click on the "N reactions" link below the post. (If the post does not have likes or comments, you can't click on that link.) You will see that there the amount

[2015-03-15 15:53] svbergerem commented on #5024
I'll close this. If anyone is still able to reproduce this with the development version we can reopen this issue.

[2015-03-15 15:53] #5024 closed

[2015-03-15 15:58] visualsayed commented on #5693
@Makailija, Thanks
Now, I'm able to reproduce this issue and I'll debug it soon.

[2015-03-15 16:00] goobertron opened #5784 "Poll question field overflows publisher pane"
![_poll](https://cloud.githubusercontent.com/assets/2530168/6656761/49c3540c-cb2c-11e4-8eab-1a79f426ea20.png)

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/9589540-poll-question-field-overflows-publisher-pane?utm_campaign=plugin&utm_content=tracker%2F522&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](h

[2015-03-15 16:02] goobertron commented on #5784
Wow, that's a lot of labels. I'm tempted to put a bounty on it just to add another label. ;)

[2015-03-15 16:03] jhass commented on #5784
Rainbows and unicorns!

[2015-03-15 16:04] svbergerem commented on #5784
I'm not able to reproduce this. The question input has `width: 100%` so it sounds unlikely that it overflows the publisher. Which browser are you using? (+ version)

[2015-03-15 16:11] goobertron commented on #5784
Ach, sorry. I saw this in my dev env using Selenium and 'confirmed' in diaspora-fr.org using Firefox, but of course Selenium runs in the same browser version (I guess), so it's not really confirmation at all. Doesn't appear in Opera or TorBrowser, so must be specific to my (old) version of Firefox. Thanks for pointing this out promptly, Steffen.

I'll close the issue. Sadly that means no rainbows

[2015-03-15 16:11] #5784 closed

[2015-03-15 16:15] SuperTux88 commented on #5016
It's much better now! :+1:

[2015-03-15 19:00] danger89 commented on #4466
Yeah! Congratz! :dancer:

[2015-03-16 09:35] AugierLe42e opened #5787 "Search bar is broken"
Selecting a element in the list when searching someone does nothing and throw an exception `TypeError: this.options is undefined`. It refers to this part of the code:

    else{ // The actual result
        this.options.element.val(formatted);
        window.location = data.url ? data.url : '/tags/' + data.name.substring(1);
    }

in the [search_view.js](https://github.com/diaspora/diaspora/blob/

[2015-03-16 20:11] visualsayed commented on #5693
@Makailija
It's now fixed.
@jhass
Please check if it is ok. I think post_stats is duplicated in index.mobile.haml and _sream_elemnt.mobile.hamle.

[2015-03-16 22:39] #5787 closed

[2015-03-17 08:16] Makailija commented on #5693
@visualsayed Thank you very much!

[2015-03-17 16:02] Flaburgan commented on #5737
I think https://github.com/diaspora/diaspora/pull/5783 closed that, right?

[2015-03-17 17:59] visualsayed commented on #5737
Yes

[2015-03-17 20:28] #5693 closed

[2015-03-17 21:00] jaywink commented on #5538
@Anime-Machina any objections to closing this from the issue tracker? It's not something that can be fixed as there is no knowledge what is wrong except one random occurrance. Unless you have experienced this again?

[2015-03-17 21:18] Anime-Machina commented on #5538
I have no objections to close this.

It probably has been a fluke or some thing crashed on Linux level. Under the tripple load it still did not repeated this so I qualify this as a fluke and should be closed. Thanks of reminding totally forgot about this.

[2015-03-17 21:18] #5538 closed

[2015-03-17 21:21] Anime-Machina commented on #5260
I did had error messages showing up about post actions, it definitely needs more info in future. Although I personally dropped FaceBook and Twitter support on my pod cause some one violated their terms.

[2015-03-17 21:23] Anime-Machina commented on #5250
In the current dev version it still occours, but less occasional. I beleave it has to do with server rendering.

[2015-03-17 21:26] Anime-Machina commented on #5753
Confirmed, diasp.net has the same issue. Simply hover over some thing and move out of the box. It is quite annoying since when I need that box it disapears :(

[2015-03-18 08:57] AugierLe42e commented on #5697
So, if I understand well, fixed footer is not a problem except for the stream page ? What if I submit a PR for a fixed footer and a stream page without footer ?

[2015-03-18 09:17] AugierLe42e commented on #5753
This bug is a bit random. Sometimes, the hovercard appears even if the mouse is not over an hovercardable.

[2015-03-18 09:18] AugierLe42e commented on #5398
I see design tweaks is not already checked. Can you detail this point a bit more ?

[2015-03-18 09:22] Flaburgan commented on #5753
@AugierLe42e I guess you quickly moved the mouse on the screen and it crossed a name somewhere. I had this behavior too.

[2015-03-18 09:32] Flaburgan opened #5795 "Reshare a post from a user profile adds it to the profile stream"
![capture du 2015-03-18 10 24 18](https://cloud.githubusercontent.com/assets/930064/6705888/55e03d2a-cd59-11e4-9ce2-560a1368b01e.png)

Step to reproduce:
* Go to someone's profile
* Reshare a public post
* Scroll up to the top of the page
* Your post is here, first of the stream

I have in the JS console:
[code]

The post of course disappears when the page is reloaded, so this is a JS problem, pro

[2015-03-18 09:34] svbergerem commented on #5795
This issue is related to #4672.

[2015-03-18 09:42] Flaburgan commented on #5795
Btw I didn't tested but I guess that this is the same on the tag page.

[2015-03-18 09:48] jhass commented on #5697
What problem does the fixed footer solve? On the stream pages it's to see it, I get that, but do you really think that frame-ish look is better?

[2015-03-18 11:15] AugierLe42e commented on #5753
This is my theory, yes, but it should not appear that quickly and stay displayed then.

[2015-03-18 11:16] AugierLe42e commented on #5697
Well usually, the main principle of a footer is to be... at the foot. Not in the middle of the page:

![](https://cloud.githubusercontent.com/assets/3429231/6318043/26b68e1e-ba7b-11e4-8237-4778120ee887.png)

[2015-03-18 11:51] Flaburgan commented on #5697
Yeah I agree about that, it would be nice to put the footer at the bottom of the screen when the height of the page is < at the height of the screen.

[2015-03-18 14:04] jhass commented on #5697
Okay sure, that's quite different from having it statically there always though.

[2015-03-18 14:31] AugierLe42e commented on #5697
Well my proposition would be to have it fixed on page presentation pages (login, index, password change, etc...), none on social pages (stream pages, single post pages, conversations...) and unchanged on other pages (administration, configuration, etc...)

[2015-03-18 14:33] jhass commented on #5697
Do we have to special case that per page really? Is there no dynamic solution to this that adapts to the page content?

[2015-03-18 15:10] Flaburgan commented on #5697
Maybe @svbergerem has one. Not sure if we can do that with plain CSS, but we can definitely with JS, testing if windows.height > html.height then footer : position: fixed; bottom: 0px;

[2015-03-18 15:24] Flaburgan opened #5796 "User search page should indicate if the user is sharing with me"
As a user, I want to be able to know if the persons displayed in the result list of my search are sharing with me.

We could simply display a green tick next to the aspects dropdown.

[2015-03-18 15:30] AugierLe42e commented on #5697
It can be a solution.

[2015-03-18 17:43] #5737 closed

[2015-03-19 11:10] davidbaumann opened #5800 "WebRTC in Diaspora"
Hello,

actually I ask myself, if there's a way to integrate WebRTC into Diaspora?
Has there already been a discussion about this?

David.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/9751527-webrtc-in-diaspora?utm_campaign=plugin&utm_content=tracker%2F522&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource

[2015-03-19 11:31] Flaburgan commented on #5800
Hi @davidbaumann.
Yeah, we talked about it a lot [on loomio](https://www.loomio.org/d/0czigqsM/implement-realtime-chat-possibly-using-xmpp). We finally chose to use XMPP but the JavaScript interface we use to chat, JSXC, also allows to use WebRTC (see https://www.jsxc.org/). We need to first polish the XMPP chat, but it looks doable to use WebRTC with the same interface.

[2015-03-19 11:43] davidbaumann commented on #5800
Thank you for your reply. I was doing a search for WebRTC here, and it couldn't find anything.

[2015-03-19 16:32] Flaburgan opened #5801 "Improve the publisher"
This is an issue to design a new publisher, to solve two problems:
* Allow to preview every message fields, including the conversation (private messages), comments and faceboxes
* Make the usage of markdown easier for non-technical people

I like the way github is dealing with this problem: a tab "Write" where the text is entered, possibly using markdown (we could add buttons to easily integrate m

[2015-03-19 16:40] jhass commented on #5801
I think a preview tab would indeed work better than our current solution.

However I would be distracted by the buttons and I also dislike adding too many settings, since they make both, UX and implementation more cumbersome.

I think making the "Markdown" link open an inline help popup, that leaves the focus on the publisher would be nice.

So I wonder, if we look at this from an interaction poin

[2015-03-19 17:41] AugierLe42e commented on #5801
This is a key point. We must not forget that we are making a social etwork for everyone. And many new users complain about the complexity of MD. The is a big accessibility issue to me. And the popup thing won't solve anything because most user just don't want to refer to the documentation each time they write something.

An opt-in solution is the best choice to me.

[2015-03-19 17:43] AugierLe42e commented on #5801
I also think that copy/pasting into the publisher should keep the formatting e.g quoting, italic, etc..

[2015-03-20 04:14] gordon-morehouse opened #5803 "Unsetting "Mark everything I share as NSFW" un-marks previously shared posts as NSFW"
WHAT ACTUALLY HAPPENS:

1. Set "Mark everything I share as NSFW"
2. Post some posts
3. Unset "Mark everything I share as NSFW"
4. Your *previous* posts are now not marked as NSFW and you cannot go back and mark them as such.

WHAT I EXPECT TO HAPPEN:

1. Set "Mark everything I share as NSFW"
2. Post some posts
3. Unset "Mark everything I share as NSFW"
4. All posts made when the setting was toggle

[2015-03-20 04:35] jhass commented on #5803
Mh, yes, I have to agree this is unexpected behavior. However it lies in the design of that feature. This is because there's no separate flag in the post metadata to mark it NSFW, it's recognized by containing the #nsfw tag or if your profile is marked as NSFW. So I'm not sure how we can approach this without at least redesigning the feature,

[2015-03-20 09:52] Flaburgan opened #5804 "Order of comments on the mobile version is reversed"
The most recent comment is now displayed first.
This regression is probably caused by https://github.com/diaspora/diaspora/pull/5790

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/9791607-order-of-comments-on-the-mobile-version-is-reversed?utm_campaign=plugin&utm_content=tracker%2F522&utm_medium=issues&utm_source=github)** We accept

[2015-03-20 12:19] jhass commented on #5804
No, I don't see how #5790 could have caused that.

[2015-03-20 13:06] Flaburgan commented on #5804
Well, last pull was https://github.com/diaspora/diaspora/commit/0856eb8f86b6e2d8fba53b5defbd2268d1668106 and everything worked fine, I updated this morning and now the order is inversed.

[2015-03-20 13:39] jhass commented on #5804
Oh you're right, that one was subtle. He switched from `@comments` to `@post.comments`, I didn't notice :/

[2015-03-20 16:02] gordon-morehouse commented on #5803
Here are a few ideas, sort of in order from "worst" to "best" from the perspective of clean design and ugliness to the user:

1. auto-append the NSFW tag to all posts when the option is checked
  * ugly but very understandable to the user
  * backwards compatible with any client which cares about NSFW tagging
2. add a "hidden" NSFW tag which Diaspora* will understand but won't be rendered to the u

[2015-03-21 14:44] #5804 closed

[2015-03-21 16:17] Globulle commented on #5796
I agree. I think the result list should also return all the persons who share with me even if they have disabled "Allow to search me on Diaspora*". Currently the only way to access the profile of some friends of mine is to look for them in my contact list.

[2015-03-21 16:28] Globulle commented on #5801
I think lots of users use comment threads to discuss polemical topics which need long paragraphs and structured comments. The ability to use Markdown is then very convenient and is clearly an advantage over Facebook. And preview in such cases would be indeed appreciable.

[2015-03-21 17:05] Globulle opened #5807 "Homogeneous Markdown rendering of quotations between stream view and single post view"
I like to use quotations with Markdown, using the ">" character. But the rendering is not the same in the stream view and in single post view, which can be confusing.
Here is how it renders in __stream view__:
* Same size as normal text
* Gray color
* Italics

And here how it renders in __single post view__:
* Bigger size as normal text
* Black color
* Vertical bar on the left

I think it would be

[2015-03-21 17:18] AugierLe42e commented on #5779
Inifinite scroll is one of the few [widgets left](https://github.com/diaspora/diaspora/blob/develop/app/assets/javascripts/widgets/infinite-scroll.js). I think, as there are there is at least three infinite scroll usage, we can use the infinite scroll component proposed by [Fuel UX](http://getfuelux.com/javascript.html#infinite-scroll). Fuel US is a library built on the top of Bootstrap.

[2015-03-21 17:37] svbergerem commented on #5807
This issue has been fixed in the development version. Your screenshot of the stream shows an outdated version with the blueprint stream. We are now using Bootstrap everywhere so the style of quotations is the same in the stream and the single post view. The applied style is
* same size as normal text
* gray text color
* left border

[2015-03-21 17:37] #5807 closed

[2015-03-21 20:25] tomato42 opened #5808 "Profile images from facebook accounts are fetched over HTTP not HTTPS"
When a user has a profile photo imported from Facebook (served from facebook servers), the image URL is HTTP not HTTPS, causing a mixed content warning.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/9848550-profile-images-from-facebook-accounts-are-fetched-over-http-not-https?utm_campaign=plugin&utm_content=tracker%2F522&utm_medium

[2015-03-21 20:48] Flaburgan commented on #5808
We changed the way FB images are fetched in the current develop branch, so I think this is no longer the case (we do not send a request to FB anymore).

[2015-03-21 21:29] jhass commented on #5808
Yes, in fact duplicate of #5341 I'd say.

[2015-03-21 21:29] #5808 closed

[2015-03-21 23:41] #5626 closed

[2015-03-22 18:07] RodL opened #5810 "Video flicker on Diasp.net"
Running Firefox and everytime i log into Diasp.net my video flickers. Using Linux Mint Cinnamon.

Error message occaisonally says unresponsive script https://diasp.net/assets/jsxc-e660beffa5fa259ea8f528e10ad756d7.js:7

Firefox version 36.0.1 mint - 1.0
Diasp.net is running develop version.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/iss

[2015-03-22 19:58] dadall commented on #4035
I did that : https://www.startssl.com/?app=21

Do I miss something ?

[2015-03-22 20:18] AugierLe42e commented on #4035
May I remind you that I proposed [a solution to manage these kind of problems](https://gist.github.com/AugierLe42e/41f15c5fee6c3c666db7) ?

[2015-03-22 20:45] RichKavanagh commented on #5757
Thanks @jhass !

[2015-03-22 20:55] jhass commented on #5810
I think this is a duplicate of https://github.com/diaspora/jsxc/issues/88

[2015-03-22 21:51] RodL commented on #5810
Similar but my screen does not freeze it just flickers (dims for split second) when i first log in and on rare occaisons i get the error message.
It does not happen on my other pods.
Podmin uses Firefox and has not noticed this problem.
I will close this issue and allow him to post if he feels it is different issue.

[2015-03-22 21:51] #5810 closed

[2015-03-23 13:43] Anime-Machina commented on #5810
@jhass yes this is related to https://github.com/diaspora/jsxc/issues/88

And I can confirm this issue, at the moment I am having contact with RodL and will work together with him resolving it. There is a work around for it by clearing its cache till it happens again. Lets resume at diaspora/jsxc#88 for debugging/solving this issue.

[2015-03-24 08:19] Flaburgan opened #5811 "The notification action should be updated when other interactions are triggered"
**Step to reproduce:**
Open a post in the SPV
Click on the "like" icon

**Actual result:**
The like icon becomes red, but the notification icon stays grey. When you reload the page, the notification icon becomes black.

**Expected result:**
The notification icon should become black in the same time the like icon becomes red.

The behavior is expected for all kind of interaction which will activate

[2015-03-24 09:09] Flaburgan commented on #4920
One year later, here is how the diaspora-fr.org database looks like:
[code]

[2015-03-24 09:27] AugierLe42e commented on #5811
Related to #5780.
I've already though about that. It is possible, but it should involve to seperate the `setRead` and `setUread` actions in a seperate model or helper. This is needed in any case to simplify the updating of the notifications count.

[2015-03-24 09:37] jhass commented on #5563
Upstream doesn't seem overly motivated about fixing this. What should we do about it?

[2015-03-24 10:18] norayr commented on #4920
[code]

[2015-03-24 16:25] davidbaumann commented on #4920
Can somebody explain the rows in the "likes" table?
Wouldn't it actually be enough to have target_id, author id and nothing else?

I think the 2 datetime fields aren't interestring for a like. Also there is no guid needed... if you want to delete, you can do by author and target, as there cannot be more than one like in this combo...

Or am I misunderstanding?

David.

[2015-03-24 17:47] AugierLe42e commented on #5563
I a first place, maybe disable `_` as a markup for italic and automatically escape any underscore. Would it do the trick until it is solved ?

[2015-03-25 08:41] kas70 opened #5813 "option to show geo-location on a osm-map"
<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/9988173-option-to-show-geo-location-on-a-osm-map?utm_campaign=plugin&utm_content=tracker%2F522&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F522&utm_medium=issues&utm_source=github).
</

[2015-03-25 08:47] Flaburgan commented on #5813
@kas70 it is already possible to add geolocation using openstreetmap on the desktop version. Could use please precise what you have in mind? To display a map?

[2015-03-25 08:58] kas70 commented on #5813
yep, would be cool to be able to show the location on a map (maybe with [openlayers](http://openlayers.org/)) below a post (maybe as fade-in with a location-button).
adding locations manually for posts (e.g. for events) could be also a use-case, but that would be another feature-request...
simple mockup is following;)

[2015-03-25 09:16] kas70 commented on #5813
**normal view:**
![location1](https://cloud.githubusercontent.com/assets/922628/6821551/06760f74-d2d8-11e4-9b28-d5dc174be35d.png)

**after clicking the location-button:**
![location](https://cloud.githubusercontent.com/assets/922628/6821502/b80f12d6-d2d7-11e4-9ad2-5e69869891b7.png)

[2015-03-25 09:24] kas70 commented on #5813
this is inspired by @DeadSuperHero's [post](https://pod.geraspora.de/posts/3415814)

[2015-03-25 22:14] ghost opened #5815 "Armenian punctuation marks in tags."
Hello,

In Armenian some of [these](https://en.wikipedia.org/wiki/Armenian_alphabet#Punctuation) symbols are used inside words, between letters.

Thus I would like to ask to make possible to use following symbols in tags
- [՜](https://en.wiktionary.org/wiki/%D5%9C)
- [՞](https://en.wiktionary.org/wiki/%D5%9E)
- [֊](https://en.wiktionary.org/wiki/%D6%8A)
- [՛](https://en.wiktionary.org/wiki/%D5%9B)

[2015-03-25 22:16] jhass commented on #5815
This should be uncontroversial. Solving this would involve patching our markdown it plugin for tag parsing and the regexp used in the backend code.

[2015-03-25 23:17] svbergerem commented on #5815
Just to clarify (because “patching our markdown it plugin” sounds like a bigger task): You only need to change the regexp [here](https://github.com/diaspora/diaspora/blob/3298373a7fd57b6f7f23cb5a36bce0806476b07d/app/assets/javascripts/app/helpers/text_formatter.js#L57). This is related to #5765.

[2015-03-26 00:19] svbergerem commented on #5266
Fixed by #5743.

[2015-03-26 00:19] #5266 closed

[2015-03-26 16:30] #5195 closed

[2015-03-26 19:59] #5745 closed

[2015-03-28 03:34] denschub commented on #5608
Okay this is one is interesting.

I cannot replace the URLs after the markdown parsing since we are actually parsing the markdown on the client side. We are not able to generate the Camo links on the client, though, since we would have to disclose the HMAC secrets then, so replacing only `<a>`-tags is clearly not an option. I could modify the regex to not include anything within code blocks, but t

[2015-03-28 09:48] jhass commented on #5608
How about decoding them again on the client side, as a markdown-it plugin?

[2015-03-28 11:50] SansPseudoFix opened #5820 "No header on contact page"
No more header when you are on contact page (for example /people?q=spf), on develop branch.
Tested with diaspora-fr.org and diaspote.org.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/10130258-no-header-on-contact-page?utm_campaign=plugin&utm_content=tracker%2F522&utm_medium=issues&utm_source=github)** We accept bounties via [Bount

[2015-03-28 13:46] #5820 closed

[2015-03-28 17:26] denschub commented on #5608
Possible, in theory. But we'd run into issues with future APIs, for example.

[2015-03-28 18:39] jhass commented on #5608
Okay, I guess we don't need to block the release on this one then.

[2015-03-28 23:16] #5280 closed

[2015-03-29 13:57] Flaburgan commented on #5796
@Globulle There is an issue about that, but I'm not able to find it.

[2015-03-29 15:07] rivendale2010 opened #5823 "'forEach' undefined in main.js"
after update today the stream is blank and the javascript console shows "Uncaught TypeError: Cannot read property 'forEach' of undefined" on line 9 of main.js, mobile stream is ok :)

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/10187731-foreach-undefined-in-main-js?utm_campaign=plugin&utm_content=tracker%2F522&utm_medium=issues&ut

[2015-03-29 15:17] jhass commented on #5823
I updated my pod to the latest commit too and can't reproduce. Anybody else can?

[2015-03-29 17:56] rivendale2010 commented on #5823
thanks. could be something off on my system, i nuked Gemfile.lock, ran "gem update" and "bundle update" and then the usual update instructions and now is okay :)

[2015-03-29 17:56] #5823 closed

[2015-03-29 19:03] jhass commented on #5823
:(((( DO NOT DO THAT!

We can not support a setup doing that, you at least broke twitter integration with that action. Get back to a clean system: `git checkout Gemfile.lock; bundle install`. **Never** run `bundle update` on your own.

[2015-03-29 19:39] rivendale2010 commented on #5823
i like to test with the latest gems just for fun, i know that is not going to work for regular updates, usually several have to be set back to get it to work, probably how i messed it up in the first place :) ...

after doing those things i did checkout Gemfile.lock and run bundle as part of the usual update procedure so i think i'm in sync now-- twitter has always complained of a circular referen

[2015-03-29 21:16] RichKavanagh commented on #5757
@Flaburgan

Easy enough for you to code a fix? :)

[2015-03-29 21:26] RichKavanagh commented on #5524
Any updates from anyone on this issue?

[2015-03-29 21:33] RichKavanagh commented on #4685
As this is by-design, is it a feature request and not a bug?

Yup, I'd definitely agree with that :+1:

[2015-03-29 21:34] RichKavanagh commented on #4755
Didn't I hear recently this has been fixed now?

[2015-03-29 22:03] jhass commented on #4685
It's a bug because it's inconsistent between mobile and desktop.

[2015-03-30 06:18] svbergerem commented on #4755
I am still able to reproduce this on develop using Firefox 36.

[2015-03-30 13:02] desyncr commented on #5524
@RichKavanagh  I'll get back to it tonight or tomorrow.

[2015-03-30 14:13] desyncr commented on #5757
Should be labeled 'quickfix' then?, to attract new comers?

[2015-03-30 15:35] Flaburgan commented on #5795
I think this should be part of 0.5.0.0 too.

[2015-03-30 20:53] Flaburgan opened #5825 "Text is broken in contact page"
![screenshot-contacts](https://cloud.githubusercontent.com/assets/930064/6906417/1b295f88-d72f-11e4-9b36-418eb989fd9a.png)

When an aspect contains less than 20 contacts, we allow to write a private conversation to the whole aspect. But when there are more than 16 contacts in it, we display a warning message. This message is actually broken (at least with the user interface in french).

The code l

[2015-03-30 21:31] Flaburgan commented on #5795
To solve this issue, one should test [here](https://github.com/diaspora/diaspora/blob/develop/app/assets/javascripts/app/models/post/interactions.js#L113) if ```app.stream``` is not a tag stream or a profile stream.

[2015-03-31 02:53] desyncr commented on #5524
@dimaursu You code works indeed.

Can you apply your changes to the lastest dev? [Here](https://gist.github.com/desyncr/a30c95b2129f4c6a3ae2) is a gist with the changes plus a fix that addresses #5483 (lines 11 and 14) (may be it should be handled in its own PR, though)

We'll need some regression tests, at least for #5483. Tell me if you need some help.

[2015-03-31 09:36] Flaburgan commented on #5698
I guess this should have the "next-major" milestone.

[2015-03-31 10:19] Anime-Machina commented on #5753
Tried to move my mouse around at empty space and it happens. Also when you are at the diaspora star top left. I did noticed it might be caused when going over certain kinds of grids when using firebug or developer tools.

[2015-03-31 10:21] Flaburgan commented on #5563
I just entered `0.5.0.0` in a comment in the SPV page and it was turned to a link.

[2015-03-31 10:25] kas70 opened #5827 "add bootstrap validator for sign up forms"
example screenshot:
![validator](https://cloud.githubusercontent.com/assets/922628/6916979/d188c55e-d7a0-11e4-8c96-900234fdd349.jpg)
maybe also for already taken usernames.
example code: https://1000hz.github.io/bootstrap-validator/

[2015-03-31 13:00] millette commented on #5563
@Flaburgan looks like an [IPv4 address](https://en.wikipedia.org/wiki/Dot-decimal_notation).

Personally, I don't believe in auto-linking. See the [Public Suffix List](https://publicsuffix.org/list/effective_tld_names.dat) for instance.

[2015-03-31 17:13] Flaburgan opened #5828 "Design problem in conversation"
There are two vertical borders

![capture du 2015-03-31 19 13 07](https://cloud.githubusercontent.com/assets/930064/6924606/0d6df182-d7da-11e4-8588-8b3cd56e1fe3.png)

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/10278194-design-problem-in-conversation?utm_campaign=plugin&utm_content=tracker%2F522&utm_medium=issues&utm_source=github

[2015-03-31 21:13] lolsimon opened #5829 "[Mobile] Reaction count not consistent"
It seems that the number of reactions within the mobile version are the sum of real reactions + likes. This seems not really consistent. See screenshot below, where there are 3 counted reactions, 1 real reaction and 2 likes.

![screenshot_reactionscount](https://cloud.githubusercontent.com/assets/2278424/6929453/329eb858-d7fb-11e4-939b-de8f7d349277.png)
## <bountysource-plugin>

Want to back this

[2015-03-31 22:19] desyncr commented on #5829
Reactions are indeed the sum of likes, comments and I believe reshares. There is no such thing as "real reactions". What's inconsistent about it?

[2015-03-31 22:27] lolsimon commented on #5829
With real reactions I mean comments, that is what a user probably expects when he clicks the reactions button.
Now a user clicks on "3 reactions" and there seems to be only 1 (namely, the comment).
Maybe this can be picked up together with issue #5688 to make the UI better on this?

[2015-03-31 22:32] desyncr commented on #5828
The change was introduced [here](https://github.com/diaspora/diaspora/commit/3721861c94ac717da5625f4be65498c053a13e53). It follows the stream layout. I think we could eliminate the gap between the conversation list and the conversation details, like [this](http://i.imgur.com/V1klpHf.png).

[2015-03-31 22:37] desyncr commented on #5829
It would be easier to rename "reactions" to "comments" and issue solved. Now I don't think reactions are an issue as they are but I'm not UX or UI expert so maybe someone else could raise a voice here.

[2015-04-01 01:08] #5825 closed

[2015-04-01 01:08] #5828 closed

[2015-04-01 01:43] svbergerem opened #5834 "500 when mentioning a user on the same pod"
[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/10293082-500-when-mentioning-a-user-on-the-same-pod?utm_campaign=plugin&utm_content=tracker%2F522&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F522&utm_medium=issues&utm_source=

[2015-04-01 02:02] #5834 closed

[2015-04-01 08:13] Flaburgan commented on #5563
@millette yeah of course, I'm just wondering if we need to automatically link IPs, that looks... useless.

[2015-04-01 08:22] Flaburgan opened #5835 "Some buttons miss style"
The paypal button on the right side bar:
![capture du 2015-04-01 10 20 17](https://cloud.githubusercontent.com/assets/930064/6937079/e05286b6-d858-11e4-9786-a27d9478520d.png)

In the admin panel:
![capture du 2015-04-01 10 20 42](https://cloud.githubusercontent.com/assets/930064/6937084/e5a8a30c-d858-11e4-9fdc-ac00d4466c4e.png)

This is a recent regression (~one week)

<bountysource-plugin>
---
Wa

[2015-04-01 08:55] Makailija commented on #5829
I am also far from being an UX or UI expert, but I recently made a suggestion of a redesign of the post interaction buttons on the mobile interface on Loomio: [link](https://www.loomio.org/d/CbqITyU6/suggestion-redesign-of-the-interaction-buttons-of-posts-on-the-mobile-interface). That would solve this issue, #5688 and a few others. You can comment on the suggestion on Loomio. If I will have time

[2015-04-01 11:08] goobertron commented on #5829
I think 'likes' are the biggest waste of time in the entire universe, but even I expect 'reactions' to include all possible ways of reacting to a post, including 'likes'. I don't see anything here that needs fixing.

[2015-04-01 11:16] goobertron commented on #5829
You're right, thanks for pointing this out. While a reshare isn't a 'reaction' in the way that a comment or like is - it's more of an action than a reaction because you're effectively making a 'new' post rather than adding to the existing post - it would make sense for the count shown below a post to include all of the possible actions listed as icons at the right-hand side of the same bar. In whi

[2015-04-01 12:04] Flaburgan commented on #5829
I was not involved. Let's move this discussion on loomio page linked by Makailija to see if we want to redesign the interaction panel on mobile. This issue is not a bug to me and can be closed.

[2015-04-01 12:22] desyncr commented on #5829
There isn't a technical issue behind this behavior. [Here](https://github.com/diaspora/diaspora/blob/develop/app/helpers/mobile_helper.rb#L33) is where the reaction count is calculated. Adding `post.reshares_count` does indeed work.

[2015-04-01 12:36] #5835 closed

[2015-04-01 16:29] #4672 closed

[2015-04-01 16:29] #5795 closed

[2015-04-02 03:51] pravi opened #5840 "source option is invalid for gem"
You passed :source as an option for gem 'rails-assets-diaspora_jsxc', but it is
invalid. Valid options are: group, groups, git, path, name, branch, ref, tag,
require, submodules, platform, platforms, type

This is ruby 2.1.0.1
$ gem --version
2.2.2

Is it a newly introduced option?

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/1034

[2015-04-02 05:25] Kottmaskinen opened #5841 "Mark all as read sends you to top of page"
Clicking the "mark all as read" in the notifications menu sends you to the top of the page. I can't see this being a feature, so it feels a lot like a bug.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/10348488-mark-all-as-read-sends-you-to-top-of-page?utm_campaign=plugin&utm_content=tracker%2F522&utm_medium=issues&utm_source=githu

[2015-04-02 10:33] jhass commented on #5840
Update your bundler to 1.9 or later.

[2015-04-02 10:33] #5840 closed

[2015-04-02 11:17] kas70 opened #5842 "add stream loading feedback"
maybe with http://ricostacruz.com/nprogress/

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/10358459-add-stream-loading-feedback?utm_campaign=plugin&utm_content=tracker%2F522&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F522&utm_me

[2015-04-02 11:26] jhass commented on #5842
I don't think we can do this, it's nothing we can estimate so it would be fake anyway and not any more useful than the current spinner.

If somebody can prove me wrong, please reopen this issue.

[2015-04-02 11:26] #5842 closed

[2015-04-02 12:02] kas70 commented on #5842
i think it would be an improvement of the ui, even if it is fake. it would show the user that something is loading (like the spinner did, just in a more beautiful, modern way).
also i don't get the spinner (neither on pod.geraspora (old code) nor on diasp.net (0.5.0.0-...)). this was the reason i thought about this point.

[2015-04-02 12:08] jhass commented on #5842
Then that's a bug IMO and should be reported as such. Please try to be more precise when doing so.

[2015-04-02 12:18] pravi commented on #5840
Thanks, updating bundler from 1.6 to 1.7 fixed the issue.

[2015-04-03 00:22] #5841 closed

[2015-04-03 03:29] SuperTux88 opened #5845 "Auto-Follow-Back broken, when the selected aspect doesn't exist"
When a user activates the auto-follow-back, and then deletes the selected aspect, and then someone starts sharing with him ... the job fails with "ActiveRecord::AssociationTypeMismatch: Aspect(#75260260) expected, got NilClass(#4716400)" but sends a "xyz started sharing with you." notification. This ends in a huge federation-spam with share-requests.

The auto-follow-back should be disabled, when

[2015-04-03 07:03] Flaburgan commented on #5845
This could be the cause of https://github.com/diaspora/diaspora/issues/2483

[2015-04-03 09:11] jhass commented on #5845
Good catch!

[2015-04-03 12:16] svbergerem opened #5847 "Wrong url and bug in settings nav after changing user settings"
When changing user settings the users controller renders the edit page which leads to a wrong url (pod.tld/user) and a settings nav with no selected active page. Before #5580 it redirected to the user edit page which is not possible anymore because it would break the validation errors added in #5580.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysou

[2015-04-03 13:31] SuperTux88 commented on #5845
@Flaburgan Yes, this is #2483

On the same Pod the user only gets <number-of-retries> notifications. But with federation, something is multiplying this ... I had > 400k jobs yesterday (before I saw it and cleaned up my queues) ... I don't know how many notification the user gets ;)

[2015-04-03 19:19] SuperTux88 commented on #5845
Maybe we should also create a db-migration, which checks, if all auto-follow-back-aspects exist.

[2015-04-03 22:13] #5845 closed

[2015-04-03 22:16] #1988 closed

[2015-04-03 22:49] svbergerem commented on #4266
Fixed by #5843.

[2015-04-03 22:49] #4266 closed

[2015-04-03 23:50] Flaburgan commented on #2483
This is probably fixed now. What should we do, let open, or close and wait if someone reproduces once again?

[2015-04-04 00:01] denschub commented on #2483
I'll close it for now. We can reopen this if it happens again.

[2015-04-04 00:01] #2483 closed

[2015-04-04 00:57] svbergerem commented on #5641
I'm not able to reproduce this anymore:

![post content](https://cloud.githubusercontent.com/assets/3798614/6990827/c340221c-da75-11e4-8025-3787f8da080c.png)

![notification](https://cloud.githubusercontent.com/assets/3798614/6990830/fcc9f3f0-da75-11e4-9d3c-8b05065c38f9.png)

I think #5730 or #5707 fixed this. I will close this issue. Feel free to reopen if you are able to reproduce this with 0.5.

[2015-04-04 00:57] #5641 closed

[2015-04-04 01:39] svbergerem commented on #5220
Should have been fixed with the new registration page. Could someone confirm this?

[2015-04-04 01:44] svbergerem commented on #4804
Maybe a duplicate of #5147. Would be great if @denschub could test both after the 0.5.0.0 release because AFAIK both have been reproduced on his pod.

[2015-04-04 13:31] metafarion commented on #3009
CybershamanX is absolutely correct here, and I'm a bit concerned that the Diaspora devs don't seem to realize how important this kind of functionality is in getting people to switch.  It is a DEAL-BREAKER that Facebook content be available to new users, at least as an option, regardless of what privacy issues this might raise.  The number 1 priority for participating in social media is to be conne

[2015-04-04 16:19] Anime-Machina commented on #5085
Well it seems I was right after all after a whole discussion of 'Yes' and 'No' and a shit ton of anger (Sorry still pissed off about it and I won't call their names right @jaywink ). Also when confronting of a new fact which did not quite taken serious with 'corrections' towards me from @jhass  wile it was a literal copy/paste from Facebook. At least we got this stuff got out of the way and yet I

[2015-04-04 23:40] svbergerem commented on #3009
@metafarion Did you read [jaywink's comment](https://github.com/diaspora/diaspora/issues/3009#issuecomment-75374504)? I think the Facebook permission docs are pretty clear about this topic. That means we are not able to display Facebook content because Facebook doesn't allow us to do that. For me this is a `won't fix` and I think we should close this issue. Any objections?

[2015-04-05 00:05] denschub commented on #3009
Affirm. Building applications displaying Facebook stream contents where possible in the past, but that changed a year ago.

[2015-04-05 00:59] jhass commented on #3009
Yes, it's actually pretty clear, I close this, we're not allowed to do it.

[2015-04-05 00:59] #3009 closed

[2015-04-05 07:01] nazar-pc opened #5851 "Database ecoding is not utf8mb4"
Update from last stable to 0.5 RC
[code]

mysql  Ver 14.14 Distrib 5.5.41, for debian-linux-gnu (x86_64) using readline 6.2

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/10498946-database-ecoding-is-not-utf8mb4?utm_campaign=plugin&utm_content=tracker%2F522&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource]

[2015-04-05 07:01] nazar-pc commented on #5851
Config, of course, was updated

[2015-04-05 08:00] nazar-pc commented on #5851
After commenting:
[code]
Migrations finished successfully

[2015-04-05 08:21] jhass commented on #5851
They did? That is there to verify you updated your `database.yml` correctly. Pay attention that the setting is `encoding` not `charset` like it was previously.

[2015-04-05 08:42] nazar-pc commented on #5851
Yes, they did, here is my config:
[code]

I'm not Ruby developer, what encodings that two lines actually compare?

[2015-04-05 08:47] jhass commented on #5851
[code]

[2015-04-05 08:48] #5851 closed

[2015-04-05 08:49] nazar-pc commented on #5851
Thanks, I missed that small difference

[2015-04-05 21:32] dimaursu commented on #5147
@svbergerem #5530 should definitely fixed this kind of inconsistency, that is if you are running the version after the merge, of course. This issue should be closed.

[2015-04-06 10:50] #5540 closed

[2015-04-06 11:01] svbergerem commented on #3876
I guess we aren't allowed to do that:
https://developers.facebook.com/docs/facebook-login/permissions/v2.2#reference-user_groups

Would be great if someone could confirm and close this issue. @denschub ?

[2015-04-06 14:44] jaywink commented on #3876
@svbergerem is correct - Facebook has tightened their policy towards web apps pulling in content. Their API clearly states `user_groups` is not something that will be given to any app, so closing this.

If someone wants to make a hack and pull posts in via some mining script and post them via an account to d* - sure they can do that, but hacks such as that should not be part of the core d* server

[2015-04-06 14:44] #3876 closed

[2015-04-07 22:41] svbergerem commented on #4327
PostgreSQL 8.x is not supported anymore: https://en.wikipedia.org/wiki/PostgreSQL#Release_history

[2015-04-07 22:41] #4327 closed

[2015-04-07 23:05] svbergerem commented on #4649
Users now always reshare the original post so the original author will receive a notification. When you like a reshare, the notification email contains the content of the post. When you comment on a reshare, the notification email contains the content of the comment. (all cases tested on my dev pod) I think we can close this issue now. @Flaburgan what do you think?

[2015-04-07 23:17] svbergerem commented on #4684
Closing an account sets the email to `deletedaccount_{id}@example.org`: https://github.com/diaspora/diaspora/blob/develop/app/models/user.rb#L537. I tried it on my dev pod and can confirm the behavior. It was implemented in 2011: [commit](https://github.com/diaspora/diaspora/commit/fe82cd66093beedf18ea0508532fef890cdc42f0). @Flaburgan feel free to reopen if we keep the email address somewhere else

[2015-04-07 23:17] #4684 closed

[2015-04-07 23:24] svbergerem commented on #5522
#4727 might be the cause of a few of the listed issues.

[2015-04-07 23:36] svbergerem commented on #4783
I think we fixed this by porting the stream to Bootstrap:
![RTL](https://cloud.githubusercontent.com/assets/3798614/7036048/9685798a-dd8f-11e4-87aa-4bb8008ecfb1.png)

[2015-04-07 23:36] #4783 closed

[2015-04-08 13:33] Anime-Machina commented on #4421
Personally I believe Lightbox will br a nice solution. But personally I see the best solution for the end user. For examle some white space with a grid of images next to it would be a sweet solution.

[2015-04-08 17:30] svbergerem commented on #4784
I was able to change the profile picture with Hebrew selected as the user's language on the develop branch. (using Firefox 37)

The profile edit page has been ported to Bootstrap before the last release so this should also work on pods running the master branch. (0.4.1.2)

I'll close this issue. @itais feel free to reopen if you are still able to reproduce this bug.

[2015-04-08 17:30] #4784 closed

[2015-04-09 04:31] #4941 closed

[2015-04-10 00:23] cmrd-senya commented on #4804
I don't know, if it is related to the bug, but besides the bug I have the following problem.

If I post to diaspora with a json request and a message contains emoticons, I got everything cut after the emoticon, including itself.

The following (pseudo) example
[code]
makes a post and the post looks like "ffff ".

A real-life test can be done with my [diaspora-api](https://github.com/cmrd-senya/dia

[2015-04-10 01:51] denschub commented on #4804
@cmrd-senya Did you test on the latest release or the 0.5.0.0-rc?

[2015-04-11 07:40] jhass opened #5856 "Help text for renaming an aspect is outdated"
The procedure changed.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/10911835-help-text-for-renaming-an-aspect-is-outdated?utm_campaign=plugin&utm_content=tracker%2F522&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F522&utm_medium=

[2015-04-11 12:07] cmrd-senya commented on #4804
I tested it with the release, and for some reason json request { "status_message" => { "text" => msg, "provider_display_name" => @providername }, "aspect_ids" => aspect} doesn't work with 0.5.0.0 at all (tested on diasp.ca). Any ideas why?

[2015-04-11 12:21] jhass commented on #4804
"doesn't work" is not very helpful. What do you get?

[2015-04-11 12:33] cmrd-senya commented on #4804
For both 0.4.1.2 (socializer.cc) and 0.5.0.0 (diasp.ca) I receive the answer
[code]

I am making post request to https://diasp.ca/status_messages. Is that correct?

The same request for https://socializer.cc/status_messages works fine.

[2015-04-11 12:38] jhass commented on #4804
I don't follow, you seem to contradict yourself. You say you're getting redirected to sign in on both pods, yet you say it works fine on one?

[2015-04-11 12:43] cmrd-senya commented on #4804
I get 302 as the answer for my POST json request (post a status message), but in case of 0.4.1.2 my status message get posted, while in 0.5.0.0 - not.

[2015-04-11 12:44] jhass commented on #4804
Details matter here, is the response identical in both cases? Same headers, same body?

[2015-04-11 12:46] jhass commented on #4804
Also more importantly this bug is about posting a post with Unicode codepoints outside the BPM, using regular methods. Doing so by abusing our application internal APIs is unsupported, which we made clear in the past, and something to figure out on your own.

[2015-04-11 12:48] cmrd-senya commented on #4804
Yes, I do it with [the script](https://github.com/cmrd-senya/diaspora-api/blob/master/lib/diaspora-api.rb), [post method](https://github.com/cmrd-senya/diaspora-api/blob/master/lib/diaspora-api.rb#L76).

I invoke it in the following way:
[code]

[2015-04-11 12:51] cmrd-senya commented on #4804
I understand, sorry for the offtopic.
If you could (and want to) help me in anyway, we can move the discussion to a different place.
I think client interface for Diaspora is still important for the project, though no official efforts is done. It eventually helps to make D* a better place.

[2015-04-11 12:55] jhass commented on #4804
The official efforts are done, finding an authentication scheme that works in this context is just easier said than done.

[2015-04-11 18:43] #3393 closed

[2015-04-13 14:25] jhass commented on #5856
Related to #5698

[2015-04-14 11:20] goobertron commented on #5698
If someone can list which functionality has changed and therefore which parts of the help section need updating, I'll write some new text. I don't have the energy right now to go through the whole UI testing for changes, I'm afraid.

[2015-04-14 11:20] goobertron commented on #5856
I guess if this needs the next-major milestone, then #5698 does as well. I'll happily write new text, if someone will tell me what needs changing.

[2015-04-14 11:57] jhass commented on #5856
I assigned this to next-major since it has an concrete action point, opposed to some vague "somebody needs to check" in #5698

[2015-04-14 12:19] Flaburgan commented on #5698
I have most of the changes in mind I think, I'll see if I can find some time to open a PR.

[2015-04-14 13:33] goobertron commented on #5698
Adding a location to the post: we should say where this information is obtained, and who your data are shared with. It looks to be Mozilla geolocator, which from their FAQ appears to send user data to Google Location Services: see https://www.mozilla.org/en-GB/firefox/geolocation/

Is this correct?

[2015-04-14 13:37] goobertron commented on #5698
Ah, got it from /app/assets/javascripts/osmlocator.js - it's OpenStreetMap.

[2015-04-14 13:40] Flaburgan opened #5858 "Error in diaspora output: User Agent detection failed."
So I have several errors like this one in my console output running `script/server`

[code]

I checked [line 68](https://github.com/diaspora/diaspora/blob/develop/lib/rack/chrome_frame.rb#L68) with Jonne, it appears that `ua_string.match(/MSIE (\S+)/)` returns `nil`. That means, no space after `MSIE`.

Here is the evil User Agent I found in the nginx logs: `Mozilla/4.0 (compatible; MSIE8.0; Window

[2015-04-14 13:44] #5856 closed

[2015-04-14 14:31] goobertron commented on #5698
PR submitted: #5859

Please check the changes and make sure all the updates required have been made, and let me know of anything else I need to do.

[2015-04-14 15:16] goobertron commented on #5563
I agree this is not a great idea, especially as D* version numbers look like IP addresses!

If someone wants to link to an IP address, they can easily do it using Markdown. We need to allow people to post four-part numbers (such as D* versions) without them being turned into links.

[2015-04-14 15:21] goobertron commented on #5753
I'm unable to reproduce this on diaspora-fr.org, so it doesn't appear to be a pod issue. I've tested in two browsers, and all works fine, whether zooming over post and comments avatars or the avatars of people in the stream at top right.

Can anyone who does reproduce this locate any problem in the code? If not, should we allow this ticket to block release of 0.5.0.0?

[2015-04-14 15:41] Flaburgan commented on #5753
@goobertron I definitely can reproduce it on d-fr. Just use it ~10 minutes navigating between the stream and the SPV and I'm sure you'll see it too. Using Firefox here, I don't know about the other browsers.

[2015-04-15 06:50] Loelo opened #5860 "Allow user to enable / disable email notifications for all visible new posts from a contact."
The button could be on people profile page, and aspect manager page, and maybe on hovering an avatar :  If on, this would enable email notifications for all new (visible by the user) posts that this person will make. Should be very useful if either you do not connect often or have a very populated stream, but do not want to miss posts from some specific contacts.

[2015-04-15 09:20] Flaburgan opened #5861 "Make the e-mail field optional in the registration form"
diaspora* doesn't need an e-mail to be used. The e-mail is useful only to get back its password and to receive notifications. We don't even send a verification e-mail to check if the address is valid and the user owns it.

I propose to make the e-mail field optional in the registration form with an indication like "Enter an e-mail address if you want to be able to recover your password and you int

[2015-04-15 09:47] jhass commented on #5861
I feel like this is a quite substantial change, we should vote about it.

[2015-04-15 10:56] pravi opened #5862 "there is no default-* in public/assets in 0.5.0.0"
[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/11198513-there-is-no-default-in-public-assets-in-0-5-0-0?utm_campaign=plugin&utm_content=tracker%2F522&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F522&utm_medium=issues&utm_so

[2015-04-15 11:02] Flaburgan commented on #5861
Fair enough, I'm going to open a Loomio discussion.

[2015-04-15 12:19] jhass commented on #5862
Nice catch, want to open a pull request?

[2015-04-15 13:36] pravi commented on #5862
done!

[2015-04-15 13:42] #5862 closed

[2015-04-16 12:20] Flaburgan commented on #3666
So we reproduce it again on framasphere. The author of [this comment](https://framasphere.org/posts/601455#cd0102d0c5730132ead92a0000053625) tries to delete it. There is a `DELETE` request which is sent to https://framasphere.org/comments/471845 (this link is a 404 btw... ?) and the comment disappears but is still there when the page is reloaded.

Here is what I found in the production.log
[code]

[2015-04-16 13:52] Flaburgan commented on #3666
Goffi confirmed. He was not sharing with timyus, when he started sharing with him, he was able to remove the comment.

[2015-04-16 13:58] jhass commented on #3666
I'm not sure why that request is taking the private receiver route, either that is the bug or if it's supposed to work that way it's in the validations in https://github.com/diaspora/diaspora/blob/develop/lib/postzord/receiver/private.rb#L60

[2015-04-16 14:23] Flaburgan commented on #3666
Why did you tag that "federation", both users are on the same pod.

[2015-04-16 15:47] jhass commented on #3666
Because it errors out in the federation layer.

[2015-04-19 14:22] #5698 closed

[2015-04-20 15:17] Thor77 opened #5866 "Alignment of loading-gif with tweets"
The alignment of the loading gif is wrong in posts with tweets:
In versions < 0.5 you can see it only in post-view, since 0.5 you can see it in the stream, too.
Stream
![d-twitter1](https://cloud.githubusercontent.com/assets/4989736/7233301/becf3a66-e780-11e4-984b-2e527508ea9d.png)
Post-view
![d-twitter2](https://cloud.githubusercontent.com/assets/4989736/7233304/c1d4f28c-e780-11e4-8b0a-de42d538ba

[2015-04-20 20:36] #4671 closed

[2015-04-20 20:36] #4939 closed

[2015-04-20 21:18] teslasmoustache opened #5871 "Fonts look bad in Diasp.org"
Still not sure if this is only on my end. I've tried Iceweasel, Midori, and Rekonq. Running Debian Jessie.
![](https://diasp.org/uploads/images/scaled_full_068e570a3829b98e46ca.png)

Can anyone verify?

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/11624001-fonts-look-bad-in-diasp-org?utm_campaign=plugin&utm_content=tracker%2F522&ut

[2015-04-20 21:21] Flaburgan commented on #5871
I can see your post without font problem from diasp.org with Firefox 37 under Ubuntu.

[2015-04-21 15:48] gordon-morehouse opened #5874 "Bolded markdown URLs broken in two distinct ways."
### WHAT ACTUALLY HAPPENS

1. Enter a bolded bare URL such as `**http://www.google.com/**`
2. Post
3. URL is not presented in bold and has two asterisks appended when clicked.

Italics not tested.

### WHAT I EXPECT TO HAPPEN

The URL should be presented in bold without markup cruft dangling from either end in the href.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](h

[2015-04-21 16:07] svbergerem commented on #5874
The HTML for those URLs is ok. We just need to change the CSS:
![strong url](https://cloud.githubusercontent.com/assets/3798614/7256677/e7272598-e850-11e4-9ffb-6ee2f3832996.png)

I am not able to reproduce that.

[2015-04-21 18:49] #5272 closed

[2015-04-21 18:57] jhass commented on #5717
Rescheduling to 0.5.1 since we need more discussion about what the proper solution is here.

[2015-04-21 20:02] #5753 closed

[2015-04-23 08:38] kas70 opened #5880 "use user avatars in chat sidebar"
currently there is a smiley place holder.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/11850816-use-user-avatars-in-chat-sidebar?utm_campaign=plugin&utm_content=tracker%2F522&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F522&utm_

[2015-04-23 08:49] Flaburgan commented on #5880
Please report chat front-end issue on [the corresponding repository](https://github.com/diaspora/jsxc/issues). There should be the users avatar, if it is not there, that means they didn't have the chat activated.

[2015-04-23 10:31] kas70 commented on #5880
ok, sorry.
i added some contact on diasp.net and there's no avatar, but i'm able to chat with that person.

[2015-04-23 10:48] jhass commented on #5880
Yes, please open the issue over on the other repo.

[2015-04-23 10:48] #5880 closed

[2015-04-23 21:45] Faldrian opened #5881 "RC 0.5.0.0: "Like"-Action triggers subscription of the post"
When testing the RC 0.5.0.0 several people noticed: You subscribe to the post when you like the post.
This is different then before - previous to RC 0.5.0.0 you would only subscripte to a post when you comment on the post.

I don't know if this is intentional, but it is an important change in user interaction design and if intentional it should be discussed (maybe it has been, then sorry for not n

[2015-04-24 08:07] jhass commented on #5881
A bit background: The subscription is based on what we call participations. A like always created a participation, so did a comment or a reshare. The new "subscribe to post" feature works by creating a participation but no other interaction with the post. The list of people to notify is determined by who has a participation for that post, previously we checked whether a comment by the recipient ex

[2015-04-24 08:20] Faldrian commented on #5881
Thanks a lot for the explaination!
Maybe it will turn out a good feature to have yourself notified about comments on post you did only "like". Maybe not... at least the behaviour is more consistent now from a programmers point of view.

As diaspora is a changing community-project, we might try this and make adjustments later... sorry for the "boa, things changed, I have to make a big deal of it" i

[2015-04-24 08:36] jhass commented on #5881
Well, thinking about it, we could easily add a flag in the participations table whether notifications for it should be generated or not, it's just our biggest table, so even that bit for the flag will likely blow it up quite a bit further.

[2015-04-24 08:43] Faldrian commented on #5881
Hm... I think "make good defaults and not so many settings" may have been one of the design principles we tend to use... otherwise I would say it could be simple to just generate a participation when clicking "like" and having a "follow on like" option (per user) enabled in the settings. That would not have something to do with the participations table but more with the user table which has a lot

[2015-04-24 09:18] jhass commented on #5881
No, the main purpose of the participations table is to track which users (and thus pods) should receive interactions with a post, the notifications are only the second step after that.

[2015-04-24 09:21] Faldrian commented on #5881
I understand that. If a user is not added to the participations table (for that post) the user will not receive interactions. If I like a post but will not be added to the table, the behaviour will be as it was in the old version. Whether someone is added to the table or not could be controlled by a user-specific setting that is evaluated when the user clicks the like-button.

[2015-04-24 09:21] kas70 opened #5884 "add 'what is diaspora*?' info to email invitation"
maybe by adding a link to diasporafoundation.org.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/11953360-add-what-is-diaspora-info-to-email-invitation?utm_campaign=plugin&utm_content=tracker%2F522&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_conte

[2015-04-25 11:02] Flaburgan commented on #5881
Note that now you can also unsubscribe to notification, so no need to think a lot about "do I have to comment and be spammed", you can comment / like and immediately stop receiving notification for the post ;)

[2015-04-25 11:03] Faldrian commented on #5881
@Flaburgan I know that. I just don't want to hit "unsubscribe" 100x when I like 100 posts where I don't want any notifications and "just" liked them.

[2015-04-25 16:28] mrbrdo commented on #3824
should be fixed by https://github.com/diaspora/diaspora/pull/5891
checking migrations not worth it as mentioned in the commit message

[2015-04-25 17:10] #3824 closed

[2015-04-25 17:40] efstrian commented on #5884
Should this be done for every locale file?

[2015-04-25 17:41] jhass commented on #5884
No, our translators will do that work, only update/add to the English locale.

[2015-04-25 18:41] efstrian commented on #5884
Any preferred message? (a dummy question, but is there any way to test the output?)

[2015-04-25 18:48] jhass commented on #5884
To test the output just trigger the message delivery from `bin/rails console` and watch your `log/development.log`.

[2015-04-25 21:04] efstrian commented on #5884
I've added the link directly to the locale file. Is that right?

[2015-04-26 10:14] igalic opened #5894 "mixed content"
browsers warn that a stream is mixed content. main reason for that is that people can embed images, and those can be http or https or, well, anything a browser will load.

GitHub allows the same thing (here's an image link to http://www.alef.net/ALEFAnimatedGifs/Animals-CatsMoving/HoveringCats.Gif )

![demonstration of an image link: Hovering Cats](http://www.alef.net/ALEFAnimatedGifs/Animals-Cats

[2015-04-26 10:16] jhass commented on #5894
#5386  added Camo support and will be included in 0.5.0.0

[2015-04-26 10:16] #5894 closed

[2015-04-26 10:25] igalic commented on #5894
\o/ thanks!

[2015-04-26 12:32] efstrian commented on #5827
Could this really be implemented? One should change the looks of the sign up forms (spacing between fields, multiple error messages), shouldn't he?

[2015-04-26 14:35] kzurell opened #5895 "Repeated crashes with Chrome stable on OS X on joindiaspora.com"
Have repeatedly crashed Chrome when loading additional content/infinite scrolling in stream.

To reproduce,
- open Chrome,
- open joindiaspora.com/stream,
- scroll to bottom, and
- wait.

Chrome abruptly disappears. Behaviour seems new in past few days.

OS X 10.10.3, Chrome Version 42.0.2311.90 (64-bit)

Have opened an issue with Google: https://code.google.com/p/chromium/issues/detail?id=481387

[2015-04-26 20:12] RichKavanagh commented on #5895
I can't replicate this on joindiaspora.com or joindiaspora.co.uk

Did you have to use the infinite scroll a few times? Or does it do it on the first attempt to load more stream?

Also on OSX10.10.3 and Chrome 42.0.2311.90 (64-bit)

[2015-04-26 20:17] RichKavanagh commented on #5871
I think @teslasmoustache may have this fixed now: https://joindiaspora.co.uk/posts/260718

[2015-04-26 20:21] RichKavanagh commented on #5861
Raised for you on Loomio: https://www.loomio.org/d/SeOLNYJc/make-the-e-mail-field-optional-in-the-registration-form

[2015-04-26 20:33] RichKavanagh commented on #5660
Like Microsoft Outlook expands Dist Lists in the "TO:" field :+1:

[2015-04-26 20:40] kzurell commented on #5895
Often the first infinite scroll, sometimes second or third.

Display freezes, beach ball, entire app disappears.

Started chrome with --disable-extensions, exact same crash behaviour.

Tried it on both joindiaspora.com and diasp.eu.

The last crash I triggered left an entry in chrome://crashes, which didn't always happen.

[2015-04-27 04:00] CannyFoxx commented on #5085
I turned off facebook api on my pod. Not working anyway. Facebook have a very aggressive policy of spying

[2015-04-27 08:40] denschub commented on #5895
I fear we're not able to give you any support, I cannot reproduce using 42.0.2311.90 and in tonights nightly. If you have crash reports in `chrome://crashes`, please share them with us. If not, report this issue to the Chrome developer team.

Is this also reproducible in Chromium?

[2015-04-27 08:59] rebeka-catalina commented on #5881
@Flaburgan
Yes, that's really a good feature, absolutely agree. I also see now a bit the background of the table and coding "problems".
But from in practical view on "the other side" it's not done with disabling the notifications - that's also only the second step. If I like a post by clicking, then in background the subscription already happens, but the button appears as disabled. So we have to r

[2015-04-27 09:03] Flaburgan commented on #5881
@rebeka-catalina this corresponds to the issue I open: https://github.com/diaspora/diaspora/issues/5811

Btw, maybe we can add a small fix to this problem by checking when someone likes a post if there was no participation before. In this case, we call the unsubscribe action right after the like.

[2015-04-27 09:46] rebeka-catalina commented on #5881
Aah ok - thank you. Didn't see that :)

[2015-04-27 10:47] Flaburgan commented on #5796
@Globulle I finally found the issue: https://github.com/diaspora/diaspora/issues/4789

[2015-04-27 11:19] Flaburgan opened #5897 "Bugged "is sharing" indication on the profile page"
**Step to reproduce:**
Create two accounts A and B, and make them share together
Go to B profile being logged with A.
B is shown as sharing with you.
Click on the "ignore" action.
B is now shown as not sharing.
Cancel the ignore action
B is still shown as not sharing
Add B back to your aspect
B is still shown as not sharing
Refresh, do whatever you want...

This is because we test the sharing [tha

[2015-04-27 12:21] jaywink commented on #5085
It's unlikely there will be an easy permanent fix for allowing pod users (not app owner) to post to facebook via diaspora.

The only real option we have then is to make sure we don't show the "connect with facebook" button in the d* UI if there is possibility for users to post. I was thinking we could add a third setting to the Facebook services setting in `diaspora.yml` called `visibility` with o

[2015-04-27 13:15] kzurell commented on #5895
Thanks for looking into this. Good that it's not a general problem.

Will conduct a comprehensive examination when time allows.

[2015-04-27 16:25] goobertron commented on #5897
This looks like a duplicate (or almost a duplicate) of #4757. I don't blame you for not finding that old issue, but reading yours I'm pretty sure it's the same thing. Thanks for at least tracking down what is causing this anomaly.

[2015-04-27 19:56] Flaburgan commented on #5897
It is, closing and explaining there.

[2015-04-27 19:56] #5897 closed

[2015-04-27 19:58] Flaburgan commented on #4757
I just found that bug again and explain the problem in the JS in #5897
But as you said, the view problem is not the only one: we also have a bug in the back-end because now, the user blocked and then unblocked still sees the other user as part of his aspect. There definitely is something quite critical here.

[2015-04-28 11:51] goobertron opened #5898 "Issue parsing HTML in OpenGraph previews"
I've found an example of an OpenGraph description containing HTML entities, which Diaspora's OG preview displays in a way which is not what (I'm sure) was intended. It is probably bad practice to include HTML entities in OG fields, and this is most likely where the problem lies; but I'm wondering whether, even so, it might be worth coding so that Diaspora presents such descriptions better than it

[2015-04-28 11:55] jhass commented on #5898
I'd say this is a won't fix. People put all sorts of non-spec crap into these tags, we shouldn't make that our issue, it's very clearly theirs.

[2015-04-28 11:56] Proxiweb opened #5899 "Standalone Pod and white list"
Hello,

I need :

A way to configure a standalone pod which can't communicate with other pods.
A way to create a white list of pods the pod is authorized to talk.

Use case : I would like to install a pod for a school / a list of school.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/12372722-standalone-pod-and-white-list?utm_campai

[2015-04-28 11:58] jhass commented on #5899
No, this goes against Diasporas ideals and core design, see also our FAQ: https://wiki.diasporafoundation.org/FAQ_for_pod_maintainers#Can_I_make_my_pod_private.2Fisolated.2Fnot_communicate_with_other_pods.3F

[2015-04-28 11:58] #5899 closed

[2015-04-28 12:19] Flaburgan commented on #5899
Please note that diaspora* works the same way than e-mail. Imagine you are using Yahoo, you can't explicitly say that you don't want to receive emails from Gmail. If you never communicate your email to someone who is using Gmail though, you will never receive an email from Gmail ;)

[2015-04-28 13:17] goobertron opened #5900 "Possible 0.5 regression: image not appearing via Markdown"
For some reason diaspora-fr.org (running `develop`) won’t display this image when embedded in Markdown: http://www.tomgauld.com/files/tgns01tgcom.jpg

I’ve posted it from diaspora-fr.org, and from pod.orkz.net (`v0.4.1.2`), and whichever pod I post it from, the image displays fine in pods running 0.4.x (I also tested geraspora, diasp.org and jd.com) but not in d-fr.org.

As to other pods running `

[2015-04-28 13:18] goobertron commented on #5898
OK, that's fair enough. Thanks for your quick reply. I thought it was worth pointing it out, although I suspected that might be the outcome. I'll leave it open just for now, in case any other core people want to express an opinion, then I'll close it soon if not (or you can close it).

[2015-04-28 13:22] jhass commented on #5900
![embed](http://www.tomgauld.com/files/tgns01tgcom.jpg)

[code]

As you can see the `Content-Type` is incorrectly set to `text/html`, Camo, rightly so, refuses to proxy URLs with that content type. As you can see it doesn't work here on Github either, as it uses the same technology.

I'm sorry but this is another won't fix.

[2015-04-28 13:22] #5900 closed

[2015-04-28 13:24] #5898 closed

[2015-04-28 13:49] Flaburgan commented on #5900
@goobertron so this is not because of the markdown parser but because of camo. But I agree with Jonne, this is not our fault.

[2015-04-28 16:26] goobertron commented on #5900
@jhass Thanks for the explanation. I agree if something is incorrectly presented in that way (I guess this could make it a possible attack vector?) it shouldn't be proxied.

However, there is an issue here, although a different one: if Camo is not going to allow proxy of an asset, it should not appear in the post preview, which it currently does.

Further, it would be helpful for users, I think, t

[2015-04-28 16:28] jhass commented on #5900
Don't we already have an issue about requesting a camo-ified URL from the client side? I remember a discussion about that but can't find it.

[2015-04-28 20:54] Flaburgan commented on #5900
@jhass it's the one open by @SansPseudoFix about markdown links in a code section?

[2015-04-28 20:55] Flaburgan commented on #5900
Talking about this: https://github.com/diaspora/diaspora/issues/5608

[2015-04-28 20:58] jhass commented on #5900
Mh, I guess so.

[2015-04-29 01:37] denschub commented on #5871
Browser issue, closing.

[2015-04-29 01:37] #5871 closed

[2015-04-29 03:44] gordon-morehouse commented on #4171
That's a link to the board, not a link to the thread. *sigh*

It is not a good practice to discuss features in >1 place.

In any event, there is no practical way of implementing this feature request. I recommend it be closed.

[2015-04-29 03:45] gordon-morehouse commented on #3233
Can this issue be closed as resolved? See my prior comment.

[2015-04-29 03:46] gordon-morehouse commented on #1567
Should this issue be closed as ancient?

If not, is there a potential for abuse? I can think of a scenario in which harassers can post a #dogwhistle tag on posts they don't like to target users for harassment.

[2015-04-29 03:53] gordon-morehouse opened #5901 "Feature: lock comments on a post at any time"
Currently (correct me if I'm wrong), once a D* user makes a post, anyone with access to it can comment on it (subject to some bugs and other issues).

This leads to a problem of one's innocent post about topic X being threadbombed by people arguing about topic Y. It can be annoying, unwelcome, and unpleasant to deal with.

**A post author should be able to disable commenting (or commenting further

[2015-04-29 04:56] gordon-morehouse opened #5902 "if simple #hashtags are used in #compoundhashtags, email hashtags broken"
If I make a post that, in email notifications, sums up as "foo bar baz #lol #wat #lolhuh #fail #lolcats", then in said notifications, only the "#lol" part of the "#lolhuh" and "#lolcats" hashtags will be URL-ified, and that URL will link to #lol, not #lolhuh or #lolcats respectively.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/12

[2015-04-29 04:56] gordon-morehouse commented on #5902
(One way to reproduce this is to get someone to reshare a post you made with #simple hashtag first and #simplecompound hashtags later in the post; that's how I discovered it.)

[2015-04-29 07:01] Flaburgan commented on #5902
yeah I saw that for a long time, forgot to report...

[2015-04-29 09:14] Flaburgan opened #5903 "Empty private conversation"
![capture du 2015-04-29 11 07 26](https://cloud.githubusercontent.com/assets/930064/7387877/3228548e-ee61-11e4-9be4-b620bab77107.png)

There is not content in the conversation created by @jaywink, and it's displayed third. It's not the first time I have this bug in d-fr. Nothing in the JavaScript Console and I have no idea what I should try to grep in the log.

<bountysource-plugin>
---
Want to ba

[2015-04-29 09:22] Flaburgan commented on #5903
Looking in the DB, there is not message linked to the conversation.

[2015-04-29 10:48] denschub commented on #5903
dupe of #5103.

[2015-04-29 10:48] #5903 closed

[2015-04-30 09:10] svbergerem commented on #5874
#5887 fixed the first issue. Since I wasn't able to reproduce the second one, I'll close this. Feel free to reopen if you are able to reproduce the second issue again.

[2015-04-30 09:10] #5874 closed

[2015-04-30 11:04] #5858 closed

[2015-04-30 11:06] #5508 closed

[2015-05-01 11:17] jaywink commented on #5903
Couldn't find anything in the logs on my side :( Another conversation failed too, Augier reported from d-fr.

@Flaburgan did you check your sidekiq log from this period?

[2015-05-01 14:31] dest4131 opened #5905 "Newly registered user wont see old private posts in his aspect"
Here is the phenomenon that looks like a bug to me:
- user A has an aspect "Family" and posts something private to this aspect.
- user B registers to Diaspora
- users A and B follow each other in the aspect "Family"
- user B sees the public posts of user A, but not the private post.

tested with users A and B on the same node with code 0.4.1.2-p5cabd692
kind regards

<bountysource-plugin>
---
Want

[2015-05-01 14:43] Flaburgan commented on #5905
This is the expected behaviour.

[2015-05-01 14:45] Flaburgan commented on #5903
Could you please give me the exact time you posted the message?

[2015-05-01 14:45] jhass commented on #5905
Yes, this is by design, aspects define the recipients at the time of posting, not at the time of viewing. This is to avoid accidental leak of a private post to an unwanted recipient and makes the federation protocol a lot easier as a side effect.

[2015-05-01 14:45] #5905 closed

[2015-05-01 14:53] Flaburgan commented on #5903
So you organization message also is empty. Sent today at 12:43:13. Here is what I found in production.log:

[code]

[2015-05-01 15:09] Flaburgan commented on #5903
Ok I continue to grep, here is what I found sooner this morning:
[code]

I'm the user 1 and user 297 is augierle42e.

[2015-05-01 17:12] githubgnulinux opened #5906 "Diaspora inaccessible with orbot"
Programmers: the scenario.

Mobile phone, display size 65x55 mm android, tor, orbot web browser (images disabled, ecmascript enabled and also disabled no effect).

Black menu bar at top, text links for stream, my activity, etc. all invisible

Unable to toggle from mobile to desk view because right menu inaccessible

See: https://diasp.eu/posts/3079755

<bountysource-plugin>
---
Want to back this i

[2015-05-02 11:03] jaywink commented on #5903
I don't get what `Parent` here refers to. I don't really seem to find anything that matches that description for conversations.

@jhass any idea? The error is coming afaict from ActiveRecord, here https://github.com/jaywink/diaspora/blob/develop/app/workers/base.rb#L19-19

[2015-05-02 11:55] jhass commented on #5903
I'd have to trace through the code, I suspect it's an included Message that throws the visible validation error (https://github.com/diaspora/diaspora/blob/develop/lib/diaspora/relayable.rb#L16) and we don't see why the Conversation didn't save.

[2015-05-02 12:23] jaywink commented on #5903
Seems like there is 3 sidekiq jobs, the first one says "Failed to receive Message" and *has* a conversation_id. The next two say "Failure to receive Conversation". Don't quite follow the logic here, but there *IS* a conversation created in the first job since otherwise @Flaburgan would not see it in the UI :P

@Flaburgan do you have sidekiq debug logging on? I'd assume something would show there t

[2015-05-02 13:16] jhass commented on #4218
We decided to drop the install scripts.

[2015-05-02 13:16] #4218 closed

[2015-05-02 13:16] jhass commented on #4275
We decided to drop the install scripts.

[2015-05-02 13:16] #4275 closed

[2015-05-02 13:17] jhass commented on #4750
We decided to drop the install scripts.

[2015-05-02 13:17] #4750 closed

[2015-05-02 15:24] svbergerem commented on #4913
Is anyone still able to reproduce this bug?

[2015-05-02 16:57] svbergerem commented on #5095
We already have a "remember me" checkbox on the sign in page which is hidden and set to true. Of course that only works as long as you don't delete your cookies or you log out.

I think we can close this issue. Any other opinions?

[2015-05-02 17:16] svbergerem commented on #2979
We already have a PR that implements a language filter (#4998) and I don't think that using hashtags for a language filter would be the right solution.

Does anyone think that we need hashtags with colons?

[2015-05-02 17:20] goobertron commented on #2979
No.

[2015-05-02 17:22] goobertron commented on #5095
Is there any benefit to allowing users to choose whether or not to be remembered when signing in? If not, I agree we can close this.

[2015-05-02 17:33] Flaburgan commented on #5903
I have a sidekiq.log file but I have found nothing in it grepping for your id `7ed1555bc6ae03db` or the message guid `a4168540d21c013260f16c626dd55703`. Where did I set the log level?

[2015-05-03 01:20] theatre-x opened #5914 "Character count when posting status and image to Twitter disappears"
Hey everyone,

I noticed today that when I am about to post to d* and Twitter, if I add a photo to my post, the character count for the 140 characters for a Twitter post disappears.

Anyone else experiencing this?

I'm on shrekislove.us

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/12882795-character-count-when-posting-to-twitter-d

[2015-05-03 08:09] jhass commented on #5914
This will be fixed with diaspora* 0.5.

[2015-05-03 08:09] #5914 closed

[2015-05-03 09:07] svbergerem commented on #2979
Ok, I'll close this. If anyone still thinks that we need hashtags with colons, please discuss on loomio how we should define hashtags.

[2015-05-03 09:07] #2979 closed

[2015-05-03 09:07] svbergerem commented on #5095
I don't see any benefit.

[2015-05-03 09:07] #5095 closed

[2015-05-03 09:21] svbergerem commented on #3233
#5756 deals with the same issue. @mindaslab If you still think there should be a switch in the header you could mention that in the other issue.

[2015-05-03 09:21] #3233 closed

[2015-05-03 09:32] svbergerem commented on #4926
This issue is already part of # #4888.

[2015-05-03 09:32] #4926 closed

[2015-05-03 09:51] svbergerem commented on #5902
I'm not able to reproduce this on develop:

**post**:
`#tag #hashtag #loltag #cat #lolcat`

**notification mail for "like"**:
[code]

The same thing happens when someone reshares the post. I'll close this issue. Feel free to reopen if you are able to reproduce this on develop.

[2015-05-03 10:06] svbergerem commented on #4518
I think we (somehow) solved this. On the standard landing page there is no toggle mobile anymore so I went to the sign in page, followed the toggle mobile link and then went back to the landing page.

The landing page is now the same for mobile and desktop users but the favicon is different. When following the sign in link you are again on the mobile sign in page.

Is there anything else we need t

[2015-05-03 12:25] Flaburgan commented on #4649
I don't get if this was the intentional behaviour but PostA reshared by UserB => ReshareB, UserC reshares ReshareB, now UserB doesn't have a notification at all... ??

[2015-05-03 12:43] svbergerem commented on #4649
UserC always reshares the original post. We changed that some time ago.

[2015-05-03 13:06] Flaburgan commented on #4649
Okay so yeah this can be closed, as UserB doesn't receive a notification anymore. But I guess to receive a notification was nice, so we should re-add that.

[2015-05-03 13:06] #4649 closed

[2015-05-03 14:13] svbergerem commented on #3046
Also tested signing up on my dev pod using an email address with a +. Everything seems to work.

[2015-05-03 14:13] #3046 closed

[2015-05-03 14:43] svbergerem commented on #4760
No reaction for more than 2 months and I am still not able to reproduce this issue. I'll close this. Feel free to reopen whenever you are able to reproduce the bug.

[2015-05-03 14:43] #4760 closed

[2015-05-03 14:53] svbergerem commented on #5577
I'm not able to reproduce that. @Flaburgan Do you have any examples that could trigger this issue?

[2015-05-03 15:01] svbergerem commented on #4825
This has been fixed by #5722.

[2015-05-03 15:01] #4825 closed

[2015-05-03 15:12] svbergerem commented on #5575
Is this a duplicate of #3688?

[2015-05-03 15:21] svbergerem commented on #5486
@jjoe: do you have any additional information?

[2015-05-03 15:46] stoneartist commented on #5575
i don't know . i haven't encountered the error in several months .

On Sun, May 3, 2015 at 8:13 AM, Steffen van Bergerem <
notifications@github.com> wrote:

[2015-05-03 16:16] svbergerem commented on #5016
@TheRadialActive It would be great if you could test this once geraspora has been updated and decide if you consider this issue as fixed.

[2015-05-03 18:47] Flaburgan commented on #5577
I'm not able to reproduce that too, no 500 running 0.4.1.3 on framasphere. But the validation e-mail isn't arrived.

[2015-05-03 19:46] svbergerem commented on #5577
On my production pod I received a validation email. Are you able to find anything in the logfiles?

[2015-05-03 21:32] kas70 opened #5916 "show a notification if it's a contacts birthday"
<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/12977664-show-a-notification-if-it-s-a-contacts-birthday?utm_campaign=plugin&utm_content=tracker%2F522&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F522&utm_medium=issues&utm_source=git

[2015-05-03 21:35] jhass commented on #5916
I reopened #1649

[2015-05-03 21:35] #5916 closed

[2015-05-03 21:36] jhass commented on #1649
I'm not sure how useful this is, many people seem to use incomplete or fake dates on diaspora.

[2015-05-03 21:37] Flaburgan commented on #5577
Yeah everything works fine on diaspora-fr too, this is probably related to the setup of framasphere.org. I'll have a look.

[2015-05-03 21:43] kas70 commented on #5916
great, thanks!;)

Am 3. Mai 2015 23:35:29 MESZ, schrieb "Jonne Haß" <notifications@github.com>:

[2015-05-03 22:06] rev138 opened #5917 "500 error on login after 0.5.0.0 upgrade"
I just ran through the upgrade, following the instructions. Tailing production.log shows a lot of traffic coming in with 200 responses, but when I try to log in I get a 500 error. The log reports:

[code]
Please advise!

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/12979791-500-error-on-login-after-0-5-0-0-upgrade?utm_campaign=plug

[2015-05-03 22:21] Flaburgan commented on #5902
The bug is still there in the last develop, it's the beginning of the words:
`#test #testyeah`

`<p><a href=3D"https://diaspora-fr.org/tags/test">#test</a> <a href=3D"htt=
ps://diaspora-fr.org/tags/test">#test</a>yeah</p>`

[2015-05-03 22:24] svbergerem commented on #5902
As I wrote above I'm not able to reproduce this but since you were able to do so I'll reopen.

[2015-05-03 22:24] Flaburgan commented on #5917
Did you modify this file?

[2015-05-03 22:25] Flaburgan commented on #5902
@svbergerem test with the same first letters of tag. first #some and then #something and you'll see that "thing" is not part of the link for #something.

[2015-05-03 22:25] rev138 commented on #5917
"app/controllers/application_controller.rb" I presume? No. I've only ever modified stuff in the 'config' dir.

[2015-05-03 22:28] rev138 commented on #5917
Is that a missing field in my users table? I kind of get the impression it is. Here's what I have now:

+------------------------------------+--------------+------+-----+---------+----------------+
| Field                              | Type         | Null | Key | Default | Extra          |
+------------------------------------+--------------+------+-----+---------+----------------+
| id

[2015-05-03 22:28] rev138 commented on #5917
See here: https://github.com/diaspora/diaspora/blob/abc42038408402cab2884b3ee6868523e1b285c5/db/migrate/20150220001357_add_photos_export_to_user.rb

[2015-05-03 22:29] jhass commented on #5917
Yes, this sounds like a migration failed and later migrations were canceled, I hope you still have the output from `bin/rake db:migrate`.

[2015-05-03 22:31] rev138 commented on #5917
No, but I don't recall it showing any errors. Is there a way to retroactively fix it? Can I just add a column?

[2015-05-03 22:31] jhass commented on #5917
That would be very bad, you can try rerunning the `db:migrate` step and watch more closely for errors this time.

[2015-05-03 23:30] svbergerem commented on #5902
@Flaburgan Ok, now I was able to reproduce the bug. m(

[2015-05-03 23:44] rev138 commented on #5917
Ok. Early indications look like switching to utf8mb4 in mysql is neither trivial, nor automated by the migration script. I'm working on that now. I'll report back. Thanks.

[2015-05-04 00:15] rev138 commented on #5917
Here's a snippet of the output around where it fails. I'm manually converting the db/tables to utf8mb4 and I'm going to try again.

-- add_index("notifications", ["target_type", "target_id"], {:name=>"index_notifications_on_target_type_and_target_id", :length=>{"target_type"=>190}, :using=>:btree})
   -> 0.3435s
rake aborted!
StandardError: An error has occurred, all later migrations canceled:

Da

[2015-05-04 00:16] jhass commented on #5917
No, stop hold on!

[2015-05-04 00:18] rev138 commented on #5917
Well, too late, but I do have a backup :)

What should I do?

[2015-05-04 00:18] jhass commented on #5917
Reload the page, I updated the comment.

[2015-05-04 00:22] rev138 commented on #5917
No, I definitely did. Here's what the mysql stanza of my database.yml currently looks like:

mysql: &mysql
  adapter: mysql2
  host: "somehost"
  port: 3306
  username: "diaspora"
  password: "**************"
#  socket: /tmp/mysql.sock
  charset: utf8mb4
  collation: utf8mb4_bin

Did I miss something else?

[2015-05-04 00:25] rev138 commented on #5917
Bah! ;)

Thank you.

[2015-05-04 00:26] rev138 commented on #5917
Tag this one "pebcak"

[2015-05-04 00:45] #5917 closed

[2015-05-04 00:53] denschub commented on #5147
Closing; working on MySQL and PostgreSQL with 0.5.0.0.

[2015-05-04 00:53] #5147 closed

[2015-05-04 00:53] denschub commented on #4804
Closing; working on MySQL and PostgreSQL with 0.5.0.0.

[2015-05-04 00:53] #4804 closed

[2015-05-04 01:37] #5307 closed

[2015-05-04 01:39] #5211 closed

[2015-05-04 02:07] #4798 closed

[2015-05-04 02:23] rev138 opened #5919 "bin/rake db:migrate updates diaspora_development, not diaspora_production"
When running the migrate for 0.5.0.0 I got an error that access was denied to the *diaspora_development* db (because it did not exist). I dumped an loaded *diaspora_production* to *diaspora_development*, ran the migrate, and then reversed the process, which worked, but seems wrong.

I've checked my settings, and I don't see why it would do this. It definitely uses the prod db when the site is runn

[2015-05-04 02:27] jhass commented on #5919
You skipped step 3 of https://wiki.diasporafoundation.org/Updating

Also see https://wiki.diasporafoundation.org/How_we_communicate

[2015-05-04 02:27] #5919 closed

[2015-05-04 02:29] rev138 commented on #5919
3. If you're on PostgreSQL run export DB=postgres RAILS_ENV=production, if you're on MySQL/MariaDB run export DB=mysql RAILS_ENV=production.

Nope. I definitely did that.

[2015-05-04 02:29] rev138 commented on #5919
Ah, balls. I left off the 'export '. I'll shut up now.

[2015-05-04 02:31] denschub commented on #5919
For future reference: GitHub is not a support tracker. If you have issues, [join our IRC channels](https://wiki.diasporafoundation.org/How_we_communicate), do **not** open issues here.

[2015-05-04 02:46] #5884 closed

[2015-05-04 06:10] digitalhuman opened #5920 "Make diaspora more robust against improper deletion of accounts (Was: Error 500 in Notifications)"
Hi,

We have a few users who can't see 'all' notifications because they get an error 500. This is because of some checks that are lacking in the NotificationController.
[code]
As you can see. Some notifications are rendered but then an error 500 is generated.

[2015-05-04 06:16] digitalhuman opened #5921 "Logging and debugging"
Hi there,

I'm Victor, PodAdmin of https://pod.readme.is

Something is bothering me for some time and that is the logging of Diaspora. I personally think its wrongly implemented and most important it's a risk factor, a privacy/security issue, and its useless for debugging purposes because it doesn't log any useful when things are going wrong.

The other part is that PodAdmins are not able to enabl

[2015-05-04 07:10] Flaburgan commented on #5921
Hi there. First of all, you are talking about production.log right? I agree about the level, to be able to set it on error would be interesting. Apart from that, what other improvements would you need exactly?

[2015-05-04 07:16] digitalhuman commented on #5921
Yes the production log. Well first of all the log level should be a setting. From 0 to 4 or whatever. Also the type of logging should be a setting. (error, debug, notice, whatever name)

To refer to my other 'issue' https://github.com/diaspora/diaspora/issues/5920 If i was able to for example set it to: debug, and errors only I would have been able to fix this issue myself.

This also will improve

[2015-05-04 08:16] jhass commented on #5921
Someone would need to go through  the current log statements and decide which level they should have. The other open question is what the default level should be. I also don't follow what you mean with having a log level 0-4 and having a log level error to debug, that's the same, no?

[2015-05-04 08:17] jhass commented on #5920
I don't think anybody can do anything about this without a way to reproduce.

[2015-05-04 08:21] digitalhuman commented on #5921
Well that is indeed the choice. To start with it should be great to at least be able to turn it on or off. The next step could be implementing the options: error, debug or notice OR level 0-3. So either one of the 2 options.

[2015-05-04 08:24] digitalhuman commented on #5920
Well this is all it gives me:

Started GET "/notifications" for 212.187.5.4 at 2015-05-04 08:23:45 +0000
Processing by NotificationsController#index as HTML
  Rendered notifications/_notify_popup_item.haml (5.7ms)
  Rendered notifications/_notify_popup_item.haml (2.7ms)
  Rendered notifications/_notify_popup_item.haml (10.9ms)
  Rendered notifications/_notify_popup_item.haml (8.0ms)
  Rendered not

[2015-05-04 08:28] Flaburgan commented on #5920
Did you once manually delete a user account? I had some similar error after deleting a spam account, the users with a notification from that account got a 500.

[2015-05-04 08:35] digitalhuman commented on #5920
Yes that is what I personally think that is the problem. But now I need a solution :) I deleted some spam accounts back when we started.

[2015-05-04 08:49] Flaburgan commented on #5920
Well the solution would have been to use the admin panel to delete the account instead of do a `DELETE` directly in the database. Now you have to search in your DB which participations are orphan and edit them.

[2015-05-04 08:55] digitalhuman commented on #5920
True that should have been the way but shouldn't there be a check in the controller to prevent 500? Because we also had accounts that had error 500 because somebody changed his profile image. Simple basic change but caused an error 500. Personally I think better checking is also part of the solution.

[2015-05-04 08:57] jhass commented on #5920
"Error 500" is not a specific error, it's the symptom of any *unexpected* error. There's no general way to "just prevent" it.

[2015-05-04 09:00] digitalhuman commented on #5920
I understand that there is no 'general way', but these 2 issues could been prevented by simple checks.

[2015-05-04 09:02] jhass commented on #5920
Looking forward to your pull requests adding all these obvious simple checks we miss them!

[2015-05-04 09:05] digitalhuman commented on #5920
I understand feedback can be hard to handle on a personal level. That's why you should keep it on the professional level. I love to be part of the D* idea and I might idd add these checks.

[2015-05-04 09:07] digitalhuman commented on #5800
I thought most browsers (FF and Chrome) will disable and remove WebRTC in future releases due to security issues?

[2015-05-04 09:50] denschub commented on #5920
Sure, and closing issues is a great and professional way of handling issues.

[2015-05-04 10:06] denschub commented on #5800
This is neither an issue nor a feature request. Feel free to create an issue if you found any issues or a discussion on Loomio for feature requests.

[2015-05-04 10:06] #5800 closed

[2015-05-04 10:07] digitalhuman commented on #5920
What would you like to discuss more Dennis?

[2015-05-04 10:18] TheRadialActive commented on #5016
It seems to be more fluent and the animation timing is perfect. Thanks for your awesome work! :)

[2015-05-04 10:18] #5016 closed

[2015-05-04 11:42] svbergerem commented on #5016
I guess you would have to thank @lislis for these changes. :)

[2015-05-04 12:07] oya3un opened #5923 "Facebook crosspost silently fails, access token not removable, connection has no ID"
Apologies if this is limited to joindiaspora.com, but apparently its connection to service "Facebook" for posting there via diaspora* is broken. Twitter works, Facebook doesn't (persistently since late last week). Just in case this is because FB blocks everything non-compliant with their API 2.x since last Thursday - has anybody seen this coming?

Unlike before, disconnecting-reconnecting in Setti

[2015-05-04 12:24] Flaburgan commented on #5923
Yeah, the bridge with Facebook is kinda broken... There is several issues already open about it, see https://github.com/diaspora/diaspora/issues/5260 and https://github.com/diaspora/diaspora/issues/5085

[2015-05-04 12:26] lislis commented on #5016
You're welcome :) Feel free to ping me for those kinds of things. I love css animation things!

[2015-05-04 21:40] denschub commented on #5920
No. This is clearly an issue and somebody will eventually work on it and fix it. You closed the issue, so nobody will see this as an open point. That's why I reopened it.

Feel free to hit the "unsubscribe" button on the right.

[2015-05-04 23:50] #4518 closed

[2015-05-05 05:48] digitalhuman commented on #5920
Yes that is what I wrote. I will add these 2 checks that I talked about. I can't give you any timestamp but since I can solve issues on our server with it it might be soon.

[2015-05-05 06:11] Selena-Gomez opened #5927 "Previewed post gets hidden after sharing (0.5.0.0)"
When posting, if you use the preview feature and then finish it by sharing you'll see that the preview gets pulled back up and hidden, and the finished post is not shown until you perform a refresh.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/13139126-previewed-post-gets-hidden-after-sharing-0-5-0-0?utm_campaign=plugin&utm_conten

[2015-05-05 06:43] svbergerem commented on #5927
This is probably a duplicate of #5275. @Selena-Gomez could you check that?

[2015-05-05 06:52] Selena-Gomez commented on #5927
Ah, yes it is, I hadn't noticed that the post ends up at the bottom.
Here's a .gif for anyone else that might have noticed this as well.
![diaspora_bug](https://cloud.githubusercontent.com/assets/1886075/7468057/f1466a32-f2c0-11e4-9c88-b67bcd307bd1.gif)

[2015-05-05 06:54] svbergerem commented on #5927
Alright, thank you!

[2015-05-05 06:54] #5927 closed

[2015-05-05 08:10] githubgnulinux opened #5928 "HTML CSS failure"
See https://diasp.eu/posts/3093939

Why is diaspora web page layout not compliant with w3 standards?

Why the reliance on ecmascript?

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/13149369-html-css-failure?utm_campaign=plugin&utm_content=tracker%2F522&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](http

[2015-05-05 09:47] jhass commented on #5928
Please elaborate and describe how to reproduce.

[2015-05-05 09:49] efstrian commented on #4297
We could create fixed color themes for the users to choose, i.e. dark red, dark green, magenta. This way, the ui would be a bit more customizable, but still elegant and true to diaspora's initial design. What do you think about it?

[2015-05-05 09:49] RichKavanagh commented on #4518
Unless I've misunderstood something here, I can still replicate this issue?

Steps to reproduce:

1) Goto https://pod.omgsrsly.net/users/sign_in (or *pod.jpope.org* or *diaspora-fr.org*)
2) Click on toggle mobile
3) You are then returned to page: https://pod.omgsrsly.net/
4) You then see text: *put something in app/views/home/_show.html*
5) You are then stuck and cannot toggle back as there is not

[2015-05-05 09:55] Flaburgan commented on #4518
Did you run the last code, pulled tonight?

[2015-05-05 10:03] RichKavanagh commented on #4518
No, they're not my pods :warning:  ;)

That's why I was wondering if I have misunderstood.

pod.jpope.org is claiming *'Code 0.5.99.0-pdae483bf'* and 0.5.99.0 is higher than the 0.5.1.0 milestone that jhass added to (above).

See my confusion? :)

So everything is ok, right?

[2015-05-05 10:38] jhass commented on #4518
We switched version numbers there a bit, `x.y.99.0` is the development version for `x.y+1.0.0` (`0.6.0.0` in this case), `x.y.z.99` is the development version for `x.y.z+1.0` (`0.5.1.0` in this case).

`pxxxxx` remains to be the actual commit, `dae483bf`, if we follow that we find https://github.com/diaspora/diaspora/commit/dae483bf which was created 13 hours ago. https://github.com/diaspora/diasp

[2015-05-05 11:12] svbergerem commented on #4518
@RichKavanagh try again on https://pod.omgsrsly.net. I just updated my pod. You are now redirected to the mobile sign in page because I don't have a custom mobile landing page.

[2015-05-05 11:25] githubgnulinux commented on #5928
See:

http://validator.w3.org/check?uri=https%3A%2F%2Fjoindiaspora.co.uk&charset=%28detect+automatically%29&doctype=Inline&group=0

http://jigsaw.w3.org/css-validator/validator?uri=https%3A%2F%2Fjoindiaspora.co.uk&profile=css3&usermedium=all&warning=1&vextwarning=&lang=en

[2015-05-05 13:50] jhass commented on #5928
That aren't sufficient instructions to reproduce your issue.

[2015-05-05 13:58] githubgnulinux commented on #5928
Ignore the distraction of trying to reproduce. Instead, review the html and css code errors. When these are corrected, diaspora layout will be w3 standards compliants and therefore compatible with all standards-compliant web browsers, operating systems, devices.

[2015-05-05 14:54] goobertron commented on #5920
That would be great if you can provide a solution to this issue, thanks!

[2015-05-05 15:10] Faldrian commented on #5881
Hm... as far as I can see this behaviour proves to be quite acceptable in daily use. I'd like to withdraw my bugreport. ;)

[2015-05-05 15:13] jhass commented on #5928
I'm sorry to inform you, but you live in a dream world about that.