[2015-05-05 19:32] #3076 closed

[2015-05-05 22:24] githubgnulinux commented on #5928
Programmers made the (correct) decision to avoid development of silly "apps" in instead design a good web site that is equally accessible via any device.

To achieve that (including visually impaired people), compliance with w3 standards is the most efficient use of programmers' time.

http://www.w3.org/WAI/

(Beautifully compliant web site of course, even via orweb v2! :) )

[2015-05-05 22:25] githubgnulinux commented on #5928
Programmers made the (correct) decision to avoid development of silly "apps" and instead design a good web site that is equally accessible via any device.

To achieve that (including visually impaired people), compliance with w3 standards is the most efficient use of programmers' time.

http://www.w3.org/WAI/

(Beautifully compliant web site of course, even via orweb v2! :) )

[2015-05-05 22:28] denschub commented on #5928
This is neither an issue nor a feature request. Feel free to create an issue if you found an issue and you are able to provide instructions on how to reproduce it or start a discussion on Loomio for feature requests.

[2015-05-05 22:28] #5928 closed

[2015-05-06 08:21] githubgnulinux commented on #5928
Layout failure continues with latest version.

Previously, a post would be positioned on left half of the web page and comments on right half. Now both original post and comments appear only on left half of the web page; the right half is empty. Now occurs on all pods with the latest version.

https://diasp.net/posts/172797

[2015-05-06 08:31] githubgnulinux commented on #5928
If you don't consider accessibility an issue, wow!

Layout failure continues with latest version.

Previously, a post would be positioned on left half of the web page and comments on right half. Now both original post and comments appear only on left half of the web page; the right half is empty. Now occurs on all pods with the latest version.

https://diasp.net/posts/172797

Why start discussion

[2015-05-06 08:50] Flaburgan commented on #5928
@githubgnulinux there is three different things here, standards compliance, accessibility and your design breaks problem. Those three issues are important but we have limited time. This ticket was about the layout issue, I know no one with the same problems, what's your browser, and is Javascript enabled?

[2015-05-06 12:26] githubgnulinux commented on #5928
The time limit is well understood. With respect, the standard programmer response: browser version, operating system, how to reproduce, etc. etc.. is not appropriate in my low opinion.

A more strategic question for discussion amongst those involved: are standards compliance and accessibility important to minimise programmers' time to design the web site for maximum use?

If the answer is no, ther

[2015-05-06 13:58] denschub commented on #5928
So you linked the W3 validation service and it complains about two missing attributes and an empty headline. Great. You assume this will break your layout and I have no idea why you do this. Even after asking multiple times, you fail to provide actual steps that would allow us to see what you see and figure out what is wrong. You're basically wasting time and resources here.

Your so-called issue

[2015-05-06 15:23] githubgnulinux commented on #5928
Html validation reported 3 errors, css validation reported 603 errors; why do you state that validation comprises only 2 missing attributes? This is not understood.

Similarly to (proprietary) github, it was a surprise to observe that loomio does not accept sign-in via diaspora accounts, but if memory is correct, other social network accounts. Just tried loomio, but web site prompts for captcha, b

[2015-05-06 16:15] denschub commented on #5928
I will now lock this issue to prevent additional discussions with no potential outcome. If someone is able to provide additional details or relevant discussions, please ping a core member on IRC.

[2015-05-06 20:32] RichKavanagh opened #5932 "The captcha_length in diaspora.yml is being ignored"
The value applied to *captcha_length* in diaspora.yml is being completely ignored.

Check the signup page on any v0500 pod, the are all only showing 1 captcha character.

I'm going to disable signups on my pod for now.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/13345494-the-captcha_length-in-diaspora-yml-is-being-ignored?utm_cam

[2015-05-06 20:38] jhass commented on #5932
Shit, indeed.

You can workaround with:

[code]

That is defining the key `settings.captcha_length`.

[2015-05-06 20:39] jhass commented on #5932
Introduced by #5169

[2015-05-06 21:56] #5932 closed

[2015-05-06 21:57] jhass commented on #5932
Fixed by 0.5.0.1

Thank you!

[2015-05-06 22:16] jhass commented on #4071
Not seen again and no reproducer, closing for now.

[2015-05-06 22:16] #4071 closed

[2015-05-07 07:40] githubgnulinux commented on #5906
In latest diaspora version (https://github.com/diaspora/diaspora/issues/5928), the menu layout in the orweb browser is static in both situations when ecmascript is enabled and disabled. The menu is visible, but the hyperlinks ('stream', 'my activity', etc.) fail and do not load the web pages.

[2015-05-07 08:23] RichKavanagh commented on #5932
Thanks for the *settings.captcha_length* workaround, that's a great fix for now! Signups now open again on my pod!

Thanks too for the super quick fix in to 0.5.0.1 :+1:   Amazing work as ever guys :)

[2015-05-07 12:16] Arcurus commented on #4319
yea a default selection configuration would be great!

[2015-05-07 17:36] dadall opened #5935 "Diaspora update 0.5.0.1 and Mysql"
Hey guys,

I tried to update my pod and here is the error I got :

[code]

Any ideas ?

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/13518340-diaspora-update-0-5-0-1-and-mysql?utm_campaign=plugin&utm_content=tracker%2F522&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_

[2015-05-07 17:37] Flaburgan commented on #5935
@dadall @augierle42 started to upgrade your pod to develop already ;)

[2015-05-07 17:51] dadall commented on #5935
To develop !?....

[2015-05-07 17:53] jhass commented on #5935
Uhm, what command does produce that?

[2015-05-07 21:16] dadall commented on #5935
Here is the command I used :

``
RAILS_ENV=production bin/rake db:migrate
``

And the logs about in production :
``
Migrating to ActsAsTaggableOnMigration (20150507155731)
Mysql2::Error: Table 'tags' already exists: CREATE TABLE `tags` (`id` int(11) auto_increment PRIMARY KEY, `name` varchar(255)) ENGINE=InnoDB
``

And logs in development :
``
ActiveRecord::SchemaMigration Load (0.2ms)  SELECT `sc

[2015-05-07 21:37] jhass commented on #5935
`20150507155731` This sounds like you reran the acts-as-taggable-on migration generator, check `db/migrate` for untracked files.

[2015-05-08 10:43] pravi opened #5939 "provide source code for pre built/minified js files"
The following minified javascript files don't have their corresponding source.

vendor/assets/javascripts/mbp-respond.min.js
vendor/assets/javascripts/mbp-modernizr-custom.js
spec/javascripts/app/views/help_view_spec.js

I will try to generate those files in the meantime.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/13661263-provi

[2015-05-08 10:45] jhass commented on #5939
`spec/javascripts/app/views/help_view_spec.js` made me confused about your issue, what's the problem there exactly?

[2015-05-08 11:26] dadall commented on #5935
I have this now :

`` /home/diaspora/.rvm/gems/ruby-2.2.1@diaspora/gems/configurate-0.3.1/lib/configurate/provider/yaml.rb:36:in `block in lookup_path': present is not a valid setting. (Configurate::MissingSetting) ``

I believe it comes form a configuration error but I can't find it :/

[2015-05-08 11:32] jhass commented on #5935
Fixed that yesterday, please pull again.

[2015-05-08 12:07] dadall commented on #5935
Thanks, it's back again :)

[2015-05-08 12:07] #5935 closed

[2015-05-08 13:02] pravi commented on #5939
I think that is a false positive,     Diaspora.I18n.load({"... is falsely identified as minified.

P: diaspora source: source-contains-prebuilt-javascript-object spec/javascripts/app/views/help_view_spec.js mean line length is about 2697 characters
E: diaspora source: source-is-missing spec/javascripts/app/views/help_view_spec.js

in debian, all binaries should have their corresponding source code

[2015-05-08 13:24] pravi opened #5940 "set UUID.state_file mode to 0666"
Can we set the UUID state file mode more permissively?

See https://github.com/assaf/uuid/issues/45 for a discussion

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/13683631-set-uuid-state_file-mode-to-0666?utm_campaign=plugin&utm_content=tracker%2F522&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https

[2015-05-08 13:26] jhass commented on #5939
`mbp-respond.min.js` can probably be replaced by `rails-assets-respond`. I traced `mbp-modernizr-custom.js` https://github.com/h5bp/mobile-boilerplate which dropped it with https://github.com/h5bp/mobile-boilerplate/commit/b514efbf36e1c3eb17249a562e134656002e88e0

[2015-05-08 13:32] jhass commented on #5940
Which processes do you need to share the state file with? Why aren't they run in the same way and in a way that they have access to a common home?

[2015-05-08 14:09] pravi commented on #5940
I use 'sudo -u diaspora' to run as diaspora user which will try to fall back to /root/.ruby-uuid when /tmp/ruby-uuid can't be accessed. /tmp/ruby-uuid was already created when I build the package (tests shipped with the gem will creates /tmp/ruby-uuid as another user). This may be an isolated case, but the issue will come up if any other app on the system tries to use ruby-uuid. For now I fall bac

[2015-05-08 14:12] jhass commented on #5940
Shouldn't you run with `sudo -iu diaspora` to properly set `$HOME` etc?

[2015-05-08 14:13] jhass commented on #5940
There's also:

                 Request that the security policy set the HOME environment variable to the home directory specified by the target user's password database entry.
                 Depending on the policy, this may be the default behavior.

[2015-05-08 14:17] pravi commented on #5940
But ruby-uuid is using ~, and not $HOME.

@state_file = File.expand_path('.ruby-uuid', '~')

[2015-05-08 14:19] jhass commented on #5940
[code]

[2015-05-08 14:51] pravi commented on #5940
I had to pass -E to pass RAILS_ENV and DB variables, so $HOME was also passed. I think adding -H will fix the issue. -i will not work as shell is set to /bin/false.

pravi@savannah:/opt$ sudo -E -u diaspora pry
/usr/lib/ruby/vendor_ruby/pry/pry_class.rb:81:in `realpath': Permission denied @ realpath_rec - /home/pravi/.pryrc (Errno::EACCES)
	from /usr/lib/ruby/vendor_ruby/pry/pry_class.rb:81:in `re

[2015-05-09 00:58] polsVoice commented on #5651
The main problem I have with this is it breaks Diaspora's UX, IMO. Ideally, I think that Diaspora should *be* a federation of pods, but *behave* the same as a centralized, traditional social network. What I mean by that is that there should be as few barriers as possible when linking from pod to pod. If I click on a link and hit a foreign login screen, that is very confusing and frustrating. I can

[2015-05-09 02:18] polsVoice commented on #5485
So, this has been fixed?

[2015-05-09 02:39] polsVoice commented on #5732
I agree with @AugierLe42e. There are lots of awesome JS slideshows and lightboxes out there, and many of them are free or open source.

[2015-05-09 05:20] balasankarc opened #5942 "Notification count says zero"
I don't know how, but I got the notification count displaying zero. See attachment.

This was what happened:
I was navigating to the post (to check if any activity happened. Notifications doesn't reach me always. Maybe a federation issue).
While the page was loading, some guy commented on the post.
So, when I reached that post, an activity had happened. But, I couldn't understand why that caused a

[2015-05-09 08:11] jhass commented on #5485
No, #5890 is not merged.

[2015-05-09 16:32] npze commented on #4755
I still have this issue as well (code is at v0.5.0.1).
I noticed when you browse pictures of the user (via his profile page) on the desktop version, you will not see the images that cause a 404 error on the mobile view. I guess some images are not indexed properly in a way that causes problems in some cases but not all.

[2015-05-09 20:07] svbergerem commented on #5942
You found that bug in v0.4.1.2. Are you able to reproduce this with v0.5.0.1? The code for the notifications has been more or less rewritten between those two versions.

[2015-05-10 08:14] balasankarc commented on #5942
Ok. Let me update poddery to latest version and get back to you (Even though I have no idea how to reproduce it). For the time being, I am closing this bug. Will reopen this if it happens on 0.5.0.1.

[2015-05-10 08:14] #5942 closed

[2015-05-10 12:03] rivendale2010 opened #5944 "Routes.notifications is not a function"
The notification drop-down displays the spinner but never loads. Console reads

`Uncaught TypeError: Routes.notifications is not a function
app.views.NotificationDropdown.app.views.Base.extend.getNotifications @ main-88c3ba4ae793a289c42da54e520a3a62.js:21
`

develop branch, May 10, Code 0.5.99.0-p5e5b475f

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.boun

[2015-05-10 12:31] svbergerem commented on #5944
Try `bin/rake tmp:cache:clear`.

[2015-05-10 21:15] lazzarello commented on #5702
I can back up this thread and agree with @jaywink I run a pod with exactly 2GB of memory and I have regular OOM errors. I realize that the "it works for me" situation is tempting to fall back on and @jhass also happens to be a very active committer on the D* source so perhaps I can help lend a third opinion to this discussion, which I think needs some action. In my opinion *the defaults for a prod

[2015-05-11 01:19] dmorley opened #5946 "public/tmp/ dirty image clean up"
Images that are really code renamed as images are left in the public/tmp upload area after the system rejects them. Found a bunch when I was investigating an odd http call (unrelated it turns out).
https://gist.github.com/dmorley/bfbe6c13f7570ebfbe63

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/14159752-public-tmp-dirty-image-clea

[2015-05-11 06:51] Flaburgan commented on #5946
Yeah I have more than 14GB of images in public/uploads/tmp, this looks like a bug to me.

[2015-05-11 07:56] roymckenzie opened #5947 "Sidekiq fail on Heroku"
Sorry to come here for this issue, but I was not receiving any support on IRC and this place seems to get more traffic and is less ephemeral.

I am running the latest master and things are running smoothly save for Sidekiq on Heroku. Every time I try to start the process or Heroku starts it through the Procfile I get this error:

[code]

My Procfile is untouched from the master branch Procfile.

T

[2015-05-11 08:18] roymckenzie commented on #5947
OK so I found a "solution though it may be a hack. I had a guess that there was a problem creating the `sidekiq.log` file so I commented out line 4 in the `sidekiq.yml` file:

`# :logfile: "<%= AppConfig.sidekiq_log unless AppConfig.heroku? %>"`

And things seem to be working now. Might be a bug?

[2015-05-11 09:22] jhass commented on #5947
Maybe https://github.com/diaspora/diaspora/commit/138551112b7e78037f498fbaa8a8429200534991 fixed it?

[2015-05-11 09:28] jhass commented on #5946
We probably should just schedule a daily job that does http://www.rubydoc.info/gems/carrierwave/CarrierWave/Uploader/Cache/ClassMethods:clean_cached_files!

[2015-05-11 10:15] Flaburgan commented on #5946
So I had 15655 files in public/uploads/tmp and 146816 in uploads/images.
I launched `CarrierWave.clean_cached_files!` in a Rails console and my uploads/tmp folder is now empty. Everything looks fine when visiting diaspora*, photos on profile page, etc.

[2015-05-11 15:18] roymckenzie commented on #5947
@jhass I tried implementing that, but still received the same error. Went back to commenting out that `sidekiq.yml` line.

[2015-05-11 15:21] jhass commented on #5947
Well, I welcome a patch fixing it for Heroku while retaining the functionality for regular deployments.

[2015-05-11 22:31] polsVoice opened #5948 "Image resizing with Markdown"
I was recently talking with a user who was frustrated because they could no longer use the ``<img>`` tag in posts and, as a result, could no longer resize images. I found [this StackOverflow thread](http://stackoverflow.com/questions/14675913/how-to-change-image-size-markdown) which mentioned a method used in some Markdown implementations that allows image resizing:

``
![](http://www.example.com/

[2015-05-11 22:57] polsVoice commented on #5660
@jhass Wouldn't that get messy, though? I don't want to see a post with dozens of mentions in it...

[2015-05-12 00:18] polsVoice opened #5949 "Facebook service is gone"
I recently changed my Facebook password, so I disconnected the service from my Diaspora account so that I could re-connect with my new password. However, as soon as I hit the "Disconnect" link, Facebook disappeared from Services entirely. (I heard that the FB service was broken due to FB's new API. Was it removed entirely?)

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it

[2015-05-12 01:52] denschub commented on #5949
Are you using your own pod? If not, which pod are you on?

[2015-05-12 03:03] jhass commented on #5660
What other choice do we have? Aspects are strictly private, keeping the aspect name here would be a major information leak.

[2015-05-12 03:10] jhass commented on #5948
We switched to a CommonMark parser for the desktop site, the CommonMark spec doesn't support such a syntax: http://spec.commonmark.org/0.19/#images

But maybe you can convince @svbergerem to allow the width and height attributes on img tags: https://github.com/svbergerem/markdown-it-sanitizer

[2015-05-12 07:32] denschub opened #5950 "account_removal_warning mail not localized into the users language"
All mails get send out in English, which is rather unfortunate.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/14407523-account_removal_warning-mail-not-localized-into-the-users-language?utm_campaign=plugin&utm_content=tracker%2F522&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource

[2015-05-12 08:44] polsVoice commented on #5949
@denschub I'm on diasp.org. I don't know whether or not those issues are related to this issue. They don't sound quite the same. I mean, I don't even have the option available anymore. In my services, there is only "Connect to tumblr", "Connect to Twitter", and "Connect to WordPress".

"Connect to Facebook" is gone.

[2015-05-12 09:00] jhass commented on #5949
/cc @dmorley

[2015-05-12 14:32] dmorley commented on #5949
I am sure its related. I just disconnected and tried to reconnect and got.
Invalid Scopes: publish_stream, offline_access. This message is only shown to developers. Users of your app will ignore these permissions if present. Please read the documentation for valid permissions at: https://developers.facebook.com/docs/facebook-login/permissions

[2015-05-12 15:32] denschub commented on #5949
So, duplicate of #5085.

[2015-05-12 15:32] #5949 closed

[2015-05-12 17:53] goobertron commented on #5660
Neither would I, but then there are plenty of things I don't want to see in posts which already appear... and I agree with jhass on the information leak.

[2015-05-12 18:48] nicolasrpmaia opened #5952 "Chat sidebar not showing up"
My pod (DiasporaBR) has recently been updated to the 0.5 version, and even though I opted to allow contacts to chat with me, the gray chat sidebar is nowhere to be found.

I am using Abrowser (Firefox derivative) on Trisquel GNU/Linux 7.0. I have tried to clear cache and cookies, have reset with addons disabled and hit hard refresh (Ctrl+F5) and no sign of it working.

<bountysource-plugin>
---
Wa

[2015-05-12 18:51] Flaburgan commented on #5952
The chat repository is diaspora/jsxc (front-end) or diaspora/vines (back-end). You should open an issue there. Though your problem looks really weird. Are you the podmin?

[2015-05-12 18:51] nicolasrpmaia commented on #5952
I'm not. Which of these repositories would you recommend me?

[2015-05-12 18:56] Flaburgan commented on #5952
jsxc, this looks like a front-end problem. Are you sure the chat is activated on your pod? I guess yes if you were able to turn chat on for some aspects on the /contacts page.

[2015-05-12 19:53] nicolasrpmaia commented on #5952
Yes, other users in DiasporaBR reported being able to use the chat normally. Thanks, I'll leave a note on jsxc.

[2015-05-12 20:10] Flaburgan commented on #5952
You are sure you don't have a grey small frame with a white arrow on left side of the stream page?

[2015-05-12 20:14] ita1024 opened #5955 "capital letter in username prompt on mobile"
The username prompt to login on firefox/desktop does not capitalize the first letter. Yet on android (firefox) or iphone (safari), the first letter is capitalized :collision:

The desktop site *correctly* styles the element with:
  autocapitalize="none" autocorrect="off" autofocus="autofocus"
Yet, the mobile version styles the element with only:
  autofocus="autofocus"

Diaspora 0.5.0.1

<bountyso

[2015-05-12 20:21] RichKavanagh commented on #5757
Has this been fixed?

[2015-05-12 20:36] jhass commented on #5952
Closing in favor of https://github.com/diaspora/jsxc/issues/101

[2015-05-12 20:36] #5952 closed

[2015-05-12 21:44] svbergerem commented on #5367
Fixed by #5941 and #5945.

[2015-05-12 21:44] #5367 closed

[2015-05-12 22:22] kas70 commented on #5757
yes, i thinks so.

Am 12. Mai 2015 22:21:56 MESZ, schrieb Rich <notifications@github.com>:

[2015-05-12 23:10] svbergerem commented on #5955
https://github.com/diaspora/diaspora/blob/develop/app/views/sessions/new.mobile.haml#L30

[2015-05-13 05:19] RichKavanagh commented on #5757
Who fixed it? There's a bounty on this which needs claiming by someone :)

[2015-05-13 10:19] kas70 commented on #5757
i have to revoke my assumption. it still scrolls down to bottom of the comments :/

[2015-05-13 18:47] ManiacTwister commented on #5398
I would suggest to make the jabber server url used in bosh connections configurable. For example my diaspora instances runs under ```diaspora.domain.tld``` and my (e)jabber(d) server runs under ```jabber.domain.tld```. Or is this already possible?

[2015-05-13 18:50] jhass commented on #5398
Just add another reverse proxy to your configuration, the wiki has examples. As a bonus you'll be free from mixed content and CORS headaches.

[2015-05-13 18:53] ManiacTwister commented on #5398
@jhass Imho that doesn't help, because the application url ist used in the bosh payload. For example

[2015-05-13 18:56] jhass commented on #5398
And your server rejects that because...?

[2015-05-13 18:59] ManiacTwister commented on #5398
```[error] <0.16391.2>@ejabberd_http_bind:check_bind_module:1226 You are trying to use BOSH (HTTP Bind) in host <<"diaspora.domain.tld">>, but the module mod_http_bind is not started in that host. Configure your BOSH client to connect to the correct host, or add your desired host to the configuration, or check your 'modules' section in your ejabberd configuration file.```

[2015-05-13 19:10] jhass commented on #5398
Interesting, Prosody doesn't care about that.

So you wrote a plugin for ejabberd that supports our custom authentication (token authencation for JSXC and peppered BCrypt for other clients to sign into their diaspora account)?

[2015-05-13 19:28] ManiacTwister commented on #5398
Not yet, but since ejabbers supports auth_external im relatively optimistic that this shouldn't be too hard to implement. :)

[2015-05-13 23:48] ita1024 commented on #5955
This seems to work for me.

[code]

[2015-05-14 13:00] rivendale2010 commented on #5944
thanks, that seems to have done it, i do already run
 "RAILS_ENV=production bundle exec rake tmp:cache:clear assets:precompile"
in my script so i thought this cache had been clear, but apparently not... :)

[2015-05-14 13:00] #5944 closed

[2015-05-14 13:35] svbergerem commented on #5955
@ita1024 Would you mind opening a pull request?

[2015-05-15 04:43] polsVoice opened #5959 "YouTube embedding is broken"
When I post a bare link to a YouTube video, there's no preview. I've reloaded the page several times, and it still doesn't show up. It just shows the link. I tested this in both Firefox 38 and Chromium 41.0.2272.76 Ubuntu 15.04 (64-bit).

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/14975042-youtube-embedding-is-broken?utm_campaign

[2015-05-15 10:59] goobertron commented on #5959
I've just tested three pods (including joindiaspora.com) on two browsers (including FF37), and the embedded preview appears as it should in each case.

[2015-05-15 19:52] polsVoice commented on #5959
This is on diasp.org.

[2015-05-15 19:52] jhass commented on #5959
/cc @dmorley

[2015-05-15 20:05] dmorley commented on #5959
I just embeded https://www.youtube.com/watch?v=jQeCMGPs9dQ at with no issues. Can you share the youtube URL you were using to try?

[2015-05-15 20:05] dmorley commented on #5959
@ https://diasp.org/posts/4425620

[2015-05-15 20:17] ita1024 commented on #5955
https://github.com/diaspora/diaspora/pull/5961

[2015-05-15 20:19] polsVoice commented on #5959
The two posts are
https://diasp.org/posts/4423120 with video URI https://www.youtube.com/watch?v=oEek5PzbCf0
and
https://diasp.org/posts/4381426 with video URI https://www.youtube.com/watch?v=J4GW_fTezRA

[2015-05-15 20:23] dmorley commented on #5959
Sorry I think its you somehow, I posted both with success. and even copied the text from your posts exactly and pasted and both embedded with no issue. We are on the same OS and browsers. Maybe you are somehow blocking some code with a addon? privacy one some how.

[2015-05-15 20:31] polsVoice commented on #5959
@dmorley I'm really confused. Your video works, and now the first video works when I re-post it. The second one still doesn't show on re-post, though.

[2015-05-15 20:33] dmorley commented on #5959
There is/was a embed bug with any video with a _ in the name, I bet this bug is back or never got fixed.

[2015-05-15 20:53] polsVoice commented on #5959
@dmorley That was my first thought, too. That's the only difference I can see here.

[2015-05-15 20:59] jhass commented on #5959
http://www.youtube.com/oembed?url=https://www.youtube.com/watch?v=J4GW_fTezRA

I don't think we can do anything about that.

[2015-05-15 21:06] polsVoice commented on #5959
According to Google, YouTube allows users to turn off embedding, so I guess that's what's happening here.

[2015-05-15 22:03] jhass commented on #5959
If anybody finds anything we can do about this, please open a new issue.

[2015-05-15 22:03] #5959 closed

[2015-05-16 01:45] #5950 closed

[2015-05-16 10:20] Flaburgan opened #5963 "Implement RFC 7033 Webfinger"
As voted on https://www.loomio.org/d/gfBaSiAE/implement-rfc7033-webfinger we should improve our webfinger implementation. @SuperTux88 I saw you were touching things like that recently, would you want to have a look?
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/15222229-implement-rfc-7033-webfinger?utm_campaign=plugin&utm_content=tr

[2015-05-16 15:43] denschub commented on #5963
We should not **update** our existing implementation, we have to add new methods. Our implementation needs to be backwards compatible.

[2015-05-16 15:47] Flaburgan commented on #5963
Thanks Dennis I edited the issue :) Feel free to edit my post when I make mistakes ;)

[2015-05-16 16:42] balasankarc commented on #5765
Hi, any update on this?? This is actually breaking the hashtag functionality in Malayalam as there are numerous words which use +0D4D and are commonly used for hashtags.

[2015-05-17 20:12] efstrian commented on #4297
Hi! We are working on implementing a way for the user to opt for one of a few fixed color themes, but we've run into a problem. The header is one of the elements that should change color, and this could be easily done with CSS3 shadows in order to recreate the gradient effect of the current implementation. The problem is that the current logo is not transparent. Any idea how to get past this?

(Th

[2015-05-19 03:28] denschub opened #5971 "Some private objects are not received"
This is a regression from #5938, more precise from muting `ActiveRecord::RecordNotUnique`. Some private objects gets received but don't get share visibilities for all recipients. Some visibilities seems to get added when retrying a `Postzord::Receiver::Private` previously failed because of a non-unique GUID.

This is mainly a tracking bug and to block the release, but feel free to add any thoughts

[2015-05-19 06:24] pravi opened #5972 "when a mentioned user's profile is not known, request profile"
Currently when a user is mentioned (especially #newhere posts), other pods won't see a link to the profile. I think a pod should request profile of a user it doesn't know if when it processes a post with @mention in it.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/15862271-when-a-mentioned-user-s-profile-is-not-known-request-profi

[2015-05-19 07:02] Flaburgan commented on #5972
I completely agree and thought I already opened an issue about that.

[2015-05-19 08:20] pavi commented on #5972
I faced the same issue.

[2015-05-19 08:24] pravi opened #5973 "make public photos visible from public profile"
currently if I visit my profile while logged in, I can see all the photos I uploaded in one page. Make this available in public profile for public photos.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/15882407-make-public-photos-visible-from-public-profile?utm_campaign=plugin&utm_content=tracker%2F522&utm_medium=issues&utm_source=g

[2015-05-19 08:36] jhass commented on #5972
Duplicate of #4491

[2015-05-19 08:36] #5972 closed

[2015-05-19 10:38] max258 commented on #4297
@efstrian Good work! I think you can change the header with contributing to git. But not sure if will be this accepted. I think yes, but inform in creators of diaspora*

[2015-05-19 13:47] efstrian commented on #4297
@max258 No problem if this does not get accepted, we're just trying to help after all. Going from the current png to a CSS background should be both visually impressive and highly configurable, yet one should carefully consider performance issues (if there are any).

We do need a transparent logo to use in the header to try it, though.

[2015-05-19 22:01] Flaburgan commented on #4297
We are talking about https://github.com/diaspora/diaspora/blob/develop/app/assets/images/branding/header-logo.png

No problem to remove the background of that file (and the @2x version). Just do it and open a pull request.

[2015-05-19 22:59] polsVoice commented on #5327
I agree. We shouldn't use 404 if it's not an actual HTTP error 404. Simply having "Item not found or inaccessible" should suffice.

[2015-05-22 18:10] Quix0r opened #5980 "ActiveModel::MissingAttributeError (can't write unknown attribute `export`)"
This happens with latest master:

[code]

And another one:
[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/16787709-activemodel-missingattributeerror-can-t-write-unknown-attribute-export?utm_campaign=plugin&utm_content=tracker%2F522&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bounty

[2015-05-22 18:16] jhass commented on #5980
This sounds as if your migrations didn't run through

[2015-05-22 18:27] Quix0r commented on #5980
I followed this, except db:migrate as it empties many important tabkes:

https://wiki.diasporafoundation.org/Updating#Updating_a_production_install

So I use the RVM way. :-)

[2015-05-22 18:28] jhass commented on #5980
From which version to which version? Migrating the database is not optional and it emptying any table would be a bug.

[2015-05-22 18:29] Quix0r commented on #5980
I'm not sure, from which version, it must be some months old. Okay, I run first a full backup of my database (diaspora_production).

[2015-05-22 18:36] Quix0r commented on #5980
[code]
It uses utf8_bin on all tables.

[2015-05-22 18:40] Quix0r commented on #5980
Ah, found it in Changelog. :-)

[2015-05-22 18:45] Quix0r commented on #5980
Yay, rake is running the ALTER TABLE CONVERT statements ... :dancer:

I missed to change to "encoding:" i left "charset:" in place ...

[2015-05-22 18:58] Quix0r commented on #5980
Finally back. :-) Fixed.

[2015-05-22 19:02] #5980 closed

[2015-05-23 09:33] githubgnulinux opened #5981 "Tags not highlighted"
See https://diasp.eu/posts/3158993

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/16966128-tags-not-highlighted?utm_campaign=plugin&utm_content=tracker%2F522&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F522&utm_medium=issues&utm_s

[2015-05-23 09:47] githubgnulinux opened #5982 "posts comments layout failure"
https://diasp.eu/posts/3161456

See https://github.com/diaspora/diaspora/issues/5928

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/16968688-posts-comments-layout-failure?utm_campaign=plugin&utm_content=tracker%2F522&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campai

[2015-05-23 09:51] jhass commented on #5982
Same question as last time, what browser in which version and what OS?

If you refuse to answer, I will close this as a won't fix.

[2015-05-23 09:57] jhass commented on #5981
Looks like the backend correctly parses and associates them.

@svbergerem upstream bug or issue in the frontend regexp?

[2015-05-23 17:41] jaywink opened #5984 "Cache stream for each user in background for faster stream loading"
*Logging this thing that has been in my head for a while, for future discussion and implementation if wanted.*

Currently we always look at which posts should be shown when a user loads the stream. While being ok, it is an expensive operation to perform.

To provide faster near instant stream loading (like Facebook), it could be a good idea to cache the latest stream for each user in the backgroun

[2015-05-23 20:18] Raven24 commented on #5984
I've had a similar idea lurking around in my brain, too, for quite a while. (yours is a bit more thought-out, though)
I'd be very much in favour, even if the "cache" would just consist of the post ids to make the db query with, we should see a tremendous speed-up.

[2015-05-24 07:48] abimelex opened #5987 "<hr> color in Markdown should be styled"
The `<hr>` element in  class `markdown-content` has currently `border-top: 1px solid #eee;` inherited from bootstrap styling.
So the horizontal line is almost invisible, I would suggest to give it a more strong color, either like border color or text color, since horizontal line is actually text element in markdown content.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it

[2015-05-24 09:13] svbergerem commented on #5981
According to the commonmark spec those hashtags belong to an HTML block and are considered as raw HTML: http://spec.commonmark.org/0.19/#html-blocks

markdown-it-sanitizer escapes some of the HTML tags but it doesn't add new markup like hashtags or mentions (or anything else). If you want to see some markup after an HTML block you need to end that HTML block with an empty line.

 Btw. our backend

[2015-05-24 15:31] Flaburgan commented on #5984
Why don't we do that client side? The stream is loaded with Javascript, so we could just get the new posts with AJAX instead of reloading everything. Like, sending a request saying "the most recent post I have in my stream is this one, please send me every new posts since then". This would also allow an "auto-refresh" feature in the future.

[2015-05-24 16:08] jaywink commented on #5984
@Raven24

Yeah I actually meant just saving the post id's and then querying the stream with those - not caching the post content as that would be duplicating information and would kill any post edit feature for sure :)

@Flaburgan , yeah as said, client side instant updates would be needed too in reality, since otherwise the cached stream could become stale if sidekiq is too busy to stay up with j

[2015-05-25 02:21] denschub commented on #5923
Closing this. Additional configuration available with 7c0e50c2c270e696b7dbd6540d00b4cc38e25375, additional information regarding this change and issues in #5085. Feel free to reopen if you feel the urge of doing so.

[2015-05-25 02:21] #5923 closed

[2015-05-25 02:21] denschub commented on #5260
Closing this. Additional configuration available with 7c0e50c2c270e696b7dbd6540d00b4cc38e25375, additional information regarding this change and issues in #5085. Feel free to reopen if you feel the urge of doing so.

[2015-05-25 02:21] #5260 closed

[2015-05-25 02:21] denschub commented on #5085
Closing this. Additional configuration available with 7c0e50c2c270e696b7dbd6540d00b4cc38e25375, additional information regarding this change and issues is above. Feel free to reopen if you feel the urge of doing so.

[2015-05-25 02:21] #5085 closed

[2015-05-25 02:59] efstrian commented on #4297
@Flaburgan, I'm not sure how to remove the background, because of the relatively low resolution. There isn't any transparent version available, is it?

[2015-05-25 10:28] jhass commented on #4728
Implemented by #4737

[2015-05-25 10:28] #4728 closed

[2015-05-25 10:31] Flaburgan commented on #3519
@Raven24 what's the situation of this now that https://github.com/diaspora/diaspora/pull/5209 is merged?

[2015-05-26 02:33] pravi opened #5990 "request list of post guids when displaying profile and fetch missing posts"
Currently many posts fail to federate and there is no way to retrieve posts that did not reach a pod. It would be good if missing posts can be retrieved when visiting a profile. This can be achieved by requesting a list of post guids from home pod and matching it with locally cached posts. It could be limited to last 10 or 20 posts that is checked.

[2015-05-26 08:24] jhass commented on #5990
We already do that with #5739 and #5960, I think doing on every profile display is total overkill.

[2015-05-26 11:01] pravi commented on #5990
Can we add an option on profile to sync posts on request?

When some posts are lost due to federation issue, currently there is no way to get it back.

[2015-05-26 11:03] jhass commented on #5990
I'm not sure, it would be public posts only anyway and I'd want it podmin only. What if we add a rails console snippet for it to the podmin FAQ?

[2015-05-26 14:24] pravi commented on #5990
How about an fsck kind of approach? 10 days without profile integrity check could trigger it in next profile visit or 50 profile views could trigger sync (numbers could be made configurable).

[2015-05-26 14:26] jhass commented on #5990
It's not a sync, it's a simple fetch for public posts, a band-aid. Building sophisticated schemes on top of it is wasted time.

[2015-05-26 14:54] Flaburgan commented on #4491
This should have the federation label.

[2015-05-26 15:32] githubgnulinux opened #5993 "Public posts fail full dissemination"
https://diasp.eu/posts/3171268

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/17877985-public-posts-fail-full-dissemination?utm_campaign=plugin&utm_content=tracker%2F522&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F522&utm_medium=

[2015-05-26 17:55] jhass commented on #5993
I doubt this is a generic issue.

Which pods are involved?

[2015-05-27 07:49] Flaburgan opened #5995 "[0.6-dev] 500 when liking a post with the mobile version with JS disabled"
[code]

I had this error launching the mobile first and tapping on the heart to like on the first post of the stream. After the 500, I go back, tried to like another post, and everything went fine. Then, I retried to like the first post, and everything went fine. Now I don't success to reproduce, but I wanted to post the stack trace just in case it's enough for someone to patch it.

<bountysource-

[2015-05-27 09:05] githubgnulinux opened #5996 "Remove public posts from aspects stream"
https://diasp.eu/posts/3084394

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/18093594-remove-public-posts-from-aspects-stream?utm_campaign=plugin&utm_content=tracker%2F522&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F522&utm_medi

[2015-05-27 09:07] githubgnulinux opened #5997 "Historic search function using external search engine"
https://diasp.eu/posts/3158993

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/18107360-historic-search-function-using-external-search-engine?utm_campaign=plugin&utm_content=tracker%2F522&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%

[2015-05-27 10:44] jhass commented on #5997
Encouraging indexing by a third party is most certainly a very controversial idea.

[2015-05-27 10:46] jhass commented on #5996
I'm not sure if the added complexity is worth it here, too many options and possibilities make a UI hard to use.

[2015-05-27 10:50] githubgnulinux commented on #5997
The internal index is poor!

[2015-05-27 10:52] githubgnulinux commented on #5993
You should be able to replicate by choosing by random yourself two pods to test the scenario described.

[2015-05-27 10:56] jhass commented on #5993
I can't. Feel free to reopen once you can provide information to reliably reproduce your issue.

[2015-05-27 10:56] #5993 closed

[2015-05-27 15:30] TheRadialActive opened #6000 "Users who reshared don't get federated"
As you can see on the screenshots, the list of users who reshared the post are different on two different pods (click on the image to get to the post).

[![bildschirmfoto vom 2015-05-27 17-26-10](https://cloud.githubusercontent.com/assets/828436/7839980/96768542-0495-11e5-9eb9-853fab185c3f.png)](https://pod.geraspora.de/posts/3665409)

[![bildschirmfoto vom 2015-05-27 17-26-42](https://cloud.githu

[2015-05-27 15:36] jhass commented on #6000
Do you happen to have the guid (or id on either pod) of the reshare and the original post?

[2015-05-27 15:59] svbergerem commented on #6000
@jhass The screenshots link to the posts. The guid of the original post is `5eba0c00e6b00132ae7000505600750e`. Guids of two reshares are `67f02880e6b10132c1f252540061b601` and `aa36a7f0e6b00132ae7000505600750e`.

[2015-05-27 16:19] jhass commented on #6000
Oh, I didn't realize. @denschub & @SuperTux88 up for some log surfing?

[2015-05-27 16:51] SuperTux88 commented on #6000
I don't know if this helps: http://paste.coding4.coffee/?a59a1400c0a01b5e#lHWL/AVefuGBwvY0VdfXv4VzF+YNeddgE60O5S1OTUw=

[2015-05-27 17:09] jhass commented on #6000
Thanks. Not really, it just shows that your pod got it successfully.

[2015-05-27 23:25] denschub commented on #6000
As far as I can tell, I never recevied that reshare, so it's likely an issue on `spora.zone`. However, I don't feel like we need an issue for every federation issue that happens at the moment...

[2015-05-28 08:12] Flaburgan commented on #4269
@JannikStreek any news?

[2015-05-28 16:21] EdzeronK commented on #5987
a track :

in `app/assets/stylesheets/bootstrap-complete.scss`,  line 2:

 @import 'bootstrap';

the problem is in a gem 'bootstrap' ?

[2015-05-28 16:22] jhass commented on #5987
There's no problem, the issue simply asks for a prettier override for those used in posts.

[2015-05-28 17:13] jaywink commented on #4076
I think this should be closed as initial XMPP chat support has been merged in. Any additions to improve/stabilize it should be separate issues. We should allow @Zauberstuhl to have his $70 bounty after all the work he has put in :)

Agree?

[2015-05-28 17:56] tubbo commented on #4076
Agreed.

[2015-05-28 17:56] #4076 closed

[2015-05-29 07:48] haheute opened #6006 "can't add tags on /profile/edit"
I can not add tags on my user profile on despora.de . When I try to add 2 tags, they do not appear. Chromium inspect tool gives an error (i tried to add '# cats' and ' # music' (without the whitespace)):

[code]
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/18590496-can-t-add-tags-on-profile-edit?utm_campaign=plugin&utm_content=trac

[2015-05-29 17:43] Globulle opened #6008 "Thumbnails in right bar should lead to associated posts in the stream instead of people's page"
The thumbnails at the top of the right bar are convenient to see in one glance who is present in our current stream. When you click on it, you get the profile of the person, which may not to be the expected behaviour (you presumably want to see what the person has posted, not his whole activity). Furthermore, being sent to the profile page of the person takes time since a new page has to be loaded

[2015-05-29 21:19] svbergerem commented on #6008
I don't think that those thumbnails are useful and would propose to drop them from all stream pages.

[2015-05-29 21:29] #5971 closed

[2015-05-29 21:30] svbergerem commented on #5997
I think that we should improve the internal search function (we have several issues about that) but I disagree with the proposed feature. If you really think that we should use third party search engines please propose that on loomio. Otherwise you can close this issue.

[2015-05-29 21:59] svbergerem commented on #6006
This sounds like a bug in jquery.autoSuggest.

[2015-05-29 22:07] svbergerem commented on #5955
#5961 would have fixed this issue. There were just some small changes needed because of our ruby styleguide but unfortunately @ita1024 closed the pull request.

To fix this issue just look at the changes in #5961 and my comment over there.

[2015-05-29 23:17] svbergerem commented on #3666
The same happens for likes. Both users are on the same pod. The user is able to like a post of the other use but he is not able to unlike the post.

[code]

[2015-05-29 23:24] svbergerem commented on #5827
I agree that this would need some additional changes on the sign up page. Let's decide that in the (hopefully coming) redesign.

[2015-05-29 23:33] svbergerem commented on #5531
We are using Rubocop now.

[2015-05-29 23:33] #5531 closed

[2015-05-29 23:52] svbergerem commented on #5633
@rebeka-catalina With v0.5.0.0 the contacts page has been refactored. Are you still able to reproduce this bug?

[2015-05-29 23:55] svbergerem commented on #5575
I will close this issue now. Feel free to reopen if you are able to reproduce this again. (Maybe on a pod which is not joindiaspora :-P)

[2015-05-29 23:55] #5575 closed

[2015-05-30 06:46] githubgnulinux opened #6010 "broken chronological order of posts in my activity stream"
With latest version of diaspora, posts do not appear in consistent reverse chronological order.

First (top) post appears with a time-stamp 3 months ago
Second post appears with a time-stamp 20 hours ago
Third post appears with a time-stamp 4 days ago.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/18857581-broken-chronological-orde

[2015-05-30 07:39] svbergerem commented on #6010
In the activity stream posts were never ordered by the creation of the post but by the timestamp of the last interaction.

[2015-05-30 07:39] #6010 closed

[2015-05-30 09:16] Globulle commented on #6008
I think they bring some life and colour to the page which would be very austere otherwise. They provide also a synthetic summary of recent activity. These are 2 good reasons to keep them in my opinion.
But I agree, they have no clear function, that's why I suggest to use them as stream navigation shortcuts.

[2015-05-30 09:19] rebeka-catalina commented on #5633
@svbergerem Just yesterday I've been thinking about it :D I'll check it an give you feedback the next days :)

[2015-05-30 13:28] pravi opened #6011 "add a pod status url to sidebar"
similar to admin email. These two should be shown prominently on welcome screen after a user sign up. Also encourage them to note it down in case they face problems.

[2015-05-30 14:46] RichKavanagh opened #6012 "Build trending hashtags in to left nav"
I (and no doubt many others) have a feature request.

I'd  love to see trending hashtags be listed in the left nav.

There are various ways to do it and there is no right or wrong way, it merely depends on ones definition of the word 'trending'. What it should *not* be, is simply a list of 'popular' tags.

If you're building this in to core I'd recommend 3x podmin level options in diaspora.yml to

[2015-05-30 14:53] RichKavanagh commented on #6012
Just to add, another 'nice to have' is directional arrows showing if the tag is trending upwards or downwards. Plus you must trim (...) long tags after *x* chrs to stop them overflowing in to the main stream / content area.

[2015-05-30 14:53] jhass commented on #6012
https://github.com/biola/punching_bag might allow for a nice and flexible implementation that can potentially be decoupled from pure "x usages in y time"

[2015-05-30 14:54] RichKavanagh commented on #6012
Do you guys have a specific format / document for specs or can I just post a flow chart type diagram? :)

[2015-05-30 14:55] jhass commented on #6012
What the tags means is that there are many ways to approach and implement such a feature and that we should decide on some concrete mechanics and technologies before approaching it ;)

[2015-05-30 14:56] RichKavanagh commented on #6012
Yup, agreed. Again that comes back to each persons definition of the word 'trending'. So should that converstation take place here or over at Loomio?

[2015-05-30 15:01] jhass commented on #6012
Loomio might indeed be better.

[2015-05-30 15:02] RichKavanagh commented on #6012
I'll get something typed up in draft over the weekend :+1:

[2015-05-30 15:35] davidbaumann commented on #4076
I think I must believe you ;)

[2015-05-31 00:25] #5902 closed

[2015-05-31 11:26] githubgnulinux commented on #6010
OK. Just checked the time-stamps of the last post of each thread
Top (first) post, 7 months, latest comment 2 hours
Second post, 1 month, latest comment 27 days
Third post, 3 days, no comments

[2015-05-31 11:52] svbergerem commented on #6010
It's not only comments. The posts are ordered by last activity, so last comment / like / reshare and AFAIK even deleted comments.

[2015-05-31 16:18] elektrollart opened #6018 "Deactivate autofollow if like a post"
I see a problem in the auto follow function, if someone likes a post. Users like less posts, cause they don't want to follow the comments in this posts and if they want only to like the post, they need four clicks to cancel the auto follow. It looks like, we don't need a like button, cause we have the follow button. I think it is better to change it back, like it was before 0.5. I see it on my own

[2015-05-31 16:30] Flaburgan commented on #6018
You can unfollow with only one click. This action button is not well placed for sure...

[2015-05-31 16:35] elektrollart commented on #6018
![Uploading Bildschirmfoto von »2015-05-31 18-33-05«.png…]()

Nope, first I must refresh the stream or open the spv, than I can change the follow stuff, than I must close or go back. This are 4 clicks for one like-only.

[2015-05-31 16:35] #6018 closed

[2015-05-31 16:36] elektrollart commented on #6018
:o woa... fu... didn't want to close xD

[2015-05-31 16:40] jhass commented on #6018
I'm going to reopen #5881 since that has more discussion history.

[2015-05-31 16:40] jhass commented on #5881
Reopen because of #6018

[2015-05-31 16:57] elektrollart commented on #5881
A other problem with this function is, the like button have the same function as the subscription, the only difference is, people see the feedback. As a user, i like less than before, cause I'm not in mood to unsubscribe the posts i liked. Now I like only the posts, I want to comment. I talked with other users about this and some people see it the same way like me, other dislike this function, cau

[2015-05-31 17:26] rebeka-catalina commented on #5881
Perhaps it's a very bad idea in technical, I'm not sure so I simply ask :
Could it be a possibility to create a per-user option like the nsfw-option ?

I also really don't like it, how it is actually, because it's like elektrollart already described :
4 clicks are needed just to leave a like. There are some people, who say they like it, but also quite much people, who reduce their activities, beca

[2015-05-31 18:42] #5987 closed

[2015-05-31 21:11] TwizzyDizzy opened #6021 "Welcome messages to users"
Hi folks,

a feature request: It would be great to, as a podmin, have a sort of default welcome message you could post to a newly registered user's inbox to show them how things are handled on your pod.

There could be config options in diaspora.yaml:

* welcome_sendmsg: BOOLEAN, Determines if welcome messages shall be sent
* welcome_msg: VARCHAR The text of the message, maybe containing a token (

[2015-06-01 04:40] jjoe commented on #5486
Sorry I took so long to respond. It still happens. When I click the single post view heart icon, nothing happens. I can only "like" on stream, activity, etc. I am on diasp.org. I couldn't "like" this post from SPV just now: https://diasp.org/posts/30ae78c0e9cd0132d8f776a9846f8967
I am easier to reach at   https://diasp.org/people/6fb71698d1dc0e20 than on email. Thanks for responding.

Date: Sun, 3

[2015-06-01 04:44] jjoe commented on #5486
...Commenting and resharing seem to work okay on SPV. It's just the heart icon that doesn't.

From: saxophonejoe@live.com
To: reply@reply.github.com
Subject: RE: [diaspora] Bug. I can't "like" on single post view. My acct is on Diasp.org. I *can* "like" on stream or activity. (#5486)
Date: Sun, 31 May 2015 23:40:53 -0500

Sorry I took so long to respond. It still happens. When I click the single p

[2015-06-01 06:30] theworldbright commented on #5485
The desktop view has the following code block that causes the comment box to be focused again if the comment is empty.

[code]

Is it sufficient to prevent the comment creation request from reaching the controller with a client side check in the mobile view as follows?

[code]

[2015-06-01 07:29] Globulle commented on #5881
I agree with @elektrollart and @rebeka-catalina . The "like" action should remain a really easy one, without other consequence than notifying the author and incrementing the "like" count. You bring kind of support but you don't want to get involved in the discussion, otherwise you generally comment. I think there is a kind of hierarchy among the actions we have to preserve for the whole participat

[2015-06-01 08:34] theworldbright commented on #5076
The missing :mobile format causes the following error:
[code]
Similar errors arise on mobile not only for /report but also
- /admins/stats
- /admins/user_search

Simply duplicating their .html.haml views and renaming them to .mobile.haml seems to solve the problem for now.

[2015-06-01 10:46] uniquefine commented on #5995
I had a similar Problem on my mobile Phone this morning, it vanished when I activated Js in my browser and apeared again when I turned it of. Here are some Screenshots
![screenshot_2015-06-01-08-38-28](https://cloud.githubusercontent.com/assets/12694730/7911249/4b05b950-088e-11e5-9803-9a11a278e436.png)
![screenshot_2015-06-01-08-38-04](https://cloud.githubusercontent.com/assets/12694730/7911250/4b

[2015-06-01 10:53] SuperTux88 commented on #5486
I think this was fixed with #5978 ? I didn't know that there was a bug for this.

[2015-06-01 11:02] jhass commented on #5486
Might be, it's still hard to tell what's the exact error here.

[2015-06-01 11:10] SuperTux88 commented on #5486
The linked post (https://diasp.org/posts/30ae78c0e9cd0132d8f776a9846f8967) is one with a guid (which was the cause of the bug)  and diasp.org doesn't have the fix yet, so its still broken there. But its fixed in develop/stable.

It should be possible to like the same post with id: https://diasp.org/posts/4480697

[2015-06-01 11:13] jhass commented on #5486
Alright, @jjoe say something if ^ doesn't work for you either and we'll reopen.

[2015-06-01 11:13] #5486 closed

[2015-06-01 12:26] Flaburgan commented on #5076
Isn't it possible to fallback to the desktop version when the mobile view is not available? We have several other issues like this one.

[2015-06-01 12:33] Flaburgan commented on #5881
I think we need to at least:
- Move the notification icon next to the Like, Comment and Reshare icons in the SPV, and to the bottom of the post next to the links to link, comment and reshare in the stream
- Make its state change immediately when we like / comment the post, to avoid a page refresh. See https://github.com/diaspora/diaspora/issues/5811

This should already really improve the situatio

[2015-06-01 14:56] AugierLe42e commented on #5076
@Flaburgan : Would be better to display 404 rather than fallback on desktop view. that could cause severe problems with the JS.

[2015-06-01 15:26] RichKavanagh commented on #6012
Discussion started at https://www.loomio.org/d/9YpxctHk/build-trending-hashtags-in-to-left-nav

I'll reply back here with a spec in a few weeks :)

[2015-06-01 20:37] svbergerem commented on #5517
Fixed by #6020.

[2015-06-01 20:37] #5517 closed

[2015-06-01 22:45] #5955 closed

[2015-06-02 09:40] AugierLe42e opened #6031 "Replace some plugin or custom components with Bootstrap's plugins"
With the port to BS3, we enable the usage of some really cool plugin that could lighten the amount of code to maintain for us. At a middle term, when port to BS3 is merge here is what I think could be replaced or added:

 * custom [`autoSuggest.js`](https://github.com/diaspora/diaspora/blob/ead86d3353933fa84f0a9395648e100b532451ca/vendor/assets/javascripts/jquery.autoSuggest.custom.js) by [Bootstr

[2015-06-02 14:46] Flaburgan commented on #6031
This can be really interesting.

[2015-06-02 16:48] svbergerem commented on #6031
There is also [typeahead.js](https://twitter.github.io/typeahead.js/) which was previously part of Bootstrap 2 and is now a separate project. We could use that for the search, mentions input and maybe even autosuggest. (The project @AugierLe42e mentioned for autosuggest uses typeahead.js)

[2015-06-02 17:23] AugierLe42e commented on #6031
Oh, yeah, typeahead.js ! I've seen that one ! Really cool !

[2015-06-03 07:45] jjoe commented on #5486
Okay I can like and unlike on  https://diasp.org/posts/4480697 but on
https://diasp.org/posts/30ae78c0e9cd0132d8f776a9846f8967 ,I can UNLIKE but still cannot like. Weird.
But still,  when I click the date/time on a post on my stream, I get the longer id.
Date: Mon, 1 Jun 2015 04:14:05 -0700
From: notifications@github.com
To: diaspora@noreply.github.com
CC: saxophonejoe@live.com
Subject: Re: [diasp

[2015-06-03 07:55] jhass commented on #5486
Yes, the fix isn't released yet, so you don't have it on diasp.org.

[2015-06-03 07:57] jjoe commented on #5486
OH wait! I take back that last sentence. It appears to be fixed now. I get the shorter id now. Another post that was giving me a 404 on spv seems to be fixed too.
From: saxophonejoe@live.com
To: reply@reply.github.com
Subject: RE: [diaspora] Bug. I can't "like" on single post view. My acct is on Diasp.org. I *can* "like" on stream or activity. (#5486)
Date: Wed, 3 Jun 2015 02:45:17 -0500

Okay I c

[2015-06-03 17:08] AugierLe42e opened #6039 "Hovercard avatar deformed"
![](https://cloud.githubusercontent.com/assets/3429231/7902351/75019fe4-07b7-11e5-95fb-362f7c593fde.png)
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/20130873-hovercard-avatar-deformed?utm_campaign=plugin&utm_content=tracker%2F522&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.

[2015-06-04 04:55] jjoe commented on #5486
My greasemonkey "podsavelink" seems to be disabled now. It provided a guid # for cross pod sharing. I think it might have been the source of the problem. Do you think there is any way to re-enable it without causing further problems?

[2015-06-04 06:29] Flaburgan commented on #5486
As said, your problem (not being able to like with the full id) is fixed in the next minor version, to be released the 14th of June.

[2015-06-04 07:01] jjoe commented on #5486
Thank you! As always, diaspora devs are the best!

[2015-06-04 08:59] Ravenbird opened #6044 "Open external hyperlinks into seperate tabs in the mobile version too"
Into the desktop version of diaspora external links will open in a new browser tab/window. Into the mobile version external links will open into the same tab/window which is diaspora in. Modern mobile Browsers support tabs since a long time and it's easy to switch between these tabs. So why don't open external links in a separate Tab into the mobile Version too?

Sorry for my bad English. Learned

[2015-06-04 12:28] Ravenbird opened #6047 "Why i can't unfollow my own posts?"
With diaspora 0.5 there is a option to follow and to unfollow a post. But why i can't unfollow my own posts? The only way to not get new notifications is to delete the hole post and all comments and this is very bad. :-(

Sorry for my bad English. Learned it long time ago and don't have a lot of practise.

[2015-06-04 12:30] jhass commented on #6047
Reporting issues and feature requests as questions is a bit annoying, I took the liberty to reword the title.

[2015-06-04 12:33] Ravenbird commented on #5996
Hm whats about some tabs for the stream. Or is this to complicate for normal users?

[2015-06-04 12:42] kas70 opened #6048 "show hosting-location of a pod on the front-page"

[2015-06-04 12:45] jhass commented on #6048
Pods can (and are encouraged) to completely customize their landing page, only the header and the footer is provided by diaspora then. How do you imagine this to be realized?

[2015-06-04 13:05] kas70 commented on #6048
i'd recommend a small flag in the footer.
bad mockup:
![podlocation](https://cloud.githubusercontent.com/assets/922628/7984705/1bca045e-0acb-11e5-9ad6-906e732b83b2.jpg)

[2015-06-04 13:10] kas70 commented on #6048
i'd recommend adding a small flag in the footer.
bad mockup:
![podlocation](https://cloud.githubusercontent.com/assets/922628/7984789/d895889c-0acb-11e5-9a24-438aa641586a.jpg)

[2015-06-04 13:22] jhass commented on #6048
How is it determined?

[2015-06-04 13:28] kas70 commented on #6048
i think pod owners have to set their location themselves. i don't think we can evaluate where pods store their data, can we?

[2015-06-04 13:53] Flaburgan commented on #6048
We display the footer on almost every pages. This doesn't add enough value to be everywhere I think. We could add that on the statistics page, it's kind of the About page.

[2015-06-04 13:53] jhass commented on #6048
Don't think so, just asking.

[2015-06-04 14:00] kas70 commented on #6048
podupti.me evaluates the location based on the ip.
is there a possibility to add the flag in the footer only on the front-page?

[2015-06-04 15:11] githubgnulinux opened #6051 "RSS feeds of issues"
Please provide RSS feeds for diaspora bugs submitted, e.g. all bugs, subscribe to comments of specific bugs, etc.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/20417541-rss-feeds-of-issues?utm_campaign=plugin&utm_content=tracker%2F522&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysou

[2015-06-04 15:21] githubgnulinux opened #6052 "Diaspora pod closure management"
https://diasp.eu/posts/3204777

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/20419651-diaspora-pod-closure-management?utm_campaign=plugin&utm_content=tracker%2F522&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F522&utm_medium=issue

[2015-06-04 15:32] jhass commented on #6051
You confused this with the bugtracker for github. Please report your suggestion to Github via their support form.

[2015-06-04 15:32] #6051 closed

[2015-06-04 15:33] jhass commented on #6052
This is a duplicate of #908

[2015-06-04 15:33] #6052 closed

[2015-06-04 15:43] Ravenbird commented on #6047
Good idea Jonne! Thank you. I'm not so familiar with github.

[2015-06-04 17:36] githubgnulinux opened #6056 "Image URL recognition failure"
See https://diasp.eu/posts/3206920 and compare to subsequent post with local image copy uploaded to diaspora pod (https://diasp.eu/posts/3206923)

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/20450762-image-url-recognition-failure?utm_campaign=plugin&utm_content=tracker%2F522&utm_medium=issues&utm_source=github)** We accept bountie

[2015-06-04 17:44] jhass commented on #6056
The source code of your post is
[code]

That's not how image embedding works. See https://diasporafoundation.org/formatting

[2015-06-04 17:44] #6056 closed

[2015-06-04 17:56] svbergerem commented on #6056
And the URL is not rendered as a link because it is part of an HTML block and CommonMark (the markdown spec we are using) doesn't support mixing HTML and markdown.

[2015-06-04 19:43] abimelex opened #6058 "Strange line-break in tags"
Sometimes some tags have a linebreak in the middle of the word without any reason?!
When I remove the `word-break: break-all;` from the `a.tag` everything is fine.

Environment: Chromium Version 41.0.2272.76 Built on Ubuntu 14.04, running on LinuxMint 17.1 (64-bit)

Example:
<img src="http://666kb.com/i/cz80jrb9qrdj5yb76.gif" title="hosted by 666kb.com"/>
## <bountysource-plugin>

Want to back thi

[2015-06-04 21:17] Flaburgan commented on #6058
Could you please give us the url of that post, if it is public?

[2015-06-04 21:27] Flaburgan opened #6061 "Translation broken in the aspect creation modal"
![](https://cloud.githubusercontent.com/assets/3429231/7973135/bb43bfa8-0a52-11e5-85d6-e808df5cf037.png)

Step to reproduce:
* Go on someone's profile
* Click on the aspect dropdown in the top right of his profile
* Click on "Create an aspect"
The modal displayed is not translated.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/2050

[2015-06-04 21:39] Flaburgan opened #6062 "Add links to the empty stream message"
When the stream is empty, it displays "you could search or invite contacts".
"search" should link to the search page and "invite contacts" to the invite modal (the same than in the left side bar of the /contacts page)

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/20504554-add-links-to-the-empty-stream-message?utm_campaign=plugin&ut

[2015-06-04 22:40] svbergerem opened #6063 "Bootstrap 3 regressions"
Let's collect the regressions introduced by the Bootstrap 3 port in this issue.

* [ ] Scroll bar for "to" input in conversations view (Chromium 43.0.2357.65) screenshots: [[1]](https://cloud.githubusercontent.com/assets/3798614/7995910/f632ffde-0b1a-11e5-8b6d-85bfb93ab990.png)
  [[2]](https://cloud.githubusercontent.com/assets/3798614/7995909/f630124c-0b1a-11e5-80c0-f8a41644544c.png)
* [ ] Avatar

[2015-06-05 06:50] Flaburgan commented on #6063
[ ] The dropdown aspect and the "mark as read" icon are too close to the right of the screen on the notification page.

![capture du 2015-06-04 23 42 25](https://cloud.githubusercontent.com/assets/930064/8000831/a1526a8c-0b5f-11e5-88a2-23f7221a60d1.png)

[ ] The dropdown to add a tag in the left side bar of the stream is misplaced (gap between it and the input)

![capture du 2015-06-05 00 44 49](h

[2015-06-05 06:55] Flaburgan commented on #6063
Avatars of people who likes are collapsed in the stream view:
![capture du 2015-06-05 08 53 58](https://cloud.githubusercontent.com/assets/930064/8000910/97ec9354-0b60-11e5-8919-243c68697ce0.png)

[2015-06-05 09:03] githubgnulinux commented on #6056
Why does the source code of the original post successfully show the link to a html web page (e.g. https://diasp.eu/posts/3208484)? The expected behaviour would be a small view of the image, then the user activates the hyperlink to view the image in full size.

[2015-06-05 09:04] SansPseudoFix commented on #6063
Images post by link are cropped:

![bs3_diaspora_img_crop](https://cloud.githubusercontent.com/assets/6507951/8002866/72b55ff0-0b72-11e5-95c6-dc22be915010.png)

Expected:

![bs3_diaspora_img_crop_expected](https://cloud.githubusercontent.com/assets/6507951/8002871/7f4364ba-0b72-11e5-96d4-9619bdad7273.png)

---

No more animation when upload image:

![bs3_no_animation_upload_img](https://cloud.gith

[2015-06-05 09:08] jhass commented on #6056
That's the OpenGraph preview feature, the target site needs to support it. URL extraction for that is performed completely distinct from client side post rendering.

[2015-06-05 09:09] AugierLe42e commented on #6063
Stream view and notifications view are not as wide as they were.

![
](https://cloud.githubusercontent.com/assets/3429231/8002959/43f7faa0-0b73-11e5-8bea-ec5fda909ddd.png)
![](https://cloud.githubusercontent.com/assets/3429231/8002960/43f8cb56-0b73-11e5-8588-136569828a67.png)

And notifications content lacks padding.

[2015-06-05 09:10] AugierLe42e commented on #6063
Cancel button of "Change password" lacks margin on mobile view for little screens (320px)

![capture d ecran 2015-06-06 a 11 03 37](https://cloud.githubusercontent.com/assets/3429231/8002980/89bb8c46-0b73-11e5-9204-039189e3a853.png)

[2015-06-05 09:11] AugierLe42e commented on #6063
Avatar lacks left margin on on contacts page for mobile view.

![](https://cloud.githubusercontent.com/assets/3429231/8002989/a1103aae-0b73-11e5-973a-ffcd2b46f918.png)

[2015-06-05 09:24] AugierLe42e commented on #6063
I think `newcommer` label can be added to this issue ;)

[2015-06-05 09:34] AugierLe42e commented on #6063
About [this one](https://github.com/diaspora/diaspora/issues/6063#issuecomment-109210968), use [`img-responsive`](http://getbootstrap.com/css/#images-responsive) classe where nessessary.

In general, please avoid adding CSS and prefer using Bootstrap's classes.

[2015-06-05 09:45] svbergerem commented on #6063
This is already fixed on develop.

[2015-06-05 10:23] AugierLe42e commented on #6063
BTW, there really should be a spec to follow for contributors because HTML and CSS are a mess. Something like a good practice guide. I have a idea or to, just throwing here for now. E.g : every CSS classe should use dash, not camel or snake case. And we definitely should seperate classes used for selecting in JS from these used for CSS. An idea should be that no HTML class used to select in JS sho

[2015-06-05 10:51] RichKavanagh commented on #4755
Yeah, confirmed this is still an issue.

Along with the mobile version showing a badly scaled thumbnail (`thumb_large_x`) instead of the `scaled_full_x`

[2015-06-05 11:16] npze commented on #4755
I agree on the very poor quality of the thumbnails of big pictures in the mobile version.

[2015-06-05 12:24] theworldbright commented on #5483
Here is my plan to address this issue:

On reaction button tap/click
* If comment box is already open
  * Show comment/reactions as before
* If comment box is not already open
  * Show comment/reactions as before
  * Open new comment box

On comment submit
 * Show comment/reactions (with the comment that was just submitted)
 * Open new comment box

The comment box will always appear below the comm

[2015-06-05 12:39] githubgnulinux commented on #6056
Learned something new! THanks :)

[2015-06-05 12:45] jhass commented on #6063
@AugierLe42e can you try to not add random stuff to random issues? Your last comment belongs to https://www.loomio.org/d/bLH78pEh/styleguides

[2015-06-05 16:30] AugierLe42e commented on #6063
Player button for oEmbed content has not the right height:

![player](https://cloud.githubusercontent.com/assets/3429231/8010454/9444908a-0bb0-11e5-874e-027ae32b12ac.png)

Just change [height](https://github.com/diaspora/diaspora/blob/develop/app/assets/stylesheets/_mixins.scss#L73) to `70px`.

[2015-06-05 21:57] AugierLe42e commented on #6063
Ow... Crapy crap... Didn't see that one coming. :/
Reshared posts are complitely broken:

![](https://cloud.githubusercontent.com/assets/3429231/8016020/9b2488dc-0bde-11e5-95bf-8fccaaa07bcc.png)

[2015-06-06 09:48] balasankarc opened #6067 "ZWNJ character getting removed from posts and comments"
Hi,
The  ZWNJ character (character code U+200C in Unicode) is getting scrapped off in posts and comments. Tested in poddery.com, running latest stable version of Diaspora.

This character is used in many languages, like Malayalam, to prevent two glyphs from forming a conjunct. So, for proper rendering of these languages, ZWNJ character is a must.

<bountysource-plugin>
---
Want to back this issue?

[2015-06-06 12:11] githubgnulinux commented on #5996
No tabs please. A simple option 'no public posts' in 'my aspects' list would be sufficient

[2015-06-06 12:36] jhass commented on #6067
Could you have something to copy paste so we can try to reproduce elsewhere? What database is podddery.com using these days? In the case of MySQL/MariaDB, does it use utf8mb4 already? Is it lost in the database already or only when rendering the post? Is it lost in the post preview?

Please try to include as much information as possible in your bug reports.

[2015-06-06 12:52] balasankarc commented on #6067
@jhass
Sorry for not adding details, didn't know what all to mention.

* poddery.com is using MySQL.
* Running v0.5.0.1
* It has `encoding: utf8mb4` in  config/database.yml
* ZWNJ is not lost during post preview, but only after posting.
* Example:

ള +‌്   => ള്
ള + ്  + ZWNJ => ള്‍

So, in [this](https://poddery.com/posts/1835730) post, I had actually posted the second one, but somehow it became

[2015-06-06 12:56] balasankarc commented on #6067
This happens also in sechat.org . I just checked.

[2015-06-06 13:02] jhass commented on #6067
Looks like an issue in post processing:
[code]

[2015-06-06 13:03] jhass commented on #6067
Regression from 6a5a407e49eb1ef07a116c0aa899338a20c1aca4

[2015-06-06 13:05] githubgnulinux commented on #5993
Create two accounts in two different pods

Add each account as a contact (e.g. Your account 1 on pod A is a contact on pod B; your account 2 on pod B is a contact on pod A)

Make a public post in account 1, pod A

The post is not visible in the list of posts for contact in pod B

[2015-06-06 13:23] #6067 closed

[2015-06-06 13:26] jhass commented on #5993
I could imagine as much, the keyword here is *reliably*.

[2015-06-06 13:34] balasankarc commented on #6067
Thanks for the quick response. :)

[2015-06-06 13:57] Flaburgan commented on #6063
The loading spinner is not the good one, is too big in notification panel, and broken on the stream page.

![notif](https://cloud.githubusercontent.com/assets/930064/8019868/99682202-0c64-11e5-91fc-97ea7fe81fd0.png)

[2015-06-06 14:14] AugierLe42e commented on #6063
Nope, it's the same. It's just that there was a duplicate gif of this spinner. The previous one was an ugly low-quality which I suppressed. Just resize this one, it will be ok.

[2015-06-06 14:43] Flaburgan commented on #6063
At least the stream loading spinner was an arrow: https://github.com/diaspora/diaspora/blob/master/app/assets/images/static-loader.png

[2015-06-06 15:52] AugierLe42e commented on #6063
Yes, and it was not intended to. If you look at the [infinite scroll widget](https://github.com/diaspora/diaspora/blob/develop/app/assets/javascripts/widgets/infinite-scroll.js) you'll see that the image had to be the spinner.

The only reason an arrow was dispayed is because it was overriden by [a CSS rule](https://github.com/diaspora/diaspora/blob/432f99e0018adbd2032d42e03a1e071325e2a27a/app/ass

[2015-06-06 19:06] Flaburgan commented on #6063
The arrow moved, and looked way better that the actual one imo. But this is design not a bug anymore so I'm fine with dealing about it elsewhere than here.

[2015-06-06 19:12] AugierLe42e commented on #6063
I've nerver seen it move... Neither on Forefox nor on Chrome. :/
Anyway, I've just fixed sizes here ;)

[2015-06-07 14:58] ita1024 opened #6075 "recent notifications - cannot mark read/unread notifications"
With diaspora 0.5.0.1 in Firefox 38, desktop version (no problem in the mobile version), the links in the dropdown are broken:
* "Mark all as read" has no effect
* "Mark read" / "Mark unread" on a single comment has no effect

On the notification page accessed from "view all", the eyes to mark single comments as read/unread are also broken. The link https://server/notifications/read_all seems to w

[2015-06-07 15:05] svbergerem commented on #6075
I'm not able to reproduce this. Is there anything in the error console?

[2015-06-07 15:13] ita1024 commented on #6075
It seems that there is:
PUT https://server/notifications/121 net::ERR_EMPTY_RESPONSE
send
it.extend.ajax
app.views.Notifications.Backbone.View.extend.setUnreadStatus
app.views.Notifications.Backbone.View.extend.setRead
(anonymous function)
it.extend.each
it.fn.it.each
app.views.Notifications.Backbone.View.extend.MarkAllRead
it.event.dispatch
g.handle

If i try to access that link directly i am get

[2015-06-07 15:42] ita1024 commented on #6075
This one is my fault. I have a firewall that filters PUT requests.

Sorry for the noise :-)

[2015-06-07 15:42] #6075 closed

[2015-06-07 17:17] Globulle opened #6076 "Improve tag feature #1 : implement tag suggestion in post areas"
The system of tags is one a key feature of diaspora* but it remains a little messy. I see two main limitations : typing errors and multiple spellings or synonyms. To address these issues I suggest 3 improvements.

Here the first one: we should implement autocompletion for all the messages, as it is already the case in the description field of our profile and in the search field in the top bar. Thi

[2015-06-07 17:17] Globulle opened #6077 "Improve tag feature #2 : avoid accented characters in tags"
Following issue #6076, a second step to reduce the number of different spellings for tags should be to consider accented characters such as *é è ë ê* as equivalent to their basic one *e* because accents are often dropped out (because it's easier or people don't know whether they are permitted or not within tags). This way, if I post something related to, say, ecology in french, I wouldn't need to

[2015-06-07 17:18] Globulle opened #6078 "Improve tag feature #3 : creating a tag database"
Following issues #6076 and #6077, I propose a third step to avoid tag synonyms and gain efficiency. It is probably the most complicated one, but I think it would be really helpful. We could create a referencing database [as for example in TeX StackExchange](http://meta.stackexchange.com/tags). For each tag it could display 3 fields:
* the number of occurrence within the *n* last days, to help (new

[2015-06-07 17:34] jhass commented on #6077
I'd like that implemented upstream and not by us if possible.

[2015-06-07 17:36] jhass commented on #6078
I think that would be too complicated for the social network and the problem would already be solved by your other two suggestions and #6012

[2015-06-07 17:44] svbergerem commented on #6063
This is the only cancel button on that page. I think we can just remove it.

[2015-06-07 18:43] Flaburgan commented on #6063
+1 on this Steffen

[2015-06-07 19:06] Flaburgan commented on #6078
Yeah as discussed IRL I think your two first propositions would already improve the situation a lot and its probably not worth the effort to implement this one: it would need a good UX, it asks for users interaction... So probably too complicated.

[2015-06-07 19:13] jhass commented on #4297
We decided to implement color themes and that's done by #6033.

[2015-06-07 19:13] #4297 closed

[2015-06-07 19:43] Globulle commented on #6078
OK, I agree. Let's see how things work when the two first will be implemented.

[2015-06-07 20:07] Flaburgan commented on #5315
https://github.com/diaspora/diaspora/pull/5956 added this but looks like the port to bootstrap broke it. Should I close this and report it on https://github.com/diaspora/diaspora/issues/6063 ?

[2015-06-07 22:27] Flaburgan commented on #5312
I'm working on this issue for both privacy and services routes.

[2015-06-07 23:07] #5315 closed

[2015-06-08 02:19] denschub commented on #4755
Fixed by #6082.

[2015-06-08 02:19] #4755 closed

[2015-06-09 08:40] pravi opened #6089 "allow adding xmpp only contacts to aspects"
When chat is enabled, allow adding xmpp only contacts so it shows up in xmpp clients.  As second step, contacts added via xmpp clients could be added to aspects.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/21165905-allow-adding-xmpp-only-contacts-to-aspects?utm_campaign=plugin&utm_content=tracker%2F522&utm_medium=issues&utm_sourc

[2015-06-09 08:50] jhass commented on #6089
Duplicate of https://github.com/diaspora/vines/issues/10

[2015-06-09 08:50] #6089 closed

[2015-06-09 08:58] pravi commented on #6089
I think it would be good to show such contacts in aspects and be able to modify them via the web interface.

[2015-06-09 08:59] jhass commented on #6089
I think I disagree, aspects should stay the management tool for your streams primarily.

[2015-06-09 09:42] pravi commented on #6089
Should we setup a vote on loomio?

[2015-06-09 09:54] jhass commented on #6089
If you care that much about it....

[2015-06-09 10:01] pravi commented on #6089
created a loomio vote https://www.loomio.org/d/UPWolQ8z/allow-managing-non-diaspora-xmpp-contacts-via-diaspora-aspects

[2015-06-11 02:48] gordon-morehouse commented on #3467
This now has a $1,000 bounty on this issue.

Here's what I've found in the wiki: https://wiki.diasporafoundation.org/Diaspora_API_proposal

With a $1,000 bounty, clear deliverables need to exist.

[2015-06-11 07:45] RichKavanagh commented on #3467
My understanding of the bounty on this one is pretty much as per the very first post in this thread:

Yes, yes it does.

[2015-06-11 08:03] AugierLe42e commented on #6063
Same thing on images posted in comments and in the biography on profile page. I think the function that generate images should be overriden to automatically add class `img-responsive` on all images.

[2015-06-11 10:50] Flaburgan commented on #6063
I think I would like to add to the problem list the flat buttons, especially the white ones. Two confusing examples are the log in page where the button really looks like an input field, and the publisher, where it's hard to tell if the "preview" button is enabled or not (check the difference when the publisher is empty and filled).

This is not about design but really about user experience.

[2015-06-11 20:02] petko10 commented on #3009
In order to close this huge gap for the new users (I actually have no incentive to use Diaspora before I can integrate FB in it) I want to mention the possibility for a hack around - a browser extension. The browser extension would rip the posts from the actual FB web page and display them in the diaspora news feed. I don't think it would be against any policies, since it's all happening on the us

[2015-06-11 20:03] djcf commented on #3009
+1. I think this is an excellent idea and would love to work on such a feature.

[2015-06-11 20:35] jaywink commented on #3467
Totally agree - the situation is kinda getting out of hand. We need to lock a clear list of deliverables for the bounty to be given. And agree on what happens if multiple developers implement parts of it.

Hitting Loomio, let's report back here once those are done..

[2015-06-12 07:15] AugierLe42e commented on #6063
I think that problem coul be solved using the material design specification from Google.

[2015-06-12 09:05] RichKavanagh opened #6093 "Incorrect wording / functionality of the More button in Mobile view"
The introduction of v0.5.0.0 seems to have brought a new issue in with regards to the wording and/or functionality of the More button in Mobile view.

Steps to reproduce:

1. Switch to mobile view
2. Head over to something like */tags/exmachina* and you’ll see a small number of posts
3. At the bottom, where the 'More' button usually appears, you'll see a button saying, “There are no posts yet.”

W

[2015-06-12 13:01] metafarion commented on #3009
Yeah, that seems like a decent solution in the face of an impassable TOS.  I wonder if it would have to be visibly unaffiliated with the Diaspora project to escape FB's wrath.

[2015-06-12 20:28] RichKavanagh commented on #5895
@kzurell any luck mate or can this issue be closed now?

[2015-06-13 00:22] kzurell commented on #5895
Could no longer reproduce with Chrome 43.0.2357.124 and joindiaspora's 0.5.0.0 (or better?)

[2015-06-13 00:22] #5895 closed

[2015-06-13 01:35] Label-papin opened #6096 "javascript issue freezes the whole browser"
I've searched about this issue, but couldn't find it. I posted this in diaspora and some users reported the same issue, intermitently, as is with me.

It seems to freeze the whole browser when loading new stream content.
Freezes for around 10 seconds, then Iceweasel prompts:

Even if I tick the "Don't ask me again", it repeats right after the first freeze, around 5 to 10 times, then stops freezing

[2015-06-13 03:26] pizzamaker commented on #6096
Same issue while running Abrowser 38 and Firefox 38.

[2015-06-13 07:52] jhass commented on #6096
These usually are caused by some issue while parsing some post, until we got that post (= a way to reproduce), it's impossible to debug this.

[2015-06-13 08:18] Flaburgan commented on #6096
It is really, really probable that this freeze is caused by the chat. Is it activated on your pod?

[2015-06-13 12:48] pizzamaker commented on #6096
The chat indeed freezes a lot, but in my case I disabled WebRTC so the chat doesn't even load.

I'm getting extreme lag while trying to open, for example, /tags/aaronswartz

[2015-06-13 14:41] pizzamaker opened #6098 "push for LibreJS compliance"
According to LibreJS, some of the JavaScript required to load Diaspora is unfree. That's either because LibreJS doesn't know that the scripting is free or because the JavaScript code used really is proprietary.

IMO this should be fixed, as some free software supporters avoid Diaspora for this reason.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountyso

[2015-06-13 14:43] jhass commented on #6098
Duplicate of https://www.loomio.org/d/Wv4XnypZ/make-diaspora-work-with-librejs

[2015-06-13 14:43] #6098 closed

[2015-06-13 20:50] RichKavanagh commented on #6093
This bug / issue also appears when viewing the profile of a user that does not have many posts.

Eg. https://joindiaspora.co.uk/people/fb34e860f4340132924f692f19e1a711

The same 'There are no posts yet.' button / wording appears, but there clearly *are* posts.

[2015-06-13 20:55] svbergerem commented on #6096
@jhass wk3.org is still running version 0.4.1.2, so even if the browser freezes while parsing some post, the current version will behave completely different.

@pizzamaker I was able to open https://wk3.org/tags/aaronswartz with iceweasel 38.0.1 without any issues.

[2015-06-14 10:20] SWW13 opened #6100 "Add 'hide user in stream' option"
Sometimes you don't want to see posts of someone (e.g. with a tag) but still allow them other communication (such as comments).

Maybe rename the 'ignore' option to 'block' and add this option as 'ignore' could by easier to understand.

[2015-06-14 10:42] SWW13 opened #6101 "Ignore hashtag in stream"
It should be possible to exclude posts in stream via a hastag.
This should only happens to users you are not sharing with.

Possible Use Cases:
* I follow `#linux` but I don't want to see posts about `#debian`.
* I see posts which are marked as `#french` but I don't speak french.

[2015-06-14 11:51] jhass commented on #6101
Related discussions

* https://www.loomio.org/d/R3zBvnfc/improving-and-expanding-hashtags-usability
* https://www.loomio.org/d/pREcDdY8/change-functionality-of-the-followed-tags-menu
* https://www.loomio.org/d/ikJUaz3l/word-tag-filter-option
* https://www.loomio.org/d/pGs86ULi/feature-tag-filtering-old-diaspora-pistos-feature
* https://www.loomio.org/d/4vTqCj5X/language-filter-for-diaspora-as-a-gs

[2015-06-14 13:14] jaywink commented on #6093
Confirmed on 0.5.1.0-RC @ iliketoast.net

[2015-06-14 13:26] #5339 closed

[2015-06-14 13:40] pizzamaker opened #6103 "Fix remaining JS to comply with LibreJS"
The following scripts are still unfree/untagged/unrecognized by LibreJS:

List of blocked JavaScript in https://diasporabr.com.br/stream

    This script is detected as inline, nonfree, defining functions or methods, and the rest of the page as loading external scripts
            if(Array.isArray === undefined) {
              Array.isArray = function (arg) {
                return Object.prototy

[2015-06-14 13:53] jhass commented on #6103
[code]

Third party dependency, needs to be fixed upstream.

[code]

Needs to be fixed at diaspora/jsxc or ideally in jsxc/jsxc directly, report an issue over there.

[2015-06-14 13:55] giniouxe commented on #6062
Hi. I'd like to work on this one if it's OK.

[2015-06-14 13:57] jhass commented on #6062
@giniouxe of course it's ok ;)

[2015-06-14 14:04] jaywink commented on #3009
Any solution that would be code as a browser extension and not core diaspora* code would *automatically* be not involved with the diaspora project officially.

So go ahead do what you like! :)

[2015-06-14 14:13] jaywink commented on #4913
No reply from anyone since over a month and couldn't reproduce myself on 0.5.1.0-RC - closing.

[2015-06-14 14:13] #4913 closed

[2015-06-14 17:13] pizzamaker commented on #6103
@jhass Where is the third party? Is it known?

[2015-06-14 17:30] jhass commented on #6103
should be rails/jquery-ujs (easy to Google).

[2015-06-14 17:33] pizzamaker commented on #6103
Thanks!

[2015-06-14 21:03] Flaburgan commented on #6062
@giniouxe I started to work on this but will not have time to finish it soon, feel free to base your work on this branch: https://github.com/Flaburgan/diaspora/commit/e72399128a2a0f76e172995faf13e21308203aea

[2015-06-15 00:52] pizzamaker commented on #6096
@Label-papin These tweaks made my experience nearly perfect: https://www.reddit.com/r/linux/comments/39q6xt/some_useful_firefox_tips_to_fix_choppy_scrolling/

[2015-06-15 16:07] RichKavanagh commented on #5779
Is this related to [loading spinner broken in streams](https://github.com/diaspora/diaspora/issues/6063#issuecomment-109581123) ?

[2015-06-15 18:29] AugierLe42e commented on #5779
Yes. There were 3 kind of spinners. I eliminated 2 of them for consistancy during the port.

[2015-06-15 18:30] #5779 closed

[2015-06-15 18:37] RichKavanagh commented on #6063
So I'm confused now. Should the spinner actually spin when loading the next stream posts and when searching for a user?

[2015-06-15 19:44] AugierLe42e commented on #6063
Yep. It's now this one:

![](https://github.com/diaspora/diaspora/blob/145aac4d2805eae332bd439c98a067b60c150668/app/assets/images/ajax-loader2.gif?raw=true). But only on BS3 version which is planed for 0.6 not 0.5.1.

[2015-06-15 22:52] Flaburgan opened #6107 "/contacts page is really slow"
It takes ~30 seconds to load with 1800 contacts and goes to a 504 timeout with 16k contacts.
I'm not sure it was like this before the 0.5.1.0.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/22162040-contacts-page-is-really-slow?utm_campaign=plugin&utm_content=tracker%2F522&utm_medium=issues&utm_source=github)** We accept bounties vi

[2015-06-16 11:40] waldyrious opened #6108 "Port to sandstorm.io"
[Sandstorm](http://sandstorm.io) is an open-source platform that allows one to run their own server and easily install web apps like GitLab, Etherpad, TinyTinyRSS, [and many more](https://sandstorm.io/apps/). They've been trying to port Diaspora for a while but recently [put it in the backburner](https://groups.google.com/d/topic/sandstorm-dev/4IKuo_Y4ZjY/discussion) due to difficulties in getting

[2015-06-16 11:43] jhass commented on #6108
I'm not aware of any contact, and I'm also not sure what you expect to happen from our side, could you elaborate?

[2015-06-16 11:54] waldyrious commented on #6108
I hope at least some communication will emerge if it hasn't already happened (which seems to be the case). I assume it might be of the interest of the Diaspora project to eventually be [installable through Sandstorm](https://github.com/sandstorm-io/sandstorm/wiki/Packaging-Guide), so Jason's feedback about what has made it difficult to port so far may lead to relevant insights from the Diaspora te

[2015-06-16 11:57] jhass commented on #6108
I think you should suggest sandstorm to contact us, not the other way around.

This is our issue tracker for accepted feature requests, bug reports and other tasks related to the codebase, please see [How we communicate](https://wiki.diasporafoundation.org/How_we_communicate).

[2015-06-16 11:57] #6108 closed

[2015-06-16 12:46] waldyrious commented on #6108
Fair enough. I've already pinged @jparyani on this thread, so I'll let him take the actions he might deem appropriate from the Sandstorm side.

[2015-06-17 00:59] redmatrix commented on #5695
Would appreciate a review and possibly re-open. This came up again in this thread:

https://deadsuperhero.com/channel/sean/?f=&mid=b682eeb3f65ef62f3455701cfa1ea2dc1138f0cfeed76ba8db14c14105f47c84@deadsuperhero.com

After a bit of investigation it turns out that all that is needed is to urlencode the message-id that goes into the /posts link. Doing so will future proof this from a number of differe

[2015-06-17 01:02] redmatrix commented on #5695
I see my own investigation conflicts with the findings of the initial issue report, but urlencode  worked just fine for me.

[2015-06-17 03:42] denschub commented on #5695
The point regarding the dot and Rails format parameter is still valid. I don't see a reason to reopen, but let's wait on other opinions.

[2015-06-17 03:54] redmatrix commented on #5695
In my test,

https://nerdpol.ch/posts/e4bd06e0337bcfd749cf327418fc2aec3afa6a3e51cd76ad0302646d4ead5d70%40red%2evilarejo%2epro%2ebr

brought up the singe page view, and

https://nerdpol.ch/posts/e4bd06e0337bcfd749cf327418fc2aec3afa6a3e51cd76ad0302646d4ead5d70%40red%2evilarejo%2epro%2ebr.json

brought up the alternate format (json)

In other words everything seems to work just fine.

[2015-06-17 04:22] denschub commented on #5695
Well, that's even better.

[2015-06-17 08:10] jhass commented on #5695
So what do we need to change then? Do we link to the GUID version of the URL anywhere?

[2015-06-17 08:36] redmatrix commented on #5695
It would be wherever  a /posts/xxxx link is created using the guid. I'm pretty certain you just need to urlencode the guid (only the guid) just before it gets inserted into that link. There was some confusion over this link - presumably linked to the timestamp of the post in a stream view, but I think this alternates between a guid and the post-id depending on whether or not you're logged in or th

[2015-06-17 09:14] jhass commented on #5695
I'm not aware that we generate links with guids for posts anywhere atm., hence I asked.

[2015-06-17 13:06] AugierLe42e opened #6114 "Comment box sometimes opens with two lines"
I think it's related to #6104 but not sure. On develop, when clicking comment on a post on main stream, the comment box sometimes open with the wrong height, two lines instead of just one.

![comment](https://cloud.githubusercontent.com/assets/3429231/8207520/574b1d7e-1502-11e5-848b-1f0107451781.png)

![comment2](https://cloud.githubusercontent.com/assets/3429231/8207502/25c147e2-1502-11e5-96f3-e8

[2015-06-17 17:31] fap- commented on #6021
I would like to work on this issue, if this is alright?

If we drop the message in the user's inbox we need a sender account.
Maybe use the admin account specified in 'diaspora.yml' and
ignore the 'welcome_sendmsg' flag if no admin account is specified?

[2015-06-17 17:38] jhass commented on #6021
Admin account sounds good, I think falling back to the autofollow_on_join user wouldn't be too bad too, so by default `diasporahq@joindiaspora.com`.

[2015-06-17 18:49] TwizzyDizzy commented on #6021
Hi folks,

using the specified admin account seems like the way to, ignoring the welcome_sendmsg flag if no account is specified, too.

I'll compose an intriguing ( ;) ) welcome message up until saturday.

Maybe we could shortly agree on the contents. I'd like to mention at least the following things:

* "hi, welcome to this pod"
* some links to sites containing information on how to use diaspora

[2015-06-17 18:56] jaywink commented on #6021
Aww shucks, sorry, accidental mouse click :dancer:

Was just going to say "great idea", then decided not to spam with a comment and accidently clicked Close. So, great idea ;)

[2015-06-17 20:26] redmatrix commented on #5695
Apologies if not valid, as I said I wasn't able to reproduce personally. Reported to me by harryhaller from nerdpol.ch who claimed to be able to reproduce but I'm not certain and didn't ask what D* version was being used.

[2015-06-17 20:28] jhass commented on #5695
It's popular to do manually among diaspora users as a "maybe we have luck" way of linking a post in a way that it opens on the local installation, but it's not officially supported at the moment.

[2015-06-17 20:47] Flaburgan commented on #6021
I'm definitely in favour of introducing the software to the new users (and @SansPseudoFix probably has suggestion about that, he is welcoming manually new users on framasphere for a while now) but I would prefer to improve the already existing "getting_started" panels. You can reactivate it in the settings if you forgot what is this about, but to summarize, there is a welcome message, a presentati

[2015-06-18 01:45] redmatrix opened #6115 "user export - posts, comments - missing guid"
The guid isn't currently provided for posts and comments in the json export file. This makes it very difficult (if not impossible) to avoid duplicated content and "confused conversations" when importing.

[Comment dates would also be a "nice to have" so that the original times could be preserved by an importing process. Even though this isn't available in the protocol I'm assuming the arrival time

[2015-06-18 06:42] Flaburgan commented on #6115
Yeah the comment dates have to be saved, see https://github.com/diaspora/diaspora/issues/4269 and https://github.com/diaspora/diaspora/pull/4935

[2015-06-18 07:35] jaywink commented on #6021
I think there is a good reason to use email here - it ends up safe in the inbox so the user can look it up later, if the pod is down for example.

I guess as fallback, since not all pods configure email, conversations could be used.

Also I don't see why a welcoming conflicts with improving the getting started panels. Both can be done.

[2015-06-18 07:47] Flaburgan commented on #6021
Hm, I thought this was about a private message, not an email.

[2015-06-18 08:15] redmatrix commented on #6115
Would be nice if the timestamps federated, but I'm asking for something much simpler - putting whatever timestamp you have into the export data for comments. But the guid is much more important and I can provide a separate issue about including comment timestamps, even though it should only take a couple minutes to add all of them, and since there aren't any import clients currently and this would

[2015-06-18 11:04] SansPseudoFix commented on #6021
Yeah, it's a great idea!

In first place, I welcomed every new users on framasphere, but now I just check #newhere tag and post an help message if the post is in limited aspect (obviously, if you post a #newhere message, it means you want to meet people). This welcome message can be displayed on stream. Maybe I'm wrong, but I think many users don't have a look to the "getting_started" panels, just

[2015-06-18 15:00] fap- commented on #6021
Okay, I think we need a consensus on how to do this before I go on with the implementation.

I investigated the conversation/inbox route and the problem I encountered is that you can only start a conversation with someone if he has you in his contacts.
I think the solution would be to bypass the check [here](https://github.com/diaspora/diaspora/blob/develop/app/models/conversation.rb#L27) if the a

[2015-06-18 15:03] jhass commented on #6021
Sounds about right, maybe make sure the recipient is local if the podmin account is the sender.

[2015-06-18 16:12] goobertron commented on #6021
This looks like a good idea to me.

If this could incorporate an explanation of the auto-follow process as per #6021 (i.e., that your new account has been set to auto-follow another account, which account that is and why we do this, and what to do if you *don't* want to follow that account), that would be excellent.

[2015-06-18 16:47] goobertron commented on #6096
I had this on pod-orkz.net for a while shortly after the upgrade to 0.5.0.0, so it's not related only to old code. Whether it's a software or server issue I can't say. I even thought it was possibly something to do with my computer or browser. I haven't experienced if for the past few days.

[2015-06-18 20:14] RichKavanagh commented on #6093
I've pinged @Faldrian ;)

[2015-06-18 20:19] Faldrian commented on #6093
Jajaja... I'm on my way and will have a look now... -.- ;)

[2015-06-18 20:51] RichKavanagh commented on #6093
Lol :) Thank you my friend :)

[2015-06-18 21:15] Label-papin commented on #6096
I don't think this is related to the browser, as some people has the same issue happening, and, if I get this right, with the same patterns. This seems to be a bad js script.

Thanks for the link, pizzamaker!

[2015-06-18 21:45] svbergerem commented on #6096
@goobertron All I was trying to say is that if the browser freezes while parsing a post then we need a post that freezes the browser for d* version 0.5.1.0 or later. Since version 0.5.0.0 we use a completely different markdown renderer and with version 0.5.1.0 we fixed a bug that froze the browser.

[2015-06-19 07:45] Flaburgan opened #6119 "[Getting Started] Design broken by the avatar of the inviting perso"
![capture du 2015-06-19 09 40 58](https://cloud.githubusercontent.com/assets/930064/8249176/e27d798a-1667-11e5-8ae5-47a9c4ca31f6.png)

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/22451524-getting-started-design-broken-by-the-avatar-of-the-inviting-perso?utm_campaign=plugin&utm_content=tracker%2F522&utm_medium=issues&utm_source=git

[2015-06-19 07:47] Flaburgan opened #6120 "[Getting Started] The aspect combobox doesn't reload when creating a new aspect"
On the getting started page, when you have been invited by someone, there is an aspect selection dropdown to put the person in an aspect. This dropdown allows you to create a new aspect. Once you submitted the modal, the aspect dropdown doesn't contain the new created aspect, so you can't select it.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysour

[2015-06-19 07:48] Flaburgan opened #6121 "Terms of service design broken"
The port to bootstrap 3 broke the ToS page which now uses the full width. It only misses a lg8 somewhere.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/22451706-terms-of-service-design-broken?utm_campaign=plugin&utm_content=tracker%2F522&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bounty

[2015-06-19 07:55] svbergerem commented on #6121
The ToS page has `col-md-8 col-md-offset-2` and looks good on my dev pod.

[2015-06-19 08:04] Flaburgan commented on #6121
Hm... My bad. Here is what I have: https://diaspora-fr.org/terms
Because I modified the terms page with https://github.com/Flaburgan/diaspora/commit/d588e39c01ff1df2533c52e7a3f533ac623c3849, when it has been introduced. At this time the default file had a very minimalist structure. So that means that the layout has to be done in the overridden file now. Is that what we want?

[2015-06-19 08:11] svbergerem commented on #6121
I think podmins who modified the page should be able to apply their changes to the new page. This would imply that we mention the changes in the changelog. @Flaburgan do you agree?

[2015-06-19 08:18] Flaburgan commented on #6121
Yeah no problem, I like to be free :)

[2015-06-19 08:23] Flaburgan commented on #6121
https://github.com/diaspora/diaspora/pull/6122

[2015-06-19 10:32] goobertron commented on #6096
Thanks, Steffen. I assumed that the major change was implemented in 0.4 -> 0.5. Apologies. As I say, I haven't experienced it for a few days, which probably coincides with the ugrade to 0.5.1.0 on pod.orkz.net.

[2015-06-19 20:22] #6093 closed

[2015-06-20 06:38] DeusFigendi opened #6124 "Camo doesn't grap images noted in reference style"
If using [reference style](http://spec.commonmark.org/0.20/#example-486) that camo-parser-thingy does not recognise it as an image.

**Example:** (what I typed into the status message)

[code]

Test 1 works as intended (camo does as it should). Test 2 and Test 3 do not.

**Markdown result** (what the pod tells my client in post/id.json)

[code]

**HTML result** (what my Browser shows me)

[code]

[2015-06-20 07:47] DeusFigendi opened #6125 "Tree dots in an url are parsed to one dot and a ellipsis? Weird!"
…or something similar…

pretty strange, I found this bug [here](https://pod.geraspora.de/posts/e7268ef0f947013213e44860008dbc6c), the json says the author typed in `http://www.taz.de/Was-fehlt-.../!5205173/` (minus dot dot dot slash) and it was parsed to `http://www.taz.de/Was-fehlt-.…/!5205173/` (minus dot ellipsis slash) that is strange because that are four dots XD.

And **that** was interprete

[2015-06-20 08:22] DeusFigendi opened #6126 "Soft hyphen breakes hashtag"
(uuh I'm kinda issu-tracking-mood)

Not sure if this is a bug but [soft hyphon](https://en.wikipedia.org/wiki/Soft_hyphen) within a hashtag break/end the hashtag. But because they ain't visible usually, you cannot see why the hashtag ended there.

![softhyphon_in_hashtag](https://cloud.githubusercontent.com/assets/1711504/8266576/c40b3ffe-1735-11e5-923c-f386a38fcc59.png)

See the attached image: A

[2015-06-20 09:01] DeusFigendi opened #6127 "Images do not work in mentions anymore."
Again: Maybe this is not a bug but intended:

Once I wrote a little helper-script that generates markup/content like `@{ ![username](/useravatar) Username ; users@handle.pod}` and it did fine and generated a mention including the users avatar.

Nowadays this fails.

**Example code**

[code]

Like I said: Maybe it's intended so I have to change the script to `![username](/useravatar) @{Username ; u

[2015-06-20 09:40] svbergerem commented on #6125
This has been fixed with markdown-it 4.2.2 which will be included in the next release.

[2015-06-20 09:40] #6125 closed

[2015-06-20 09:40] jhass commented on #6126
Related to #5815

[2015-06-20 09:54] svbergerem commented on #6127
Mentions are parsed after all markdown inline rules so mentions must not contain any markdown code.

[2015-06-20 09:59] svbergerem commented on #6124
Related to #5608. Putting the camo urls into an array and replacing them on the client side could fix the issue.

[2015-06-20 10:46] DeusFigendi commented on #6127
Ah okay, well once it worked ;D

So the mention-parser-thingy "sees" something like `@{<img alt="username" src="/useravatar" /> ; users@handle.pod}` and `<img alt="username" src="/useravatar" />` is no valid username **or** it "sees" a DOM-Tree and not a string (since it's done clientside)!?

Anyway

is kinda "spec" how mentions may look like :-)

[2015-06-20 12:58] svbergerem commented on #6127
markdown-it uses a list of tokens to parse markdown code and the mention plugin only parses those tokens that are inline text tokens. The texts that the plugin parser "sees" are in your example `@{` and ` ; users@handle.pod}`.

[2015-06-20 17:17] AugierLe42e commented on #6114
One pattern found: the boxe always enlarges when the first letter is typed on d-fr, at least.

[2015-06-20 19:07] giniouxe commented on #6062
ok :)

A little question though : I can't run a `bundle install` since I updated the develop branch : I got an `There is an error in your Gemfile` message. Any idea of a recent change that may cause this problem?

[2015-06-20 19:43] jhass commented on #6062
Make sure your Bundler version is 1.10.0 or later.

[2015-06-21 04:19] #6114 closed

[2015-06-21 15:40] svbergerem commented on #6119
Fixed by #6123.

[2015-06-21 15:40] #6119 closed

[2015-06-21 17:46] #5283 closed

[2015-06-21 19:05] jhass commented on #6021
#6128 added the infrastructure for this, I'm keeping this open because tbh I think we can still improve the default for the actual message ;)

[2015-06-21 21:13] AugierLe42e opened #6131 "Notifications overflows notification dropdown"
![header3](https://cloud.githubusercontent.com/assets/3429231/8273374/06278880-186b-11e5-95c8-bf186be51dcb.png)

Way to reproduce: quickly open two times the dropdown. Somtimes happen the forst time.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/22677247-notifications-overflows-notification-dropdown?utm_campaign=plugin&utm_content=

[2015-06-21 23:29] #6131 closed

[2015-06-22 08:21] Flaburgan commented on #6021
maybe @goobertron wants to write the default message? ;)

[2015-06-22 12:23] SansPseudoFix opened #6133 "Autocomplete position bug"
When I scroll, and I want to search somebody, I have this issue:

![bug-search-bar](https://cloud.githubusercontent.com/assets/6507951/8281596/d4d2e598-18e9-11e5-8f1f-a3d9185004f5.png)

Iceweasel 31.7.0 - Debian Jessie. Related to #6130.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/22734001-autocomplete-position-bug?utm_campaign=p

[2015-06-22 12:25] svbergerem commented on #6133
Has #6130 been merged on your pod?

[2015-06-22 12:29] SansPseudoFix commented on #6133
Yes. On diaspora-fr.org. Version:  0.5.99.0-p0c6957cb.

[2015-06-22 14:26] #6133 closed

[2015-06-22 17:03] goobertron commented on #6021
Thanks, boys, I'll have a look at it.

[2015-06-22 17:23] kas70 opened #6135 "add pinned post option like on twitter"
a pinned post is pinned to the top of a users profile.

[2015-06-22 18:32] goobertron commented on #6021
OK, my suggestion is to have the text in several sections (fields), so that the defaults for the subject, opening section and sign-off can be left alone by podmins and any custom text inserted into the middle section. This would enable the default text at least to be localised using i18n. Podmins could enter whatever translations they can provide for their custom text into the relevant locale file

[2015-06-22 18:40] jhass commented on #6021
Oh well, translations. Currently the message is generated on sign up, so prior getting started being done = prior user choosing their language.

[2015-06-22 18:46] goobertron commented on #6021
Ah. As I read in diaspora.yml.example in #6128 that this will 'Send a message to new users **after** registration' I assumed this meant after getting started had been completed.

Would it be feasible (i.e. not *too* complex) to change the generation of this message so it happens after a language has been chosen?

If that's not on the cards, then we can leave the message as one field.

[2015-06-22 18:53] jhass commented on #6021
It wouldn't be hard, but I'm not sure I like suggesting to send them a mixed language message.

[2015-06-22 19:17] TwizzyDizzy commented on #6021
Hi folks,

sorry for not keeping my promise to compose a message until saturday - I had some urgent private matters that needed attendance.

I'm actually quite fond of @goobertron's message.

As to the language of the message: I guess one could be opportunistic in that case and detect the locale of the browser the user registered with and fall back to english, if no proper locale was detected. Tha

[2015-06-22 19:19] jhass commented on #6021
Nah, delaying until after getting started is no issue, I'm just not fond of having mixed translated parts with untranslated parts from the podmins config.

[2015-06-22 19:53] goobertron commented on #6021
Neither am I; but nor am I keen on sending a message in English or the podmin's language regardless of what language(s) the user speaks. In some cases this will be fine, for instance where a pod is being run for a particular locality, such as diaspora-fr or joindiaspora.co.uk, but in general I don't see sending (potentially) mixed-language messages as worse than always sending a message in one lan

[2015-06-22 19:54] goobertron commented on #6021
If there is any text I can add to the default to make it less likely for a podmin to feel they need to customise the text (i.e. information that would be useful to users of any pod), let me know and I'll add it.

If we decide to stick with the fixed-language message for now, then I can make a PR with that text once everyone's happy with the default text - unless either @TwizzyDizzy or @fap- wants

[2015-06-22 20:04] jhass commented on #6021
Yeah, I guess having the default localized and have the config option override the localized version is the best compromise. Though I think I actually wouldn't even mind to not make it configurable at all.

[2015-06-22 20:07] DeadSuperHero commented on #6135
Hey, thanks for making a feature request! Can you elaborate on how you think pinned posts should work in Diaspora? Should just anyone be able to pin a post, or should just podmins be able to do that?

[2015-06-22 20:30] giniouxe commented on #6062
@jhass That was the problem, thanks.

[2015-06-23 04:48] theworldbright opened #6136 ""Email/Username is already taken" modal appears on the sign in page after failed sign up"
Steps to reproduce:

1. Sign up with an email and username that has already been taken
2. Click the "Sign up" button
3. The "Email is already taken. -Username is already taken.-That username has already been taken" modal should appear
4. Click sign in in the header
5. The "Email is already taken. -Username is already taken.-That username has already been taken" modal appears again on the sign in p

[2015-06-23 06:38] theworldbright commented on #6120
By comparing it to the profile page's aspect combobox's contact backbone view (contact.js), the getting started page's aspect membership backbone view (aspect_membership_view.js) is missing a `app.events.on("aspect:create", function(){ window.location.reload() });` handler.

[2015-06-23 11:07] goobertron commented on #6021
Perhaps we should take a vote on whether or not to have this configurable.

[2015-06-23 14:26] AugierLe42e opened #6137 "Dropdown button stays active after closing"
On the new header, the dropdown buttons stay active after clicking them the close the dropdown:

![header](https://cloud.githubusercontent.com/assets/3429231/8308333/77fff0f0-19c4-11e5-9746-e3f5fcd468cb.png)

Way to reproduce: open one of the dropdown and close it by clicking the button.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issue

[2015-06-23 16:26] kas70 commented on #6135
every user should be able to pin one post (one of his own posts). this post will stay on top of his profile, until he decides to remove the pin. the post should be marked as a pinned post (for example with a background color or a small icon).

[2015-06-23 23:22] svbergerem commented on #6137
All other links in the header also have that active link color and it might be useful for accessibility reasons.

[2015-06-24 01:07] redmatrix opened #6138 "user export: conversations not included"
Related to issue #6115

The export of posts does not contain the complete message threads, but only the top level post and any comments which you made personally. This makes it impossible for an import utility to reconstruct the conversation, especially since due to issue #6115 there is no identifying information for the post so you can't even look it up on the original site (which could very well

[2015-06-24 08:29] cmrd-senya commented on #4984
I'm working on it currently.

[2015-06-24 08:35] YakovL commented on #4984
@cmrd-senya thanks man, really glad to hear that.

[2015-06-25 00:26] cmrd-senya commented on #4984
Ok, community, now I need your help. [Here](http://paste.ubuntu.com/11770607/) is my last groundworks.

I have some problems implementing this feature due to vk.com API design. The story is following. VK has two types of applications - standalone apps (mobile and desktop) and web-application. The main difference from our point of view, is that standalone application is obliged to use "https://oaut

[2015-06-25 01:05] jhass commented on #4984
Ah well, you should have brought that up the moment you found that before investing any more time into it.

To be honest none of that sounds like a good idea. I'd personally vote to close this as a won't implement then, vk.com doesn't want web apps to make posts, we are a webapp, trying to circumvent that will only give us headaches and that hack will be hell to maintain.

[2015-06-25 01:14] cmrd-senya commented on #4984
Well, I spent only two days and brought it up as soon as I had discovered that.

Maybe it is possible to implement it transparently for Diaspora by hacking omniauth-vkontakte? I don't feel myself expereinced enough to say that there is no satisfying solution.

I would suggest to leave it open for a while. Maybe someone (possibly even me) comes up with some bright idea.

[2015-06-25 09:47] cmrd-senya commented on #5220
![livetester](https://cloud.githubusercontent.com/assets/10187586/8351747/3e5bbfee-1b38-11e5-9e60-fec2d0a97ee9.png)

Wrong text is not here anymore

[2015-06-25 09:49] #5220 closed

[2015-06-25 11:26] goobertron commented on #6138
Exporting other people's comments means exporting other people's data. We shouldn't be allowing that.

We'd have to find a way to make sure that the data exported contain a firm link to the conversation on any of the pods involved in it, so that even if the pod on which the conversation was started has closed, once this export has been imported to a new seed on a new pod, that seed will, when link

[2015-06-25 14:20] Quix0r opened #6139 "Migrating latest master fails"
I use latest master (commit 56df5978afb4ba71c7eab308d99cb0fdea4f8976) on my instance. I always followed the instructions at https://wiki.diasporafoundation.org/Updating#RVM and now it fails in db:migrate:

[code]
I seem to have latest bundles:
[code]
Any ideas?

[2015-06-25 14:23] Quix0r commented on #6139
Is this bad?
[code]

[2015-06-25 15:04] denschub commented on #6139
As I already commented on diaspora, you did not read the instructions and ran additional commands after `bundle install`. Check `git status` for any untracked files in `db/migrate` and delete them.

[2015-06-25 15:04] #6139 closed

[2015-06-25 22:55] redmatrix commented on #6138
We've a difference of opinion, but allow me to elaborate. Think of a conversation thread as a container (or "box"). It contains the top level post, comments and likes. Let's call those "books". I can create one of these things, and in some respects you're acknowledging that I "own" the box as I can create it, control who can look inside it, control who can put books in it, and I can even *destroy

[2015-06-25 23:25] jhass commented on #6138
I haven't really made up my mind yet, just to clarify, from the technical side this is possible, we do store the authors signature and can export it.

[2015-06-25 23:48] redmatrix commented on #6138
Good point - the signature would also be a necessary component, though I was responding more to the policy/ownership issues raised by @goobertron .

[2015-06-26 02:09] denschub commented on #6107
This is a regression of 9de6a26a221d1f874e1e036a87512484368a6313. At [app/controllers/contacts_controller.rb#L43](https://github.com/diaspora/diaspora/blob/9de6a26a221d1f874e1e036a87512484368a6313/app/controllers/contacts_controller.rb#L43), we iterate over all contacts to get a representation for gon, which obviously is very bad if you have more than a few contacts...

@svbergerem since this is y

[2015-06-26 05:19] #5533 closed

[2015-06-26 05:19] #3852 closed

[2015-06-26 07:37] svbergerem commented on #6107
@denschub Sure. One would have to make sure that infinite scroll and contact search are still working.

[2015-06-27 02:43] #5483 closed

[2015-06-27 02:43] #5757 closed

[2015-06-27 06:56] svbergerem commented on #6061
I have no idea how and when we fixed this, but we did. I'm not able to reproduce the bug on the contacts page, on a profile page from the aspect dropdown or from the aspects stream page.

![german new aspect modal](https://cloud.githubusercontent.com/assets/3798614/8390878/2eafa6e6-1caa-11e5-8b9e-f9ee4962c457.png)

[2015-06-27 06:56] #6061 closed

[2015-06-27 10:23] piratenpanda opened #6141 "Comment count is wrong on mobile view"
Comment count shows 1 on collapsed view but there are multiple comments when expanding. This is Firefox on Android, but I don't think it's browser dependent.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/23170887-comment-count-is-wrong-on-mobile-view?utm_campaign=plugin&utm_content=tracker%2F522&utm_medium=issues&utm_source=github)

[2015-06-27 11:26] goobertron opened #6142 "Regression: overflow on #tag pages"
Have just noticed that on `develop`, the '5 tags' row in the left-hand column overflows the stream:

![_fr](https://cloud.githubusercontent.com/assets/2530168/8391790/6d9ba298-1cc7-11e5-913a-3c95ee3f6cf2.jpg)

(diaspora-fr.org, 0.5.99.0-p0c6957cb)

compare with:

![_orkz](https://cloud.githubusercontent.com/assets/2530168/8391796/83f9d5aa-1cc7-11e5-9649-df5f02d77067.jpg)

(pod.orkz.net, 0.5.1.1-p5

[2015-06-27 11:33] jhass commented on #6141
Duplicate of either #5250 or #5829

[2015-06-27 11:33] #6141 closed

[2015-06-28 07:04] KentShikama opened #6143 "Add ability to access JSXC chat from all pages not just the main stream"
https://github.com/diaspora/diaspora/issues/5398#issuecomment-70303170
##

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/23223326-add-ability-to-access-jsxc-chat-from-all-pages-not-just-the-main-stream?utm_campaign=plugin&utm_content=tracker%2F522&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://

[2015-06-29 05:16] Zauberstuhl opened #6145 "404 error page Tom is missing"
![](https://pod.tchncs.de/uploads/images/scaled_full_60a007293d8c2faa5308.png)
since [e7d0a978bad4ae403dbbfc5b142e51ee6d80a930](https://github.com/diaspora/diaspora/commit/e7d0a978bad4ae403dbbfc5b142e51ee6d80a930) Tom died ([error_pages.scss#L37](https://github.com/diaspora/diaspora/blob/develop/app/assets/stylesheets/error_pages.scss#L37))
There is something wrong with the CSS, if you remove `pos

[2015-06-29 11:54] pravi commented on #5939
This is a mojor blocker to upload a native diaspora package to debian. Once this is fixed I can upload diaspora package to debian. @jhass can you help fix this?

[2015-06-29 13:01] jhass commented on #5939
No, I'm focussing on the backend & infrastructure.

[2015-06-29 13:17] pravi commented on #5939
@Flaburgan would you be able to help with this?

[2015-06-29 20:16] cmrd-senya commented on #5946
Please review my commit before I make pull request.

[2015-06-29 20:58] jhass commented on #5946
Looks fine.

[2015-06-29 21:11] ItachiSan opened #6148 "Remove account with forgotten mail/password"
As I say in title.

Actually, I had a Diaspora account on a pod (http://joindiaspora.com) and it was associated with my old email, now dead and not avaible.
As for now, I would like to delete that old account to free its username and to delete everything that was posted by me (it was about 2/3 years ago...?).
Is that possible? Because I couldn't see such an option. :/

This should not be a just-du

[2015-06-29 21:15] jhass commented on #6148
If you still know the password you can login and change the email in your account settings. If you forgot your password please contact your podmin by writing a mail to maxwell@joindiaspora.com.

[2015-06-29 21:15] #6148 closed

[2015-06-30 13:41] pizzamaker opened #6149 "User with no avatar has no image in dropdown Notifications menu"
It should at least display the gray default image.

Images:
https://i.imgur.com/9zxRteE.png

https://i.imgur.com/YSRAunt.png

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/23377285-user-with-no-avatar-has-no-image-in-dropdown-notifications-menu?utm_campaign=plugin&utm_content=tracker%2F522&utm_medium=issues&utm_source=github)** We a

[2015-06-30 21:09] Label-papin commented on #6096
Wk3 upgraded! :) The issue is no longer there, it appears. No way to measure it again in previous versions. If anybody else has this issue too, this thread continues.

[2015-06-30 21:27] jhass commented on #6096
Alright, if anybody can (reliably) reproduce, please open a new issue.

[2015-06-30 21:27] #6096 closed

[2015-06-30 22:47] cmrd-senya commented on #5684
In original PR there was mentioned a toggle slider as a way to switch beetwen private and public modes. Is there any examples of the toggle slider used in Diaspora? Is [this](http://www.bootstrap-switch.org/) is what we need?

[2015-07-01 06:55] svbergerem commented on #5684
Bootstrap-switch seems legit. There is even a [gem](https://rubygems.org/gems/bootstrap-switch-rails) which you can add to our Gemfile.

[2015-07-01 08:26] jaywink commented on #5114
@Raven24 and others: @SuperTux88 is working [on a diaspora_federation gem also](https://github.com/diaspora/diaspora/pull/6151). Unless the plan has "changed" and raven24's gem isn't going to be used and supertux's gem will be used (between you guys), I'm worried there could be lots of effort lost from someone, so just calling out here for possibility for some work-together in this area?

Also, th

[2015-07-01 08:31] jaywink commented on #6149
@pizzamaker pod url or version please? I'm guessing this might have been fixed, so need to know which pod the screenshots are from, thanks.

[2015-07-01 08:37] prashantbarca commented on #6011
These two meaning? @pravi .

[2015-07-01 08:44] pravi commented on #6011
@prashantbarca admin email and status url

[2015-07-01 11:13] Raven24 commented on #5114
we're on it: SuperTux88/diaspora_federation#1
;)

[2015-07-01 13:52] pizzamaker commented on #6149
DiasporaBR, pod version 0.5.1.1-p56df5978

[2015-07-01 17:44] jaywink commented on #6149
Yea, reproduced by manually "destroying" the correct image url. This happens when the browser gets an 404 for the image and the `alt` is rendered by the browser instead. Not much that can be done on the backend for this - we would need some JS to replace all the broken images with the default avatar.

[2015-07-02 11:19] prellele opened #6152 "/tags pages are slow"
Loading of tag pages takes up to 45 secounds. This seems to be an issue since 0.5.0.0.
Maybe a mysql only issue.

Post regarding this isssue: https://social.mrzyx.de/posts/79584d30f4ea0132c47000259069449e

Running version: 0.5.1.1
DB: mysql Ver 5.5.43-0
OS: Debian 8.1

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/23524853-tags-page

[2015-07-02 15:20] theworldbright opened #6153 "Starting a new conversation from /contacts?a_id={any_id} creates a modal that loads forever"
![screen shot 2015-07-02 at 5 46 32 pm](https://cloud.githubusercontent.com/assets/6329898/8480510/1545f962-2119-11e5-89fe-40519268249c.png)

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/23538809-starting-a-new-conversation-from-contacts-a_id-any_id-creates-a-modal-that-loads-forever?utm_campaign=plugin&utm_content=tracker%2F522&ut

[2015-07-02 15:32] jhass opened #6154 "Profile page new aspect modal doesn't close properly"
![](http://cloud.aeshna.de/u/mrzyx/screenshots/screenshot_20150702_173205.png)

Make sure to click Create, do not press enter.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/23539508-profile-page-new-aspect-modal-doesn-t-close-properly?utm_campaign=plugin&utm_content=tracker%2F522&utm_medium=issues&utm_source=github)** We accept bou

[2015-07-02 15:34] jhass opened #6155 "Profile page new aspect modal doesn't create a new aspect if submitted with enter"
The page just reloads.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/23539625-profile-page-new-aspect-modal-doesn-t-create-a-new-aspect-if-submitted-with-enter?utm_campaign=plugin&utm_content=tracker%2F522&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&

[2015-07-02 18:35] unity100 commented on #4319
This feature would be VERY helpful for those of us who use their diaspora account for sharing news and activism.

[2015-07-02 19:03] maxwell commented on #4453
Should be fixed!  Let me know if you see anything else

[2015-07-02 19:03] #4453 closed

[2015-07-02 19:06] shmerl commented on #4453
Yes, it's fixed now. I uninstalled fonts-entypo for a test, and it still looks good.

[2015-07-02 19:15] shmerl opened #6156 "Reshare icon has a "retweet" class and is removed by AdblockPlus"
It's a problem that appears in the single post view.

It's not a bug strictly speaking, but why should that class be called "retweet" to begin with? Diaspora isn't Twitter. The class should better be renamed to "reshare".

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/23552298-reshare-icon-has-a-retweet-class-and-is-removed-by-adblo

[2015-07-02 19:18] svbergerem commented on #6156
We use that class because Entypo suggests to use that class: https://github.com/lwe/entypo-rails/blob/master/app/assets/stylesheets/entypo.scss.erb#L143. I'd say this is a `won't fix`.

[2015-07-02 19:20] shmerl commented on #6156
Can it be fixed upstream? It's a generic thing, so it shouldn't be called "retweet". I can submit a bug there.

[2015-07-02 19:22] jaywink commented on #6156
I've tagged this as upstream and I'd vote to keep it open for tracking - @shmerl maybe post your bug report here, thanks.

[2015-07-02 20:23] shmerl commented on #6156
Submitted the bug [here](https://github.com/lwe/entypo-rails/issues/17).

[2015-07-02 22:39] cmrd-senya commented on #5939
Source code for modernizr lives here: http://modernizr.com/

I suppose it should be packaged to a gem with asset pipeline support before we can replace it in diaspora code.

[2015-07-02 23:01] cmrd-senya commented on #5939
Ok, file vendor/assets/javascripts/mbp-modernizr-custom.js was introduced in 70ba2651c36cfe22501ba94663587b95142f2b13. The only place, where this module was used was app/views/layouts/application.mobile.haml. Now class Modernizr used nowhere. So probably we can remove this file?

[2015-07-03 03:26] #6136 closed

[2015-07-03 06:14] shmerl commented on #6156
Developers created a "reshare" alias which can be used instead of "retweet". It's available in entypo-rails 3.0.0.pre.rc2.

[2015-07-03 09:22] jhass commented on #5939
https://github.com/diaspora/diaspora/blob/develop/app/assets/javascripts/mobile/mobile.js#L9

[2015-07-03 10:12] cmrd-senya commented on #5939
Here is class tag added by Modernizr to our page's html tag:
class=" js flexbox canvas canvastext webgl no-touch geolocation postmessage no-websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients no-cssreflections csstransforms csstransforms3d csstransitions f

[2015-07-03 10:21] cmrd-senya commented on #5939
And in #3122 they write:

[2015-07-03 13:54] tferreira opened #6159 "Missing facebox assets since 0.5.1.0 update"
Hello,

Since the 0.5.1.0RC update, I've found many HTTP 404 on my nginx access log :

```"GET /assets/facebox/closelabel-23e1e49536abca87bcb290e290491a1b.png HTTP/1.1" 404 419 "https://diaspora.psyco.fr/stream" ```

```"GET /assets/facebox/loading-0185d82caf8a3509956f78485336119a.gif HTTP/1.1" 404 419 "https://diaspora.psyco.fr/stream"```

These errors occur when displaying the feed page.
This is

[2015-07-03 13:56] jhass commented on #6159
Mmh, does it help if you rerun `assets:precompile` and restart diaspora?

[2015-07-03 14:00] SuperTux88 commented on #6159
This was fixed with #6105 (0.5.2.0) and #6106 (0.6.0.0)

[2015-07-03 14:03] jhass commented on #6159
Uh, d'oh, shows my memory.

[2015-07-03 14:03] #6159 closed

[2015-07-03 14:03] tferreira commented on #6159
Oh, thanks, good news! :+1:

[2015-07-03 14:31] #6156 closed

[2015-07-03 18:26] #6153 closed

[2015-07-03 18:26] #6155 closed

[2015-07-03 19:51] svbergerem commented on #6154
This has been fixed on the develop branch.

[2015-07-03 19:51] #6154 closed

[2015-07-04 01:58] johand opened #6163 "all tags are empty in joindiaspora"
all tags in joindiaspora are empty after the update to 0.5.1.2 even if you publish something in any tag

![tag_activity](https://cloud.githubusercontent.com/assets/1388644/8506055/d6852510-21ca-11e5-9fc2-4361c1e9e4a4.png)

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/23646049-all-tags-are-empty-in-joindiaspora?utm_campaign=plugin&u

[2015-07-04 03:05] cmrd-senya opened #6164 "It is impossible to type cyrillic Б in profile/edit tags field"
If you try to type Б in russian keyboard layout to tags entry at the profile/edit page nothing happens, symbol doesn't appear. That possibly because it is on the same key that "," character, and somehow get blocked along with comma. I thought my key has been broken and started to disassemble my keyboard. And then just tried different input field.

[2015-07-04 09:19] svbergerem commented on #6163
This might be related to #6152.

[2015-07-04 15:25] maxwell commented on #6163
confirmed related to #6152  The queries are timing out.

[2015-07-04 15:55] jhass commented on #6163
Closing as a duplicate then.

[2015-07-04 15:55] #6163 closed

[2015-07-05 03:39] l2212 opened #6166 "Allow possibility to show hastags for nsfw posts, also user for mobile"
Hi,
I think it would be a great thing to have the possibility to show nsfw hashtags without opening the images. I've seen someone made a similar suggestion before, the difference is that I think the tags should not be showed by default, but there should be a "Show" and "Show all" just for it.

In addition to that, in the mobile it would be better to allow users to see who posted a nsfw image befor

[2015-07-05 10:44] goobertron commented on #6166
#4685 deals with that.

(An aside: it's not just images; text also can be nsfw. As can embedded audio files, and so on.)

[2015-07-05 11:03] jhass commented on #6166
I don't think the usecase is common enough to justify the UI/UX and code complication.

[2015-07-05 16:50] l2212 commented on #6166
Sorry, but I disagree.
I think it's a very common problem for users, because not knowing what are you going to open is problematic. Someone could see gore (or goatse-like images) while not interested, and when it comes to pornography it becomes even worse, since not everyone is bi or likes the same things.

And yes, @goobertron is absolutely right, it's not only images. I didn't see the other issu

[2015-07-05 17:47] goobertron commented on #6166
No problem at all. I just wanted to make sure the two tickets are linked, so that, if that feature is implemented, both tickets will be closed.

[2015-07-05 20:40] Haidy777 commented on #6145
Should be doable as my first contribution to diaspora.

[2015-07-06 14:03] RichKavanagh commented on #6152
Approx 10 seconds to load on my pod, running diaspora0.5.1.2 and mysql5.5.43

[2015-07-06 14:05] AugierLe42e commented on #5697
Is this issue still relevant ?

[2015-07-06 14:48] Zauberstuhl commented on #6145
I have no idea about CSS and how my solution would work on multiple browser ... but still I want to throw some code into the pot:

replace `position:fixed;` with `background-attachment:fixed;` and at least in firefox it'll be the old 404 page.

lgl

[2015-07-06 18:20] Flaburgan commented on #6145
The CSS is dirty, I can clean it when I'll be back from vacations.

[2015-07-06 19:38] Haidy777 commented on #6145
@Zauberstuhl That would also fix the problem of Tom, but the "html"-Tag would be still a very small height (sometimes even zero Pixel).
Which isn't a problem in most cases, but I think mobile Safari does sometimes strange things.
(Well, mobile safari does always strange things. ;) )

[2015-07-07 14:18] cmrd-senya commented on #5939
If we wipe modernizr and then have successful test runs, would it mean, that it is unnecessary?

[2015-07-07 14:22] jhass commented on #5939
Doubt it, our testsuite does not run on all kinds of browsers, just one.

[2015-07-07 14:23] jhass commented on #5939
But again,  I have no actual clue about that, figuring it out is part of solving this issue. The replacing/removing is just half of it.

[2015-07-07 15:41] jaywink commented on #3467
**IMPORTANT** to any developers wanting to tackle the API.

We've talked about deliverables and submitted an initial wiki page regarding items that the API must offer: https://wiki.diasporafoundation.org/Diaspora_API_proposal

Additional details will be filled in as required. Please don't be afraid to ask questions. Also please note, many people might be working on parts of this simultaneously, so

[2015-07-08 02:51] morashid92 commented on #6137
that's strange, It works on and off, but only when it wants to.

[2015-07-08 10:31] pravi commented on #5939
@cmrd-senya while we work on modernizer, can we try and fix respond, which seems more straight forward?

[2015-07-09 13:25] zaziemo opened #6176 "translate email tooltip in sign up form"
currently the description text in the email tooltip in sign up form is not translated into german but says
"Your email will never be seen by other users."

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/24009077-translate-email-tooltip-in-sign-up-form?utm_campaign=plugin&utm_content=tracker%2F522&utm_medium=issues&utm_source=github)*

[2015-07-09 13:25] zaziemo commented on #6176
@Realtin and I will fix this issue

[2015-07-09 13:33] svbergerem commented on #6176
@zaziemo It looks like that string has already been translated to German: https://webtranslateit.com/en/projects/3020-Diaspora/locales/en..de/strings/8585328

This will likely be part of the next release since @jhass updates the translations.

[2015-07-09 13:35] zaziemo commented on #6176
Ok, @svbergerem thanks for the info :)

[2015-07-09 13:35] #6176 closed

[2015-07-09 14:56] Realtin commented on #6115
Hey, @zaziemo and I will work on this.
* providing guid for comments and posts in the export file.

[2015-07-09 16:33] cmrd-senya commented on #5946
Should be closed as solved.

[2015-07-09 16:50] AugierLe42e opened #6177 "Clicking on a picture sometimes fallsback to 404 on mobile"
I'm a bit disturbed this issue doesn't already exists. On mobile view, clicking on a picture sometimes redirect to 404. My early investigations seems to show that it happens for pictures posted by people that are not on same pod.

**Edit:** The link on mobile refer to an address in the form: `/people/<id>/photos/<photo-id>` which indeed redirect to 404. I suppose this is because the picture doesn'

[2015-07-09 16:54] AugierLe42e commented on #5732
The port to BS3 enables the use of plugins for galleries like hightlighted in #6031. So closing this.

[2015-07-09 16:54] #5732 closed

[2015-07-09 16:54] #5946 closed

[2015-07-09 17:41] goobertron opened #6178 "User edit pages now too wide (BS3)"
The new settings pages bases on Bootstrap 3 are in too wide a div (it stretches up to 1180px before resizing to a more narrow div for even larger screens).

![_settings](https://cloud.githubusercontent.com/assets/2530168/8593749/7189a106-2632-11e5-8e8b-9d6418c9d043.png)

I'm afraid I find this really ugly visually, and also ungainly to use, as you have to move the cursor (via mouse, trackpad, what

[2015-07-09 17:57] goobertron opened #6179 "Add tag list on left of profile photo stream page"
My idea is that a list of tags used in posts containing photos can be added to the left-hand side of the photo stream page. This can then be used as a filter, which could go some way to implementing a tag-based photo organisation system. If a user clicks on a tag, only photos attached to posts containing that tag will be shown.

The proposal to use \#tags to organise photos was passed in [this Loo

[2015-07-09 17:58] goobertron opened #6180 "Avatar of ignored user doesn't automatically disappear"
When you ignore a user, their posts now disappear from the stream instantly. This is great. However, their avatar doesn't disappear from the list at the top-right of the stream page. It would be good if this also happened once the ignore button is pressed.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/24024778-avatar-of-ignored-use

[2015-07-09 18:06] goobertron opened #6181 "Notiifcations number not consistent with unread notifications"
I've noticed that when I open a page by clicking on a notification and then click the browser's 'back' button, while the new notifications dropdown is updated (showing the notification you just clicked as read), the notification badge in the header still shows the previous number, as though that notification just clicked was in fact unread.

This is still the case on the new Bootstrap header from

[2015-07-09 18:24] KentShikama opened #6182 "API Development Part 1 (OpenID Connect Infrastructure)"
If you are planning to join in right now, please see the [part 2 issue for the API](https://github.com/diaspora/diaspora/issues/6289)

The original [PR](https://github.com/diaspora/diaspora/pull/6095) is now getting kind of long and hard to follow if you are just starting. Hence, I'm creating this issue to inform everyone where we are at in terms of the API development and to breakdown what needs

[2015-07-09 18:27] AugierLe42e commented on #6182
Thank you for taking time to do this ;)

[2015-07-09 18:32] AugierLe42e commented on #6181
There's already an open bug : #5780. This basically would be solved finishing the refactor started with #5707 and #5761 and use a model for notifications client side.

[2015-07-09 18:42] AugierLe42e commented on #6178
Fits well on 1920px

![screen shot 2015-07-09 at 20 39 17](https://cloud.githubusercontent.com/assets/3429231/8603692/2f1affde-267a-11e5-8482-10cda61d3524.png)

[2015-07-09 19:51] goobertron commented on #6178
Yeh, @AugierLe42e, as I said in my previous post, when the screen gets up to approx 1180px, the content-width reduces to a fixed width.

[2015-07-09 19:53] goobertron commented on #6181
OK sorry, I did have a look but didn't find.

[2015-07-09 19:53] #6181 closed

[2015-07-09 19:54] goobertron commented on #5780
Posted in #6181:

I've noticed that when I open a page by clicking on a notification and then click the browser's 'back' button, while the new notifications dropdown is updated (showing the notification you just clicked as read), the notification badge in the header still shows the previous number, as though that notification just clicked was in fact unread.

(Reposting here in case it provides ex

[2015-07-09 21:30] svbergerem commented on #6177
This is related to #4755 which has been closed because of #6082.

I tried this with the first few photos in my stream and I'm not able to reproduce it. (All authors are on a different pod)

[2015-07-09 21:37] ronnicek opened #6184 "Users are able to select services in the publisher that are no longer supported"
Hi,

I linked facebook a long time ago with diaspora*. I would like to unlink it, but it´s not possible and I cannot see it in https://joindiaspora.com/services to "disconnect it".
##

[2015-07-09 21:46] svbergerem commented on #6184
joindiaspora doesn't support connections to facebook anymore: https://joindiaspora.com/statistics

[2015-07-09 21:52] ronnicek commented on #6184
I know, but I would like to disconnect that if it´s not supported anymore.. I still have that as option if I am writing a post.

[2015-07-09 21:56] svbergerem commented on #6184
Alright, this sounds like a bug.

[2015-07-09 23:18] cmrd-senya commented on #5939
rails-assets-response doesn't seem to exist. Maybe [respond-js-rails](https://github.com/RouL/respond-js-rails) would fit?

[2015-07-10 07:23] AugierLe42e commented on #6177
It makes it on d-fr with [this post](https://diaspora-fr.org/posts/1378761).

[2015-07-10 07:30] svbergerem commented on #6177
That is a limited post. Maybe it only happens with those?

[2015-07-10 07:49] AugierLe42e commented on #6177
Hmm... That could be. But then, it's a problem because it's difficult to share a minimal example :/

[2015-07-10 08:33] jhass commented on #5939
rails-assets- gems come from https://rails-assets.org/ not https://rubygems.org, so it does exist. But specifically crafted gems are usually to prefer, yes.

[2015-07-10 13:19] goobertron commented on #6177
I see that post (and image) on diaspora-fr when signed in, using desktop and mobile versions in FF39.0. (The account on diaspora-fr is not the account from which I made the post, which is on another pod.)

However, I see that there is a difference. In the mobile version the image is far smaller. This might be intentional (and appropriate for devices with small screens) but it doesn't scale up prop

[2015-07-10 15:22] AugierLe42e commented on #6182
By what do you think we may replace the current random hex sting ?

[2015-07-10 17:05] theworldbright commented on #6182
Do you mean when? Or how?  If you mean when, I was planning to implement this next. I'l be going to sleep now, so if you want to go ahead and implement it, feel free to do so. Or just inform me of what you plan to work on, and I'll start on something that doesn't conflict tomorrow. If you mean how, it might just be faster to read the spec and Nov's sample provider code than me explaining here (unl

[2015-07-10 17:48] AugierLe42e commented on #6182
Now, I meant what is the problem with the current random hex? Why do you want to replace it, and by what. This is how Nov's sample works. I took this solution from it.

[2015-07-11 03:11] theworldbright commented on #6182
Hmm I believe you are talking about the access token? I'm talking about the ID token.

[2015-07-11 06:46] AugierLe42e commented on #6182
Ah! Ok, my bad, I misunderstood :)

[2015-07-11 08:21] jhass commented on #5684
We decided to make this a local only feature for now, since it's a lot easier and the common usecase will be referring somebody to your `/u/username` anyway.

[2015-07-11 08:21] #5684 closed

[2015-07-11 19:51] kas70 opened #6186 "jump to comment position if you click on a notification-link (... also commented on...)"
this is a feature-request.
could be done like on loom.io.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/24154975-jump-to-comment-position-if-you-click-on-a-notification-link-also-commented-on?utm_campaign=plugin&utm_content=tracker%2F522&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bounty

[2015-07-11 23:10] norayr opened #6187 "tag cloud"
diaspora should generate tag cloud in user's profile.
also, by clicking on the tag user should get list of posts by this user tagged by that tag, not all the posts of all users tagged by that tag.

[2015-07-11 23:11] norayr commented on #6187
this is of course suggestion.

[2015-07-12 03:11] maliktunga opened #6188 ""wiki" is not capitalized in the sidebar"
![screenshot from 2015-07-11 23-10-21](https://cloud.githubusercontent.com/assets/6393838/8636182/0949d196-2822-11e5-957a-bf7867c5d3b3.png)

I use Diaspora 0.5.1.2-p9c13c93c on the Geraspora pod.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/24170121-wiki-is-not-capitalized-in-the-sidebar?utm_campaign=plugin&utm_content=tracker%2F5

[2015-07-12 09:01] jaywink commented on #5356
Closing this for now as there is no information here to replicate or fix a bug. Reopen please if still an issue.

[2015-07-12 09:01] #5356 closed

[2015-07-12 10:31] Flaburgan commented on #6115
#6185 is merged, this can probably be closed.

[2015-07-12 10:32] #6115 closed

[2015-07-12 15:02] #5143 closed

[2015-07-12 16:03] giniouxe commented on #6062
https://github.com/diaspora/diaspora/pull/6189

One question though : is it user friendly to link to a search page where the is no actual search field, and, since you did'nt actually search anything by clicking, you're welcomed by a message saying you should actually search for something to get some results ?

[2015-07-12 16:10] jhass commented on #6062
Yeah, maybe don't link the search page, it should be obvious enough that you can search in the header.

[2015-07-12 16:52] giniouxe commented on #6062
OK

[2015-07-13 02:29] maliktunga commented on #6188
If it was not obvious: I use the English version.

[2015-07-13 09:22] zaziemo opened #6192 "refactor Rspec syntax to use let instead of instance variables"
@Realtin and I are learning to use Rspec and want to refactor existing specs using this best practice: http://betterspecs.org/#let

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/24246301-refactor-rspec-syntax-to-use-let-instead-of-instance-variables?utm_campaign=plugin&utm_content=tracker%2F522&utm_medium=issues&utm_source=github)**

[2015-07-13 10:02] pravi commented on #5939
can we include the non-minified versions alongside the minified files as an interim solution?

[2015-07-13 17:37] Flaburgan commented on #5114
First step, https://github.com/diaspora/diaspora/pull/6151 is merged! I didn't follow closely what have been done so I let someone else edit the task list.

[2015-07-13 17:39] SuperTux88 commented on #5114
this is done: "use the gem for generating user discovery documents (hostmeta, webfinger, hcard) - this should be relatively easy" but I have no permissions to edit it.

[2015-07-13 21:16] jaywink commented on #5114
Mind if I rewrite the issue or can you @Flaburgan do it? To a more generic "move stuff to federation gem" :) I'm also not sure the testbed needs to be a "requirement".

[2015-07-13 22:28] Flaburgan commented on #6186
I mentioned this idea on https://github.com/diaspora/diaspora/issues/4425

[2015-07-14 06:33] #6121 closed

[2015-07-14 07:59] #6188 closed

[2015-07-14 08:39] githubgnulinux opened #6194 "Posts fail to load using gnu/linux icecat"
Sign-in successful, but stream of posts fails to load; blank white space only visible in the area where posts should appear.

See also:
https://github.com/diaspora/diaspora/issues/5906
https://github.com/diaspora/diaspora/issues/5928
https://github.com/diaspora/diaspora/issues/5982

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/2430

[2015-07-14 08:43] jhass commented on #6194
Please check your browsers error console for any errors. Also which version of Icecat?

[2015-07-14 09:28] denschub commented on #5982
Timeout reached, closing due to the lack of information.

[2015-07-14 09:28] #5982 closed

[2015-07-14 15:50] AugierLe42e commented on #6182
[c13a923](https://github.com/diaspora/diaspora/commit/c13a923b2c086c1c5847227e5ac1ec751263f74a] adds support for authorizations by default. When an authorization doesn't already exists it is created by default on password flow.

[2015-07-14 18:49] jaywink opened #6197 "Export data "Download my profile" button active even when profile not requested. Trying to download raises S3 error."
I'm logging this bug into the core software since it is possible it affects any pod running with uploads on S3 - though of course it is possible this is a joindiaspora.com only issue.

When visiting settings on joindiaspora.com, the "Download my profile" button is active even though there has not been a request for the profile data. Clicking it brings an error.

From a user report, this error come

[2015-07-14 19:41] maxwell commented on #6197
Unless you want to make the link publicly accessible, all S3 links have an expiry, set in the carrierwave uploader.   I think the default may only be 5 minutes.

Most likely, we want to make that timeframe 24 hours, and tell customers that the link is only valid for 24 hours.

- maxwell

[2015-07-14 21:34] goobertron commented on #6182
Just quickly: thank you both so much for all your work on this. Wishing you success!

[2015-07-15 00:34] torgiren opened #6198 "Postgres master-slave support"
Hi.
Are there any plans to implement support for 2 databases?
Master - for write queries
Slave - for read-only queries

[2015-07-15 08:05] AugierLe42e commented on #6182
Thank you very much @goobertron ;)

[2015-07-15 14:51] theworldbright commented on #6182
Thanks for the support @goobertron .

I added in the real ID token with the revised Authorization models. See Implicit flow 5b) above.

[2015-07-15 16:22] zaziemo commented on #5813
@Realtin and I would like to work on this issue.

[2015-07-15 17:03] jhass commented on #5813
That's great! I'd say just make the existing location text clickable and maybe always display the map in the SPV.

[2015-07-15 17:30] jhass commented on #6194
Closing for now. Will reopen if information necessary to reproduce are provided.

[2015-07-15 17:30] #6194 closed

[2015-07-15 19:16] Lynoure commented on #6011
Is that "Pod statistics" url (on my dev setup http://localhost:3000/statistics) or something else? The pod I normally use for example has link "Status", which leads to their twitter. Understandably if the whole pod is down, the statistics page would be down as well, while otherwise rather informative.

[2015-07-15 20:54] jaywink commented on #6198
AFAIK no one has thought on working on this. A well made implementation would not get rejected - contributions welcome!

[2015-07-15 20:56] jaywink commented on #6186
Any object to closing #4425 in favour of leaving this specific issue open?

[2015-07-15 20:58] jhass commented on #6186
#4425 still has an open point, the comments are pretty much irrelevant to its scope.

[2015-07-16 01:34] denschub commented on #6192
I've merged this into develop and stable. Thank you for your contributions!

For future reference: 20 commits for changes on 9 files is a bit too much. Merging the commits would be hard in this PR since you both worked on the same files, but please squash the commits in your further PRs down to a smaller number. If you need help with that, just ping us on IRC.

[2015-07-16 01:34] #6192 closed

[2015-07-16 03:56] denschub commented on #5813
Some considerations:

- We are probably [not allowed](http://wiki.openstreetmap.org/wiki/Tile_usage_policy) to use `{a,b,c}.tile.openstreetmap.org` without prior permission.
- In any case, the tile server url should be configurable.
- Openlayers is probably not the best idea. [Leflet](http://leafletjs.com/) is more suitable for mobile applications.

[2015-07-16 05:47] pravi opened #6202 "add a section about using xmpp chat in help"
And link to it from chat sidebar.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/24420403-add-a-section-about-using-xmpp-chat-in-help?utm_campaign=plugin&utm_content=tracker%2F522&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F522&u

[2015-07-16 05:59] theworldbright commented on #6182
I added in support for access tokens in the implicit flow. See implicit flow steps 7) and 8) above. I will now work on adding support for request objects.

[2015-07-16 06:31] theworldbright commented on #6182
Actually since http://openid.net/specs/openid-connect-core-1_0.html#ClaimsParameter

"Support for the claims parameter is OPTIONAL. Should an OP not support this parameter and an RP uses it, the OP SHOULD return a set of Claims to the RP that it believes would be useful to the RP and the End-User using whatever heuristics it believes are appropriate."

I think we can just leave this be for now? @A

[2015-07-16 06:38] Flaburgan commented on #5813
I didn't know Leflet, looks amazing!

[2015-07-16 06:47] theworldbright commented on #6182
Pardon me. Claims and requests objects are two different things. I will work on scopes first and then I will work on request objects. I will ignore claims until later.

[2015-07-16 07:11] theworldbright commented on #6182
Hmm never mind. Pardon me for all my changes. Claims are a large part of request objects because most other attributes that are in the request object itself are duplicated in the request, most notably, the client id and the scope. So I suppose I will be working with both after I finish with scopes.

[2015-07-16 08:09] Realtin commented on #5813
Great! We were also thinking to use Leaflet.

@jhass yes that is exactly what we were planing to do! ☺️☀️

[2015-07-16 08:22] AugierLe42e commented on #6182
Don't know. I haven't explored this part of the spec.

[2015-07-16 08:52] jhass commented on #6202
#5665 already added a help section for the chat.

[2015-07-16 08:52] #6202 closed

[2015-07-16 09:22] pravi commented on #6202
can this be linked from the right side chat box? Currently it has "Mute" and "Hide offline contacts" options next to Online. Adding a "Help" menu there would be good.

[2015-07-16 09:22] jhass commented on #6202
That would need to be done at diaspora/jsxc

[2015-07-16 09:35] pravi opened #6203 "add a section about using external clients"
This was discussed, but it seems not implemented
https://github.com/diaspora/diaspora/pull/5665#issuecomment-75933183

It may also be a good idea to link to a dedicated campaign page like otr.works (I'm part of the team that runs the campaign, I feel its better to collaborate) or we could also create a similar section ourselves.
##

<bountysource-plugin>

---
Want to back this issue? **[Post a bou

[2015-07-17 04:58] morashid92 commented on #6137
I agree with @AugierLe42e. I have added some javascript to make this #fff disappear when closing the notifications instead of adding some funny css checkbox tricks which didn't work and are terrible. And before I do anything. I would like to know  where is the suitable place to add this javascript code. I presumed it was in: https://github.com/diaspora/diaspora/blob/develop/app/assets/javascripts/

[2015-07-17 05:53] svbergerem commented on #6137
I think `notification_dropdown_view.js` would be the correct place but in this case setting the font color of `.nav-badge:focus:not(:hover)` in the header should be sufficient.

[2015-07-17 18:17] morashid92 commented on #6137
I did
<tt>.nav-badge:focus:not(:hover){
        color:#9d9d9d;
      }
</tt>
that doesn't take away the hover color on closing the icon,  but only after hovering away. I think that the hover should go away after closing the dropdown. What do you think? Iv'e accomplished that with a bit of javascript?

[2015-07-17 18:45] svbergerem commented on #6137
As I wrote [before](https://github.com/diaspora/diaspora/issues/6137#issuecomment-114671120) I think we need some style change for focused links in the header. All other links in the header have that hover color plus some outline that we removed for the nav badge [here](https://github.com/diaspora/diaspora/blob/develop/app/assets/stylesheets/header.scss#L28). Maybe we should readd that outline by

[2015-07-17 22:55] morashid92 commented on #6137
Sounds like a good idea to me. I get the part where you want to re add the outline but how will you remove the linked line?

[2015-07-18 16:18] svbergerem commented on #6137
Just remove [this line](https://github.com/diaspora/diaspora/blob/develop/app/assets/stylesheets/header.scss#L28) from the code. ;-)

[2015-07-18 22:18] pavi opened #6211 "Public stats on if XMPP is enabled on a pod"
There is no way knowing if a pod has enabled XMPP or not . Is there a way to know that via the normal statistics interface ?
##

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/24569705-public-stats-on-if-xmpp-is-enabled-on-a-pod?utm_campaign=plugin&utm_content=tracker%2F522&utm_medium=issues&utm_source=github)** We accept bounties v

[2015-07-18 22:27] jhass commented on #6211
We probably finally should implement NodeInfo and then it can be exposed via https://github.com/jhass/nodeinfo/issues/5

[2015-07-18 23:07] cmrd-senya commented on #5939
Since these scripts are primarely used for old mobile platforms to let them support modern CSS, I will try to setup Android 2.3 emulator in order to test how these scripts affect on rendering. In modern web browsers there should be no difference, if the scripts are removed. After that, I could test some unminified replacements.

[2015-07-19 08:10] jaywink commented on #6211
:+1: for merging in node info and deprecating statistics.json - I doubt there will be more discussion from other platforms, we'll just need to lead :)

[2015-07-19 23:02] jhass commented on #5563
We're going to leave the second case as a edge cased to be resolved by users manually using the `<some_url>` syntax.

[2015-07-19 23:02] #5563 closed

[2015-07-20 00:26] svbergerem commented on #6186
This is a duplicate of #5203.

[2015-07-20 00:26] #6186 closed

[2015-07-20 00:33] svbergerem commented on #1960
This has been fixed by #6109.

[2015-07-20 00:33] #1960 closed

[2015-07-20 00:39] svbergerem commented on #1978
I'll close this one. If anyone would like to see this implemented I'd say we first need some proposal on Loomio because of the privacy issues that have been raised.

[2015-07-20 00:39] #1978 closed

[2015-07-20 00:49] svbergerem commented on #2569
This has been fixed by #5967.

[2015-07-20 00:49] #2569 closed

[2015-07-20 12:50] githubgnulinux opened #6214 "Boolean logic search function"
Please allow boolean search logic to be applied to multiple tags within the search dialogue box.

For example #bug AND #diaspora AND #tor NOT #orbot, will search for posts the meet this criteria.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/24645876-boolean-logic-search-function?utm_campaign=plugin&utm_content=tracker%2F522&utm_me

[2015-07-20 12:56] jhass commented on #6214
Duplicate of https://www.loomio.org/d/6SCqkjph/improve-the-search-engine

[2015-07-20 12:56] #6214 closed

[2015-07-20 13:40] svbergerem commented on #4016
We now generate the content of the error pages so implementing this feature should be a lot easier.

[2015-07-20 14:15] svbergerem commented on #4171
No one opened a Loomio thread yet so I'll close this issue. If anyone would like to implement this, please create a new proposal on Loomio first.

[2015-07-20 14:15] #4171 closed

[2015-07-20 14:32] svbergerem commented on #3580
We already implemented chat using XMPP. Do we still need a cryptocat plugin?

[2015-07-20 14:35] svbergerem commented on #3577
Has anyone been able to reproduce this bug?

[2015-07-20 14:47] SuperTux88 commented on #3577
I was not able to reproduce this bug, but I have seen it happen with a deleted Post (not Comment). I think this has something to do with the federation, but I haven't yet looked at the more accurate. I'll have a closer look at this, after my federation-rewrite is finished.

[2015-07-20 19:04] RyDroid opened #6215 "Mobile boilerplate is depreceated and not maintained"
https://github.com/diaspora/diaspora/blob/develop/vendor/assets/javascripts/mbp-helper.js
It uses https://github.com/h5bp/mobile-boilerplate/blob/master/js/helper.js

However,  Mobile boilerplate is depreceated and not maintained (it does not accept pull request anymore).
https://github.com/h5bp/mobile-boilerplate/pull/244
https://github.com/h5bp/mobile-boilerplate/pull/245

<bountysource-plugin>

[2015-07-20 22:16] jaywink commented on #3580
I'd say definitely no. Also, the issue opener has deleted their account on GitHub, so.... closing.

[2015-07-20 22:16] #3580 closed

[2015-07-21 02:15] gordon-morehouse commented on #4171
Is github a place where new issues related to Diaspora can be opened, or not?

[2015-07-21 07:52] AugierLe42e commented on #6182
@theworldbright: refresh tokens implemented with https://github.com/AugierLe42e/diaspora/commit/8e55da39d4e87e64a26aa3925a27b17ec05d0b03 and https://github.com/AugierLe42e/diaspora/commit/dc925f40cd0176b6103a2e02c110b2ff98e686dc. You can check this.

[2015-07-21 09:12] jhass commented on #4171
@gordon-morehouse see https://wiki.diasporafoundation.org/How_to_report_a_bug

[2015-07-21 09:16] svbergerem commented on #4171
@gordon-morehouse Since we use github issues you are of course allowed to open new issues. For this specific issue it was obvious that we don't agree whether it should be implemented so we need a decision first. We use [Loomio](https://www.loomio.org/g/EseV9p4X/diaspora-community) to let the community decide on controversial things.

[2015-07-21 12:44] theworldbright commented on #6182
Nice :+1:  I'll take a look soon.

[2015-07-21 13:03] pizzamaker opened #6217 "Notification dropdown menu: if you scroll all the way down, the links become unclickable"
Title says it all. Happens in version 0.5.1.1. Pod tested was DiasporaBR.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/24707294-notification-dropdown-menu-if-you-scroll-all-the-way-down-the-links-become-unclickable?utm_campaign=plugin&utm_content=tracker%2F522&utm_medium=issues&utm_source=github)** We accept bounties via [Bountyso

[2015-07-21 13:13] jhass commented on #6217
With "the links" you mean the "Mark all as read" button?

[2015-07-21 13:20] svbergerem commented on #6217
I am not able to reproduce this for the "Mark all as read" button.

[2015-07-21 13:57] svbergerem commented on #4633
There are two open issues about [pump.io](https://github.com/e14n/pump.io). (This one and #4643) The last commit for pump.io has been a year ago, the builds are failing and the main author [confirmed a year ago](https://github.com/e14n/pump.io/issues/1033#issuecomment-46784862) that the master branch is broken. Does anyone know if there is still some activity around pump.io? Are there any users?

[2015-07-21 14:41] svbergerem commented on #5383
@gordon-morehouse

We will show you at most 5 of those users and you can refine the search results by typing more characters.

Yes.

I'm not sure if we should put prefix matches in front of other infix matches. Maybe you only know the last name of your contact. In that case you will only have an infix match and not an prefix match.

facebook does the same and also has no “tooltip-style header” so

[2015-07-21 14:55] #3588 closed

[2015-07-21 15:08] svbergerem commented on #3653
We would have to apply the solution @taratatach [mentioned here](https://github.com/diaspora/diaspora/issues/3653#issuecomment-24876887) to the [apache conf](https://gist.github.com/jhass/719014).

[2015-07-21 15:10] svbergerem commented on #5385
`<link rel="alternate" href="..." type="application/atom+xml" />` exists on profile pages on develop and master.

[2015-07-21 15:10] #5385 closed

[2015-07-21 15:12] svbergerem commented on #5382
I'm also not able to reproduce the bug described in this issue. Feel free to reopen if you are able to reproduce it.

[2015-07-21 15:12] #5382 closed

[2015-07-21 15:22] svbergerem commented on #5270
We are now using an inverted Bootstrap navbar with the default Bootstrap colors.

![navbar](https://cloud.githubusercontent.com/assets/3798614/8219401/2f55d2ee-154a-11e5-8b09-b9ebc4d1cc89.png)

@polsVoice Is this better?

[2015-07-21 15:25] svbergerem commented on #4610
We don't use that logo in the header anymore so this issue is now a duplicate of #5270.

![navbar](https://cloud.githubusercontent.com/assets/3798614/8219401/2f55d2ee-154a-11e5-8b09-b9ebc4d1cc89.png)

[2015-07-21 15:25] #4610 closed

[2015-07-21 15:41] svbergerem commented on #4391
No response for about a year. Feel free to reopen if anyone is able to reproduce this.

[2015-07-21 15:41] #4391 closed

[2015-07-21 15:48] svbergerem commented on #5261
Duplicate of #5801.

[2015-07-21 15:48] #5261 closed

[2015-07-21 17:01] gordon-morehouse commented on #5382
I think it was fixed at or before 0.5.x. Thanks.

[2015-07-21 18:58] jaywink opened #6220 "Don't retry dead pods indefinately"
Currently we seem to retry dead pods if not forever, then for a long time at least. Currently, for a recent post I made, I had **89 failures** for outgoing sidekiq jobs. I can only imagine how much extra weight this is putting on large long running pods.

So what I would propose is to either;

* Add a "retry_next" timestamp which would be set on a failure. It would start as "1s" and increase expon

[2015-07-21 19:17] svbergerem commented on #3688
Is this issue caused by capacity problems of jd? In that case I'd say we can close this because there is not much we can do except for reducing the memory usage but that would be another issue.

[2015-07-21 19:20] svbergerem commented on #3743
Since this is a controversial feature I'll close this issue. If someone would like to see an implementation: please open a thread on [Loomio](https://www.loomio.org/g/EseV9p4X/diaspora-community) first.

[2015-07-21 19:20] #3743 closed

[2015-07-21 19:58] jaywink commented on #5739
Isn't this fixed by https://github.com/diaspora/diaspora/pull/5958?

[2015-07-21 20:07] jaywink opened #6221 "AccountDeleter does not do enough"
From [this discussion](https://iliketoast.net/posts/677438#21b148b01210013384966c626dd55703), came to the conclusion that we should probably delete more stuff when an account is deleted. Or should we? Anyway, raising an issue to highlight this.

To me at least, it sounds a bit dubious that we don't delete comments, likes or messages on account deletion.

Opinions?

[2015-07-21 20:10] jhass commented on #6221
Well, deleting comments and messages destroys the discussion for the other party.

[2015-07-21 20:11] jaywink commented on #6221
But isn't it the right of the content owner to delete their content, including comments?

[2015-07-21 20:23] svbergerem commented on #5363
The Bootstrap 3 port fixed this issue.

[2015-07-21 20:23] #5363 closed

[2015-07-21 20:26] jhass commented on #6221
It is, but closing an account and explicitly deleting them are quite different beasts. I mean some people don't even realize they can't reopen a closed account.

[2015-07-21 20:32] pizzamaker commented on #6217
Sorry, the "Mark as all read" button is fine.

However,in inline links such as "[[User A]] commented on [[post X]]", I can neither click on User A or post X if I scroll the dropdown menu all the way down.

[2015-07-21 20:41] svbergerem commented on #5312
Fixed by #6086.

[2015-07-21 20:41] #5312 closed

[2015-07-21 20:42] svbergerem commented on #6217
I am still not able to reproduce this.

[2015-07-21 20:52] koehn commented on #6221
So it's their right, they just cannot do it. :-/

[2015-07-21 20:53] svbergerem commented on #5739
@SuperTux88 confirmed that he fixed this issue.

[2015-07-21 20:53] #5739 closed

[2015-07-21 21:23] jaywink commented on #4633
The main pump.io dev Evan is working as one of the core people in the W3C SocialWG to make a new standard for federated web apps. I think he mentioned he will rewrite pump.io once that is done - so I'm guessing no there will not be any more commits to the current version, but yes, there are people using the current one.

[2015-07-21 21:30] jhass commented on #6217
Maybe browser specfic?

[2015-07-21 22:19] koehn commented on #6221
Since you asked for an opinion, I would recommend we ensure the verbage is *delete* account, that the user is warned that the action is irrevocable, and what will be deleted.

I would also recommend that deleting a user deletes the user's content (posts/comments/likes/participations/conversations) as though the user had done so manually. It's their data. If users want it to persist they may idle t

[2015-07-21 22:34] Flaburgan commented on #6220
Kind of a duplicate of https://github.com/diaspora/diaspora/issues/4183, at least dealing with the same problem. I think to stop trying to send message to a pod which didn't answer for more than X days is enough. Of course, we have to remove the pod from the blacklist if we receive a message from it.

[2015-07-22 02:21] #5697 closed

[2015-07-22 02:42] pizzamaker commented on #6217
I reproduced the issue in both Firefox and Abrowser (which is Firefox-based). Midori doesn't display this error, so I'm guessing Chrome also doesn't have this bug.

[2015-07-22 05:17] JamesC1 commented on #4920
Given that numbers of rows matter to the usefulness of signature removal, could row count be added to the standard query?

I also do not understand why trusting the database's author id would not enable removal of likes.

[2015-07-22 07:41] svbergerem commented on #6217
I am also using Firefox (39.0). Is there anything in the error console? How does such an unclickable link look like in the webconsole's “Inspector”?

[2015-07-22 08:06] AugierLe42e opened #6225 "Export photo button can stay blocked"
![request-photo](https://cloud.githubusercontent.com/assets/3429231/8820815/f484fae4-3058-11e5-8ade-18cb9c871e98.png)

It has been like this for weeks now. I have no idea why it is blocked like that so I have no way to reproduce. It a major blocking point so I propose that there should be a guard checking when user data or user photos have been requested and determine that a request has failed whe

[2015-07-22 08:08] jhass commented on #5323
The code around this wasn't very pretty and nobody felt an urge to maintain it, so we decided to drop it.

[2015-07-22 08:08] #5323 closed

[2015-07-22 08:15] AugierLe42e commented on #6221
The problem is it can leave the network in a bizarre sate with federatio problems. E.g: the comments are deleted on the user's pod, but not on some other pods for various reasons. This is the same problem than deleting or editing a post, but to the power of ten.

[2015-07-22 09:31] svbergerem commented on #6058
I am not able to reproduce this using Chromium and different screen sizes.
(43.0.2357.130 Built on Debian stretch/sid, running on Debian stretch/sid (64-bit))

I agree with Flaburgan: the URL of the post would be really helpful.

[2015-07-22 09:56] #6145 closed

[2015-07-22 10:24] jaywink commented on #6221
I agree with @koehn - if a person explicitly decides to delete their account, that should delete their content. Period.

@AugierLe42e saying "everything everywhere might not be deleted" is a bad excuse. We attempt to federate content even though it always doesn't work. Should we not federate posts out because they might not be replicated everywhere?

But as this is a mixed opinion subject, I guess

[2015-07-22 10:30] jaywink commented on #6220
Related but not similar. 4183 talks about manual cleanup actions. This talks about tuning the federation layer so it would more intelligently just not bang its head against a brick wall indefinitely.

[2015-07-22 10:33] AugierLe42e commented on #6221
No. What I'm telling is that concern shouldn't be adressed before federation has been more secure. Otherwise, it's pointless because we can't guaranty the user his messages have actually been deleted. This would be a serious issue to me.

[2015-07-22 10:34] jaywink commented on #3653
I don't see how setting a larger body size in the web server will help in the case that the connection is just slow? The server side doesn't support chunking uploads and until it does it makes little sense to bump the 4mb limit or even suggest bumping it. Some users will just get more timeouts the larger the limit is increased. Photo uploads really should fall back or be able to use smaller chunks

[2015-07-22 10:36] svbergerem commented on #5997
Will close this now. Feel free to reopen once there is an accepted proposal on Loomio.

[2015-07-22 10:36] #5997 closed

[2015-07-22 15:45] koehn commented on #6221
Our choices seem to be:

1. (Current state) Don't delete any messages when the user deletes an account, or:
2. Make a best effort to delete messages when the user deletes an account, or:
3. Delay deleting messages until we can ensure that we delete them all

Given those choices, I choose (2). I doubt that (3) will ever happen, and (1) is really deceptive, and runs counter to any reasonable user's

[2015-07-22 16:53] jhass commented on #6221
To clarify: posts are deleted, comments and conversations aren't.

[2015-07-22 17:40] Flaburgan commented on #6221
I can understand that the comment and PM are not deleted by default because the discussions will then have no sense, but I see no interest in keeping the like interactions if it's linked to a ghost account. It just means "someone somewhere liked this content". Useless.

About the first point, maybe we could add a checkbox in the confirmation popup (see below) to say "also delete my comments and an

[2015-07-22 17:43] pizzamaker commented on #6217
I get a few errors, maybe some aren't relevant, but I've screenshot them all:
https://imgrush.com/5jLbTHZQd2ER.png

[2015-07-22 18:12] morashid92 commented on #6217
I get similar errors here on development mode, i'm guessing put a break-point on that line and traverse above the stack to see why the element is undefined:

![screenshot](https://cloud.githubusercontent.com/assets/11273288/8833210/91eded8a-30a5-11e5-8ed2-bed62494a2d8.png)

[2015-07-22 19:26] Flaburgan commented on #6225
@jhass this is not about the UI. When Jason first implemented this feature, the sidekiq worker was not set correctly. So in the DB the checks of "exporting" and "exporting photos" are set to true, but nothing is processed in reality.

[2015-07-22 19:33] Flaburgan commented on #6225
Hm, nevermind, my exporting value is true ( @jaywink is it safe to update this to false in sql directly?) but Augier's one is false, so the problem doesn't come from there.

[2015-07-22 19:52] jaywink commented on #6225
@Flaburgan I don't understand the question :P I didn't implement photo export

[2015-07-22 23:56] maliktunga opened #6235 "Sidebar links are not fully clickable"
Here is the clickable zone of Stream:
![stream](https://cloud.githubusercontent.com/assets/6393838/8840115/f6d6c906-30aa-11e5-9396-3f77cc8f1ea0.png)

Here is the clickable zone of My Activity:
![myactivity](https://cloud.githubusercontent.com/assets/6393838/8840113/f032447c-30aa-11e5-8058-87049dd9d41e.png)

Here is the clickable zone of @Mentions:
![mentions](https://cloud.githubusercontent.com/as

[2015-07-23 07:51] Flaburgan commented on #6235
https://github.com/diaspora/diaspora/pull/6112 should have solved this.

[2015-07-23 12:17] norayr opened #6236 "some way to go to post from photo"
when watching photo from "photos" tab of the user page, user might want to like or comment on the post where photo was uploaded. however currently there is no way of finding the post with that photo.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/24826137-some-way-to-go-to-post-from-photo?utm_campaign=plugin&utm_content=tracker%2F52

[2015-07-23 12:44] Raven24 commented on #6220
I have written a small test-script to potentially check pods against some possible reasons of why they can't be reached (DNS, connection, HTTP) some time ago. ([Here is a Gist](https://gist.github.com/Raven24/6f048d0f25814f2b9066))
My idea back then was to add a list of pods to the admin section and list them as reachable/unreachable and state the reason in case it's not responding and for how lon

[2015-07-23 15:00] jhass commented on #6211
#6239 Exposes this via NodeInfo. However I'm hesitant to display it on the user oriented /statistics page too, the feature is still in its alpha stage (and sadly not seeing much development lately) and we shouldn't really promote it by suggesting users that a pod with it is preferable.

[2015-07-23 15:57] jaywink commented on #6211
Awesome that NodeInfo is moving! :cookie:

[2015-07-23 16:03] jaywink commented on #6220
I'd still like this to be somehow automatic, without podmins having to do maintenance by hand. To me, this should be in the code that actually figures out where to send a request to, without just blindly doing so. We already some some stuff regarding SSL related return codes. This would just be more logic there.

[2015-07-23 19:41] svbergerem commented on #2297
As @Flaburgan and @goobertron pointed out this issue has been fixed.

[2015-07-23 19:41] #2297 closed

[2015-07-23 23:25] cmrd-senya commented on #4601
If nobody minds I'd like to work on it.

[2015-07-23 23:30] jhass commented on #4601
Related discussion https://www.loomio.org/d/LROboQNj/html5-media-embed

[2015-07-23 23:31] jhass commented on #4601
I think acceptable syntax would be to turn regular links and autolinks into embeds, so basically rendered `<a>` tags if their `href` ends in a matching extension.

[2015-07-23 23:42] Bugsbane commented on #4601
Please be my guest. This seems to be a remarkably simple change for the impact it would have. Real low hanging fruit.

[2015-07-24 00:39] border0464111 commented on #6221
I think user can understand that they have no power over other. It may be presented as sending a 'removal request' to other pods, warning the user that some pods may not honor it.

 for the inconsistency of discutions if every msg/comment is replaced by a "account deleted, this user is gone for good " msg, it could reflect reality and programaticaly make it easyer to update comments then remove th

[2015-07-24 01:30] svbergerem commented on #4601
Another related discussion: http://talk.commonmark.org/t/embedded-audio-and-video/441

I think it would be great if we could implement this as a markdown-it plugin. There might be also other projects who are interested in this plugin. In the commonmark thread there is already one dev who started writing a markdown-it plugin. Maybe we can join forces.

Here are some things we should keep in mind /

[2015-07-24 02:21] denschub commented on #6211
Implemented with c928d6c117d44170be48b7f4eaa526b9fa77590f.

[2015-07-24 05:39] maliktunga opened #6241 ""powered by diaspora*" not sentence-capitalized"
Most notably noticed at the footer of the single-post view.
Pod: https://social.mrzyx.de
Diaspora: Code 0.5.99.0-p0713edaf
Screenshot:
![screenshot from 2015-07-24 01-37-40](https://cloud.githubusercontent.com/assets/6393838/8868310/9de14916-31a4-11e5-83c1-e2b758d1f4c0.png)

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/24868893-pow

[2015-07-24 07:36] Flaburgan commented on #6220
@jaywink so what about a boolean "reachable" on the pod table true by default, so before sending any message to podB, podA checks if reachable is true for podB. If no message reach podB successfully during 30 days (to be determined), reachable is set to false in podA table. If any message from podB is received by podA, reachable is reset to true.

[2015-07-24 08:20] jhass commented on #6211
I'm reopening this, I think we do should display it on the /statistics page some day, just not yet.

[2015-07-24 11:45] yurkobb opened #6242 "Mention popup doesn't work for Cyrillic names"
````@````-completion doesn't work for contacts who have Cyrillic names for me on 0.5.1.1-p9bef1053, only names with Latin characters appear.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/24883097-mention-popup-doesn-t-work-for-cyrillic-names?utm_campaign=plugin&utm_content=tracker%2F522&utm_medium=issues&utm_source=github)** We acc

[2015-07-24 11:55] svbergerem commented on #6242
Related to #4493.

[2015-07-24 12:43] Flaburgan commented on #4601
+1

[2015-07-24 20:02] #2900 closed

[2015-07-24 22:00] AugierLe42e opened #6248 ":thumb_large size should only resize width to 300px"
This is related to @Flaburgan 's comment [here](https://github.com/diaspora/diaspora/pull/6244#issuecomment-124727525):

Furthermore, I think networks today are fast enough to support a little increase of that size. I think `thumb_large` size can be insreased to 400 or 500px.
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/24909741-th

[2015-07-25 20:52] v3ss0n commented on #4601
Author of example mulit-media plugin from that post. I am buidling markdown-it plugin for it. Will be avaliable within 48 hrs.

[2015-07-26 08:13] svbergerem commented on #6248
I disagree. If the image has a width of 300px and a height of 3000px then I wouldn't call it a large thumbnail. Why don't we scale down the image size such that either the width or the height is at most 300px and then crop the image to 300x300px?

[2015-07-26 08:31] AugierLe42e commented on #6248
It coulnd't be used anymore as the image to display in the stream, then.

[2015-07-26 09:16] Flaburgan opened #6251 "Only load the gif images in the stream when the user wants to"
This is for at least the mobile version, but I think the behavior would be nice on desktop too.
Gif images are really heavy, I think that we should preserve user bandwith by only loading the first image of the gif and then load the full gif if the user tap on it on the mobile version, or hover it on the desktop version.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](h

[2015-07-26 09:20] svbergerem commented on #6251
Duplicate of #5242.

[2015-07-26 09:20] #6251 closed

[2015-07-26 09:39] svbergerem commented on #6248
AFAIK we don't use `thumb_large` in the desktop stream. In the mobile stream it is a preview of one of the images of a post. (You can see all other images of the post and the preview image itself with full width when you click on the image.)

[2015-07-26 09:44] AugierLe42e commented on #6248
No, sorry, that's me, I understood something else than what you actually said.
But if we changed the way images are resized, what would happen to the previously uploaded images ?

[2015-07-26 13:41] AugierLe42e opened #6252 "Input field lack styling on welcome page for mobile view (BS3 regression)"
![screen shot 2015-07-26 at 15 39 17](https://cloud.githubusercontent.com/assets/3429231/8894164/b6febfaa-33ac-11e5-8fc7-1dd6a2efd2bf.png)

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/24978163-input-field-lack-styling-on-welcome-page-for-mobile-view-bs3-regression?utm_campaign=plugin&utm_content=tracker%2F522&utm_medium=issues&utm

[2015-07-26 16:16] svbergerem commented on #6142
This is closely related to https://github.com/twbs/bootstrap/issues/15958 which is a won't fix for Bootstrap 3.

[2015-07-27 10:48] AugierLe42e opened #6253 "Tabulation seems to be inserted after each line break in code blocks of a reshare in stream."
Here is an exemple:

* original post:

![original](https://cloud.githubusercontent.com/assets/3429231/8904154/594cb02c-345d-11e5-8079-6fe303d1ca74.png)

* reshare:

![reshare1](https://cloud.githubusercontent.com/assets/3429231/8904175/80291c8a-345d-11e5-9ecd-a8993edfba10.png)

It doesn't do this on SPV:

* [original post](https://diaspora-fr.org/posts/1412151),
* [reshare](https://diaspora-fr.org

[2015-07-27 11:54] svbergerem commented on #6253
I guess this is caused by the following handlebars issue: https://github.com/wycats/handlebars.js/issues/858

We are using exactly one partial in handlebars and that is the status-message partial inside of reshares.

[2015-07-27 12:48] AugierLe42e commented on #6252
I spotted that on Firefox developer edition 41.0a. This could be a browser specific issue.

[2015-07-28 12:43] cmrd-senya commented on #5939
I've tested Android Browser 2.3 and it seem to support CSS3 media queries out of the box, so it doesn't need Respond.js. I've also tested IE8 on WinXP and it doesn't support CSS3 media queries, but diaspora is totally broken and unusable on IE8. Looking on [the table](http://caniuse.com/#feat=css-mediaqueries)  I consider that we won't have any significant regressions if we just wipe mbp-respond.m

[2015-07-28 13:00] Flaburgan commented on #5939
@cmrd-senya we tend to only support modern browsers, so IE9+ and Android 4+

[2015-07-28 13:47] #6241 closed

[2015-07-28 14:13] cmrd-senya commented on #5939
Next, about modernizr.

As it's mentioned [here](http://modernizr.com/docs/#whatis), Modernizr is used mainly in two ways - by using the Modernizr object and by defining the classes which are added in the html tag in our stylesheets. There is no usages of Modernizr object in Diaspora which is shown by a simple grep.

I wrote a regular expression for grep, that searches for usages of the Modernizr

[2015-07-28 16:24] #5939 closed

[2015-07-28 18:31] cmrd-senya commented on #1851
If nobody minds, I'd like to work on this one.

[2015-07-28 19:23] jaywink commented on #1851
That would be awesome @cmrd-senya , thanks!

[2015-07-28 19:26] goobertron commented on #1851
I don't think anyone would mind that at all! Thank you.

[2015-07-28 20:48] Flaburgan commented on #1851
You're very welcome to do it! There are couple of things to consider though, I discussed with @jhass about it a long time ago, I think the first step would be to write specifications because this is a non-trivial feature (choices have to be made).

[2015-07-28 22:12] maliktunga opened #6264 "Name and bell do not turn back grey"
Issue:
1. Log into https://social.mrzyx.de
[The name is grey]
2. Click on your name in the upper right corner (black bar)
[The name on hover becomes white]
3. Click on your name again
[The name is still white]
4. Move the cursor away from the name

What is expected: the name becomes grey
What happens: the name is still white

The same happens with the bell icon (Notifications)

Set-up: Diaspora Co

[2015-07-28 22:21] jhass commented on #6264
Duplicate of #6137

[2015-07-28 22:21] #6264 closed

[2015-07-28 22:26] #5192 closed

[2015-07-28 22:26] #6215 closed

[2015-07-28 22:45] TwizzyDizzy opened #6265 "Bug in message view when having no contacts?"
Hi folks,

I just encountered a strange issue when testing the new welcome message feature (#6021).

A newly created account was not able to click on the welcome message (to show it on the right side) while having no contacts.

After adding the new profile as a contact on my own profile (and vice versa) I was able to click the message with the new user account.

Maybe you have an idea about what t

[2015-07-29 06:43] jaywink commented on #1851
@Flaburgan unless you mean pure technical details then the high level spec was already decided on [here](https://github.com/diaspora/diaspora/issues/1851#issuecomment-36557842) :dancer:

[2015-07-29 10:19] #6265 closed

[2015-07-29 13:57] TwizzyDizzy commented on #6265
Wow, that was fast. Thanks for fixing :)

[2015-07-29 14:59] ldidry opened #6269 "Use unicorn-worker-killer?"
I saw a [blog post from Gitlab](https://about.gitlab.com/2015/06/05/how-gitlab-uses-unicorn-and-unicorn-worker-killer/) about their use of the [unicorn-worker-killer](https://github.com/kzk/unicorn-worker-killer) gem to stop memory leaks.

This is simple: every 16 requests, unicorn-worker-killer checks the memory used by the worker and kills it if a memory leak is detected.

They also have a [Side

[2015-07-29 15:01] jhass commented on #6269
https://github.com/diaspora/diaspora/blob/develop/lib/unicorn_killer.rb like this? ;)

[2015-07-29 15:06] ldidry commented on #6269
Oops! Ok, for unicorn. For my defense, I only looked at the Gemfile.

There's still the question of sidekiq.

[2015-07-29 15:07] svbergerem commented on #6269
@jhass Should we use the gem instead of the file you linked? (less code we have to maintain)

[2015-07-29 15:12] jhass commented on #6269
Maybe, though that code so far was surprisingly maintenance free.

[2015-07-29 18:06] polsVoice commented on #5577
I received the activation email, but when I copy and paste the URI into a browser, I get this error:
`Email could not be activated. Wrong link?`

[2015-07-29 18:22] polsVoice commented on #5608
I just tried this, and I couldn't reproduce it. I tried both inline and block code blocks, and the image URI came through both times.

[2015-07-29 18:34] jhass commented on #5608
I still can, are you sure you enabled camo on your pod?

[2015-07-29 18:51] polsVoice commented on #5608
@jhass Oh, I didn't realize that it had to be enabled. I was testing it on JoinDiaspora.com.

[2015-07-29 22:34] #4685 closed

[2015-07-29 23:22] denschub commented on #5608
Still reproducible.

[2015-07-30 02:29] #6235 closed

[2015-07-30 05:50] theworldbright commented on #6182
I've updated this post with the latest changes.

[2015-07-30 07:18] jaywink commented on #6182
Awesome work guys <3

[2015-07-30 09:05] cmrd-senya opened #6273 "Add a possibility to automatically hide shares from the stream, which already have been presented in the stream by somebody else"
In some other social networks they show shares in your stream only once, and if somebody of your friends shared a post of your other friend, you won't see it. So it prevents your stream from flooding, where your friends circle is close and they share each others posts often.

Lets implement it at least as an option.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https

[2015-07-30 09:11] Flaburgan commented on #6273
Really close to https://github.com/diaspora/diaspora/issues/4219, I think I would prefer to see this one implemented.

[2015-07-30 10:02] #4164 closed

[2015-07-30 10:07] jhass commented on #6273
I think this is a duplicate of #4219. If you disagree please elaborate (on the differences) and we can reopen.

[2015-07-30 10:07] #6273 closed

[2015-07-30 13:39] #6252 closed

[2015-07-30 18:47] jaywink opened #6275 "Clear connected services cleanup action for admin pages"
If a pod cuts a previously enabled service, user connections will stay active, showing the post to service icon in the publisher even though the service is not active.

We could add a cleanup job in the admin menu (or rake task, if not admin) to clean up any disabled service connections.

See this post: https://joindiaspora.com/posts/6390934

[2015-07-30 18:51] AugierLe42e commented on #6182
@theworldbright : I have reset your last changes and just neutralized the code ;)

[2015-07-30 18:53] jaywink commented on #6182
@AugierLe42e I doubt commented out code will be accepted to be merged in... please, just don't do it :)

[2015-07-30 18:56] AugierLe42e commented on #6182
Nope, it's just temporary. We'll see if we want to reactivate it when we start to work on OAuth for the API.

[2015-07-30 21:18] svbergerem commented on #6275
Related to #6184.

[2015-07-30 22:51] Flaburgan commented on #6275
Why should this be a manual task and not automatically executed when the service is disabled?

[2015-07-31 07:30] jaywink commented on #6275
That would involve tracking when the setting changes, because the setting is in the config file. So on startup, d* server would have to check whether a service was enabled before, but disabled now.

I think for the rare cases pods disable services this is a lot of code to maintain and could justify being a manual run, documented in service integration and even the config file.

[2015-07-31 09:18] theworldbright commented on #6182
We do want to merge in this PR in before we start the API routes though right? @AugierLe42e @jhass

I'm fine with keeping it commented out for now, although since we're on our last stretch I might just continue to work off my current branch (without the neutralization commit) and just push --force when I'm done (unless @AugierLe42e are you planning have a coding session this weekend?)

Also I've u

[2015-07-31 09:21] jhass commented on #6182
Yes, I wouldn't mind having this PR in as early as possible. Then maybe a second one to setup a proper authorization infrastructure and then we can design and spread the API routes across many.

[2015-07-31 11:14] AugierLe42e commented on #6182
Ok, so I'll keep the code in a separate branch on my repo, you can force push @theworldbright.
I'll be free for coding this week-end, so we can keep in touch to finish this early. Maybe this week-end?
Then, I'll work on Griaspora and make an android mock to test it.
We can also plan to develop a "Connect with diaspora*" widget?

[2015-07-31 13:34] Flaburgan opened #6278 "Implement groups"
This issue is a meta issue to summarize what we have to do to have a group feature inside diaspora*.

[ ] Refactor diaspora* core to use the federation gem. We need to first stabilize the federation before modifying it to include big feature like this one.
[ ] Write specifications

[2015-07-31 13:35] Flaburgan commented on #6278
https://github.com/diaspora/diaspora/issues/5558 was describing an hacky approach to implement groups. It should be closed in favor of this issue.

[2015-07-31 14:43] theworldbright commented on #6182
@AugierLe42e Yeah I'll definitely continue working this weekend. I just did the force push. Perhaps you can choose some task that is under the "Remaining Tasks for Initial API Release" that I haven't marked as "will do over the weekend"? (If you are interested in doing one that I have marked, just message me). Lets try to get the PR merged by the end of the weekend.

Yeah a "Connect with diaspora*