[2016-06-07 13:14] denschub commented on #5213
Closing. We do not support IE9 here.

[2016-06-07 13:14] #5213 closed

[2016-06-07 13:17] denschub commented on #5723
Works with Opera Mini 13. J2ME versions are.. well... old and will break in the future for us anyway, so I do not really see a point of even trying to achieve compatibility here. The amount of work we'd have to put into that would be insane. :/

[2016-06-07 13:17] #5723 closed

[2016-06-07 14:22] DoctorJellyface commented on #5723
Oh, I thought this was closed ages ago. I don't really care anymore either, my old phone broke and I haven't seen a J2ME phone with wifi ever since.

[2016-06-07 14:37] beroal commented on #6840
The canonical URL is the value of the attribute "content" of the tag "meta" with the attribute "property" equal to "og:url". It belongs to Open Graph data. For example,

I can't tell if a page for a tag is a node in the social graph or not. Either way.

1. If it is not a node, than it must not contain Open Graph data.

2. If it is a node, I doubt that pages with different content may have identica

[2016-06-07 15:06] Flaburgan commented on #6855
I was sure we already have an issue about this, but I don't find it.

[2016-06-07 15:09] gsantner commented on #6855
I also spent some time on searching, and couln't find it, but you're maybe right.

[2016-06-07 15:54] Flaburgan commented on #6120
Just to be sure, the step to reproduce this problem is get an invite link from an account, register using that link

[2016-06-07 15:54] Flaburgan commented on #6120
Oops sorry wrong button.

[2016-06-07 15:56] cmrd-senya commented on #6120
Yes, but refactoring aspect dropdown to a backbone component requires changes for every usage place anyway.

[2016-06-07 19:28] svbergerem commented on #6855
Duplicate of  #5091.

[2016-06-07 19:28] #6855 closed

[2016-06-07 22:06] denschub commented on #6855
Good catch, thanks, @svbergerem!

[2016-06-08 19:46] Zauberstuhl opened #6857 "[API] Cannot revoke an authorized application"
If I hit "Revoke" in /api/openid_connect/user_applications:

[code]

[2016-06-08 20:12] Zauberstuhl commented on #6857
ok after I removed the entry from `id_tokens` I can add and revoke apps without any problem.

I created a lot of  clients without finishing the handshake. Maybe it is my dev-setup. I will test it tomorrow with a clean environment.

Please let me know if someone can or cannot reproduce it.

[2016-06-08 21:37] #6841 closed

[2016-06-08 21:37] #6853 closed

[2016-06-09 01:04] denschub commented on #6676
Is this a blog on wordpress.com or a self-hosted one? Have you checked the credentials and the return url in the application preferences? Is this reproducible with a non-local pod? Could be they are blocking domains they cannot resolve.

[2016-06-09 01:12] denschub commented on #6857
It works in my setup, but I guess we should try to reproduce this by abusing it. If we can break diaspora\* by aborting the handshake, this would be a rather nasty bug.

[2016-06-09 01:20] #6837 closed

[2016-06-09 13:44] pravi opened #6858 "add a link to an 'apps list' in sign in page"
Currently Sign In page have "Forgot Password" and "Sign Up". We should add a link to apps page. The apps page should list mobile apps for diaspora and link to Play Store/Fdroid. When chat is enabled it should show XMPP apps and mention any of these could be used for real time chat.

[2016-06-09 13:54] denschub commented on #6858
I disagree. Linking apps in the default template would imply that we endorse or support those applications, which, in fact, we don't. I do not think we should promote applications that scrape the html contents for csfr_tokens or but diaspora into a webview with added hacks since those are prone to fail at any time... Same story goes for the XMPP chat, which is not even stabilized yet and anything

[2016-06-09 14:02] pravi commented on #6858
How about adding it after we have API (apps using that) and stable chat?

[2016-06-09 14:09] denschub commented on #6858
Sure, but that's some time far in the future. :)

[2016-06-09 15:04] pravi commented on #6858
The idea just occured to me and I thought of noting it somewhere before I forget :)

[2016-06-10 08:55] Flaburgan commented on #6858
You've a good point about XMPP app though. We have a "chat" section in the help of diaspora*, I encourage you to open a PR explaining that the chat uses XMPP and therefore any XMPP native app can be used on mobile.

[2016-06-11 09:43] pravi opened #6859 "consider xmpp login via app as activity"
If someone is logged into xmpp service using a native app, that should be considered an activity and counted towards active users.

More than statistics, this is important for account deletions. It would be very bad if people see their account is deleted even when they use the chat service every day.
##

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bount

[2016-06-16 01:03] UbiSmith opened #6865 "Profile Picture"
I just signed up for GitHub and found two things rather disconcerting:
1) How did GitHub have/get a profile picture for me?  I don't believe I ever signed up for an account in the past.
2) How can I delete my profile picture.  I prefer to have no photo.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/35206075-profile-picture?utm_camp

[2016-06-16 01:04] denschub commented on #6865
We're not the [GitHub support](https://github.com/contact).

[2016-06-16 01:04] #6865 closed

[2016-06-16 01:06] UbiSmith commented on #6865
Thanks.  I was not aware and I was not finding a support link easily on GitHub.  I will redirect my questions there.

[2016-06-16 19:15] piraz commented on #6828
The policy is there because of CVE-2016–3714. The info is in [this site](https://imagetragick.com/).

My captcha image is not being generated right after a system update from last week.

I'll solve this issue and post here. I was wondering why users were not registering on the pod.

[2016-06-16 19:16] piraz commented on #6828
Here is ImageMagick anouncement: https://www.imagemagick.org/discourse-server/viewtopic.php?f=4&t=29588.

[2016-06-16 19:52] piraz commented on #6828
So the policy blocking everything is LABEL. I'm commenting that on my pods right now.

It seems like if you give read and right for the JPEG codec and read to http then the PNG will fail and JPEG will run, as I don't like the first error working, I'm going with this configuration:

[code]

I don't know how secure is that configuration but I think this is a temporary solution. Maybe we can check a

[2016-06-16 19:55] piraz commented on #6828
By the way this ImageMagick Is On Fire — CVE-2016–3714 is not a trivial issue, maybe we should alert the podmin community.

Let me just add this [link here](http://stackoverflow.com/questions/37050721/imagemagick-policy-interpretation-order-disable-all-coders-allow-only-one). There are lots of helpful commands.

[2016-06-17 04:29] cmrd-senya opened #6866 "eslint produces warnings about unknown rules"
Given we have a test commit https://github.com/cmrd-senya/diaspora/commit/3581e55d8f50c8db29350d74db59fa81023a3be9.

Running `pronto -c develop` with the commit checked out produces following output:
[code]

[2016-06-17 05:37] denschub commented on #6866
Okay, this is somewhat ridiculous. The eslint version shipped by `eslintrb` is heavily deprecated because of what I think is an error in the release process. I've opened a PR over ther (see https://github.com/zendesk/eslintrb/pull/7) and pinned a forked version in our `Gemfile` for now. Good catch!

[2016-06-17 05:37] #6866 closed

[2016-06-17 05:42] denschub opened #6867 "Use released version of eslintrb after upstream merge"
@cmrd-senya discovered an issue in `eslintrb` in #6866, which made me open an upstream PR at https://github.com/zendesk/eslintrb/pull/7. I included a forked version of `eslintrb` in f9e0469183d3f6a37373c704ae3c5ad379543a84 so we have useful codestyle reviews... As soon as my PR is merged upstream, we need to switch back to a released `eslintrb` version.

This is a tracking issue to make sure the c

[2016-06-17 05:44] cmrd-senya commented on #6866
I tested it and verify the issue has gone. Thanks!

[2016-06-17 16:59] cmrd-senya commented on #6857
Ok, here is what happens.

By default, `IdToken` [is set](https://github.com/diaspora/diaspora/blob/develop/app/models/api/openid_connect/id_token.rb#L36) to expire in 30 minutes after creation. At the same time we have the [`default_scope`](https://github.com/diaspora/diaspora/blob/develop/app/models/api/openid_connect/id_token.rb#L33) defined for `IdToken`. When we delete an `Authorization` its

[2016-06-17 17:08] cmrd-senya commented on #6857
Yes, and about the handshake abortion, I have a feeling that it can't break anything itself.

[2016-06-17 19:28] denschub commented on #6857
Thanks for analyzing it. We should put the deletion in an `unscoped` block, I guess. Adding the quickfix label if someone wants to make their first contribution before the release. 🎁

[2016-06-18 16:22] SuperTux88 commented on #6588
see: https://github.com/SuperTux88/diaspora_federation/issues/36

[2016-06-18 23:40] #6811 closed

[2016-06-19 01:03] gandaro opened #6871 "External sites opened from Diaspora can access window.opener"
### How to reproduce the bug?
In the Diaspora stream or in a private message on Diaspora, click on a link to a website that contains JavaScript of the following kind (e.g. [this one](https://mathiasbynens.github.io/rel-noopener/malicious.html)):
[code]
### What’s happening?
The website containing the JavaScript will open in a new tab (because of the attribute `target="_blank"`, which is set on all

[2016-06-19 02:28] denschub commented on #6871
I'm a bit concerned about the way this issue is "promoted" here and in the demo page you've linked, to be honest. I do not like people who try to make a big deal about issues that are a bit more complex. For everyone really interested in this, I suggest to read the discussion in Chrome bug tracker and all related issues.

The actual issue is not a "missing" rel attribute, but rather an implementat

[2016-06-19 14:25] #6871 closed

[2016-06-19 16:45] gandaro commented on #6871
According to Chrome’s Charlie Reis the HTML specification [used to prohibit a cross-origin page from navigating their openers](https://bugs.chromium.org/p/chromium/issues/detail?id=168988#c3), and the current wording [“now allows cross-origin openers to be navigated”](https://bugs.chromium.org/p/chromium/issues/detail?id=168988#c12). That sounds contradictory to your statement:

Anyway, thank you

[2016-06-19 17:42] AugierLe42e opened #6879 "Clicking two times on the aspects dropdown closes the publisher"
<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/35300935-clicking-two-times-on-the-aspects-dropdown-closes-the-publisher?utm_campaign=plugin&utm_content=tracker%2F522&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F522&utm_medium=issue

[2016-06-19 17:44] svbergerem commented on #6879
You mean a doubleclick on an aspect name? The first click closes the dropdown, the second one is a click outside of the publisher and thus closes it. What's the problem with this behavior?

[2016-06-19 17:47] AugierLe42e commented on #6879
No, I mean opening the aspect dropdown and then closing it.

[2016-06-19 18:04] svbergerem commented on #6879
I'm unable to reproduce this on the develop branch.

[2016-06-19 18:17] AugierLe42e commented on #6879
Hmm... I can only reproduce on FF dev 49.0a2...

[2016-06-19 18:24] svbergerem commented on #6879
I tried Firefox 47, 49.0a2 (2016-06-19, arch linux) and Chromium 51.0.2704.84. I'd say if you are unable to reproduce this with a stable browser version then we should close this. We can always reopen this later.

[2016-06-19 18:28] #6879 closed

[2016-06-21 07:25] cmrd-senya commented on #6867
fixed by #6880

[2016-06-21 07:36] svbergerem commented on #6867
Thank you @cmrd-senya. :)

[2016-06-21 07:36] #6867 closed

[2016-06-21 18:18] goobertron opened #6882 "Add mention and PM icons to hovercards"
I think it would be useful to add @ (mention) and envelope (conversation) icons in hovercards, assuming of course that you and that person have the appropriate sharing relationship.

The way I see this working is that if you click the mention or envelope icon, a pane pops up containing either the publisher or the new conversations page, as appropriate. The person will be automatically mentioned or

[2016-06-23 16:11] githubgnulinux opened #6884 "sign-in fails via mobile web browsers"
Using various mobile phone web browsers hosted in fdroid (e.g. lightning), unable to sign-in to diaspora

See https://github.com/diaspora/diaspora/issues/5906
https://github.com/diaspora/diaspora/issues/6807
https://github.com/diaspora/diaspora/issues/6194

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/35432539-sign-in-fails-via-mob

[2016-06-23 20:11] denschub commented on #6884
Duplicate of the issues you already mentioned.

[2016-06-23 20:11] #6884 closed

[2016-06-26 02:30] tukkek opened #6885 "Configure default sharing to "public""
I've seen this discussed multiple times on the network (and it's also something I'd find very helpful myself since I mostly post to public) so I decided to open this request.

When you post something to diaspora* the default sharing is to "all aspects". It would be nice for the network to remember your last used option or let you decide a default one either via preferences on using the "gears" but

[2016-06-26 02:42] SuperTux88 commented on #6885
duplicate of #4319

[2016-06-26 02:51] tukkek commented on #6885
Sorry about that, I did a quick search for similar issues but came up with nothing.

[2016-06-26 03:54] #6885 closed

[2016-06-26 05:02] #4697 closed

[2016-06-26 05:59] denschub commented on #4727
Closed by #6873.

[2016-06-26 05:59] #4727 closed

[2016-06-26 05:59] denschub commented on #4697
Closed by #6873.

[2016-06-26 05:59] denschub commented on #3666
Closed by #6873.

[2016-06-26 05:59] #3666 closed

[2016-06-26 05:59] denschub commented on #6579
Closed by #6873.

[2016-06-26 05:59] #6579 closed

[2016-06-26 05:59] denschub commented on #3519
Closed by #6873.

[2016-06-26 05:59] #3519 closed

[2016-06-27 09:18] DaniellMesquita opened #6892 "New structure based on blockchain technology"
Like http://www.synereo.com/ and http://akasha.world/.

[2016-06-27 09:21] jhass commented on #6892
Starting the project from scratch is not on anybody's table and much easier and better down in a new project anyway. Starting a new and necessarily incompatible project under the same name will do nothing good for the community, it will only confuse our users.

[2016-06-27 09:21] #6892 closed

[2016-06-27 09:50] cmrd-senya commented on #6479
[diaspora_federation_behavior](https://github.com/cmrd-senya/diaspora_federation_behavior) consists of  several parts. It uses a modifed version of [diaspora-replica](https://github.com/cmrd-senya/diaspora-replica/tree/testfarm), it contains some rake tasks to control pods produced by diaspora-replica and it contains rspec tests.

I think, that having this project as a separate is likely to result

[2016-06-27 10:27] Flaburgan commented on #5114
Can... Can this be closed? ...

![](http://memesvault.com/wp-content/uploads/Okay-Crying-Meme-05.png)

[2016-06-27 10:57] denschub commented on #5114
Yes, you are very right! Thanks.

[2016-06-27 10:57] #5114 closed

[2016-06-27 13:02] AugierLe42e commented on #5114
# YOLOOOOOOOOOOOOOO

[2016-06-27 20:59] kas70 commented on #6882
related https://github.com/diaspora/diaspora/issues/6542

[2016-06-28 10:48] avoidr commented on #6422
I second that. It's a pity Diaspora doesn't work without javascript.

In my opinion it is wrong to call it a "feature". This should have been the default. But who am I to judge.

[2016-06-28 10:54] cmrd-senya commented on #6422
Consider the usage of javascript as a design decision for diaspora*, so there won't be javascript-less version as a default anyway. But there is nothing impossible in implementing javascript-less version if  there is someone motivated enough for that ;)

[2016-06-28 11:35] galuel opened #6896 "Possibility to keep "public" mode for new post"
When new posting at https://diaspora-fr.org it is always necessary to precise "public", because it is always by default "to all aspects"...

It should be possible to choose the by default option for new posts.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/35559200-possibility-to-keep-public-mode-for-new-post?utm_campaign=plugin&utm

[2016-06-28 11:36] jhass commented on #6896
Duplicate of #4319

[2016-06-28 11:36] #6896 closed

[2016-06-28 20:34] githubgnulinux opened #6897 "alt text attributes for diaspora menu"
For improved accessibility, please add alternative text for the 'notifications' and 'conversations' hyperlinks. This would be useful for graphical browsers in text mode (unlike https://github.com/diaspora/diaspora/issues/6884#issuecomment-228169055), whereby images/graphics are only viewed on demand (to minimise bandwidth)

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!

[2016-06-28 21:19] denschub commented on #6897
The link has a `title` attribute, which my lynx shows and all screenreaders will read out loud.

<img width="718" alt="screen shot 2016-06-28 at 23 18 07" src="https://cloud.githubusercontent.com/assets/344777/16432713/ae8cb540-3d86-11e6-84ee-c6e5446d38a8.png">

[2016-06-28 21:19] #6897 closed

[2016-06-28 22:12] avoidr commented on #6422
I will never understand design decisions that limit the amount of user agents :)
But meeeh, web dev, meeeh. I'll look at what other tools are available.

[2016-06-29 07:43] Flaburgan opened #6898 "Officially support ruby 2.3"
I open this issue to discuss about the support of ruby 2.3 by diaspora*.

Do we want to support it in diaspora 0.6?

If yes, do we want to support ruby 2.1 in 0.6? We usually support only two ruby version. However, diaspora 0.5 supports ruby 2.0 and 2.1, so if 0.6 supports 2.2 and 2.3, that means podmin will **have to** upgrade ruby in the same time than diaspora*. Previously, we supported a ruby

[2016-06-29 10:42] Flaburgan commented on #4035
With the new federation gem installed in both diaspote and diaspora-fr, I guess it's now time to redo some tests @dadall

[2016-06-29 15:12] Flaburgan commented on #5847
I don't know if it's the same issue but a similar problem exists on the sign up page. If you submit the form with some errors (for example, email already token, or the two passwords don't match) then the page will reload with a broken design.

[2016-06-29 15:35] svbergerem commented on #5032
Fixed by #6873

[2016-06-29 16:17] Flaburgan commented on #4159
I guess @Zauberstuhl can confirm how things are going there?

[2016-06-29 16:29] svbergerem commented on #5032
Looks like I was wrong, sorry.

You'll find the fetcher code in [lib/diaspora/fetcher/public.rb](https://github.com/diaspora/diaspora/blob/27b4a44/lib/diaspora/fetcher/public.rb) and we call it in [app/workers/fetch_webfinger.rb](https://github.com/diaspora/diaspora/blob/develop/app/workers/fetch_webfinger.rb#L13).

[2016-06-29 17:07] svbergerem commented on #3164
We moved the dhq account to another pod. Do those problems still exist on the new pod?

[2016-06-29 17:11] goobertron commented on #3164
That's one for @jaywink.

[2016-06-29 17:26] Zauberstuhl commented on #4159
I have no objections. you can close it

[2016-06-29 17:27] #4159 closed

[2016-06-29 17:27] svbergerem commented on #4159
@Zauberstuhl Thanks!

[2016-06-29 18:16] svbergerem commented on #6799
This has been fixed by #6851.

[2016-06-29 18:16] #6799 closed

[2016-06-29 18:19] svbergerem commented on #6796
Fixed by #6817.

[2016-06-29 18:19] #6796 closed

[2016-06-29 18:35] svbergerem commented on #5696
@AugierLe42e, @SansPseudoFix Are you still able to reproduce this?

[2016-06-29 18:37] svbergerem commented on #4588
@Flaburgan #6268 has been merged with a login form on the home page. The link in the header also changed. Would you mind closing this issue?

[2016-06-29 18:46] svbergerem commented on #6434
Your own reshares now appear in the activity stream. (Possibly fixed by #6873)

[2016-06-29 18:46] #6434 closed

[2016-06-29 18:48] svbergerem commented on #6705
No answer for more than 2 months and it seems to be working for everyone else.

[2016-06-29 18:48] #6705 closed

[2016-06-29 19:14] svbergerem commented on #6835
![1 vote french](https://cloud.githubusercontent.com/assets/3798614/16465214/e0e19116-3e3d-11e6-9785-997535f956ca.png)

[2016-06-29 19:39] Flaburgan commented on #4588
Yep, good enough to me :)

[2016-06-29 19:39] #4588 closed

[2016-06-29 19:41] Flaburgan commented on #6835
Why does the indication not match the english one? (1 at the left, 0..1 at the right)

[2016-06-29 20:46] svbergerem commented on #6044
Looks to me like we are doing that for quite some time now (<=2013):

https://github.com/diaspora/diaspora/blob/652050a/lib/diaspora/markdownify/html.rb#L9

Am I missing anything?

[2016-06-30 05:27] angerella10 commented on #6882
I'm currently working on it. :)

[2016-06-30 06:15] svbergerem commented on #6632
Fixed by #6873, test added by #6899.

[2016-06-30 06:15] #6632 closed

[2016-06-30 12:23] jaywink commented on #3164
@goobertron there are many people with access to the new HQ account - I haven't used it for a while so not sure what it is like, better ask someone who uses it more regularly.

I doubt however the amount of contacts the HQ account has is even close to what the old account has, so an educated guess would be that the same would not be seen there, yet.

[2016-06-30 12:26] jaywink commented on #3164
(ps, if someone wants to take ownership of the HQ pod at some point, feel free to ask for the backups - @Zauberstuhl also has access to them, I'll keep it running otherwise)

[2016-06-30 13:12] Flaburgan commented on #3164
The problem is not specific to an account, it's about the number of contacts. diasporahq@joindiaspora.com has 92 contacts and 371128 "only sharing with me". hq@pod.diaspora.software "only" has 12201 contacts.

I guess the test can be done again now that joindiaspora's host changed, I'll do it.

[2016-06-30 13:35] AugierLe42e commented on #5696
Yes, I confirm I can reproduce on FF mobile 47.

[2016-06-30 13:57] SansPseudoFix commented on #5696
Seems fixed for me. Tried with android 4.4.4 and FF 47, on diaspora-fr.org. I tried to click everywhere, and nothing.

[2016-07-01 02:28] cmrd-senya commented on #4160
Working on #1851 I noticed, that this issue actually exist now (tested on diaspora-fr.org and diasp.org).

Here on the screenshots you may see, that I managed to mention `senya2@diaspora-fr.org` from `senya@diaspora-fr.org` within a limited post even without having sharing relationships between the senyas and `senya2@diaspora-fr.org` may see that post in his stream.

Post with a mention:
![2016-07

[2016-07-01 22:34] cmrd-senya commented on #4160
I guess this issue has to be reopened. This was closed as a duplicate of #2516, however #2516 is not there and at the same time, all the other symptoms described in the original message are here, except Person A doesn't get notification. [The test](https://github.com/diaspora/diaspora/blob/develop/spec/integration/mentioning_spec.rb) that has to prove the fix is actually invalid now. The issue is

[2016-07-02 03:53] angerella10 commented on #6882
this is how it may look like
![hovercard](https://cloud.githubusercontent.com/assets/15624712/16538095/587b310a-404b-11e6-87c3-3b8b8be437aa.png)

[2016-07-02 06:24] DeusFigendi commented on #5608
Just thought about this one… how about decoding them again on the server side? Like:

* camouflage all image-urls
* run markdown-parser
* de-camouflage all image-urls within `code` elements

might have performance issues, just an idea.

[2016-07-02 06:47] DeusFigendi commented on #6127
Erm I guess this one can be closed as `no issue` cause @svbergerem wrote

And that means it works as it should doesn't it?

[2016-07-02 07:12] svbergerem commented on #6127
Thanks, you are right.

[2016-07-02 07:12] #6127 closed

[2016-07-02 09:01] denschub commented on #6882
Not sure how accurate your mockup is, but some notes: The placement is good, but we already do have icons for messages and mentions [on a user's profile page](https://github.com/diaspora/diaspora/blob/develop/app/assets/templates/profile_header_tpl.jst.hbs#L48-L57), which we should re-use.

It also looks like you are developing on a stable pod, which you shouldn't do. Please use the develop source

[2016-07-02 09:50] Flaburgan commented on #4160
We definitely need a way anyway to tell the user that something unusual is happening. We should at least warn him "Warning, you're mentioning someone who doesn't have access to the post you are writing, he will not be notified". We should do that check when the user clicks on publish because he usually wrote the post (when the aspect selector is set on "All aspects") and then change the visibility

[2016-07-02 10:04] denschub commented on #4160
Actually, nah. Let's keep this closed and open a new issue. The initial problem was a different and a lot of this discussion is outdated and irrelevant nowadays.

[2016-07-02 10:04] #4160 closed

[2016-07-02 11:14] goobertron commented on #6882
Nice start, @angerella10 - thanks!
In addition to Dennis's comments, I'd suggest not having any border around the new icons. This will save space and keep a 'cleaner' look for the hovercard.

There's also the question what to do when a long aspect name is selected, or if the translation of 'In 2 aspects' is long in the user's locale. I'm not sure how the hovercards deal with this - I think they ju

[2016-07-02 20:04] DeusFigendi opened #6900 "After unignoring an user a flash-message asks me to sayhello"
Just a little… I just removed some users from my ignorelist and I've been a little confused about the success-message that appears in a flash-message (you know that stuff that comes in from the top) and it's saying:

I'd guess that's not what it should be.

I did this on geraspora so the version is 0.5.99.0-pd1e959a2

oh and btw. the result of removing an ignorition is "302 found"

<bountysource-p

[2016-07-02 20:49] denschub commented on #6900
Ehm? The message you quoted is `blocks.destroy.success` and gets added in [app/controllers/blocks_controller.rb, L24](https://github.com/diaspora/diaspora/blob/develop/app/controllers/blocks_controller.rb#L24). It does exactly what it's supposed to do. If you feel like we should change the message, that's probably something to discuss on WTI.

Closing, this is not an issue...

[2016-07-02 20:49] #6900 closed

[2016-07-02 21:01] svbergerem commented on #6900
The English texts are:
[code]

If anyone thinks that these should change and they have a better idea then please open a PR with that change or a new issue.

[2016-07-02 21:02] DeusFigendi commented on #6900
I just didn't understand the message correct. Maybe because I was unignoring accounts that doesn't exist anymore ;D

Sorry, I failed on "think before post"

[2016-07-02 22:10] denschub commented on #6900
Feel free to suggest a better message. :)

[2016-07-03 07:07] svbergerem commented on #4276
#5522 has been fixed and #4912 improved the wording on the settings page.

[2016-07-03 07:07] #4276 closed

[2016-07-03 13:52] SuperTux88 commented on #3886
This is a duplicate of #6152

[2016-07-03 14:31] #3886 closed

[2016-07-04 21:39] #6044 closed

[2016-07-05 08:53] Flaburgan commented on #6806
What's the status of this now that the new federation is merged? @SuperTux88 @denschub

[2016-07-05 10:20] Flaburgan commented on #6436
So yeah this looks like a subset of #6806, so I guess it can be closed. Waiting for @SuperTux88 to confirm that this kind of issues has been fixed by #6873

[2016-07-05 12:32] SuperTux88 commented on #6436
No, this was not fixed by #6873, this needs more work, which should be easier now that the federation rewrite is merged.

[2016-07-05 12:37] SuperTux88 commented on #6806
Not much changed here. You can subscribe to a post now (by clicking the little bell icon), and then you will receive all updates to this post (the post-author-pod needs to have the new federation), independent of the contact-state. This didn't work properly before (AFAIK), and works now. But that's everything that changed now.

[2016-07-05 23:59] #6847 closed

[2016-07-06 21:41] cpt1gl0 commented on #6843
Is someone going to implement this?

[2016-07-07 16:07] svbergerem commented on #6843
@cpt1gl0 There are no likes for conversations. Which conversation stream are you talking about? The “My activity” stream? These posts aren't sorted by creation date but by the date someone interacted with the post. (e.g. liked the post, etc.)

[2016-07-07 20:27] cpt1gl0 commented on #6843
@svbergerem What I actually meant was the _Stream_ and not the conversation stream. I am sorry for the confusion.

Ideally the sorting switch should be available for all streams: The _Stream_ stream, the _My Activity_ stream, the @Mentions stream, etc. Depending on the respective stream an appropriate sorting should be preselected. As I see it (please correct me if I am wrong) at the moment there

[2016-07-08 06:50] SaiVardhan commented on #6850
@svbergerem  Can you give me a road map for this to kick start as I am a newcomer.

Right now, I can see the private message(Lets say "Hi" is the subject) is getting displayed as "**Hi** *There’s a new private message in diaspora* for you to check out.* "

So how it should be changed

[2016-07-08 07:41] svbergerem commented on #6850
@SaiVardhan [These are the two lines](https://github.com/diaspora/diaspora/blob/348a7b/app/mailers/notification_mailers/private_message.rb#L11-12) that set the subject of a private message. For comments on private posts [we already don't add any private information to the subject](https://github.com/diaspora/diaspora/blob/aa6b590/app/mailers/notification_mailers/comment_on_post.rb#L12) so that mig

[2016-07-08 12:46] SaiVardhan commented on #6850
can you suggest subject I am thinking to have it as "Diaspora: Private Message"

[2016-07-09 07:51] ksamak commented on #6278
+1

[2016-07-09 16:25] NuclearTicTac commented on #6278
+10,000  I have about 300 people that want to get off of Facebook.  Even a pod-local version would be awesome!  OF course, I understand the essence of Diaspora is federating across pods.  I will spread word of this method of funding this feature.  Thanks to all who contribute to Diaspora - devs and non-devs alike! :)

[2016-07-09 17:50] goobertron commented on #6846
Brad Koehn is currently working on a Docker set-up for Diaspora: https://gitlab.koehn.com/bkoehn/diaspora-docker

So perhaps this will become an 'official thing' in a while.

[2016-07-09 17:55] goobertron commented on #6835
I haven't looked at a poll for a while, but I thought the figure for votes given next to the percentage is for total votes placed on the poll, not the number of votes *for that option*. Thus it is to be read as 'Nope - 0% of 1 total vote on this poll', not 'Nope - 0% which equals 1 vote'.

If I'm correct, this isn't a bug as it is the way it has been coded. It is, however, a little confusing, and

[2016-07-09 20:29] tchncs commented on #6898
Not sure if this is on-topic enough but i noticed that people solved memory leaks by switching to 2.3.
See: https://github.com/puma/puma/issues/342#issuecomment-207044837

[2016-07-09 20:45] cmrd-senya commented on #6898
May that help for #6763 then?

[2016-07-10 06:57] Flaburgan commented on #6898
I'll use 2.3 on d-fr and we'll see ;)

[2016-07-10 14:13] Flaburgan commented on #6835
@goobertron the bug is not present in the english language, it's a translation problem. And the number represents the number of votes for this option, not the total of votes ;)

[2016-07-10 14:26] Flaburgan commented on #6763
Good news, with the new federation, the memory is stabilizing at ~50% (12GB) when it was >60% with the previous develop code. It was ~27% before the regression though so the problem is not solved. I'm going to restart d-fr with ruby 2.3.1 and see if it changes anything.

[2016-07-10 23:31] 4ndyD commented on #5770
Nevermind resharing to the whole of Diaspora. If I want to increase the visibility of a post to many people who may be interested in it (an aspect) without my boss seeing it, without spamming the feeds of those who don't want to see it, and without restricting the author's ability to delete what they have written by copy-pasting it into a new limited post, I see reshare-to-aspect as the most effic

[2016-07-11 07:55] cmrd-senya commented on #6562
I caught the issue many times while working on #6864. It happens because of a race condition -- that's why it's not easy to reproduce. It may happen that the backbone view gets reloaded and the aspect create callback is called only after the reload. In this case, modal doesn't disappear, because the modal node is not on DOM anymore.

I think I got rid of the issue in my PR, but it's [WIP], so I'll

[2016-07-11 09:17] jhass commented on #6835
Locales update, @Flaburgan could you verify?

[2016-07-11 09:27] Flaburgan commented on #6835
Problem fixed! Thank you everyone!

[2016-07-11 09:42] #6835 closed

[2016-07-11 10:13] Flaburgan commented on #6786
@SuperTux88 this is listed as a blocker of 0.6, do you plan to work on it?

[2016-07-11 11:19] SuperTux88 commented on #6786
yes

[2016-07-12 11:02] Flaburgan commented on #6898
Fyi, both debian and Ubuntu jumped from ruby 2.1 to ruby 2.3 without including 2.2. From that point of view, it would be a good idea to support 2.1 and 2.3 for 0.6 instead of 2.1 and 2.3. I don't know about fedora, redhat cent os etc, if someone wants to check.

[2016-07-12 11:07] cmrd-senya commented on #6898
Another option is to support 3 ruby versions for a short period of time. E.g. support 2.2 up to the first minor of 0.6.x branch. So 2.1, 2.2, 2.3 for 0.6.0.0 and 2.1, 2.3 for 0.6.1.0 and upper. What do you think?

I'm not too deep in the realease making business, but that my thoughts :)

[2016-07-12 15:51] karamel59 opened #6915 "Accessibility: some font-size are set with absolute value"
For some reasons I had put my screen a lot further away and have increased my system font size from 12px to 16px. I have to zoom in with the display settings of my browser to make post contents comfortably readable (this happens on many more sites that I expected). Could it be possible to use relative font sizes with ex, em or % (which is already done for some margins)?

For example I’ve found in

[2016-07-13 10:03] Wotanhaecker commented on #6447
@svbergerem because for private users, "become friends" makes more sence, for music groups/organisations/brands a "follow" or "subscribe" button would be a better wording. Also a call to action button could be relevant, linked to a music video, website or shop. Not really needed for "private users". :)
And maybe the possibility to claim an "officially" status. Like the official, so called "fanpage

[2016-07-13 10:04] Flaburgan commented on #3577
@SuperTux88 federation-rewrite is over ;) Any news on that subject? Is it solved?

[2016-07-13 10:08] Flaburgan commented on #3529
This specific bug is not there anymore but there is tons of weird ux behaviors which happen when mixing rtl and ltr language. Do we want to list them? Should we recycle this issue to do so?

[2016-07-13 10:17] Flaburgan commented on #6843
I had a similar idea a few months ago but with a major difference, it would not be oriented to *your* content like here, but to the network content. So it would not be a way of sorting your streams, but a new stream containing all the posts you have access to (private ones + public ones) ordered with that algorithm. I called it the "Popular" stream. The algorithm is a formula with the date of the

[2016-07-13 10:58] SuperTux88 commented on #3577
I think this happened because the other pod federated the comment back to you, after you deleted it. The new federation doesn't do this anymore, so this is probably fixed.

[2016-07-13 11:13] #3577 closed

[2016-07-13 11:13] jhass commented on #3577
We can reopen this or a new report if the problem resurfaces after everybody is on 0.6

[2016-07-13 12:59] Flaburgan commented on #4317
https://github.com/diaspora/diaspora/issues/4317 also deals with this topic and contains mockups and more discussion. Maybe this issue can be closed and we should continue to think about it there, or we want to keep this one open because it's more specific?

[2016-07-13 13:01] svbergerem commented on #6447
@Wotanhaecker

1. Following an account has already been mentioned in #6822.
2. You can already add stuff to your bio (including links to a website/shop/music video and images which could look like a button) and with 0.6.0.0 you are able to make your bio public so everyone sees it when looking at your profile.
3. “Official” accounts would have to be checked by podmins (I don't see anyone else who c

[2016-07-13 13:04] SuperTux88 commented on #4317
This is #4317? 😉

[2016-07-13 13:12] Flaburgan commented on #4317
Sorry I was talking about https://github.com/diaspora/diaspora/issues/4773

[2016-07-13 13:40] Flaburgan commented on #3155
I created a pull request https://github.com/diaspora/diaspora/pull/6819 to fix this issue but @denschub told me it was not the way to go. So we're now tracking this problem with https://github.com/diaspora/diaspora/issues/4997 and this issue can be closed.

[2016-07-13 13:48] #3155 closed

[2016-07-13 20:46] AlexanderMcNulty opened #6916 "Grammerly Plugin disables comment submission"
Perhaps this is a part of your security, but I thought I would mention this issue that I discovered.
I just joined the community and I wanted to leave a comment. I was unable to while I had my Grammerly plug-in running; however, once i turned off the chrome plugin everything worked fine.

See images below:

(with plugin vs without plugin)
<img width="659" alt="screen shot 2016-07-13 at 1 44 23 pm"

[2016-07-14 09:35] SaiVardhan commented on #6642
@Flaburgan  can you elaborate to fix this issue

[2016-07-14 15:55] cmrd-senya commented on #3771
Open his profile in another tab
Remove this person from this aspect by clicking in the cross
In your other tab, on the profile of this person, click on the dropbox "aspect"

So you remove person from aspect and then expect changes on another tab? But how does another tab could get acknowledged of the changes you make on the different tab?

On current develop I see no changes on the second tab when

[2016-07-14 22:00] Flaburgan commented on #6642
@SaiVardhan what do you need to know? Simply create a new conversation (private message) with some markdown in the subject and at the beginning of the message, and you will see in the right list that the markdown is not stripped (**subject** will appear `**subject**`). As in the notification panel, it should be stripped.

@noplanman to completely hide the link or to show it is another question, yo

[2016-07-15 08:44] #6485 closed

[2016-07-15 09:57] denschub commented on #6763
Now that #6918 is merged, I'm curious to know you experience less memory usage!

[2016-07-15 18:05] wildaces215 commented on #6801
Is this bug still open?

[2016-07-15 18:57] cmrd-senya commented on #6801
Yes

[2016-07-15 22:19] cpt1gl0 commented on #6843
Yes, maybe we should go with a "Popular" stream instead. In that way we do not need to extend the existing GUI in any way, except for the additional link to the "Popular" stream.

Concerning the algorithm I would prefer to use the Reddit hot ranking algorithm and not to cook up something new. After all the Reddit algorithm is already out in the wild for quite some time and seems to do what it is e

[2016-07-16 07:44] AugierLe42e opened #6920 "Able to send PM to someone who is sharing with me and who I'm not sharing with"
I'm rising this issue because I've discovered while working on #6917 that the system accepts that a user A sends a private message to user B that is sharing with A even though A is not sharing with B. This is strange because when A go to the profile page of B, no private message icon is displayed, so I'm not sure where the bug is.

#6917 uses [SearchBase](https://github.com/diaspora/diaspora/blob/

[2016-07-16 22:05] Flaburgan commented on #6763
I'm currently monitoring it really carefully, it's too soon to tell but it looks very promising. It would be cool to have feedback from people still running ruby 2.2 too (ping @jaywink ? )

[2016-07-17 00:55] SuperTux88 commented on #6898
@cmrd-senya: The problem with supporting 3 versions is, that we need to add 4 more jobs to travis, and I think we have already enough jobs. But we can replace the 2.2 jobs with 2.3 and support 2.1 and 2.3 officially, and 2.2 would probably work too, but is not supported officially (as 2.3 works now, but is not supported officially).

[2016-07-17 07:33] #6850 closed

[2016-07-17 15:05] Zauberstuhl commented on #6859
this can be handled by the xmpp server only. Since we will continue with the wrapper I suggest moving the issue to https://github.com/Zauberstuhl/gem_diaspora-prosody-config ?!

[2016-07-17 15:20] Mikaela commented on #6668
I think the specification https://www.w3.org/TR/push-api/should be linked and if I understand correctly, there is no registering every pod API keys to push services.

Possibly should be also linked (I use Firefox for Android, so Mozilla links) :
* https://developer.mozilla.org/en/docs/Web/API/Service_Worker_API
* https://developer.mozilla.org/en/docs/Web/API/Push_API

[2016-07-18 05:01] denschub commented on #6668
Sadly, Firefox and Chrome are the only browsers that have implemented the Web Push API, so it won't work in Safari and Internet Explorer/Edge. In addition, the Mozilla Push Service is the only one that would work without API keys. In Chrome, push messages [have to get routed through GCM](https://developers.google.com/web/updates/2015/03/push-notifications-on-the-open-web), thus requiring GCM API k

[2016-07-18 05:12] denschub commented on #6044
No, you did not miss anything. I can confirm there is a blank target on mobile.

[2016-07-18 05:16] denschub commented on #3529
Probably. That depends, though. Individual issues are usually much easier to search, so if there are larger tasks, feel free to open individual issues.

[2016-07-18 05:18] denschub commented on #4317
Fla is right, #4773 contains more discussion, so I'm closing this.

[2016-07-18 05:18] #4317 closed

[2016-07-18 05:22] denschub commented on #6898
We discussed this on IRC a few days ago, but I lost track of the decision. Urgh. So let's discuss here again.

Supporting three versions is not really an option because of the reasons outlined by @SuperTux88, but I feel fine with supporting 2.1 and 2.3. That is, replacing 2.2 by 2.3.

Any other opinions?

[2016-07-19 08:55] Flaburgan commented on #6763
So here is the result of my recent tests:
![memory-dfr](https://cloud.githubusercontent.com/assets/930064/16944005/e323ad90-4d9e-11e6-9c86-4ded7a94d963.png)

I'm using the default settings of diaspora*, concurrency of typhoeus is 20.
1. Old federation, ruby 2.2, default settings
2. New federation, ruby 2.2. The memory is stabilizing lower at 50% (12GB), it's already better
3. New federation, ruby

[2016-07-19 09:51] denschub commented on #6763
Uh, I did not expect to get a 50% memory usage decrease out of my patch. 😮

[2016-07-19 10:35] jhass commented on #6763
We can also document some GC tuning apparently, I'm running Ruby 2.3 with the latest develop and the following environment variables set for a couple of days:
[code]

**Do not blindly set these**. Read on.

While I get a lower and more stable memory usage with these, the values I picked there are very very aggressive. On my defacto single user pod I do not notice any real slow downs, but I would e

[2016-07-20 17:13] jaywink commented on #6763
![selection_285](https://cloud.githubusercontent.com/assets/1174866/16995368/a83bb814-4eb4-11e6-8db5-f3aa09e51352.png)

The HQ pod started not restarting itself (as I've told it to) every time Sidekiq tops 10G after the last code deploy, which was ~1st of July. Well, it did top 10G once after that, not sure why - maybe the initial restart was unclean or something.. Anyway, now it seems more stable

[2016-07-20 18:09] Flaburgan commented on #6763
@jaywink can you also tell us which Ruby you are using?

[2016-07-20 18:15] jaywink commented on #6763
Whatever is in `.ruby-version` in the code repo is always used for both. Looks like HQ has ended on 2.2.4 and iliketoast.net on 2.2.1, probably because I haven't deployed it in a while.

[2016-07-21 06:03] githubgnulinux opened #6924 "Integrate comments of reshared posts"
It would be useful to be able to combine into a single view, of comments of reshared posts, with the original post.

https://diasp.eu/posts/3696869

[2016-07-21 08:23] denschub commented on #6924
Duplicate of a mixture of #4219 and some discussions on Loomio, like [this one](https://www.loomio.org/d/ObyhtVp6/-like-shared-posts-up-to-the-source-and-inform-also-the-sharing).

[2016-07-21 08:23] #6924 closed

[2016-07-24 20:02] morashid92 opened #6927 "Can't view captcha image on sign up"
Hi guys I am terribly sorry beforehand if this query is too stupid or has been answered before. But I have just installed and running the master version of diaspora locally. I am at the sign up page and the captcha image is broken preventing me from moving forward. I have tried it in safari and google chrome but both don't show anything. Has anyone come across this before? Might also be a possible

[2016-07-24 20:06] thefox41 commented on #6927
In fact yeah i faced it before and the only.only working solution is to deactivate it from settings file by hashing it......... Put a hash # before the enable section so it wont be used nedt time..... Try it without captch

[2016-07-24 20:08] jhass commented on #6927
Could you look through your `log/production.log` or `log/development.log` respectively for the error?

[2016-07-24 20:13] morashid92 commented on #6927
@thefox41 do you mean settings.js?
@jhass  I have just has a look, the only 'error' in the log is failing Human Verification which is obviously failing to answer it correctly. On the other hand here is the last few lines on the log:
`[2016-07-24T20:57:10] DEBUG PID-53534 TID-70317486392420 ActiveRecord::Base:   [1m[35m (0.6ms)[0m  COMMIT
  Rendered simple_captcha/_simple_captcha.haml (0.1ms)

[2016-07-24 20:15] jhass commented on #6927
No, I mean the failing captcha request while loading the sign up page.

[2016-07-24 20:15] thefox41 commented on #6927
Nooo.... Ya zaki :D.    In diaspora. Yml file     under enable line just put hash and you wnt face such a thing until we figure out what is casuing. It

[2016-07-24 20:25] morashid92 commented on #6927
@jhass I don't understand. This is what I get in the development.log when I load the `http://localhost:3000/users/sign_up` page.
[code]

[2016-07-24 20:26] jhass commented on #6927
Click `View image` on the broken image and see if there's an error page?

[2016-07-24 20:31] morashid92 commented on #6927
@jhass Nothing just a blank page.
@thefox41 Doesn't work I think I need to restart my server after changing

[2016-07-24 20:55] jhass commented on #6927
And what's the new output in the log on that blank page?

[2016-07-24 22:26] morashid92 commented on #6927
@thefox41 your solution worked after restarting the server.
@jhass I figured out the problem, `simple_captcha2` gem relies on ImageMagick  [https://github.com/pludoni/simple-captcha](url) which in my case wasn't configured properly on my machine.

I simply re installed it using`ghostscript` and it worked.

[2016-07-24 22:26] #6927 closed

[2016-07-26 03:59] KentShikama opened #6928 "Closed account on local pod still shows up on search"

[2016-07-26 04:23] KentShikama opened #6929 "Likes and reshares by users that the author has ignored show up on authors original post"

[2016-07-26 04:29] denschub commented on #6916
Interesting. Are there any error messages in the browsers error console? In chrome, press F12 and Ctrl-Alt-I/Cmd-Option-I and select Console.

[2016-07-26 04:40] ABISprotocol commented on #6929
Of course they can, because they are public.

Please see my extended commentary on this issue here:
https://github.com/diaspora/diaspora/issues/1734#issuecomment-235160532

[2016-07-26 05:00] KentShikama commented on #6929
I'm wondering if likes and reshares are relayed from the author's pod (not directly from the blocked user) just like comments are.

[2016-07-26 08:26] SuperTux88 commented on #6929
Comments and Likes are fixed with #6873, Reshares can't be blocked, because they are new posts by the ignored person, which you can't delete.

[2016-07-26 08:49] KentShikama commented on #6929
@SuperTux88 Sure but reshares by the blocked user can be hidden from the original post right?

Graphically, this wouldn't be showing up (assuming that is the blocked user):

![screen shot 2016-07-26 at 5 47 44 pm](https://cloud.githubusercontent.com/assets/6329898/17131591/21bdcefe-5359-11e6-9f09-22df20b69281.png)

[2016-07-26 08:55] SuperTux88 commented on #6929
No ... or yes, but only on your pod, so everybody else can still see it.

[2016-07-26 09:00] SuperTux88 commented on #6929
Also, this would be weird for other users on your pod, when they can see the reshare, but don't see the avatar on the post. So maybe only hide it for you, if that is what you want?

[2016-07-26 09:01] KentShikama commented on #6929
@SuperTux88 Everyone else can still see the reshared post but they all can't see the fact that it is a reshare right? Here is my understanding (guess) of the federation:

User A makes a post on pod A
User B reshares post on pod B
The fact that User B has reshared is relayed back to pod A which relays to all other pods that User B has reshared
The actual post is relayed as a new post by pod B to al

[2016-07-26 09:05] SuperTux88 commented on #6929
No, reshares are not relayed, they are new posts from the user B, that link to the post from user A. So all people on pods where user B has contacts can see the reshare (and the fact that user B has reshared it).

[2016-07-26 09:10] KentShikama commented on #6929
Ahh ok interesting. Thanks for the explanation. I'll close this since there doesn't seem to be a simple solution here.

[2016-07-26 09:10] #6929 closed

[2016-07-26 23:33] dcapeletti opened #6930 "List words when writing # in a publication."
Hi, it would be interesting for the user when writing a # in a publication, the words associated with writing as well as done in the Search display.
![captura de pantalla de 2016-07-26 20 31 53](https://cloud.githubusercontent.com/assets/5890886/17158935/0bff4ce8-5370-11e6-89ee-8bb16eaeb653.png)

[2016-07-26 23:44] dcapeletti commented on #6278
Thank you for building this wonderful social network. What is the status of implementation of the groups? 0%, 10%, 50%, 80%, 100%

[2016-07-26 23:46] angerella10 commented on #6882
@denschub @goobertron may i request to divide this feature into two instead of one whole feature. (1)mention (2)message so I would be able to pull a request on the mention icon to hovercards since I'm already done with it.

[2016-07-26 23:49] SuperTux88 commented on #6278
0%, because AFAIK nobody started implementing it.

[2016-07-27 12:27] hibumbapartha opened #6931 "In README.md file URL pointed to wiki and other is not opening."
Any URL which is started with https://diasporafoundation.org/ is not opening.

[2016-07-27 12:33] denschub commented on #6931
Can you be more specific? The website works fine for me, and so do all links in the readme. What exactly is your issue?

[2016-07-27 12:35] denschub commented on #6930
Duplicate of #6076.

[2016-07-27 12:35] #6930 closed

[2016-07-28 16:36] jaywink commented on #6763
Well, seems stable enough - and lower memory usage than iliketoast.net.

Currently, and quite stable over last ~8 days:

![selection_289](https://cloud.githubusercontent.com/assets/1174866/17221021/99187984-54fa-11e6-9383-080774d0f0d9.png)

[2016-07-28 19:45] denschub commented on #6763
Cool.

[2016-07-28 22:52] Flaburgan commented on #6763
Nice so that means the improvement is there even with 2.2 :)

d-fr is still slowly increasing but only uses 35% of memory after 15 days.

[2016-07-31 14:37] goobertron opened #6933 "Add hovercards to recipients in conversation composer"
I've just discovered that when you have more than one contact for a person, it is impossible to tell which account is which in the conversation composer if their screen name is the same, as that is all that is shown.

I suggest adding a hovercard here. I think it would be good to add them both to the recipients in the list and to the auto-complete results when typing, so that you can find which ac

[2016-08-01 07:15] Flaburgan commented on #6933
I thought we had an issue about that too. I don't feel like we should have an hovercard here, but this should work like mentions (indicating the diaspora id), and https://github.com/diaspora/diaspora/pull/6917 should add that ;)

[2016-08-01 12:17] goobertron commented on #6933
Ah, I see what you mean. The pod I use is on 0.5.9.1, but I've just checked out one running develop and there's now an ID included. Nice change! Yes, that would be a good solution in the conversations composer. I suppose it's best if I leave this open until #6917 has been tested and merged and it's certain that this functionality will be included.

[2016-08-01 21:03] svbergerem commented on #6933
@goobertron I guess this is a duplicate of #5091?

[2016-08-02 08:54] githubgnulinux opened #6936 "conversations mailing list functionality"
Loomio is inaccessible via anonymous internet (e.g. tor) and probably also inaccessible via diaspora account sign-in.

The 'conversations' function in diaspora should be used as a mailing list tool, to subscribe to specific discussion threads concerning diaspora

https://diasp.eu/posts/4498087

[2016-08-02 11:58] goobertron commented on #6933
Ah, well found, that man! Closing this now.

[2016-08-02 11:58] #6933 closed

[2016-08-02 17:45] Flaburgan commented on #6763
The memory usage of d-fr now looks quite stable for one week around 35%. This is still higher than the usage with 0.5, but it looks like we have no real leak anymore. Maybe we can keep this issue open because there is still room for improvements and tweaking as @jhass said, but it would feel okay for me if we remove the 0.6 milestone on that issue. Thanks a lot @denschub for the patch!

[2016-08-03 16:05] DeusFigendi opened #6937 "Own posts are repeated in mobile /activity"
Hi, a video says more but athousant words ;D

https://vimeo.com/177424102

As you can see some of my own posts apear multible times in my mobile /activity/-stream. I think it apears once per interaction, so every like creates an incarnation of the same post.

I am using geraspora so this is about the version 0.5.99.0-pc5e151ff

<sub>(sorry if my English isn't that good, I didn't install a spell ch

[2016-08-04 09:12] githubgnulinux opened #6938 "monitor diversity in diaspora"
Inspired by a post (https://diasp.eu/posts/4504438), proposal to answer the following:

1. How many women are diaspora programmers?
2. How many women are diaspora users?
3. What is the strategy of diaspora to achieve parity?

[2016-08-04 09:37] prellele commented on #6938
Thank you for posting this issue! I think this would be much better preserved on Loomio, please consider opening a thread there.

[2016-08-04 09:54] githubgnulinux commented on #6938
Unable to use loomio for various practical and strategic reasons. Others are of course free to post to loomio...

https://github.com/diaspora/diaspora/issues/6936

[2016-08-04 10:25] Flaburgan commented on #6938
I can access loomio without any troubles using Tor and you can register as on github without having to use any third party service. Please open a topic on loomio, this is not related to the code.

[2016-08-04 10:56] githubgnulinux commented on #6938
As you know, loomio is hosted by cloudflare who provide a proprietary reverse proxy web service. Whilst you may (or not) have selected a specific tor relay/exit node that is not marked by cloudflare, that decision is random. At the time of writing, access to loomio is denied until a proprietary geevil/recapta image is selected (impossible on a text-mode browser).

As for relation to code quality,

[2016-08-04 11:10] denschub commented on #6938
As I told you many times before, GitHub is not the place to discuss about project management decisions and I will not repeat this anymore. You've opened enough issues you can read about the reasons in detail.

Please be aware that, starting now, I'll simply close all issues you create which are not suitable for GitHub with a link to this comment.

[2016-08-04 11:10] #6938 closed

[2016-08-04 11:10] denschub commented on #6936
https://github.com/diaspora/diaspora/issues/6938#issuecomment-237523692

[2016-08-04 11:10] #6936 closed

[2016-08-04 11:25] cmrd-senya commented on #6936
BTW, [there are](https://wiki.diasporafoundation.org/How_we_communicate#Mailing_Lists) mailing lists of diaspora project. They aren't widely used, but since they are on that page, I guess they may be considered as an official place for discussions of non-technical questions. You can use it from tor and it doesn't require cloudflare captchas or google account.

[2016-08-04 11:51] githubgnulinux commented on #6938
Good for you! Surprising you haven't automated your discrimination. Maybe you should create a bug: "Automatically close bugs unpalatable due to title and/or original poster". It would probably take minutes to make top priority, test, application, closure...

[2016-08-04 11:57] githubgnulinux commented on #6936
The geevil mailing lists seem inaccessible via anonymous internet. What is wrong with mailman?

[2016-08-04 12:13] jhass commented on #6938
Leaving out context when quoting is just too much fun to not do it, isn't it?

[2016-08-04 12:14] githubgnulinux commented on #6936
Also note that the geevil mailing list system requires ability to render images, not possible in a text mode browser and further evidence of discrimination.

[2016-08-04 12:15] jhass commented on #6936
Please learn to read: https://wiki.diasporafoundation.org/How_we_communicate#Joining_a_mailing_list

[2016-08-04 12:18] githubgnulinux commented on #6938
As is the failure to declare in an open non-discriminatory, transparent explanation of what is (not) "suitable".

So, in common with the open decision framework, what is your reference that you use to declare "suitability"?

[2016-08-04 12:19] border0464111 commented on #6938
Sorting what is off topic and what's no is a quite easy thing to do. It seem clear to me that it a politic problem not a bug.

From my understanding some if not most programmers really dislike politics inside project devlopement operations due to the fact that is generate a lot of tentions and distractions from the actuals task. This is a work place, and people are acheiving stuff.

Your problem d

[2016-08-04 12:22] githubgnulinux commented on #6938
Assuming equal access is a lack of respect for those affected by barriers to equal participation.

[2016-08-04 12:22] githubgnulinux commented on #6936
Please learn to read:

"...requires ability to render images, not possible in a text mode browser..."

Read familiar? For example: https://github.com/diaspora/diaspora/issues/6897

[2016-08-04 12:25] jhass commented on #6936
As outlined in the wiki, you don't even need a browser to participate on the mailing lists. If you're unable to use your own MUA, there's only yourself to blame.

[2016-08-04 12:27] border0464111 commented on #6938
Plz look for solutions not way to make a point and force your self here.

If you need an ssh ssh tunnel you need to ask one, People are looking foward for solutions, and will be happy to help you if you ask, But if you came in with a fighting attitude and does not respect community, Poeple will try to fight you just by reflex. Seem like common sense to me.

[2016-08-04 12:31] githubgnulinux commented on #6938
A documented defence mechanism in the industry; unable to tolerate criticism.

[2016-08-04 12:33] githubgnulinux commented on #6936
Seems you are unaware of the mailing list instructions which unless mistaken, require redirect to a web page hyperlink which requires graphics mode rendering...

[2016-08-04 12:36] cmrd-senya commented on #6936
Do you mean this email?
![2016-08-04 15 34 49](https://cloud.githubusercontent.com/assets/10187586/17401939/2c7d6622-5a59-11e6-9aef-b0a6cee7e509.png)

[2016-08-04 12:46] border0464111 commented on #6938
Yeah and im rly trying to defuse it in my last two post.
- By explaining people expectations and how some behaviours can be rude for them,
- narrowing the real root of the problem,
- And come up with positive and inclusive solutions.

But it look like you prefer to continue the internet fight, and don't care much about a way to access loomio.
Im not gonna play this game it's just sucking my energy

[2016-08-04 12:48] jhass commented on #6938
Thank you for your time @border0464111, @githubgnulinux [is just a regular](https://github.com/diaspora/diaspora/issues?q=is%3Aissue+author%3Agithubgnulinux+is%3Aclosed).

[2016-08-04 12:55] githubgnulinux commented on #6936
If you have posted an image, not visible using a text-mode browser. Anyway, mailing list subscription instructions below:

"We received your request to join diaspora-discuss. In order for us to complete the request, please reply to this email or visit the following confirmation URL:

https://groups.google.com/group/diaspora-discuss/subscribe

If you have questions related to this or any other Goog

[2016-08-04 12:56] cmrd-senya commented on #6936
That's what I meant.

[2016-08-04 12:56] githubgnulinux commented on #6938
How does an ssh tunnel from a (cloudflare banned) ip address enable access through cloudflare?

[2016-08-04 12:57] githubgnulinux commented on #6936
OK understood, sorry and thanks.

[2016-08-04 12:59] border0464111 commented on #6938
@jhass  Oh damn. I see,
@githubgnulinux  http://www.catb.org/~esr/faqs/smart-questions.html

This is my last comment in this tread.

[2016-08-04 13:03] denschub commented on #6938
Locking this thread since it's leading nowhere but into an area with personal attacks.

[2016-08-04 13:09] githubgnulinux opened #6939 "Ban undesirables"
https://github.com/diaspora/diaspora/issues/6938 :)
https://diasp.eu/posts/4504788 :) :)

[2016-08-04 13:26] jhass commented on #6939
https://github.com/diaspora/diaspora/issues/6938#issuecomment-237523692

[2016-08-04 13:26] #6939 closed

[2016-08-05 09:04] githubgnulinux opened #6941 "update interface instructions for stream and public activity"
As a result of

https://github.com/diaspora/diaspora/issues/6938#issuecomment-237536275

Descriptions of bugs/enhancements/comments will be published within diaspora

Therefore, for this feature request, see

https://diasp.eu/posts/4489425

[2016-08-05 10:46] jhass commented on #6941
The contents of the project website are managed at https://github.com/diaspora/diaspora-project-site

[2016-08-05 10:46] #6941 closed

[2016-08-07 07:25] #6937 closed

[2016-08-08 15:33] #6120 closed

[2016-08-08 15:34] svbergerem commented on #6562
Fixed by #6864.

[2016-08-08 15:34] #6562 closed

[2016-08-08 15:45] svbergerem commented on #2522
Fixed by #6926.

[2016-08-08 15:45] #2522 closed

[2016-08-08 17:23] #6642 closed

[2016-08-08 17:56] svbergerem commented on #3771
Yes, looks like that has been changed. Just tried it again on develop. Of course the number of aspects doesn't change anymore and when you try to remove the contact from an aspect there is a flash message telling you

@Flaburgan Do you agree that we can close this?

[2016-08-08 19:59] #6786 closed

[2016-08-08 20:59] #6898 closed

[2016-08-08 21:01] #3771 closed

[2016-08-08 21:01] Flaburgan commented on #3771
Yep, looks fixed.

[2016-08-08 21:51] #6809 closed

[2016-08-09 08:03] #6776 closed

[2016-08-09 11:15] svbergerem commented on #6557
Fixed by #6944.

[2016-08-09 11:15] #6557 closed

[2016-08-09 17:52] #4789 closed

[2016-08-09 19:14] AugierLe42e commented on #6787
As discussed on IRC, I don't think #6951 is a nice fix to this. Triggering a new query to the searver each time the user wants to mention someone has at least two flaws:

1. the mentionning system is going to get much slower than before #6951 and probably _really_ slow on pod with high traffics (JD, d-fr or Framasphere),
2. the mentionning system will fail if the server or client temporarily goes

[2016-08-09 22:24] Flaburgan commented on #6787
I'm not sure about the perf here. I know my use case is not everybody's one, but I have thousands of contacts and each call to contacts.json take 6 seconds before the server's answer. So if we want to do the search client side, we need to keep the contact list in a cache, but we cannot continue to make a that intensive call to the server each time we refresh the page.

[2016-08-10 02:53] denschub commented on #6787
I'm reopening this so we have something open as a reminder to think about this.

[2016-08-10 06:31] AugierLe42e commented on #6787
Could we consider something like persisting the contacts list in a cookie?

[2016-08-10 09:46] #5571 closed

[2016-08-10 10:02] Flaburgan commented on #6787
No need to put it in a cookie, we can activate the cache on `/contacts.json`. We would then answer with a 304 and the browser will use the cached version. If a modification to the contacts is done by the user we then invalid the cache.

I'm fine with keeping this issue open but the 0.6 milestone can be removed: I don't have calls to contacts.json anymore when I load /stream.

[2016-08-10 10:10] #6438 closed

[2016-08-10 10:10] #6439 closed

[2016-08-10 11:08] SuperTux88 commented on #6787
@AugierLe42e have you tested it already? On my dev-pod it works really fast, so I have no idea why you think its slow? Also, on already slow pods, it is better to only be slower when you try to mention someone, instead of being slow every time you load /stream...

I think we should close the issue again, because this is fixed. And we can open a new one, if we see that the new search request is slo

[2016-08-10 11:31] AugierLe42e commented on #6787
Nope. But no need to test to know that triggering an HTTP request is slower than searching locally ;)

It's not only a question of speed:

[2016-08-10 12:24] SuperTux88 commented on #6787
slower yes, but you sounded like "OMG, it is unusable slow now!" ... before this, the whole stream was "unusable" slow for people with many contacts, so it is definitively a improvement compared to before. Maybe it can be improved more, but for now I see this issue done. And if it really is too slow, we should create a new issue for this.

the load of the stream will also fail, if the pod is offli

[2016-08-10 12:29] AugierLe42e commented on #6787
The user can continue to write posts if the pod is offline. That should be the expected behaviour. That the user cannot interact with the pod when he goes offline is an expected behaviour. The he can't even properly write a post is not.

It's not only the post. The user hislef can also go offline. Actually, it happens to me regularly. And I don't expect the mentionning system to fail when my compu

[2016-08-10 12:36] AugierLe42e opened #6956 "/contacts.json should use cache"
I open this issue to continue the discussion started in [#6787 (comment)](https://github.com/diaspora/diaspora/issues/6787#issuecomment-238660093).

#6951 removed Bloodhound contacts prefetching to solve #6787. That is a flaw to me. As stated in the discussion, I find allowing the mentionning system to fail if the pod or the user temporalily goes offline is bad UX. To solve the problem of speed wh

[2016-08-10 12:37] AugierLe42e commented on #6787
I just open a specific issue for this discussion so that this one can be closed.

[2016-08-10 12:52] #6787 closed

[2016-08-10 13:08] svbergerem opened #6957 "Misplaced char counter in the publisher"
![char counter placement](https://cloud.githubusercontent.com/assets/3798614/17554672/401b55ec-5f0c-11e6-9de7-24ba48ffa032.png)

[2016-08-10 13:21] denschub commented on #6956
Eh, no?

If anything, we should think about how to make the queries faster and how to reduce the amount of data in it so make the response smaller, but caching is not a good solution at all.

Probably, we shouldn't even be using such a method. Sending all contacts to the client just in case it could need them is insane. Instead, we should find a way to to filtered searches, similar to the issue we

[2016-08-10 13:31] AugierLe42e commented on #6956
*I.e*: requesting the server everytime the user wants to mention someone, which is wrong to me.

[2016-08-10 13:33] denschub commented on #6956
Wait. #6951 actually introduced a partial contact search, so if you type `@aug`, it will make a request to `/contact.json?q=aug`. So what exactly is your issue?

Is this the only thing? If the pod is temporarily offline, the user cannot publish a post. So what's the use case here?

No, that's actually required since the contact list changes regularly and adding a person just to mention them right

[2016-08-10 13:34] AugierLe42e commented on #6956
The use case is user should not be prevented to *only write* it.

[2016-08-10 13:41] denschub commented on #6956
So, you are talking about an user who had internet to load the stream and the publisher, then goes offline to write the post and comes back to submit it? What if the CSRF token is invalid by then? Or what if the session is expired? In such a case, the user spent a large amount of time just to see a 403 on the `POST` and a redirect to the login form. Great.

The use case you are trying to solve her

[2016-08-10 13:50] AugierLe42e commented on #6956
I'm talking about users with unstable connections like mine can be.

It's not complex att all.

    @people = Person.all_from_aspects(aspect_ids, current_user).for_json
    if stale?(last_modified: @product.updated_at.utc, etag: @product.cache_key)
      render :json => @people.to_json
    end

It's 5 lines top to get a proper 304.

[2016-08-10 14:02] Flaburgan commented on #6956
In that case the server knows the list of contacts changed so it should be able to served a new version of contacts.json. Mixed opinion here. I know cache can be problematic but I feel like we can deal with it without hurting the problem you describe here.

In another hand, I agree the use-case described by Augier is a very uncommon one so we should not spend time to solve that, it's a low priorit

[2016-08-10 14:22] AndreySV opened #6958 "Generate wrong url for "protocol relative URL" in profile's bio"
Steps to reproduce:

1. In profile's 'Your bio' field enter code

`<a href="http://u.fsf.org/16e"><img src="//static.fsf.org/nosvn/images/badges/fsfs_icons_beige-bg.png" alt="Free Software, Free Society"></a>`

2. Click 'Update profile'
3. Check profile page and notice that alternative text is show instead of image.

The problem is here "protocol relative URL" in img tag. All is working if protoco

[2016-08-10 14:37] jhass commented on #6958
Just always use `https` if available, this technique is an anti-pattern these days.

[2016-08-10 15:27] denschub commented on #6956
No, it's not. Your thinking has major flaws.

1. You still request the current person, the current persons aspects, all the contacts and all the `Person` instances for all the contacts, then put them into a JSON formatter. The only thing you're not doing in a cached situation is setting the return value. It could take ages for this to require, so the 304 response would take ages as well.  The type

[2016-08-10 15:55] AugierLe42e commented on #6956
Yes, that's the idea... That's what I'm saying since the very beginning: #6951 *is not* a proper solution to the problem. Let's be honnest on this: the use case I describe is not more unusual that the case of people having a lot of contacts. But #6951 affects *every* user while what was before affected only a few users. What I propose is to solve the problem for these few users while #6951 is abou

[2016-08-10 16:04] CSammy commented on #6956
There is just one little flaw in your argument, @AugierLe42e: Most people have a stable internet connection. This is not a common use case.

In addition, I see very few mentions on Diaspora\*. I doubt this is used more often than contact management. Maybe we should get anonymous statistics?

[2016-08-10 20:13] #6958 closed

[2016-08-10 23:06] #6800 closed

[2016-08-11 00:29] #5847 closed

[2016-08-11 00:29] #6801 closed

[2016-08-11 05:23] deavmi opened #6966 "Support for groups"
I think groups would be a cool feature. So you can post to a common group and users can also post to that group. Something like GNU Social groups.

[2016-08-11 05:24] deavmi commented on #6318
I don't agree with using anything Telegram related here.

[2016-08-11 05:25] deavmi commented on #6278
I'd love groups.

[2016-08-11 06:34] AugierLe42e commented on #6956
@denschub: I started to work on the POC yesterday. Here is what I can answer you:

Not it we use a cache server-side. Basically, the request resut would be put in a cache and invalidated every time the user adds or remove a contact. This would be achieved by adding to [Person](https://github.com/diaspora/diaspora/blob/develop/app/models/person.rb#L70) the following snippet:

[code]

Not anymore. I

[2016-08-11 08:11] Flaburgan commented on #6318
@deavmi this is not about Telegram itself, only the emoticon pack. Though this is probably not going to be implemented as we could easily support emoji.

[2016-08-11 08:12] Flaburgan commented on #6966
Duplicate of #6278

[2016-08-11 08:34] #6966 closed

[2016-08-11 10:02] svbergerem commented on #2382
This sounds to me like something a browser add-on should do. If you are concerned about shortened URLs then you are most likely concerned about them on all websites. Can we close this issue?

[2016-08-11 11:28] #6795 closed

[2016-08-11 11:50] denschub commented on #2382
Agreed with @svbergerem.

[2016-08-11 11:50] #2382 closed

[2016-08-11 13:20] svbergerem commented on #6137
I think the current situation is good as it is. Having the white color for active header links is handy for keyboard navigation. I just had a look at twitter and they are doing the same thing in their header: https://twitter.com/joindiaspora (try the login dropdown)

This is definitely not a bug and for me this is the intended behavior. Any other opinions?

[2016-08-11 14:27] Flaburgan opened #6969 "Load default avatars when they are 404 on tag page"
https://diaspora-fr.org/tags/diaspora

See movilla's image which is broken, for example.

[2016-08-11 14:46] fbe commented on #6956
-1.

Don't use caches if you don't exactly know what you are doing. Caches are really complex systems and using them just to avoid another issue it not a good idea.

![](https://cdn.meme.am/instances/500x/70758110.jpg)

[2016-08-11 14:58] AugierLe42e commented on #6137
I'm ok with closing this.

[2016-08-11 14:59] #6137 closed

[2016-08-11 16:42] deavmi commented on #6318
I'd rather support emoji.

[2016-08-11 20:43] goobertron commented on #6318
There's a Loomio discussion about emoji support [here](https://www.loomio.org/d/esJaABHn/add-smileys-support-).

The main thrust of opinion among people who actually contribute to the project is that any emoji set supported would need to fit well into Diaspora's UI. I started a [proposal on the wiki](https://wiki.diasporafoundation.org/Emoji) suggesting several design approaches. Most people prefe

[2016-08-12 09:01] svbergerem commented on #6916
We display the submit button if the comment box is focused or the input is valid (non-empty). We do that for the submit button next to the comment box here: https://github.com/diaspora/diaspora/blob/c7e3f2f/app/assets/stylesheets/comments.scss#L46

Grammarly wraps the comment box with `grammarly-ghost` and `grammarly-btn` elements and thus the submit button isn't next to the comment box anymore. I

[2016-08-12 09:05] svbergerem commented on #6575
@MartinDelille We switched from Selenium Webdriver to Poltergeist so now the cucumber tests run in PhantomJS instead of Firefox. Could you give this another try and tell us if the tests still fail?

[2016-08-12 09:08] svbergerem commented on #6294
@SuperTux88 Has this been fixed in the federation rewrite?

[2016-08-12 09:11] SuperTux88 commented on #6294
No, I haven't changed anything here, but this should be easy to fix, I'll have a look at the weekend.

[2016-08-12 09:12] svbergerem commented on #6620
The only place where we seem to use "Yes" and "No" is on the admin page to tell the admin if a user closed their account. Can we close this?

[2016-08-12 10:28] jhass commented on #6620
Yes, the key is actually namespaced to its usage there.

[2016-08-12 10:28] #6620 closed

[2016-08-12 10:29] jhass commented on #6916
Agreed.

[2016-08-12 10:29] #6916 closed

[2016-08-12 12:11] #6842 closed

[2016-08-12 12:11] #6852 closed

[2016-08-12 12:11] #5748 closed

[2016-08-12 21:57] svbergerem commented on #4875
Fixed by #6406.

[2016-08-12 21:57] #4875 closed

[2016-08-12 21:58] svbergerem commented on #5801
Fixed by #6551.

[2016-08-12 21:58] #5801 closed

[2016-08-12 21:58] svbergerem commented on #4326
Fixed by #6551.

[2016-08-12 21:58] #4326 closed

[2016-08-12 22:01] cmrd-senya commented on #5801
Horray! More marked up posts on diaspora! Welcome, user friendly publisher! Thanks @AugierLe42e!

[2016-08-13 06:36] #6957 closed

[2016-08-13 12:16] #5116 closed

[2016-08-13 18:20] MartinDelille commented on #6575
Ok it cloned again, ran `rails s` but I have the following error:

[code]

Running `sudo gem install rails` doesn't fix the problem.

[2016-08-13 18:33] AugierLe42e opened #6979 "Opening the aspect dropdown and clicking anywhere closes the publisher on FF dev"
I'm not sure what's going on but opening the aspect dropdown in the last Firefox developer edition (50.0a2 (2016-08-13) here) inserts a div that take the whole page and triggers the closing of the publisher when clicking anywhere in the page except the dropdown menu (this means when clicking on the dropdown button itself too).

![dropdown-backdrop](https://cloud.githubusercontent.com/assets/342923

[2016-08-13 18:39] jhass commented on #6575
Run `bundle` and then `bin/rails s`.

[2016-08-13 19:35] MartinDelille commented on #6575
Do you want to document this for you?

[2016-08-13 19:36] jhass commented on #6575
It's documented in our installation guides.

[2016-08-13 19:36] MartinDelille commented on #6575
Where is it?

[2016-08-13 19:37] jhass commented on #6575
In our wiki.

[2016-08-13 19:38] MartinDelille commented on #6575
The thing is when I see a github project, I want to get the local installation instruction within the README, do you want to add it for you?

[2016-08-13 19:39] jhass commented on #6575
They're too complex and OS specific and too different between development and production for the readme.

[2016-08-13 19:42] MartinDelille commented on #6575
Anyway, is diaspora on Liberapay, I made a donation promise on it: https://liberapay.com/on/twitter/joindiaspora/ (but maybe it is not the good account?)

[2016-08-13 19:42] MartinDelille commented on #6575
I can sum it up in a CONTRIBUTING.md file: I'm a documentation ninja

[2016-08-13 19:43] jhass commented on #6575
I'm not aware we ever authorized this server, I think it created that without our consent. We use bountysource.com to gather bounties.

[2016-08-13 19:45] MartinDelille commented on #6575
As you wish, I'm only on Liberapay.

[2016-08-13 19:46] jhass commented on #6575
If you want to contribute some documentation, the OS X installation guides in the wiki could use some serious love and still need to be ported to the format and templating system used by the other guides.

[2016-08-13 19:46] MartinDelille commented on #6575
Send me the link, I'll fix it

[2016-08-13 19:48] jhass commented on #6575
https://wiki.diasporafoundation.org/Installation use the Ubuntu guides as a reference, look at its source to see how the templates are used (and use them).

[2016-08-14 05:34] svbergerem commented on #6979
Clicking anywhere on the page outside of the publisher closes the publisher. It has been like that for quite some time and it behaves the same on the current master branch. Clicking on the dropdown button itself shouldn't close the publisher and I'm neither able to reproduce this with Firefox 50.0a2 (2016-08-05) nor with Firefox 50.0a2 (2016-08-13). I'm also unable to find the `.dropdown-backdrop`

[2016-08-14 07:26] AugierLe42e commented on #6979
I meant it also closes the publisher when you click *inside* the publisher. That's weird you can't reproduce it. I've reset my local develop branch to upstream's develop branch to be sure and I confirm that it is still happening on FF 50.0a2 (2016-08-13). I'll test with Firefox for Android but if everything goes normal, I'll close this.

[2016-08-14 08:57] AugierLe42e commented on #6979
I confirm that it's happening both on Firefox for Android and [diaspora for Android](https://github.com/Diaspora-for-Android/diaspora-android) (Blink) on diaspora-fr.org. I opened #6981 to fix this.

[2016-08-14 11:15] svbergerem commented on #6979
The `ontouchstart` event has to be available to add the backdrop: https://github.com/twbs/bootstrap/blob/df08d95495cf3cd9278099dc91c630423eccc846/js/dropdown.js#L69

After enabling the touch events in the responsive design mode I was able to reproduce the bug.

[2016-08-14 11:58] AugierLe42e commented on #6979
Ah, yes! I was testing #6555 earlier so I did enable the touuch events.

[2016-08-14 16:28] #6294 closed

[2016-08-15 10:01] gsantner opened #6988 "[mobile] Markdown rendering horizontal line"
The markdown below renders differently/inconsistent on mobile and desktop view:
There should be a horiziontal line below the 3 underscores.

[code]

Desktop:
![bildschirmfoto von 2016-08-15 12-00-15](https://cloud.githubusercontent.com/assets/6735650/17661525/f66fbe2e-62df-11e6-839b-e3030e814942.png)

Mobile:
![bildschirmfoto von 2016-08-15 11-59-36](https://cloud.githubusercontent.com/assets/6735

[2016-08-15 11:46] jhass commented on #6988
We really need to replace redcarpet with something following the commonmark spec.

[2016-08-15 12:10] #6152 closed

[2016-08-15 14:39] cmrd-senya opened #6989 "Aspect membership dropdown doesn't show on search if ID is being fetched"
When you make a search query for a yet unknown diaspora ID, the `PeopleController` initiates WebFinger query in the background. In this case, the search result list is populated after the discovery has been finished. In this case aspect membership dropdown doesn't get populated properly.

regression from #6864

[2016-08-15 16:00] svbergerem commented on #6989
https://github.com/diaspora/diaspora/blob/df440ed/app/assets/javascripts/contact-list.js#L19

[2016-08-15 16:03] cmrd-senya commented on #6989
Yep, thanks, found that already. I'm currently seeking the way to write a test for the feature.

[2016-08-15 18:35] denschub commented on #6575
In case @jhass's statement was not clear enough:

We (that is, the diaspora\* core team) do neither use, nor endorse liberapay.com to collect bounties for our project in any way. The profile/account/whatever was created without our consent or knowledge. We exclusively use bountysource.com for official project bounties. Whatever happens at liberapay.com is not controlled nor endorsed by the project

[2016-08-15 18:42] MartinDelille commented on #6575
No account where created on Liberapay, it is just a promise. If the owner of the organization decides to create an account on Liberapay and connect the github organization, the project will start to receive donation (currently 0.10 cents per week).

Why using Liberapay instead of bounty source? Because it has no fee (only very small fee collected by our payment processor). Liberapay is funded on L

[2016-08-15 19:00] denschub commented on #6575
Because we do not have the resources to monitor two platforms for the same thing. Bountysource works great so far and we have no reasons to look for another platform. I have locked our identity on Liberapay.

TL;DR: do not use the project's name to promote anything that involves money without talking to the core team beforehand.

Any decisions in this project, including decisions about when/how we

[2016-08-15 19:09] MartinDelille commented on #6575
I didn't in any case use the project name to promote anything, I just made a donation promise to a github organization. The system is secured so only the organization owner can link the account and collect the fund. If you have a problem with me doing this promise, tell me and I'll remove it.

[2016-08-15 19:11] denschub commented on #6575
It is already removed.

[2016-08-15 20:45] svbergerem commented on #6575
Would you mind getting back to topic?

@MartinDelille Do you still have the issues running cucumber tests after installing bundler and calling `bin/bundle`?

[2016-08-15 21:10] #6979 closed

[2016-08-16 01:10] MartinDelille commented on #6575
After running `bin/bundle` and `bin/cucumber`, I have the following errors:

[code]

(I didn't put the whole log)

[2016-08-16 06:58] jhass commented on #6575
Sounds like you checked out the master or stable branch rather than the develop branch where development happens.

[2016-08-16 07:52] MartinDelille commented on #6575
I have a different behavior on the develop branch:

[code]

I also tried to run `bin/rails s` without success:

[code]

[2016-08-16 07:53] jhass commented on #6575
Run `bundle install --with mysql` or `bundle install --with postgresql`.

[2016-08-16 08:28] MartinDelille commented on #6575
Ok I did update my forked documentation: https://github.com/MartinDelille/diaspora/blob/osx2/OSX.md (feel free to update your wiki from it).

The cucumber tests are launching, there is several error but it is still on the way. I'll send you the report as soon as possible.

[2016-08-16 08:28] MartinDelille commented on #6575
[code]

[2016-08-16 08:30] jhass commented on #6575
Is this the guessing game where you guess the error messages? Okay, I start, does it contain an "E"?

[2016-08-16 08:31] MartinDelille commented on #6575
Yes:

[code]

(this is only the first failing scenario)

[2016-08-16 08:33] jhass commented on #6575
Top answer on Google: http://stackoverflow.com/a/33262719/2199687

[2016-08-16 08:41] #4491 closed

[2016-08-16 09:24] cmrd-senya commented on #6107
Does anyone work on fixing this?

[2016-08-16 09:30] jhass commented on #6107
I think Steffen mentioned something about using the new contact search route for the search and pagination/infinite scrolling for the list. Not sure whether he started work on that already though.

[2016-08-16 09:42] AugierLe42e commented on #6988
Could rendering post client-side be a viable solution?

[2016-08-16 09:48] cmrd-senya commented on #6988
Is using server-side markdown rendering in mobile is a design decision made on purpose to reduce complexity/loading?

[2016-08-16 09:55] svbergerem commented on #6107
My last idea was the following:

1. Remove the current search on the contacts page
2. Modify the contacts page code to use pagination/infinite scrolling instead of loading all contacts and aspect memberships
3. Implement a new search for the contacts page by adding a search bar that opens a new search page after hitting return. Modify the current contact search to return aspect memberships when so

[2016-08-16 10:01] svbergerem commented on #6107
Since the people search now also includes contacts we might even consider dropping the search from the contacts page.

[2016-08-16 10:20] cmrd-senya commented on #6107
Let me study the issue and consider my resources first

[2016-08-16 11:34] Flaburgan commented on #6107
+1 to find a way to unify search and contacts management. This was discussed in #4773.

However even if I approve this idea I feel like it's maybe not the time to do it, we'd like to freeze this weekend and this solution needs both time and thinking to be done correctly. Maybe we can find an easier workaround to be able to release 0.6 first and then work on this without pressure?

[2016-08-16 11:43] svbergerem commented on #6107
@CSammy suggested on the IRC channel to keep the search bar but send users to the people search page once they hit return. We would only need an additional parameter there (`only_contacts`?) and use it in the `Person.search` call. I suggested this solution because I'd still consider combining pagination and filtering contacts like it works right now a problem that is harder to solve and needs more

[2016-08-16 11:47] Flaburgan commented on #6107
Maybe we could `order by` contacts first instead of only contacts in the search page?

[2016-08-16 12:23] cmrd-senya commented on #6107
It's still not quite clear to me. If we just implement pagination on `/contacts` and remove gon preload of contacts, what would break?

We have a search bar on every page that works in the same manner. Why we should change anything on contacts page specific for the search bar, if it works fine on every other page?

[2016-08-16 13:29] jhass commented on #6107
The current contacts search searches through the currently displaced contacts only, not the ones on the next loaded page.

[2016-08-16 13:35] cmrd-senya commented on #6107
Then contacts are loaded similary on every page, since we have the search bar everywhere? Why doesn't it make every page slow then?

[2016-08-16 13:37] jhass commented on #6107
We're talking about the search on the `/contacts` page, not the one in the header bar.

[2016-08-16 13:43] SuperTux88 commented on #6107
There is a second search-field if you select one of your aspects (from the left sidebar on the contacts page), so you can filter your other contacts to add to this aspect. But to make this filter work, we load all contacts, what makes the contacts-pages slow. So if we just use the normal people search instead (maybe with a parameter to display only contacts?), we don't need to load all contacts.

[2016-08-16 14:04] cmrd-senya commented on #6107
Ok, now it's clear, thanks!

I can work on it and I estimate that I can throw a PR by the end of the week considering [the workaround suggested](https://github.com/diaspora/diaspora/issues/6107#issuecomment-240078413). And proper search in contacts can be postponed after 0.6.0.0.

[2016-08-16 14:24] SuperTux88 commented on #6107
It would be good, if you have a PR before the end of the week, because it should be merged on friday (see [loomio](https://www.loomio.org/d/XBQ9Dbw5/comment/1100737): "If and only if #6107 is officially merged <= this Friday, I'll freeze 0.6.0.0 on this Sunday."). So we have still time for reviews.

[2016-08-16 19:38] cmrd-senya commented on #6107
16.08.2016 17:25, Benjamin Neff пишет:

I can do my best, but if there is someone who have resources to work on
it and confidence about the terms, then feel free to pick it.

And also: do we prefer pagination or infinite scroll? I'd vote for the
former.

[2016-08-16 19:44] jhass commented on #6107
I think I would actually prefer infinite scrolling here.

[2016-08-16 19:47] cmrd-senya commented on #6107
When I looked at the source code of `app.views.ContactStream` I saw that
it actually implements infinite scroll already, so I guess that the
better/easier way.

[2016-08-17 10:44] MartinDelille commented on #6575
After running `mysql_upgrade -u root -p --force` I have a different error:

[code]

[2016-08-17 11:00] jhass commented on #6575
Using Google for you suggests to make sure MySQL was fully restarted. If that doesn't help fully removing MySQL including all data directories and reinstalling it should help. Backup any data you still can access and want to keep prior.

[2016-08-17 11:07] MartinDelille commented on #6575
Sorry I'm not very good at mysql nor javascript and I prefer staying away from Google as much as I can.

I'm filling this bug report because I like your project but please take my contribution as is or close the issue if you think it is irrelevant.

Restarting mysql service seems to solve cucumber background setup, but I still have an error on the first scenario:

[code]

[2016-08-17 11:09] jhass commented on #6575
Well, I use Google synonym for whatever search engine you prefer here.

[2016-08-17 11:11] SuperTux88 commented on #6575
You need phantomjs version 2.1 or newer, see: https://wiki.diasporafoundation.org/Testing_workflow#Cucumber

[2016-08-17 14:46] dhovart opened #6997 "For posts with no message, title set at first on the page is different from title later loaded from the json"
It results in a flash in the title bar when loading the page. Which title should be set?

Maybe the post_page_title method from the posts helper should be be the only way to define a title for a post (and thus should be in the post presenter class).

[2016-08-17 14:49] jhass commented on #6997
I think I agree.

[2016-08-17 20:50] vanitasvitae opened #6999 "More-button of mobile views' public activities stream points to my activities stream"
When I'm on mobile view at /public, scroll to the bottom of the stream and click the "more"-button, I end up at /activity?max_time=XXXXXXXX instead of /public?max_time=XXXXXXXX

Is this intended?

[2016-08-17 20:52] vanitasvitae commented on #6999
PS: My pod is geraspora.de

[2016-08-17 22:22] svbergerem commented on #6999
This might be a duplicate of #5037.

[2016-08-18 06:47] #6107 closed

[2016-08-18 08:11] #6989 closed

[2016-08-18 10:46] svbergerem opened #7002 "Contact status not validated when creating/receiving conversations"
We currently have [a validation in the conversation model](https://github.com/diaspora/diaspora/blob/c8d43a8/app/models/conversation.rb#L20) to check that a contact for the conversation author exists but we don't check that we are actually sharing with the author.

@SuperTux88 told me that he'd prefer to add a fix to the federation at the same time to make sure that we don't drop conversations wit

[2016-08-18 11:36] #6920 closed

[2016-08-18 11:46] MartinDelille commented on #6575
I upgraded PhantomJS with `npm install -g phantomjs` but since then the command `bin/cucumber` is stucked and when I press Ctrl+C I have the following:

[code]

[2016-08-18 11:47] jhass commented on #6575
Try `bin/spring stop` and then again.

[2016-08-18 12:15] MartinDelille commented on #6575
Works better but fails again:

[code]

I thought I was using *mysql* but now it seems it want to use *postgresql*... I checked https://wiki.diasporafoundation.org/Main_Page but was unable to find how to set up the database.

[2016-08-18 12:16] MartinDelille commented on #6575
(I must precise I changed the config/database.yml to update the username)

[2016-08-18 12:17] jhass commented on #6575
`RAILS_ENV=test bin/rake db:create db:schema:load`

[2016-08-18 12:19] MartinDelille commented on #6575
First I tried:

[code]

Then:
[code]

[2016-08-18 12:20] jhass commented on #6575
You're not within your clone of the repository.

[2016-08-18 12:31] denschub commented on #6575
Okay, that's enough. Please stop this. GitHub is not a support chat. Please join [#diaspora on freenode](http://webchat.freenode.net/?channels=diaspora) to get assistance if you have trouble getting your setup running and please come back here to GitHub once you can reproduce the errors caused by wrong browser locales and have a discussion about that here.

[2016-08-18 13:21] MartinDelille commented on #6575
@jhass Sorry my mistake. The test run almost pass since I now have only two failing scenarii:

[code]

[code]

@denschub Shall we stop investigation or go on since we are almost there? I precise that I'm not here to require support. I'm just answering @svbergerem [question](https://github.com/diaspora/diaspora/issues/6575#issuecomment-239397380)

[2016-08-18 13:22] jhass commented on #6575
These are known random failures and we're aware of them. Thank you!

[2016-08-18 13:22] #6575 closed

[2016-08-18 19:23] #4020 closed

[2016-08-18 19:52] #6840 closed

[2016-08-18 21:05] gsantner opened #7004 "Posts from current user shown in all aspects"
Happens on mobile and desktop view.
All posts from the current logged-in user are shown in all aspects.
E.g. if I want to show just the Aspect "Fun", I can e.g. goto <https://mypod.tld/aspects?a_ids[]=12345>, which should just show content from people inside this particular aspect.

Here is for example one of my posts shown in the aspect fun, where I expect just  content from people I added to the

[2016-08-18 21:07] Flaburgan commented on #7004
Did you post it in "Public", "All aspects" or the "Fun" aspect?

[2016-08-18 21:17] gsantner commented on #7004
Good question, yeah maybe all aspects.
Tried it now,
All aspects, Public -> Visible in every aspect + Stream
Just for particular (Fun) -> Visible in Fun + Stream

I was just really suprised that, if I post multiple posts in a short time, the aspects with low activity did contain mostly just my posts on top.

The point is: For me personally it doesn't make sense to show posts from myself in the "As

[2016-08-19 01:46] dhovart commented on #6846
If I can be of any help, I use docker for my development environment.
I can update the wiki with what I've already written [here](https://github.com/dhovart/diaspora-docker) if that sounds good to you.

[2016-08-19 02:39] robbyoconnor commented on #6846
These should be officially documented. I should note however that Docker in development is good for end-to-end testing but typically I just run the services in docker and then run the app itself locally. It's not like vagrant in any way...on some systems it may have used virtualbox but on Linux it's not that great to run the app itself inside of Docker.

[2016-08-19 03:14] dhovart commented on #6846
Well, it's a good way to get started while keeping your system clean: you won't need to install all of the dependencies required by the project.
I'm not sure I see your point. If you can install the services with docker, then why wouldn't you want to do it for the app as well ?

[2016-08-19 04:54] robbyoconnor commented on #6846
I'm not sure -- I guess I just never figured it out...

[2016-08-19 05:57] dhovart commented on #6846
That's what volumes are for: you can mount a volume in your container that points to a host directory. I work on the code of diaspora in  host directly and the changes are reflected immediately in the container.
In the Dockerfile I create the [/diaspora](https://github.com/dhovart/diaspora-docker/blob/master/Dockerfile#L8) directory and set it to mount my [current directory](https://github.com/dho

[2016-08-19 06:00] dhovart commented on #6846
Docker-compose makes all even easier, as it lets you specify how your containers running the required services need to interact together and which image to use (for instance there are official images for redis or postgresql). Nothing else to do : it pulls the specified images, expose the ports you tell it to, run a default command to start whatever service after the containers boot and there, your

[2016-08-19 07:49] robbyoconnor commented on #6846
Nice! I guess I never looked into it -- thanks! Learned something new @dhovart !!! By the way nice job!

[2016-08-19 07:52] robbyoconnor commented on #6846
Are you on Linux @dhovart ?

[2016-08-20 09:28] genma commented on #4299
CozyCloud has implemented Two Factors authentication (https://forum.cozy.io/t/two-factor-authentication-in-cozy/2568) maybe it could help to choose "technology". My 2 cents.

[2016-08-20 16:40] CSammy commented on #5553
For diaspora\*, this index is not necessary. It is indeed provided by upstream and was added in the context of a functionality we are not using (taggers and contexts, https://github.com/mbleigh/acts-as-taggable-on/issues/509).

The question is, do we want to change the database schema from what upstream provides?

[2016-08-20 16:49] goobertron opened #7007 "Possible regression: Change in scope of mentions and conversations"
In `develop`, it's possible to @mention and start conversations with people not in your contacts. This was not previously possible. In 0.5.10, you can only @mention people in your aspects, and you can only start a conversation with someone with whom you had mutual sharing.

I've just tested this in two pods running `develop` (diaspora-fr.org and sechat.org), to check it wasn't a pod customisation.

[2016-08-20 17:15] svbergerem commented on #7007
#7001 should've fixed the issue for conversations and it [looks like](https://github.com/Flaburgan/diaspora/commits/diaspora-fr) that fix is not available on diaspora-fr right now.

For mentions I thought that you don't need a mutual contact to mention them. Am I wrong? Do we have some rules who you should be allowed to mention?

[2016-08-20 17:18] cmrd-senya commented on #7007
IIRC, one may mention in post anyone who can see that post.

[2016-08-20 17:29] noplanman opened #7008 "Can't disable notifications of a freshly liked post"
When liking a post, it does not automatically update the little bell notification icon.
So in the background, the notifications have been enabled, yet this is not visible on the front end.

When I then click the bell icon, to disable the notifications, I get a `422 Unprocessable Entity` error.

After a refresh of the page, the icon is properly set and enabling/disabling notifications works properl

[2016-08-20 18:02] svbergerem commented on #7008
This is a duplicate of #5811. Thank you anyway for reporting this issue.

[2016-08-20 18:02] #7008 closed

[2016-08-20 18:08] svbergerem commented on #7007
We filter mentions server-side when creating posts. Since the suggestions don't depend on the aspects you selected (even on the master branch) I don't see a problem with suggesting contacts with a non-mutual relationship (only sharing or only receiving).

[2016-08-20 18:18] goobertron commented on #7007
Ah, thank you. My search didn't catch that PR.

My understanding is that to be able to @mention someone, you don't need mutual sharing, but you need to be sharing with that person (i.e. they need to be in your aspects). If they are sharing with me but they're not in my aspects, I can't @mention them. This is certainly how it's always worked for me, and is still the case in 0.5.10 (I've just double

[2016-08-20 18:26] noplanman commented on #7008
D'oh, didn't find that one with my search, sorry!

[2016-08-20 18:27] svbergerem commented on #7007
In public posts you should've already been able to mention everyone as long as you do it manually. (`@{name; diaspora_id@pod.tld}`) This release 'just' changes the frontend so you are able to select someone in the dropdown who is _only_ sharing with you. Thus I also don't see any privacy issues but it would be great if you could update the tutorials accordingly. :)

[2016-08-20 18:28] svbergerem commented on #7008
No problem. I also needed two tries to find it and I knew it was there.

[2016-08-21 11:49] paskalito opened #7015 "ui: strange duplication of tag on tag search"
when i search for an "nonexisting" tag.

![bildschirmfoto vom 2016-08-21 13-44-22](https://cloud.githubusercontent.com/assets/8012793/17836957/e2b91220-67a5-11e6-8aab-f9e1ad8bf8a3.png)

![bildschirmfoto vom 2016-08-21 13-44-01](https://cloud.githubusercontent.com/assets/8012793/17836958/f3d5a992-67a5-11e6-9a69-2600a83ea628.png)

(the lower (white one) seems to be wrong)

[2016-08-21 11:51] paskalito commented on #7015
also appears on non empty tags.

[2016-08-21 12:19] goobertron commented on #7015
Which pod are you on, and which version of the software?

I've just tried this one several pods (one using 0.5.10; the other two using `develop`) and none reproduced this behaviour. Indeed, on each of them I get the 'closed' publisher window, with the buttons underneath it. See below.

![_tagsearch](https://cloud.githubusercontent.com/assets/2530168/17837121/ce2cedee-67a1-11e6-9196-5721cda9b210.pn

[2016-08-21 12:26] svbergerem commented on #7015
I was able to reproduce this on the latest develop branch but I saw a similar result like @goobertron on an earlier version. There the `closed` class for the publisher was missing and instead it had a `mention_popup` class. I don't know yet which commit changed this but I think the new version is the correct one.

[2016-08-21 12:27] #7015 closed

[2016-08-22 04:40] tachyons commented on #6772
I and @anishsheela working on this issue

[2016-08-22 12:03] goobertron commented on #7007
I thought that was an unwanted loophole.

Anyway, if this is an intentional change, I'm happy with that. I'll close this now.

[2016-08-22 12:03] #7007 closed

[2016-08-22 12:29] goobertron opened #7019 "Responsive drawer div needs to be slightly deeper"
#7013 removed the notifications and conversations icons from the header bar and replaced them with items in the drawer menu.

The drawer is now cut off at the bottom, with a scroll bar. I tested this on two browsers: on Firefox 47.0.1, the scroll bar appears only when the user menu has also been opened; on Opera 36.0, the scroll bar appears whether the user menu is closed or open.

![header-mobile

[2016-08-22 14:39] svbergerem commented on #7019
I tried it with Firefox 45.3 and I only see the scrollbar when the dropdown is higher than 480px (which is exactly what I expected from the code) but that doesn't happen on my pod because I didn't add the “My aspects” link like @Flaburgan did on diaspora-fr.

@AugierLe42e changed the max-height in #6325 from 340px to 480px so now you'll need at least 50px (for the header) + 480px (for the dropdown

[2016-08-22 14:43] svbergerem opened #7020 "Markdown images in Bio on the profile are displayed as block elements"
Similar to #6980. This might also be a problem in conversations which I haven't checked yet.

[2016-08-22 14:47] svbergerem opened #7021 "Allow opening search results from the dropdown in a new tab"
Maybe by using a-elements instead of divs. Find out if this is worth the effort and close this issue if it's not.

[2016-08-22 15:01] AugierLe42e commented on #7019
AFAIR, it was to let the menu be entirely displayed so that there's no need to scroll to reach the last items.

[2016-08-22 17:24] goobertron commented on #7019
This was viewed on my laptop with a narrow browser window, so testing the responsive 'desktop' version rather than the discrete 'mobile' version. The window is higher than 530px - 668px in this screenshot (I cropped out the bottom bit before as I had taken the screenshot to use to illustrate the drawer in the tutorials).

![drawer_open](https://cloud.githubusercontent.com/assets/2530168/17864306/7

[2016-08-22 17:38] AugierLe42e commented on #7019
The risk is to permanently make some menu items unavailable on small devices. If the menu's height is higher than the device's screen, the user won't be able to scroll down to the last items.

[2016-08-22 17:43] svbergerem commented on #7019
You will see a scroll bar depending on the max-height. The dropdown won't be higher than the max-height and if it needs more space then you'll see the scrollbar. Increasing the max-height would mean that parts of the dropdown won't be visible on smaller screens at all.

Let's say your window has a height of 500px. The header has a height of 50px and we currently allow the dropdown to have a height

[2016-08-22 18:03] goobertron commented on #7019
How reliable is `max-device-height` in media queries? If it works OK, we could set different `max-height` values for the drawer for shallower and deeper screens.

[2016-08-22 20:18] TheRadialActive opened #7022 ""by email" doesn't work on contact search results page"
Maybe it's something we missed in the switch to the new design but "by email" at https://pod.geraspora.de/people?q= doesn't do anything. (And maybe we could add a tooltip, what this linked text actually does.)

[2016-08-22 20:57] svbergerem commented on #7019
I tend to go back to the Bootstrap default and have a scrollbar there if the dropdown is too high.

[2016-08-23 07:07] #7020 closed

[2016-08-23 07:07] svbergerem commented on #7022
Thank you for reporting this. This issue has been fixed by #7023.

[2016-08-23 07:07] #7022 closed

[2016-08-24 10:22] Flaburgan opened #7027 "undefined method `per_page_kaminari' in admin_panel"
I know we discourage podmin to use the admin_panel but it's still a very useful tool. This doesn't look like a timeout to me, so I wanted to know if an easy fix exists ([we're not the only ones with the problem](https://github.com/sferik/rails_admin/issues?q=is%3Aissue+undefined+method+%60per_page_kaminari%27+is%3Aclosed)). This looks like a pagination problem with kaminari, we currently use the 0

[2016-08-24 10:27] Flaburgan commented on #7027
Possible solution: https://github.com/sferik/rails_admin/issues/1870#issuecomment-30716687

[2016-08-24 15:51] Hypolite commented on #2999
+1 for this feature. I like being able to notice someone I liked their comment without having to add a comment myself if I don't have anything meaningful to add to the conversation.

[2016-08-25 04:22] denschub commented on #7004
Yeah, this is not a bug. Discussions about such features can be made on Loomio, if you feel the need for it. Closing for now, will reopen if we actually decide something on Loomio, if there is a need!

[2016-08-25 04:22] #7004 closed

[2016-08-25 04:23] denschub commented on #6999
Yeah, dope of #5037.

[2016-08-25 04:23] #6999 closed

[2016-08-25 04:23] denschub commented on #6999
Erm, dupe.

[2016-08-25 06:55] AugierLe42e commented on #6999
Dope is nice too :p

[2016-08-25 09:58] vanitasvitae commented on #6999
Is this bug fixed in 0.6.0.0?

[2016-08-25 10:05] vanitasvitae opened #7031 "Resize huge images in mobile view"
Hi!
Currently huge images (I'm speaking of really huge, 5000x8000px) cause mobile devices to lag and even cause some crashes in webview applications. Is it possible to resize huge images when visiting the mobile site? I heard there are discussions about an image viewer on the mobile site. Maybe the image could be resized in the stream and be shown in full size when viewing with the image viewer?

[2016-08-25 11:45] goobertron commented on #7031
Have a look at a previous discussion about image resizing for mobile devices: https://www.loomio.org/d/g0Ni9uSR/change-the-image-size-in-the-mobile-view

[2016-08-25 12:01] SuperTux88 commented on #7031
Currently images are resized to 300x300px on mobile (which make them look blurry), and when you click on the image, it is displayed in full size.

[2016-08-25 12:14] SuperTux88 commented on #7031
Only images uploaded to diaspora are resized, when someone links an external image, it is not resized.

[2016-08-25 12:17] vanitasvitae commented on #7031
@SuperTux88 Ah that explains the issue.

[2016-08-25 15:24] svbergerem commented on #6999
@vanitasvitae No, this hasn't been fixed yet, but #5037 describes the same issue so there is no need to have a second open issue for the same bug.

[2016-08-25 15:27] vanitasvitae commented on #6999
Okay, I just wanted to know. Thanks.

[2016-08-26 14:06] Zauberstuhl opened #7032 "share visibilties migration not working correctly"
[code]
https://github.com/diaspora/diaspora/blob/develop/db/migrate/20160225232049_link_share_visibilities_with_user.rb#L27-L30

In case you have entries with `user_id == null` this migration fails. deleting all entries with null before chancing the column should fix the problem.

no :?

[2016-08-27 11:55] tkembo opened #7033 "new user on new database can't connect to facebook"
I set up a new diaspora pod, tested it out and decided to start again from scratch so I rerun the 'rake db:setup' command to have a fresh database and started adding new users again
my problem now is that when I try to connect to Facebook with a new users I get an error message that says that 'user with diaspora id <USER>@<DIASPORA_URL> already authorized that Facebook account.'

[2016-08-27 12:52] #7033 closed

[2016-08-27 15:36] SuperTux88 opened #7034 "following a post re-renders the post"
After clicking the little bell icon, the post is re-rendered and the post is collapsed again (when clicked "show more" before clicking the bell)

[2016-08-27 22:42] Hypolite commented on #6443
This can easily been fixed with an automatic scroll to the last unread message, either via Javascript of a URL hashtag (like this: https://diaspora.tld/conversations/2#latest).

[2016-08-27 23:20] Hypolite opened #7035 "[0.6.0.0] Unable to access any of the model pages in Admin Panel"
Since my Diaspora* upgrade from version 0.5.9.12 to 0.6.0.0, I'm unable to access any Model page in the admin panel. The dashboard shows fine, but clicking on any model in the lefthand side column yields the following 500 error.:

"Internal server error. Our bad! Sorry about that. :("

This doesn't appear to be an Apache error since nothing shows up in the error log.

Tech specs:
Server: RPS with

[2016-08-27 23:22] Hypolite commented on #7035
Looks like a duplicate of #7027.

[2016-08-27 23:24] #7035 closed

[2016-08-28 11:16] goobertron commented on #6443
@Hypolite that sounds great - would you like to make a pull request?

[2016-08-28 14:21] Hypolite commented on #6443
I'm not a Ruby dev but I can take a shot at it. However @TheRadialActive did precise his idea and it involves a backlogging infinite scroll that I wouldn't be able to implement easily.

[2016-08-28 15:43] 4ndyD commented on #6772
I suggest making a chat-enabled **aspect named "Chat" one of the default aspects** alongside friends/family/work, as I think that makes it more intuitive, and is what I ended up doing with the previous update. I agree that having to go to a help page to find out how to use chat is ridiculous.

Has this changed in 0.6? I can't tell since I already made that aspect with a simple name xD

[2016-08-28 21:46] SuperTux88 commented on #7032
I think this is probably a joindiaspora-only problem (big old DB, maybe manually edited?), because some other big pods didn't have a problem with this migration (geraspora, diasp.org). The user_id should never be null. How many share visibilities did you have with user_id null?

[2016-08-28 23:18] Zauberstuhl commented on #7032
not many

its quite possible that I am the only one with the problem. still the migration is not correct, right?
I mean if there shouldn't be any null entries why bothering with deleting them in the first place?

[2016-08-29 10:40] jhass commented on #7032
Let's fix the migration but doing a hotfix release for it doesn't seem necessary.

[2016-08-30 17:46] shmerl commented on #6156
Looks like it's working fine now on Joindiaspora pod.

[2016-08-30 20:35] nado commented on #3046
Hi, the pod (https://framasphere.org) I am using just updated to 0.6.0 and this bug is still present at login. I have to use the inspect functionnality of chromium to add a + in the pattern attribute of the html input.

[2016-08-30 22:04] SansPseudoFix commented on #3046
@nado actually, you don't need to enter your email adress to log in: only your username (so, if your username is nado@framasphere.org, you have to enter nado and your password).

[2016-08-30 22:33] nado commented on #3046
Oh, right, it doesnt work with the "@pod" but nado alone works :) Thx for the help.

[2016-08-31 00:10] svbergerem commented on #6931
Looks like no one else is able to reproduce this and there has been no answer with more information for more than a month.

[2016-08-31 00:10] #6931 closed

[2016-08-31 00:11] svbergerem commented on #5774
@pravi v0.6.0.0 has been released. It would be great if you could give this another try.

[2016-08-31 00:12] svbergerem commented on #6461
@juliaviluhina v0.6.0.0 has been released and https://diaspora.koehn.com has been updated. Could you try this again?

[2016-08-31 00:17] svbergerem commented on #5577
@Flaburgan Do you have any additional info? Has anyone else been able to reproduce this?

[2016-08-31 00:18] dhovart commented on #6846
Sorry for the late answer, I was travelling. I'm OS X. NFS sharing is very slow, so I use this little script instead: https://github.com/brikis98/docker-osx-dev

[2016-08-31 01:10] svbergerem commented on #6373
@Flaburgan Could you find out if the user is still able to reproduce this?

[2016-08-31 02:28] robbyoconnor commented on #6846
yeah -- I'm running natively on Linux without a VM in the middle.

[2016-08-31 08:02] Flaburgan commented on #5577
@SansPseudoFix did you recently have anything in Framasphere support related to e-mail activation link?

[2016-08-31 08:10] Flaburgan commented on #6373
Unfortunately, I forgot who it was :(
Did you try to reproduce by creating A and B accounts, making A sharing with B so B is listed in /contacts (but without B sharing back) then B closes its account, and check if B is still listed in /contacts of A, and what happens if A clicks on B?

[2016-08-31 08:18] svbergerem commented on #6373
Yes, I tried that with both, mutual and only sharing contacts (A sharing with B), and in both cases B didn't show up in `/contacts` or `/contacts?a_id=5`.

[2016-08-31 08:21] SansPseudoFix commented on #5577
Seems not (since November though).

[2016-08-31 08:29] Flaburgan commented on #6373
Hm, so without any way to reproduce, I guess this can be closed. We can still reopen it if someone complains again.

[2016-08-31 08:29] #6373 closed

[2016-08-31 10:42] Flaburgan commented on #6611
What do other devs think about changing every link to `/posts/localId` to `/posts/guid`? The only downside I see is a longer URL, which should not be a problem.

[2016-08-31 12:36] TheRadialActive commented on #6611
Another idea: Only the permanent-link links to the guid.

[2016-08-31 12:45] SansPseudoFix commented on #6611
I like this idea, but I think most of users copy/paste browser url instead of using permalink.

I definitely agree with @Flaburgan 's idea. Too many (justified) complaints about this issue!

[2016-08-31 12:49] cmrd-senya commented on #6611
If we replace absolute URL of form `POD_URI/posts/localId` with an relative path `/posts/guid` in links, we'll get proper links which lead to post on the recepients pod without us even know it. I use that trick manually sometimes already.

[2016-08-31 12:51] SansPseudoFix commented on #6611
Yep, but that's a trick, and when I explain that to users, they say "Argh, too complicated".

[2016-08-31 12:53] cmrd-senya commented on #6611
That's why we should automate it :)

[2016-08-31 12:55] jhass commented on #6611
"Automating" it while we can't guarantee that it'll work (the target pod might never have gotten that post) is dangerous. Letting arbitrary users trigger post fetches for arbitrary posts is a bit dangerous too (well, it's already possible by sending a faked reshare I guess, but significantly harder).

[2016-08-31 12:56] Flaburgan commented on #6611
@cmrd-senya it already is like that. If you have a look at the generated html code from your browser for the timeago, you'll see
[code]

So the link didn't precise the domain. However the browser doesn't interpret it and add `https://diaspora-fr.org` at the beginning. And that's nice, how would `/posts/xxxxx` works from another website otherwise?

[2016-08-31 13:08] AugierLe42e commented on #6611
@jhass Why do you say it's dangerous? I don't understand.

[2016-08-31 13:20] jhass commented on #6611
Say there's a flaw in it that allows an attacker to DoS a pod or something, it provides an easy way to spread and accelerate the attack across the network.

[2016-08-31 13:22] AugierLe42e commented on #6611
But I still dont't understand: how is that different from taking the guid in the json version?

[2016-08-31 16:26] jhass commented on #6611
The first part is dangerous because it looks like something that should always work if we make a button for it, and then it doesn't. If we make it always work by fetching the post, see above.

[2016-08-31 21:32] svbergerem commented on #3164
@Flaburgan ping.

[2016-08-31 21:35] SuperTux88 commented on #3164
This is still a problem. I planned to improve this for public profiles, but I need to wait, because this doesn't work with 0.5.x

[2016-08-31 21:43] svbergerem commented on #2440
Closing in favor of https://github.com/diaspora/diaspora_federation/issues/39.

[2016-08-31 21:43] #2440 closed

[2016-08-31 23:41] BirchWind commented on #6278
To confirm, is this https://www.bountysource.com/issues/25215034-implement-groups the most current/relevant place to be promoting if we want to contribute financially to this happening?

[2016-09-01 00:53] juliaviluhina commented on #6461
Since I developed tests for Diaspora it was changed a lot )

I check this issue on pod https://diaspora.koehn.com

These steps lead to opening page (PodLink)/people?q=(fullname)
1. Sign in Diaspora account
2. Using search field (ID = q) set full name of searched user (name)@(podLink) and press Enter

These steps lead to opening page  (PodLink)/people/(ID)
1. Sign in Diaspora account
2. Using searc

[2016-09-01 01:42] naught101 commented on #6278
Yes, that is the correct bounty.

[2016-09-01 06:16] svbergerem commented on #6461
@juliaviluhina Thank you for testing this again. Since the bug has been fixed I'll close this issue.

There might be user@pod.com and user@pod.community.net and users who search for user@pod.com might be trying to find the other one.

[2016-09-01 06:16] #6461 closed

[2016-09-01 11:51] #4779 closed

[2016-09-01 12:25] DeusFigendi opened #7044 "Wrong MIME-Type in case of error"
Hi,

I am playing around a little with results of /contacs and the like.

When I send a well formed request to /aspect_memberships it usually returns something like

`Content-Type:"application/json; charset=utf-8"`
[code]
(I don't know what 9833 is but 9989 is the aspects ID)

----

If I log out or did the authentication wrong or something like that it returns
`Content-Type:"application/json; char

[2016-09-01 20:52] #7032 closed

[2016-09-02 02:34] ShalokShalom opened #7046 "XMPP Videochat"
[feature request]

[2016-09-02 06:05] MartinDelille opened #7047 "iOS native application"
Is there any plan for an iOS native client for diaspora? I'll be happy to help if it is coded in swift.

[2016-09-02 07:15] svbergerem commented on #7046
JSXC already supports video chats. @Zauberstuhl I guess our version also does that?

[2016-09-02 08:03] Zauberstuhl commented on #7046
yes, but in our version its pretty unstable. the latest update should fix the issue https://github.com/diaspora/jsxc/issues/156

[2016-09-02 08:10] cmrd-senya commented on #7046
Damn XMPP Jingle is unstable nearly everywhere

[2016-09-02 08:17] svbergerem commented on #7046
Ok, but since our version supports video chats I guess we can close this issue. Issues about improving the feature could be opened in the [diaspora/jsxc](https://github.com/diaspora/jsxc/) repo.

[2016-09-02 08:17] #7046 closed

[2016-09-02 11:54] svbergerem commented on #7047
#3467 has to be fixed first. I heard some devs discussing the possibility of having native apps afterwards but I don't see any plans right now.

[2016-09-02 12:44] Flaburgan opened #7048 "422 Validation failed: Unconfirmed email has already been taken"
A framasphere user was not able to log in after the upgrade to 0.6, which contains a devise upgrade.
He has two accounts, and the same email address was used in the `email` of one and the `unconfirmed_email` of the other.
We should write a migration to clear all unconfirmed_email which are used as email by another user.

[2016-09-02 15:51] jhass commented on #7047
In any case it's nothing that will be developed in this repo. #3467 is there to track API progress, everything else should go to the ML.

[2016-09-02 15:51] #7047 closed

[2016-09-02 20:40] Fensterbank commented on #5621
Is not as easy as I thought.
Diaspora uses a pretty old unmaintained version of a file uploader (maybe [this one](https://github.com/Valums-File-Uploader/file-uploader)) which handles the maximum size error itself and doesn't even implement an `onError` method in this version.
There is no way to work with the original image without modifying the file uploader.

But I think we could upgrade our cur

[2016-09-02 22:27] svbergerem commented on #5621
@Fensterbank FineUploader seems to be actively maintained and the license (MIT) looks good to me. If anyone is interested in using FineUploader for diaspora\* I don't see why we shouldn't give it a try.

[2016-09-02 23:16] cmrd-senya opened #7052 "[API] With authorization code flow the state parameter is missing in the callback URI"
I'm playing around with omniauth with an aim to build an omniauth strategy for diaspora. I'm trying to reuse this library: https://github.com/jjbohn/omniauth-openid-connect.

The request to diaspora I managed to get generated was following:

[code]

There is `state=d3f0755568c16544937a52a76fa1a130` among the parameters.

The OpenID Connect specification in [this section](https://openid.net/specs/o

[2016-09-04 01:22] #7034 closed

[2016-09-04 01:22] #5811 closed

[2016-09-04 01:23] #6928 closed

[2016-09-04 11:04] COLABORATI opened #7057 "Invite your friends url logs out users that are logged in"
Some people told me that the "invite your friends"-link I was posting them logs them out of diaspora.
I tried to understand their problem and simulated what happened, but please excuse me when I am wrong on this, it is a little bit tiring to test with different browsers and cookies etc., however I have replayed this sequence now a few times with the same result:
* login to some pod in browser A wi

[2016-09-04 19:21] goobertron commented on #7057
I think I can see the logic in this behaviour. An invitation is something sent to people who do not have an account at Diaspora. Therefore, when an invitation token is used in a browser which has an active 'signed in' cookie, this is not the normal circumstance. To be able to use the invitation token.

There are two choices at this point: either to automatically end any current Diaspora sessions,

[2016-09-04 19:40] #7048 closed

[2016-09-04 20:08] dcapeletti opened #7058 "[New feature] Having an option to hide your profile picture to the public."
The profile picture of each user is stored by Google and can be seen by unwanted people. This can be extremely critical for the privacy of some people.
A good chance to protect that privacy is that the user has an option to hide your profile picture to the public and that only they can see who their friends within the social network. Thus, google also can store the image. I think it's a feature im

[2016-09-04 20:13] svbergerem commented on #7058
Duplicate of #4330.

[2016-09-04 20:13] #7058 closed

[2016-09-04 21:30] denschub commented on #7044
Labeling as undecided. Our JSON endpoints are by far no stable API and this does not cause any issues for us. But, on the same time, this should be easy to fix, so adding a quickfix label.. ;)

[2016-09-04 21:33] denschub commented on #7057
That's not the case. We show the sign up page, which obviously requires us to invalidate the current session (you cannot sign up or sign in if you are already signed in...), so this is working as expected.

[2016-09-04 21:33] #7057 closed

[2016-09-04 22:04] cmrd-senya opened #7059 "[API] Client registration doesn't work anymore"
I'm not sure if this issue is valid.

#6182 contains client registration call:
[code]

After the recent commit 6ad9000f8c16f6758c39b59412a4b6978910d690 it stopped working. It returns the following instead of expected json.
[code]

I guess it would work if we log in as some user, but do we need a logged user to register a client on pod?

[2016-09-04 22:06] KentShikama commented on #7052
Yeah, it is recommended for the request but required in the response indeed. I missed that for sure. I don't have time to write the tests and test it out but I believe something like the follows should work for a fix:

[code]

[2016-09-04 22:08] cmrd-senya commented on #7052
I hope I'll take care of it as soon as #7059 is sorted out.

[2016-09-04 22:17] KentShikama commented on #7059
Originally, I planned to allow anyone but it might actually be a good idea to only allow logged in users: it would essentially be a substitute of the access token describe below

https://openid.net/specs/openid-connect-registration-1_0.html#ClientRegistration

[2016-09-04 22:21] KentShikama commented on #7059
As a side note, I've added "Add rate-limiting for dynamic client registration" to https://github.com/diaspora/diaspora/issues/6182

[2016-09-04 22:50] cmrd-senya commented on #7059
I just tested it with a pre-logged user, it still fails due to CSRF error. Diaspora log:
[code]

Actually I think this feature can't  rely on the fact that user is authenticated. To get this information from pod, we must make an API request. And to make an API request we must be registered. It must work without anyone logged. Therefore it is a bug.

[2016-09-04 23:01] cmrd-senya commented on #7059
This seem to be fixed with
[code]

Hopefully, gonna prepare a PR tomorrow.

[2016-09-05 03:26] nbyun commented on #6676
@cmrd-senya Did you solve that problem? {"error"=>"invalid_grant", "error_description"=>"Invalid authorization_code."}

[2016-09-05 07:11] cmrd-senya commented on #6676
I didn't have a chance to test on a non-local pod yet. I'll retest it as soon as possible, if nobody fix it before.

[2016-09-05 16:23] Flaburgan commented on #2999
Nice news, the new 0.6 version now released drastically reduced the database size. This feature could be activated again pretty easily I guess (I didn't look at the code at the moment). Does anyone here want to work on it or can I add the "help wanted" label on this one?

[2016-09-05 16:25] Flaburgan commented on #6614
@nazar-pc we released a new major version, can you please upgrade your pod to 0.6 and ruby 2.3 following [this guide](https://wiki.diasporafoundation.org/Updating#Updating_diaspora.2A_0.5_to_diaspora.2A_0.6) and tell us if you are still experimenting this issue?

[2016-09-05 16:27] cmrd-senya commented on #2999
Looks attractive. I don't know whether I can dedicate enough time to that. I'm definetely interested to participate, but not right now.

[2016-09-05 16:27] SuperTux88 commented on #2999
It is only a frontend thing, the backend is still functional and likes on comments from friendica are stored and relayed.

[2016-09-05 16:33] Flaburgan commented on #5305
@svbergerem did https://github.com/diaspora/diaspora/pull/7040 improve the situation? Looks like the problem is still present but I wanted to check with you.

[2016-09-05 16:33] SuperTux88 commented on #2999
At least I think it still works, I haven't tested it, but I have likes for comments from friendica in my DB. I don't know how relaying works, because the parent is the comment, maybe this needs improvements on the federation.

[2016-09-05 16:39] svbergerem commented on #5305
@Flaburgan no, it didn't. To fix this we will have to separate rendering of the interaction counts and the comment stream. Right now interaction count changes trigger a re-rendering of the  whole right side of the SPV. This is also related to #4425. If we manage to separate interaction counts and the comment stream then we can just append the new comment to the comment stream and rerender the inte

[2016-09-05 16:53] nazar-pc commented on #6614
I know, but I've tried few times older releases, saw no difference and stopped upgrading. My instance is basically dead for last half a year.
I'll upgrade everything today and let you know whether it works.

[2016-09-05 18:53] denschub opened #7063 "Left sidebar background missing on a Persons contacts view"
The left sidebar is missing its background if the contact tab is active.

![screen shot 2016-09-05 at 20 51 58](https://cloud.githubusercontent.com/assets/344777/18255515/b79bdd0a-73aa-11e6-84c9-8777ae6662f8.png)

[2016-09-05 19:54] nazar-pc commented on #6614
After update and few refreshes of stream page, besides 7 moths old posts I see a single post from 4 hours ago, few minutes later I see 1 more profile from 10 hours ago.
I  think there should be a bit more than 1 post from last 7 months, or this is an expected behavior?
Any profile looks very outdated, for instance, your profile:
![2016-09-05 22-53-12](https://cloud.githubusercontent.com/assets/928

[2016-09-05 22:27] Flaburgan commented on #6614
Was your pod online during this time? Can you check at `/sidekiq` if you have jobs in queues? If you have a lot of errors? Can you please try to write a public post, to see if I can see it? You ssl config [looks ok](https://www.ssllabs.com/ssltest/analyze.html?d=diaspora.mokrynskyi.com) so I guess the problem is not here (you correctly added the intermediate .pem certificate and uncommented the go

[2016-09-05 22:42] COLABORATI commented on #7057
Thanks for the fix, this is great!
@goobertron: I just want to send out / publish *one* url for everyone, of course. I do not want to publish one url for not signed in users and additionally one diaspora address for already signed in users, this would be ultra-awkward. Also having to copy paste user addresses to get to a user page will not help grow diaspora* popularity, I bet. How did you even co

[2016-09-06 01:31] nazar-pc commented on #6614
It was online most of that months, however, it didn't get any updates because of this issue, or what did you mean?

I'm slowly getting more posts, 8 of them right now.

Here is how sidekiq looks in my dashboard (I'm not Ruby developer, not familiar with it at all):
![2016-09-06 04-24-51](https://cloud.githubusercontent.com/assets/928965/18259203/246a8c30-73ea-11e6-805e-76823d963028.png)

Just adde

[2016-09-06 03:09] denschub commented on #7057
So, thanks to @svbergerem and his PR #7061, you'll now get redirected to the inviters page when you follow a invitation from a signed in sessoin.

[2016-09-06 03:50] Sneagan commented on #6177
I think I'm seeing this bug. Is there a fix or branch I can look into?

[2016-09-06 04:10] #7063 closed

[2016-09-06 07:04] Flaburgan commented on #6614
So you have posted enqueued and I receive your post, so the situation looks better than before 0.6. However, your ratio Processed / Failed is still to high. Did you solve the "Too old curl" warning? You need at least curl 7.32 to run diaspora*. 0.6 comes with a whole new federation which could have mitigated the problem, but you should still upgrade your curl. The number of posts enqueued is too h

[2016-09-06 08:46] svbergerem commented on #6177
I was able to reproduce this. It happened in a limited post and the share visibilities of the photo are empty.
[code]

[code]

Thus `current_user.photos_from(Person.find_by_guid(params[:person_id])).where(id: params[:id])` in [the photos controller](https://github.com/diaspora/diaspora/blob/bcace2d/app/controllers/photos_controller.rb#L11) is empty.

The post came from another pod. @SuperTux88 cou

[2016-09-06 09:16] Flaburgan opened #7067 "Generate HTML / CSS compliant with w3c recommandations"
Even if we will probably never be 100% compliant, there is room for improvements. I will try to do small PRs which improve our score at https://validator.w3.org. Any help is welcomed ;)

(I know @githubgnulinux will be happy about this one)

[2016-09-06 09:19] vanitasvitae opened #7069 "Users with oder versions of WebView/Android Browser can't share images on mobile view."
Hi! I am part of the developer team of the Diaspora for Android app. We recently got some reports of users about problems while sharing images in mobile view. The issue came up with pods running diaspora version 0.6.0.0.

On some devices both the notification bell and the button to add an image to a new post are replaced with a question mark (see the link below for screenshots). Users with this pr

[2016-09-06 11:50] nazar-pc commented on #6614
I wouldn't say Core i7-4770 @ 3.40GHz with 32 GB of DDR3 RAM and SATA3 SSD is that slow server and I didn't enforce any particular limit on Diaspora container.

Upgraded Wheezy to Jessie in container, now curl is at version 7.38, so it should be fine now anyway.

I'm wondering if sidekiq should really look like this now (I've also removed old versions of ruby with `rvm cleanup all`):
![2016-09-06

[2016-09-06 12:08] Flaburgan commented on #6614
Wow why is the enqueued queue empty now? You lose all the incoming posts :sdiaspora/diaspora a écrit :I wouldn't say Core i7-4770 @ 3.40GHz with 32 GB of DDR3 RAM and SATA3 SSD is that slow server and I didn't enforce any particular limit on Diaspora container.

Upgraded Wheezy to Jessie in container, now curl is at version 7.38, so it should be fine now anyway.

I'm wondering if sidekiq should re

[2016-09-06 12:11] nazar-pc commented on #6614
I have no idea, what are they and are they lost forever?

[2016-09-06 12:35] nazar-pc commented on #6614
While Redis is expected to store data to disk, I suspect something happened to it during upgrade.
As data on my pod and other pods are still OK, there should be a way to get everything in sync.
I'm not sure what will happen to my and to other pods if I restore backup of the container (with some recent data being lost).

[2016-09-07 08:14] kapcom01 opened #7072 "When I add someone to an aspect the page refreshes and I lose my work"
Hello,

Today I was commenting on a post and I had written about 500 words. Before I finish my comment I thought it would be nice to add this person to my aspects so I can follow similar posts of him but doing so I lost my comment.

Maybe a solution is not to refresh the page when we add someone to an aspect but I guess it can be solved in many other ways.

Thanks.

[2016-09-07 08:51] svbergerem commented on #7072
I guess we could re-render the profile header instead of re-rendering the whole profile. Am I missing anything?

[2016-09-07 09:04] prellele opened #7073 "'What’s new?' Link in footer references 404 page"
Clicking 'What’s new?' in the footer guides you to a 404 page on Github.

[2016-09-07 09:06] svbergerem commented on #7069
This could be an upstream issue / Android bug: https://github.com/lwe/entypo-rails/issues/10, https://github.com/danielbruce/entypo/issues/10 and https://bugs.chromium.org/p/chromium/issues/detail?id=122465.

[2016-09-07 10:18] vanitasvitae commented on #7069
Note, that the photo button is also not clickable in the Android Webview/DiasporaForAndroid respectively does not trigger an image chooser event. Any idea why that is?

[2016-09-07 12:42] prellele opened #7074 "Tag-URLs in People Hovercards incorrect"
Linked URLs of Tags in the Hovercards of People are incorrect - the first char of the tag gets removed.

E.g: Tag Diaspora
URL is: /tags/iaspora
URL should be: /tags/diaspora

[2016-09-07 13:11] svbergerem commented on #7074
This might be a regression from #6864. The '#' symbol is now missing in front of the tags. Adding it client side or in the profile presenter should fix the problem.

[2016-09-07 13:14] cmrd-senya commented on #7074
I'll take a look

[2016-09-07 14:44] AugierLe42e commented on #7069
I don't think the problem of the photo button is related to the version 0.6. It has never work on the recent versions of DFA (com.github.dfa.diaspora_android:0.1.6) for me while it works well on the previous one (ar.com.tristeslostrestigres.diasporanativewebapp:1.8.3)

[2016-09-07 14:52] vanitasvitae commented on #7069
So the problem appears on some but not all devices and android versions, on some but not all pods... Great :D

[2016-09-07 17:45] codesune commented on #7069
Same issue for BlackBerry 10 browser (WebKit inside?). Hitting the photo button again and again - nothing happens. Five days ago I was able to upload a picture on the same way and on the same pod. The pod uses 0.6.0.99.

[2016-09-07 21:48] rnicholus commented on #5621
I happen to be the (long-time) maintainer of Fine Uploader. Do let me know if you run into any immediate issues integrating Fine Uploader. The [scaled image upload feature page](http://docs.fineuploader.com/branch/master/features/scaling.html) should be a useful resource.

[2016-09-08 06:39] pravi commented on #5600
@dadall how did you fix it? I have the same error with diasp.in

[2016-09-08 06:45] strugee commented on #5076
Add `/admin_panel` to the list of admin views that cause this

[2016-09-08 08:14] vanitasvitae commented on #7069
I changed the title of this issue, because the image upload problem was caused by a missing method-implementation in the webView's webChromeClient.

The only problem that remains now is, that some users see a questionmark instead of the camera on the photo upload button, as well as on the notification bell.

[2016-09-08 08:27] jhass commented on #5076
We shouldn't make `/admin_panel` available on mobile, at least not until we decided what to do with it and configured it.

[2016-09-08 09:10] Flaburgan commented on #7073
Hi @prellele can you please tell us which pod you are using?

[2016-09-08 09:35] svbergerem commented on #7073
@Flaburgan: @prellele is the podmin of despora.de

[2016-09-08 18:05] strugee commented on #5076
Makes sense, but 500 looks like something's wrong. Perhaps a basic page saying what you just said.

[2016-09-08 22:57] #7074 closed

[2016-09-09 05:44] denschub commented on #7073
That link links to `https://github.com/diaspora/diaspora/blob/[git revision]/Changelog.md`, which is a 404 if the commit your pod running on a non-upstream commit id. Maybe we should expose a config for that, though.

[2016-09-09 09:04] paskalito opened #7077 "always show notifications dropdown on non-touch devices."
since 0.6, the layout changes when i split (aqua snap) my browser window to eighter right or left. Most of what changes is really good, the anoying thing to me is, that one no longer gets a dropdown menu when clicking on the notifications icon.
This is especially anoying because i used to do it that way so i can watch a video or listen to music in my stream, checking if there is a new notification

[2016-09-09 09:21] paskalito opened #7078 "Disable swipe animation in gallery"
To me the swiping animation that leads to next/previous picture in the gallery is veery disruptive and anoying.
And i can't find any positive side of it.
I first thought oh at least it makes sense for touch devices, since they can drag their pictures further, but then i found out that this gallery isn't even used ( at least in mobile where definitely most touch is going on)

from a usability stand

[2016-09-09 09:39] paskalito opened #7079 "mobile provide swiping of gallerys within stream"
right now, if you are on mobile, lookinh at a post that contains multiple picture you just see a pixeled version of the first picture and a very tiny indicater that there are more pictures.

sinc .6 it works for me that i can click on the picture and get a non pixeled version of it and also hudge arrows to go further.

i think it would be more intuitive if you would just get another type of indica

[2016-09-09 09:59] paskalito opened #7080 "mobile: allow sharing with more than one aspect/option"
right now when try to adjust the aspect of a new share in mobile i get this:
![screenshot_2016-09-09-11-46-14](https://cloud.githubusercontent.com/assets/8012793/18383171/8c5083c6-7684-11e6-93db-e8f4c63dda87.png)

the problem is that i can eighter choose one aspect or make my post entirely public(eighter way just one optino), but if i don't want something public i usually want to share it with mor

[2016-09-09 10:50] vanitasvitae commented on #6289
Are the ticked API parts already available on Diaspora? Or do you plan to release the api all at once, once its finished?

[2016-09-09 15:37] AugierLe42e commented on #7078
It's possible to disable the animation. I'm personnally against. I find the animation makes the interface more lively.

[2016-09-09 15:39] AugierLe42e commented on #7077
Are you using a tablet in landscape mode?

[2016-09-09 15:40] AugierLe42e commented on #6289
The ticked part are present in 0.6.

[2016-09-09 15:42] AugierLe42e commented on #7079
It may be a duplicate of #6450 which will be solved by #6925.

[2016-09-09 15:57] svbergerem commented on #6289
@AugierLe42e Could you tell me where I can find the code for the checked routes? I wasn't able to find it for any of these.

[2016-09-09 16:24] AugierLe42e commented on #6289
Oh, my bad, that's part 2. @KentShikama hasn't submitted the PR yet but they are present [on his `api` branch](https://github.com/KentShikama/diaspora/blob/api/config/routes.rb#L236). Sorry for the mistake.

[2016-09-10 06:34] AugierLe42e commented on #6450
Using a gallery prevent the user to load another page and get out the stream which is particularly useful on unstable connections. I'm thinking about adding a button "*see in another page*" just above the gallery.

[2016-09-10 14:09] denschub commented on #7067
Removed personal offenses/references from the original issue text.

[2016-09-10 14:14] Flaburgan commented on #7067
I just wanted to ping him to tell him we're working on it, I didn't want that to sound like an offense. Sorry if it has been understood like that.

[2016-09-10 22:24] SuperTux88 commented on #6833
Closed via #7085

[2016-09-10 22:24] #6833 closed

[2016-09-11 16:12] Zauberstuhl opened #7087 "Add button to public stream in mobile-view"
If I haven't missed something there isn't one, yet.

[2016-09-12 16:20] deavmi opened #7093 "Slight UI glitch when clicking "Need help?" et al. in sidebar"
When you click the links with the `>` arrows in the side bar the timeline shifts a tiny bit down and so does the post box (or maybe it expands a bit - yeah that).

[2016-09-12 23:04] #7093 closed

[2016-09-13 02:32] 4ndyD opened #7097 "Add WYSIWYG editor to private messages"
It's not entirely clear what markdown can be used in Conversations. It seems that images don't embed (I'm guessing to protect privacy by not having your contact make requests to the server hosting them), and having the text editor from #6551 in place there would make life easier for many people.

[2016-09-13 02:48] 4ndyD opened #7098 "Tags on hovercards missing first letter in link"
Since 0.6 I've noticed when pointing my cursor at the hashtags on users' hover cards that they point to a url with the first letter of the tag missing.
i.e. a user who says they are interested in photography will have a hyperlink "photography" that actually points to joindiaspora.com/tags/hotography

[2016-09-13 05:15] Hypolite opened #7099 "Scroll to the first unread comment in the post page coming from notifications"
This is a feature request I'm unfortunately unable to submit as a pull request, not having the required Ruby and Rails experience..

**Current situation**:

Comment notifications links lead to the post page, at the top of it, showing the oldest post. When the comment thread is only one screen high, it's not an issue, but if a dialogue drags on, then it becomes fastidious to scroll through already

[2016-09-13 06:39] Flaburgan commented on #7098
Duplicate of https://github.com/diaspora/diaspora/issues/7074. This bug is already fixed in the coming 0.6.1.0 release. You only have to wait for the fix to reach you ;) But thanks for reporting, this is the kind of bug we want to discover.

[2016-09-13 06:39] #7098 closed

[2016-09-13 07:06] Timoses commented on #2999
+1!

[2016-09-13 08:01] SuperTux88 commented on #7099
This is a duplicate of #5203.

[2016-09-13 08:01] #7099 closed

[2016-09-13 08:22] svbergerem commented on #7097
Duplicate of #5210.

Embedding images with markdown should be working in conversations just like everywhere else. (Although we still render the messages server side  using redcarpet instead of client side using markdown-it)

[2016-09-13 08:22] #7097 closed

[2016-09-13 08:31] paskalito commented on #7078
So what do i have to do?
Must i start a vote/discussion on loomio?

Other thought would this also easily be archieved via userscript? if yes i would appreciate a hint to the code fragment that needs to be changed.

[2016-09-13 08:31] paskalito commented on #7077
no i'm not using a tablet at all why?

[2016-09-13 09:05] AugierLe42e commented on #7077
Because the way it is set up, the notification dropdown stops to be displayed at 992px width. So you must have a very tiny screen, or your pod's notification dropdown is broken :/

[2016-09-13 09:28] paskalito commented on #7077
did you get the point that this is soley a problems when i split the browser window to hald screen ? or was that unclear?
![splitscreen](https://cloud.githubusercontent.com/assets/8012793/18468589/e7266400-79a4-11e6-839e-a1810891c7d6.png)

and my screensizes are 1600px widh and 1920px with and on my netbook which i not typically use 1360px.

but every half of these sizes is < 992px - so i loos the

[2016-09-13 14:03] AugierLe42e commented on #7077
It was unclear ;)

[2016-09-13 14:41] Hypolite commented on #7099
Sorry for the duplicate, moving the technical suggestion in #5203.

[2016-09-14 06:12] lancegilbert commented on #5398
I have submitted a new pull request which allows for the usage of HTTPS BOSH endpoints without modification to the jsxc helper:

https://github.com/diaspora/diaspora/pull/7100

Adding a simple proto: https in diaspora.yml inside the chat.server.bosh does the trick!

[2016-09-14 08:31] prellele commented on #7073
Ah, I thought its just a static url. Checked it only on despora.de and pod.geraspora.de.
I like @denschub proposal, configurable the git repo would be great.

[2016-09-14 09:01] svbergerem commented on #7073
This also works with non-upstream commit ids, as long as they exist on GitHub. On my pod the "What's new?" link links to https://github.com/diaspora/diaspora/blob/8f053409f42b19c60f71405821e3e79c6369de8f/Changelog.md and https://github.com/diaspora/diaspora/commit/8f053409f42b19c60f71405821e3e79c6369de8f is a non-upstream commit id.

[2016-09-14 17:47] 4ndyD commented on #7098
Thanks, I'm don't know why that didn't turn up when I searched for tags & hovercards the other day, I'm sure I had removed is:open :confused:

[2016-09-15 09:02] TheRadialActive opened #7103 "New Publisher: Doesn't show embedded image in preview"
The new publisher is really awesome. One bug seems to be, that embedded images aren't shown in preview view (as you can see at the "![]()"-Syntax

![pub2](https://cloud.githubusercontent.com/assets/828436/18544191/c9f2cadc-7b33-11e6-8b7b-f619c1c01b9e.png)
![pub1](https://cloud.githubusercontent.com/assets/828436/18544192/c9f4c954-7b33-11e6-83f5-ef7bab08055a.png)

But after posting everything is fi

[2016-09-15 14:09] SansPseudoFix commented on #7103
Actually, it works for me (diaspora-fr.org):

![preview](https://cloud.githubusercontent.com/assets/6507951/18552824/71caa250-7b5e-11e6-8f1b-b1b9662958de.png)
![preview2](https://cloud.githubusercontent.com/assets/6507951/18552825/71e37582-7b5e-11e6-8dfb-a1d193750522.png)

[2016-09-15 14:18] goobertron commented on #7103
Works fine for me as well, using the same image and code:

`[![](http://alsenstrasse.com/wp-content/uploads/2016/08/Strassenfest2016-724x1024.jpg)](http://alsenstrasse.com/?p=2292)`

Tested on diaspor-fr.org and pod.diaspora.software.

[2016-09-15 20:00] SuperTux88 commented on #7103
I close this, because it is a geraspora-only problem. @denschub allows only images loaded with https, and that's why the preview with http images doesn't work. After posting they are loaded through camo with https and therefore work.

[2016-09-15 20:00] #7103 closed

[2016-09-15 21:07] goobertron commented on #7103
If it's related to camo, won't that affect all pods that use camo? As camo support is in the core code base, it would probably be a good idea to find a UI solution that will explain to users why their embedded image isn't showing in the preview, as a missing image preview with no explanation can be considered a bug.

It could be a dummy image, something like a blank rectangle saying something like

[2016-09-15 21:18] SuperTux88 commented on #7103
No, it's not related to camo, it's a header (`Content-Security-Policy`) that is not set by default, only on geraspora (or maybe other pods too. But it's something the podmins do and not default. I have the same header with different settings on my Pod, and I allow http images, because of the preview and because camo doesn't work everywhere, see #6124)

[2016-09-16 00:08] goobertron commented on #7103
Oh, OK. Thanks for explaining!

[2016-09-16 22:06] Hypolite opened #7106 "Admin user search not finding an existing user"
I have [this spam user](https://diaspora.aeriesguard.com/people/01623a905e650134a38b0242ac110007) I want to block from the admin panel.

However, no matter the search field I fill (GUID or username, two pieces of information I have), the search turns up negative. See the following screenshots:

![screen shot 2016-09-16 at 6 04 38 pm](https://cloud.githubusercontent.com/assets/925415/18602557/20e26

[2016-09-16 22:20] SuperTux88 commented on #7106
The search in the admin panel is only for users on your pod.

[2016-09-16 22:32] Hypolite commented on #7106
Thanks for the answer, but I can't find myself either. Also, isn't there a copy of some user data of the people that I encounter on my pod? In the Report interface, the button "Details about the author" goes straight to the Admin User Search, if you can't find anyone who didn't subscribe on your pod that's a problem.

[2016-09-16 23:57] SuperTux88 commented on #7106
you should be able to find yourself (by username, email or guid).

Maybe we should display the "Details about the author" button only, if the author is local. Or link it to somewhere else (profile?), or also display remote people when searched with guid?

[2016-09-17 04:23] Hypolite commented on #7106
I'm able to search myself by username or guid now on a different computer. Weird, I was sure those tests failed the first time.

After a cursory research, it appears that accounts that didn't register on the pod are "People", while accounts registered on the pod are proper "Users". Is there any admin action that can be performed at the People level, like pod-wide ignore?

[2016-09-17 15:43] SuperTux88 commented on #7106
At the moment: no.

You can change the public key of that person in your database, and that would break federation for that person, but that is no clean solution. You will also miss the close-account message (if the podmin of the person closes the account), if you do that.

[2016-09-17 19:09] denschub commented on #7073
[Only if the repo is a fork](https://github.com/diaspora/diaspora/blob/eee3bf19c6a9d57ea18198eb50ed7f33c416de26/Changelog.md).

[2016-09-18 02:30] Hypolite commented on #7106
Then in that case it just is the problem a button that exists but doesn't lead anywhere. I may submit a PR for that.

[2016-09-18 02:30] #7106 closed

[2016-09-18 20:20] Flaburgan opened #7110 "Add a warning when no redis-server is running when we launch diaspora*"
Because yeah, I failed, and d-fr just spent the whole week-end without redis launched. I guess it can't harm to check that in script/server?

[2016-09-18 20:23] svbergerem commented on #7110
I guess this is a duplicate of #5267.

[2016-09-18 20:29] Flaburgan commented on #7110
Hm, exact, sorry about that.

[2016-09-18 20:29] #7110 closed

[2016-09-19 17:36] Flaburgan commented on #6772
What do we exactly want to do here? Users who just sign up are usually not familiar with the concept of aspects, besides those are empty at this time, so I'm not sure that adding a selector on the /getting_started page is a good idea. To have chat enabled by default for some aspect or a specific "chat" aspect with chat enabled in it can be a good idea, but we have to take a clear decision on what

[2016-09-19 18:30] lancegilbert commented on #6772
I posted some suggestions regarding this this in another thread here:
https://github.com/diaspora/jsxc/issues/130
(Automatic connection on page load)

From my comment there:
"The same goes with the chat enable on the aspect being set to false by default - I would also like to expose the default chat-enabled setting for aspects into a per user setting which is false by default but with that default

[2016-09-19 18:48] enbylenore opened #7111 "Implement title bar notifications for JSXC chat messages"
I'm interested in adding support for putting notifications in the title bar when the user has received JSXC chat messages.

This is especially relevant when the user is on another tab, etc.

I would propose the following design:
- When there are unread JSXC messages, the number of unread chat messages from all chats is totaled
- When the number of unread messages is > 0, the title bar alternates b

[2016-09-19 19:10] SansPseudoFix opened #7112 "Add reports for posts owners"
Users can report comments on other posts, but not on their own posts (only ``delete`` is available).

Tested on diaspora-fr.org and framasphere.org.

[2016-09-19 19:16] SuperTux88 commented on #7112
On your own posts, you can directly moderate comments (delete them if you want so), you don't need to ask your podmin to do it. Why do you need a repport-button then?

[2016-09-19 19:20] SansPseudoFix commented on #7112
For spam, like recently with marina-something on joindiaspora. I'd should be more specific :)

[2016-09-19 19:21] SuperTux88 commented on #7112
Just delete the spam?

[2016-09-19 19:30] SansPseudoFix commented on #7112
Well. There was a logical process in my mind when I posted this issue (something like "let's warn podmin about spammer"), but you actually right. Podmins just delete spams, so eh...

Sorry for the noise :)

[2016-09-19 19:30] #7112 closed

[2016-09-19 22:21] ntnsndr opened #7114 "Inconsistent hashtag propagation"
I'm a university professor interested in using Diaspora* as a teaching tool and as a means of collaboration among my students. However, we found that we were unable to use a hashtag as a means of communicating with one another. For instance, we noticed that our hashtag on two separate pods resulted in seeing, in each, a different subset of the posts we made to that hashtag:

https://framasphere.or

[2016-09-19 23:32] denschub commented on #7114
Not an issue, just a non-exisiting feature.

Dupe of #2407.

[2016-09-19 23:32] #7114 closed

[2016-09-20 02:20] denschub commented on #7077
This is not a bug, but a design decision that was made. Dropdowns on touch screen enabled devices are a pain, which is why they get removed on the tablet version. Not sure if this is something we should change...

[2016-09-20 02:21] denschub commented on #7078
Nah, sorry.

I don't think we're gonna start discussing about animation that a third party library provides and which makes actually sense from an UX perspective. If you feel strong, feel free to raise your point on loomio, but for now, I'm going to close this.

[2016-09-20 02:21] #7078 closed

[2016-09-20 02:25] #6177 closed

[2016-09-20 06:36] Flaburgan commented on #7114
You can read more about that [here](http://geexxx.fr/2013/07/23/comment-ca-marche-la-federation-de-diaspora/#english). Even if the federation quite changed since I wrote this blogpost (thanks to @SuperTux88), the tag behavior is still the same.

[2016-09-20 10:52] Flaburgan opened #7116 "Users with sharing relation can't PM each others"
a_n_t_h@framasphere.org is reporting me that he can write a private message (conversation) to olivier30260@diaspora-fr.org even if they are both sharing with each other. I just had a look using `admin_panel` to both framasphere and d-fr databases and I can confirm that those users have the other user listed in "Contacts".

The error message displayed to a_n_t_h is "You have to share with him first

[2016-09-21 11:26] exmatrikulator opened #7117 "More User infmation on conversations"
I'd like to send a new message, but I can't verify that I have selected the right User.
More information about the User would be helpful.
Also, the possibility to select a User by Diaspora\* ID.

![unbenannt](https://cloud.githubusercontent.com/assets/4461145/18709001/1104571e-7ffe-11e6-92ec-5ee57152a65e.png)

[2016-09-21 12:14] Flaburgan commented on #7117
@AugierLe42e is working on that, I thought that we already have an issue about it but can't find it at the moment.

[2016-09-21 12:15] Flaburgan commented on #7117
Follow https://github.com/diaspora/diaspora/pull/7108 and the following PRs to know about it.

[2016-09-25 01:07] denschub commented on #4425
Closed with #7089.

[2016-09-25 01:07] #4425 closed

[2016-09-25 01:08] denschub commented on #5305
Closed with #7089.

[2016-09-25 01:08] #5305 closed

[2016-09-25 01:20] #6220 closed

[2016-09-25 10:51] jaywink opened #7123 "Push participations + retractions to the relay system"
Currently since 0.6 podmins can push public posts out to [the relay system](https://github.com/jaywink/social-relay/blob/master/docs/relays.md). This setting is off by default. Currently there are two active relays ([1](https://relay.iliketoast.net/), [2](https://relay.diasp.org/)) known to me which in the last week have delivered almost 12K public posts or participations on public posts to ~40 di

[2016-09-25 12:29] hilkoc commented on #4319
A [pull request](https://github.com/diaspora/diaspora/issues/7118) for this has now been opened.

[2016-09-26 12:20] kas70 opened #7126 "Include first/last name in invitation emails"
Invitation emails should look like:

Currently they look like:

[2016-09-26 12:31] kas70 commented on #5884
Hey there,
just noticed, that something is going wrong here with the translations.
I tried invitations with different languages (I'm on geraspora).

English (works):

Italian: the line above is totally missing (is this just a thing of a missing translation?)

German:

[2016-09-26 16:42] cmrd-senya commented on #5884
@kas70, the issue is that the original English text was first written,
then translated, then modified and now we have English version updated
while translations still have the old contents. We noticed that before
for another email text and Russian text was updated. However it's hard
to track that way. Perhaps our translation platform supports some way of
marking texts for verification when origina

[2016-09-29 21:16] betsythefc commented on #7126
By "username" do you mean the users' name, or their username, which in the case above would be "bob99".

[2016-09-30 00:53] SuperTux88 commented on #7103
With #7128, this is now fixed on geraspora :)

[2016-09-30 08:04] kas70 commented on #7126
The name of the user. Take a look at my example :wink:

[2016-10-01 14:24] dcapeletti opened #7135 "Export and import contact list"
Hello,
a feature that can facilitate the migration of pods, may be to export the list of contacts to import it into the new pod.
Thank you

[2016-10-01 21:35] AugierLe42e commented on #7135
Duplicate of #908.

[2016-10-01 22:07] dcapeletti commented on #7135
I just want to export the contact list in a file. Then in the new pod, you can import contacts and tell them all via a message (if you wish).
A migration wizard is to migrate other issues, is to migrate an entire account, files and all imagine, so do not apply.

[2016-10-01 22:36] denschub commented on #7135
It, in fact, is a duplicate and if you'd have read the entire discussion, you'd agree. ;)

[2016-10-01 22:36] #7135 closed

[2016-10-02 21:23] TheRadialActive opened #7136 "Private Message gets deleted if you click 'send' and didn't enter a recipient"
If I click on the 'message' button on a diaspora profile of one of my contacts, there is no recipient entered automaticly on the appearing private message form. And there is no auto-search for contacts, like on the 'private message'-page.

If I write some text in "message" and "subject", but don't enter a recipient and click on 'send', the whole message + subject gets deleted.

[Maybe we could fix

[2016-10-02 22:31] svbergerem commented on #7136
Might be a regression of #7108.

[2016-10-02 23:30] IVXCVI opened #7138 "IPFS Migration"
Has there been any talk of migrating Diaspora to IPFS?

https://ipfs.io

[2016-10-03 01:12] denschub commented on #7138
A question is not an issue. Also, discussions are made on Loomio.

[2016-10-03 01:12] #7138 closed

[2016-10-07 12:17] Flaburgan opened #7140 "HTML not stripped in the notification dropdown"
HTML inside the publisher is accepted. I usually use markdown, but I sometime use some HTML char such as `&nbsp;`. As you can see, it's not processed in the notification dropdown:

![nbsp](https://cloud.githubusercontent.com/assets/930064/19189528/c53f4fee-8c98-11e6-9306-dd6d6baaccef.png)

[2016-10-08 12:59] scroom opened #7141 "Diaspora Snap package"
Every tutorial which should lead through the installation process of diaspora mentions it: it is complex to install diaspora. Would therefore be very cool if the admin could just download a snap package (https://en.wikipedia.org/wiki/Snappy_(package_manager)) and everything is ready for takeoff?

Advantages for the admins would be:

- easy to install
- easy updating
- runs on most Linux-Distros
-

[2016-10-08 14:00] denschub commented on #7141
You are very free to create a snap package and maintain it. However, it is very unlikely there will ever be "an official" package maintained the the project maintenance team. See all the docker package requests for reasons.

[2016-10-10 08:03] Muhannes commented on #7087
I'll give it a shot!

[2016-10-12 11:08] Flaburgan commented on #5696
@AugierLe42e can you still reproduce this? @SansPseudoFix says it's fixed for him. I guess you tried on diaspote.org so with https://github.com/diaspora/diaspora/pull/6233 already merged in but I want to confirm.

[2016-10-12 19:09] Flaburgan commented on #5611
This is particularly visible on post with **a lot** of pictures, which take a lot of time to load. See [this one](https://diaspora-fr.org/posts/2304960) for example.

[2016-10-13 17:30] AugierLe42e commented on #5696
Seems fixed.

[2016-10-13 21:49] Flaburgan commented on #5696
Closing so.

[2016-10-13 21:49] #5696 closed

[2016-10-16 11:38] strivemag opened #7146 "Topics that need to know to edit Diaspora project"
What topics I need to know(RoR) or what skills i need to know to edit Diaspora?
I want use this open-source project to create social network, that have more functionality.
@jhass Please, answer if you know solution.

[2016-10-16 13:10] goobertron commented on #7146
Please read https://wiki.diasporafoundation.org/How_we_communicate

GitHub is for solving specific technical issues through code. For general queries, try the mailing list or IRC. Or, even better, ask the question in a public post in Diaspora itself.

[2016-10-16 13:34] AugierLe42e commented on #7146
There is a short introduction to the involved technologies available [here](https://wiki.diasporafoundation.org/An_introduction_to_the_Diaspora_source).

[2016-10-16 14:17] denschub commented on #7146
What good said.

[2016-10-16 14:17] #7146 closed

[2016-10-17 00:23] koehn commented on #6763
I'm experiencing the memory bloat as well as CPU. My pod is using 1.6 GB of RAM, and is consuming one core nearly all the time on my machine. It's a real problem. I'm happy to give diagnostics as needed; Jason Robinson directed me here.

[2016-10-17 08:46] Flaburgan commented on #6763
@koehn please tell us what are your settings? (typhoeus concurrency, sidekiq concurrency, nb of sidekiq workers, retry...)

[2016-10-17 14:13] koehn commented on #6763
typhoeus_concurrency: 20

sidekiq concurrency: 25

sidekiq retry: 10

sidekiq backtrace: 15

unicorn_rorker: 2

embed_sidekiq_worker: true

sidekiq_workers: 1

I used to receive all tags, but reduced the tag count to about in hopes that would reduce CPU load, but changing the setting and restarting the pod had no effect.

[2016-10-17 14:44] Flaburgan commented on #6763
Default sidekiq concurrency [is 5](https://github.com/diaspora/diaspora/blob/develop/config/defaults.yml#L16), you can but that back and your memory usage should go down.

[2016-10-17 14:52] koehn commented on #6763
From `diaspora.yml`(emphasis added):
[code]

So if I set it back to 5 is my pod going to suffer the same performance problems that caused me to increase it in the first place (at your recommendation, IIRC)?

[2016-10-17 14:57] Flaburgan commented on #6763
It's all about performance VS memory usage so you have to find the best setting for your pod, based on the active users and the memory your server has.

[2016-10-17 19:56] goofy-bz opened #7147 "Human-readable language should be offered to users exporting their profile"
here is a minor feature request.
I experienced recently exporting my profile and discovered the dump of my data is one (archived) JSON file, which is quite unpleasant to read.
Could it be possible to have other options (I suggest html but even plain .txt would be easier to read).

TIA

[2016-10-17 20:10] cmrd-senya commented on #7147
I guess there is nothing impossible in a such feature. However, I'd raise it on loomio first, to see if the community agree on it's necessity. Please tag "need loomio".

[2016-10-17 20:53] #7087 closed

[2016-10-18 13:42] #7021 closed

[2016-10-18 20:54] koyuawsmbrtn opened #7150 "Group feauture"
Most social networks have something called groups. I like the aspects very well, but this is something different. What if you could invite people to groups and they can post certain stuff? Like a group for Linux or Music or your favourite hobby. Most social networks have this feature built-in and this is an essential feauture I miss the most on Diaspora. The thing is only people who you follow and

[2016-10-18 20:56] SuperTux88 commented on #7150
Duplicate of #6278

[2016-10-18 20:56] #7150 closed

[2016-10-18 22:12] svbergerem commented on #4325
Fixed by #7043.

[2016-10-18 22:12] #4325 closed

[2016-10-19 19:44] jaywink commented on #6763
@koehn I'm not an expert but I'm pretty sure this should be `false` ?

    embed_sidekiq_worker: true

[2016-10-19 20:13] koehn commented on #6763
Dunno; it was the default value so I left it alone.

[2016-10-19 20:17] SuperTux88 commented on #6763
the default is false, and as far as I remember it was always false. But it is true by default in development mode, but it is recommended to set it to false (default) in production.

[2016-10-19 20:29] koehn commented on #6763
It used to be true (there are no secrets from Git):

https://github.com/diaspora/diaspora/commit/79a79d65d684b6cfa93e1d2dde9ac7abcfb7a481

[2016-10-19 20:33] jaywink commented on #6763
[Actually no it was false](https://github.com/diaspora/diaspora/commit/79a79d65d684b6cfa93e1d2dde9ac7abcfb7a481#diff-2c96c573eaf0842befdbce1bb3756645R42) - it's just that the diaspora.yml.example used to be more confusing ;)

[2016-10-22 03:19] defcronyke opened #7154 "YouTube playlist links load embedded player for only the first track"
As per the title. We linked to our new album, and the embedded player will only play the first track from it. I think it would be better for it to play all the tracks in the playlist, since it's a playlist link.

[2016-10-23 13:11] jaywink commented on #7123
Just tested that the relay server now relays also post retractions, according to the same rule as for participations, ie to the targets where the post was also delivered to.

[2016-10-23 16:34] cmrd-senya commented on #7059
This was fixed by #7062, closing.

[2016-10-23 16:34] #7059 closed

[2016-10-23 21:38] svbergerem commented on #7154
Works for me with `https://www.youtube.com/playlist?list=PLt5AfwLFPxWIpgtcFs_7fHGUedGEKu73p`.

[2016-10-23 21:43] defcronyke commented on #7154
The playlist link works, but the embedded player which loads from that link on the post only shows the 1st video in the playlist. Other social networks detect a YouTube playlist link and load the whole playlist in the embedded player that shows. I'll fix it if no-one else wants to, but I'm not familiar with the diaspora codebase, so someone else may be able to do it better than me.

[2016-10-23 21:46] svbergerem commented on #7154
![YouTube playlist](https://cloud.githubusercontent.com/assets/3798614/19629705/ac252a9e-997a-11e6-8430-5e16e93a0633.png)

It plays the first video but also has buttons to skip to next and previous videos and automatically plays the second video of the playlist after finishing the first one.

[2016-10-23 21:53] defcronyke commented on #7154
It's loading just the first video, not the playlist for my link. For yours it is correctly loading the whole playlist.
!["It's loading a single video, not the playlist"](http://i.imgur.com/DmmAl4q.png)

[2016-10-23 22:00] svbergerem commented on #7154
I'd say that is YouTube's fault: https://www.youtube.com/oembed/?url=https://youtu.be/rXPhqjqKnCc?list=PLA9w7gX4C1R3bYLDm4DyRwy9Fo2QPbnTy&format=json

[2016-10-23 22:10] SuperTux88 commented on #7154
Your link links to a video (in a playlist), and the link of @svbergerem links directly to the playlist. And YouTube seems to handle these links differently. So if you want to embed the playlist you need to link to the playlist.

[2016-10-23 22:42] defcronyke commented on #7154
It is a playlist link, but it's the shortened version which youtube gives you if you say you want to Share the video.

[2016-10-23 22:47] defcronyke commented on #7154
@svbergerem, other social networks detect the playlist url and load the whole playlist instead of just the first video. If you want to see an example you can check our Patreon, which I won't link because I don't want to spam it.

[2016-10-23 22:52] svbergerem commented on #7154
@defcronyke We ask YouTube how we should embed the URL and YouTube tells us that we should embed it as a single video like I wrote [here](https://github.com/diaspora/diaspora/issues/7154#issuecomment-255617661). I don't know if there is some reason for YouTube to behave like this but if you'd like YouTube to behave in a different way then please follow https://support.google.com/youtube/answer/434

[2016-10-23 22:52] #7154 closed

[2016-10-23 22:54] defcronyke commented on #7154
@svbergerem, so you'd rather have worse behaviour on Diaspora because that's what Google wants? If the issue is just that you don't want to write a special case for it, would you be receptive to a PR which adds a case for it?

[2016-10-23 23:00] svbergerem commented on #7154
@defcronyke There are special playlist URLs that embed the playlist. Some users might want to embed a single video while playing it from a playlist and won't notice that they are actually copying a URL that also includes information about the playlist. That might be the reason why YouTube behaves like this but as I wrote above I don't know the exact reason. Maybe it's a bug, maybe it works as inte

[2016-10-23 23:08] defcronyke commented on #7154
@svbergerem, if YouTube gives you a single video from my link, then YouTube is wrong, because it is absolutely a playlist link. Try sharing any playlist on YouTube with the share button, and you'll get a link with the same format.

[2016-10-23 23:09] svbergerem commented on #7154
@defcronyke

[2016-10-24 18:20] jaywink commented on #7077
I was about to log this bug, or at least I think we're talking about the same thing. Since 0.6 I don't see if I have notifications on my phone any more which I'd say is a very serious regression. And yes, I want to use the full responsive view which works really well on a powerful phone, instead of the old mobile view which is missing lots of functionality.

When I took these screenshots I have tw

[2016-10-24 18:35] denschub commented on #7077
The mobile reason is there for a reason. We did not remove it because the full responsive is not ready yet. Use the old version or deal with the limitations the full responsive mode has, until it is finished. Using a feature that's not finished yet and ignoring a stable alternative that has been there for ages is your choice, that's not a regression.

[2016-10-24 18:44] jaywink commented on #7077
Of course it is my choice. But it is a regression since 0.5 had the notification counts, whether you like it or not :)

Thanks for the friendly answer as always.

[2016-10-24 18:48] denschub commented on #7077
0.5 did not provide a responsive design, you were presented with the desktop version. You can always do that nowadays, most browsers provide an option to virtually increase their viewport width.

You're welcome!

[2016-10-24 20:03] paskalito commented on #7077
@jaywink
hey no it's not the same thing. what i'm talking about affects useres only on desktop computers.

[2016-10-24 20:05] denschub commented on #7077
It IS the same thing, since @jaywink decided to use the desktop version on his mobile device.

[2016-10-24 20:19] jaywink commented on #7077
When you phone has more power than an average laptop, it just makes sense. Oh and the mobile view is missing half of the features.

[2016-10-24 20:26] denschub commented on #7077
Which is exactly why there are [13 open feature requests](https://github.com/diaspora/diaspora/issues?utf8=%E2%9C%93&q=is%3Aopen%20is%3Aissue%20label%3Amobile%20label%3Afeature) tagged with mobile. However, this issue is titled "always show notifications dropdown on non-touch devices", not "people complain about how bad diasporas mobile experience is" (which it is). You already got your new post f

[2016-10-24 20:39] jaywink commented on #7077
I wasn't expressing an opinion of the mobile view but the full view that I can use by clicking "toggle mobile", on a mobile device. Which is exactly what this issue is about = screen size and how the full desktop view handles responsive layout. Just to clarify this in case you missed it.

Anyway, expressing opinions is forbidden I know. 😒

[2016-10-25 18:21] cmrd-senya commented on #7123
according to the same rule as for participations, ie to the targets
where the post was also delivered to.

That is what actually diaspora should do itself: send retractions to
those where post went before, not only to current contacts and participants.

[2016-10-25 18:35] ecky-l opened #7157 "Bug: Chat stays online after logout"
I configured prosody as XMPP backend, following the instructions [here](https://wiki.diasporafoundation.org/Integration/Chat). Now I have a separate XMPP server with users in the diaspora database. I can use any XMPP/Jabber client and my diaspora login to chat.

What happens is now: I login to diaspora (on my pod), then "go online" in the chat by clicking in the menu in the lower right corner in t

[2016-10-25 18:40] jaywink commented on #7123
@cmrd-senya the problem is that the posts, comments and likes might be delivered by the relay system to totally disconnected pods that have absolutely no social route to the place where the retraction happens. In this case, the retraction must be delivered via the same channel because the server itself cannot know where to delivery it.

Unless there is some kind of "ping I received this" kind of m

[2016-10-25 22:54] #7136 closed

[2016-10-26 00:58] #4319 closed

[2016-10-26 08:14] DeusFigendi commented on #7147
Inspired by this issue I wrote a little script that converts your profile-data into human readable html:
https://gist.github.com/DeusFigendi/8985e7c9cc7e94cdda812d4be017957f
You will need to install mistune like `pip install mistune` (maybe you have to install pip first)
Run the script with: `python profiledata2html.py <profile-json-file.json>`

Maybe I'll do a "real" repo for this ;D

[2016-10-26 12:59] goofy-bz commented on #7147
Wow great, thx a lot. I will try and use it, but please consider my request as still pending, average users like me should not be required to run scripts :)

[2016-10-26 13:11] DeusFigendi commented on #7147
Sure, but I don't see diaspora should deliver such kind of "human readable profiledata".

And in fact: It does! You can see your user-data at /user/edit and you can see your profile at /profile/edit and on your /people-Page. There you will also find all your postings. And you can find all your aspects at /aspects and all your contacts at /contacts and all your comments at /commented and /activity.

[2016-10-27 13:06] elacheche opened #7159 "Tag a non-NSFW post as NSFW"
Hey!

So, I just invited a friend to join D*

He published a "#newhere" and I was surprised to see it as a NSFW post..

Here are screenshots of the post before and after I asked D* to show it to me:
- http://i.imgur.com/dGuy1Hf.png
- http://i.imgur.com/gmrXdCu.png

PS: If you need any other proves that this is not a fake case, tell me what I need to do to prove it (I know the screenshots are not a

[2016-10-27 13:12] SuperTux88 commented on #7159
He probably marked his whole profile as NSFW, so every post is marked as NSFW, this is normal.

[2016-10-27 13:34] elacheche commented on #7159
My bad, he wasn't aware of that NSFW checkbox was about.. and I forgot about that option as well.. Sorry..

[2016-10-27 13:34] #7159 closed

[2016-10-28 13:24] denschub opened #7161 "/tags/* broken if default aspect is changed to "public""
[code]

Regression from #7118, blocking release.

[2016-10-28 16:29] koehn commented on #6763
In any case, my `top` sorted by memory looks like this these days (after making the changes mentioned above):

[code]

That's a whole lot of RAM leaking to run a pod.

[2016-10-28 18:36] koehn commented on #6763
Here's the `smem` output:

[code]

[2016-10-29 04:00] denschub commented on #6763
Let me summarize what I wrote on 27th of March and in some more recent comments:

* Stop posting memory usage numbers unless you are explicitly asked to do so. @Flaburgan 's numbers per queue for example were requested and very useful, they actually led me toward a solution for parts of a problem we had. Pasting `top`/`smem` outputs is only creating noise. Without detailed information about the me

[2016-10-29 19:02] koehn commented on #6763
Right. Sorry if my comments inconvenienced you; I was directed to post here by several developers on the team. If they're unwelcome, then fine. I understand how frustrating developing FOSS projects can be, and have no intention of making a difficult situation worse. I don't speak Ruby, so I'm unlikely to be offering a fix to this problem; indeed I'm working on an alternative platform that is compl

[2016-10-29 22:15] #7161 closed

[2016-10-31 22:44] SuperTux88 opened #7165 ""Show x more comments" in stream broken, after showing like/reshare avatars"
If I click "x Likes" or "x Reshares" on a post in my stream to show the avatars of the liking/resharing people, the "Show x more comments" link doesn't work anymore for this post. It still loads the comments as JSON in the background, but it doesn't display them. It is only broken for the post where I showed the like or reshare avatars, other posts can still load and show more comments.

[2016-11-01 11:37] Flaburgan commented on #1649
The birth date fields in diaspora* are separated in day, month and year. I guess if at least day and month are filled, we are able to determine if today is the birthday of a user.
So I propose the following spec: each new day, for each user we check if today == dob. If so, we add a new notification in the notification dropdown for each user who has this user in at least one aspect. If the notifica

[2016-11-02 22:07] #7165 closed

[2016-11-03 21:58] #4816 closed

[2016-11-03 22:00] SuperTux88 commented on #6594
Fixed by 951149dd24e498130075af27ecc1010561f1fa57

[2016-11-03 22:00] #6594 closed

[2016-11-04 13:44] SansPseudoFix opened #7171 "Birthday date: year anomaly"
If you set your birthday date, but finally want to only keep year, you can't. You only can set month and day without year.

Expected: unset month and day, update and only display year.

Edit: tested on Framasphere.

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/38957690-birthday-date-year-anomaly?utm_campaign=plugin&utm_content=tra

[2016-11-05 07:12] Hostile opened #7172 "Installation help"
Hi anyone would be so kind to install it on my Ubuntu 16.04 server pls.
If someones fluent with it I can give ssh access no probs.

I tried 3 times got to the end of it looks like it starts with some error and worst part is nginx conf for me.

Whatsapp me +66997843134

[2016-11-05 08:20] denschub commented on #7172
* GitHub is not a support forum.
* Check the wiki for installation guides. https://wiki.diasporafoundation.org/Installation
* Spamming "hi" seven times in IRC won't get you any help. If you see an error message, link to that. If you have questions, ask them. You're chances for getting a reply to " Who can install pod for me please" are very low, but people usually help if you have actual questions

[2016-11-05 08:20] #7172 closed

[2016-11-05 08:21] denschub commented on #7172
Also, I have removed your phone number from this issue.

[2016-11-05 21:13] gauravkumar28 commented on #7171
I am interested in fixing this problem. Can you give a bit more detail

[2016-11-06 01:41] #7073 closed

[2016-11-06 02:31] theatre-x opened #7173 "No "Stay or Leave Page" prompt when writing a comment"
Hey folks,

I ran into this by accident.
I noticed that when I comment on a post, I don't get a prompt in Firefox for "Staying or Leaving" the page like I do when I write a post if I click a link or use the Back button.

Does this pertain to anyone else?

[2016-11-06 09:25] SansPseudoFix commented on #7171
Well, I don't know how to be more specific: we should have the possibility to set any input as a birthday (even only day). Actually, you can't.

[2016-11-06 10:02] svbergerem commented on #7171
Currently you can set a birthdate or a birthday. Are there any use cases for setting just a year, a month or a day?

[2016-11-06 12:16] SansPseudoFix commented on #7171
Actually, I don't use it at all, but a user wanted to only set year, and couldn't: he selected year-month-day, and saved but wanted to change to only display year, and couldn't.

I think it would be useful to allow only year and month (and both), just to know how old are users. Only day is quite silly, but eh, why not?

[2016-11-06 12:25] SuperTux88 commented on #7171
The problem is, that the birthday is saved and federated as "date", so it needs to be a full date. If you only select day and month we save the year "1004" and we have a check that we don't display the year if it is 1004.

[2016-11-06 17:29] dcapeletti opened #7174 "(Feature) New possibility of sending a post"
While I am reading the Stream in the middle of my reading would send a new publication without losing sight of what I'm reading. It would be interesting to consider adding a button to display the pop-publications editor at the top, near the head. When the publication is sent, the editor hides.

[2016-11-06 17:45] tursiops33 opened #7176 "Conversation impossible"
Hello everyone
I'm having an issue with the conversation feature.
If I understand well you need to add someone to a group before being able to use this function, but on my pod even though I've added users it still doesn't recognize the username when I type it.
Also very Strangely it behaves differently when I use the mobile version on my iPhone, I could write a message and send it to a user and it

[2016-11-07 12:08] Hostile opened #7177 "Help with starting diaspora and apache config"
Hi followed instructions, but it not start, Im on new ubuntu 16.04 updated server.

Heres Diaspora console log : https://gyazo.com/388dc1649a05cca515b6475ac0f2c190

Apache2 log https://gyazo.com/0e51a49c748c91d2eb12c4316ed91134

Heres apache config http://vodeoo.com/vodeoo.conf   (should displays in chrome)

I looked at https://gist.github.com/jhass/719014

I got all apache mods enabled

[2016-11-07 12:16] SuperTux88 commented on #7177
GitHub is not a support forum. (See #7172)

[2016-11-07 12:16] #7177 closed

[2016-11-08 09:25] SaiVardhan commented on #7140
@Flaburgan  adding html_safe is not solving the issue :(

[2016-11-09 11:20] wiegelmann opened #7178 "FixPhotosShareVisibilities failed Mysql2::Error: Specified key was too long; max key length is 767 bytes"
While upgrading to diaspora version 0.6.1.0

https://github.com/diaspora/diaspora/blob/master/db/migrate/20160906225138_fix_photos_share_visibilities.rb#L17

ruby 2.3.0p0 (2015-12-25 revision 53290) [x86_64-linux]

mysql  Ver 14.14 Distrib 5.5.52, for debian-linux-gnu (x86_64) using readline 6.2

+----------------+--------------+------+-----+---------+----------------+
| Field          | Type

[2016-11-09 12:12] SuperTux88 commented on #7178
`shareable_type` should be `VARCHAR(60)` see [schema.rb](https://github.com/diaspora/diaspora/blob/develop/db/schema.rb#L538).

I don't know why it isn't `VARCHAR(60)` in your case, because it was `VARCHAR(60)` for a long long time now (I don't even know if it was something else sometime?)

[2016-11-09 12:49] wiegelmann commented on #7178
Thanks, it works with varchar(60). Reason: failed migration from 2011:

https://github.com/diaspora/diaspora/commit/f7e70f8d936193d4a7416ece314a12fdbc4dde73#diff-8db4472bfa97c37cf958fff686177433

[2016-11-09 13:10] SuperTux88 commented on #7178
Ok, so I close the issue.

By the way: If you have differences (`git diff`) in your schema.rb after `db:migrate` on mysql, you should fix that, so your database has the same state as in the schema.rb in the repo. You can update the schema.rb by running `db:migrate` again. But this works only on mysql and not on postgres (postgres has always a diff and that is normal, because the schema.rb in the r

[2016-11-09 13:10] #7178 closed

[2016-11-09 22:15] koehn commented on #6763
FWIW I've been running for the past week or so on 2 sidekiq workers without problems.

[2016-11-10 11:15] pravi opened #7179 "Update jquery to version 3"
Its slimmer and faster https://blog.jquery.com/2016/06/09/jquery-3-0-final-released/ It does break diaspora, so we need to make some changes.

[2016-11-10 14:18] Flaburgan commented on #7179
@AugierLe42e I know you will want to have a look at that :p

[2016-11-10 15:32] cmrd-senya commented on #7179
@pravi also asked me about this issue, and I'm researching it currently. However if @AugierLe42e or somebody else wants to work on it, I can leave it aside or share my results at some point.

[2016-11-10 15:50] cmrd-senya commented on #7179
Okay, at least for now I see that [jasmine-jquery](https://github.com/velesin/jasmine-jquery) which we use via [jasmine-jquery-rails](https://github.com/travisjeffery/jasmine-jquery-rails) is not compatible with jQuery3 see (https://github.com/velesin/jasmine-jquery/issues/288). This mean we can't integrate jQuery 3 without breaking our javascript test system (which is actually happens, I checked

[2016-11-10 17:48] pravi commented on #7179
Thanks @cmrd-senya . I applied your patch, I still get the following errors on browser console when accessing stream page (share button is missing).

[code]

This is currently running on my local machine, I can run it on a publicly accessible server if that helps.

[2016-11-10 19:15] cmrd-senya commented on #7179
Nah, I didn't update our code to support jQuery 3, I just bumped the
version. I stopped at this point because we can't really move forward
without our jasmine test system being updated to support jQuery 3.

10.11.2016 19:49, Pirate Praveen Arimbrathodiyil пишет:

[2016-11-10 19:21] cmrd-senya commented on #7179
I'd love to hear from @AugierLe42e on whether he wants to work on this.

[2016-11-10 19:51] AugierLe42e commented on #7179
I took a look at that when I proposed to bump to jQ2. But as stated before, jQ3 is not backward compatible unlike jQ2. I think it's more important to focus on supporting ES6 (#7175).

[2016-11-10 20:38] cmrd-senya commented on #7179
I don't see why we can't do both: jQ3 and ES6. If you just not
interested in solving this and interested in introducing ES6, there is
nothing wrong with it.

I'm not that focused on UI and Javascript to give you a nice feedback on
#7175 though!

10.11.2016 21:51, Augier пишет:

[2016-11-13 02:14] svbergerem commented on #7176
You can only start a conversation with mutual contacts, so they also have to follow you. That's at least how it should work. The user suggestions will only include mutual contacts but in theory you are still able to send a message to someone who isn't following you. That's a bug which already has been reported in #7002.

That should have been fixed by #7001 which has been released in 0.6.0.0. Whic

[2016-11-13 19:17] SuperTux88 commented on #7117
Closed by #7129

[2016-11-13 19:17] #7117 closed

[2016-11-14 12:59] svbergerem commented on #5091
Fixed by #7129.

[2016-11-14 12:59] #5091 closed

[2016-11-14 18:05] goobertron commented on #6609
Yes please. I was sure I had started a ticket for this ages ago, and have just looked for it but can't find it. Would love to see the possibility to enable/disable notifications within the app (in the dropdown) as well as email notifications.

[2016-11-14 18:18] goobertron opened #7188 "Enable/disable email notifications when someone comments a reshare of your post"
I've just received a notification in the drop-down that someone has commented on someone's reshare of a post of mine. I've never seen on of these before, so I assume that this is a new feature of 0.6 (my pod updated yesterday).

It would be good to add this ('[Receive email notifications when] someone comments a reshare of your post') to the notifications options in the user settings page, alongsi

[2016-11-15 13:58] ghost opened #7189 "Insecure cross-site requests are made"
One example:
Currently previews of youtube videos embedded in the stream happen to use for example http://i.ytimg.com/vi/EWdz8_uQhHE/hqdefault.jpg instead of https://i.ytimg.com/vi/EWdz8_uQhHE/hqdefault.jpg

This should not happen at all, the software should default to TLS.

Reproducible: using the current icecat in Guix (firefox 45.3.0 based).

[2016-11-15 14:01] ng-0 commented on #7189
Actually this was the wrong example.
http://i1.ytimg.com/vi/hpPYKJAnwUo/hqdefault.jpg  is what I meant to include.

[2016-11-15 21:58] #7072 closed

[2016-11-17 16:08] Flaburgan opened #7193 "Make the CSRF message less disturbing and indicate actions for the users"
Since https://github.com/diaspora/diaspora/pull/7050 is merged we have a lot of support by people don't understanding what's going on and what they should do. The translations aren't been pushed on webtranslateit so the users even receive this e-mail in english.

We need to make the content more clear about what happened (what could have possibly caused that) and that they can now log in again saf

[2016-11-17 18:04] svbergerem opened #7195 "Save new email address without confirmation when mail is disabled in config"
When a user changes their email address on the settings page we will send a confirmation mail and save the new email address after it has been confirmed. If the podmin didn't enable `mail` in the pod's config we won't send a confirmation mail. Thus we should save the new email address without any confirmation.

[2016-11-18 12:05] svbergerem commented on #4299
Here is a devise plugin for TOTP: https://github.com/tinfoil/devise-two-factor

[2016-11-18 12:07] svbergerem commented on #5774
@pravi Ping.

[2016-11-18 12:11] pravi commented on #5774
@svbergerem, I had asked my friends to test it. I'll ping them again.

[2016-11-18 14:30] Flaburgan commented on #7193
Can someone please explain here what can cause this? (A special add-on, a connection from two devices in the same network maybe?) We need to be able to reassure the users waiting for this issue to be solved.

[2016-11-18 14:38] #5780 closed

[2016-11-18 17:53] goobertron opened #7200 "Incorrect message when attempt to reshare with connection down"
If I attempt to reshare a post when my internet connection is down, I get the flash alert 'That good, eh?  You've already reshared that post!'

Steps to reproduce: 1) switch off internet connection; 2) try to reshare a post!

I think the above message should be displayed *only* if the pod's server replies that the signed-in user has already reshared that post, if it's possible to test that. If the

[2016-11-19 02:43] #5094 closed

[2016-11-19 04:05] SuperTux88 commented on #7193
You already mentioned some reasons:
* An add-on manipulating the request or making requests without the token.
* An old open tab from the past.
* Another website making requests (that is what CSRF is).
* Some other external tools (trying to use the non-existing API without the token).

But two devices in the same network is no problem.

[2016-11-19 04:52] denschub commented on #7193
This is quite easy to simulate: open two tabs, wait a day, then come back to your browser. If you reload the first tab, nothing really happens. You've sent an old CSRF token, but the session is valid otherwise, so you just receive a new token and an updated session and you'll be fine. However, if you reload the second tab, you'll make that request using an old, now expired CSRF token and an old se

[2016-11-19 13:43] svbergerem opened #7205 "500 when liking a reshare of a deleted post"
[code]

[2016-11-19 13:44] svbergerem opened #7206 "500 when commenting on a reshare of a deleted post"
[code]

[2016-11-21 23:17] Spamiad opened #7212 "photo download in profile section includes old photos"
previously deleted photos should have been deleted from the server?

The pod is diasp.org

[2016-11-22 00:15] svbergerem commented on #7212
Did you start exporting your photos before deleting them? When you export your photos they are packed in a zip file and that doesn't change as long as you don't click “Refresh my photos”. When you click “Download my photos” you are just downloading the already existing zip file.

[2016-11-22 02:55] #6473 closed

[2016-11-22 02:55] #6969 closed

[2016-11-22 02:58] SuperTux88 commented on #7200
Closed by #7202

[2016-11-22 02:58] #7200 closed

[2016-11-22 14:50] Spamiad commented on #7212
Yes, I did "Refresh my photos" and waited one hour just to be sure.

[2016-11-23 08:25] Flaburgan commented on #6614
Do you still have this problem? Mind joining #diaspora on IRC Freenode to solve once and for all? We don't like having setup issue handling for months on github.

[2016-11-23 08:40] AugierLe42e opened #7216 "Non-federated mode"
We're often asked if diaspora can work in a non-federated mode, for instance to build local entreprise SN. I think having the support from compagnies could help us a lot. Can this easily be done?

[2016-11-23 09:33] denschub commented on #7216
We've had multiple discussions about this in the past on both GitHub and Loomio. It does not matter if it's easily possible or not. diaspora\* is designed as a federation social network and that's the main use case.

If we'd allow pods to turn off federation, we'd have a very weird state where some pods can federate and some pods don't. We thus needed to indicate that somehow visible to all users

[2016-11-23 09:33] #7216 closed

[2016-11-23 12:07] nazar-pc commented on #6614
Issue was never fixed. Now I feel like instance was stuck at some task in queue, but since I've lost everything in Redis on upgrade (not sure whose fault is that, but I didn't make anything special) I can see all new posts. However, old and not updated posts from the period while my feed was frozen are not available to me and I feel like they will never be, since I'm not aware of any possibility t